[2022-06-13 07:48] michaelmosmann commented on #404
@influence160 you find the package here: https://www.mongodb.com/try/download/community

[2022-06-13 08:02] influence160 commented on #404
i thaught that mongodb version is determined by this parameters

de.flapdoodle.embeded.mongo:3.4.5

MongodConfig.builder()
.version(Version.Main.PRODUCTION)

which is in this case
![image](https://user-images.githubusercontent.com/3180939/173307452-74f522af-573b-45cb-b2d2-038f43454337.png)
![image](https://user-images.githubusercontent.com/3180939/173307520-abcbd64a-20db-4b6d-818b-609cf49f2f2e.png

[2022-06-13 15:22] michaelmosmann commented on #404
@influence160 can you try changing de.flapdoodle.embed.mongo.packageresolver to version 1.0.4?

[2022-06-14 15:34] michaelmosmann commented on #387
@as005404 i added a way to enforce a platform .. so yes.. it's a hack.. but it is ok.. https://github.com/flapdoodle-oss/de.flapdoodle.os#run .. thanks for your thoughts:) gave me the idea how to solve this.

[2022-06-14 15:34] #387 closed

[2022-06-14 15:37] michaelmosmann commented on #405
@ThomasAtAcerta is your code public? IMHO the shutdown does not work as expected.. the processes are not killed. maybe you should add @DirtiesContext to your test

[2022-06-14 15:46] michaelmosmann commented on #295
@DeveloperKazan can you try to run this with this properties set: https://github.com/flapdoodle-oss/de.flapdoodle.os#run

[2022-06-14 15:52] michaelmosmann commented on #393
@jmayday hmm.. maybe this lib is bundled.. i must have a look.

[2022-06-14 15:53] michaelmosmann commented on #398
@Subhalakshmi1986 so does it work?

[2022-06-14 15:56] jmayday commented on #393
I didn't find better solution than using `maven:3.8-eclipse-temurin-17-focal` image (it has that library).

[2022-06-15 06:47] ThomasAtAcerta commented on #405
@michaelmosmann The code is not public.  The issue occurs with tests in combination with:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-maven-intellij
and
https://docs.microsoft.com/en-us/samples/azure-samples/hello-spring-function-azure/hello-spring-function-azure/

Likely the way the Spring context is constructed has something to do with it.

There's a workaround I fou

[2022-06-15 12:24] MarcinMigdalFortum commented on #395
Hello,

I am writing on behalf of @radosmac
@michaelmosmann [michaelmosmann](https://github.com/michaelmosmann)
OS distribution is Debian GNU/Linux 9 (stretch)
And binary which is being download is for Ubuntu.
In logs we can observe:
2022-05-26 11:12:37.533  INFO 452 --- [    Test worker] o.s.b.a.m.e.EmbeddedMongo                : Extract /home/centos/.embedmongo/linux/mongodb-linux-x86_64-ubuntu2

[2022-06-17 07:57] influence160 commented on #404
@michaelmosmann Failure :(

pom :
[code]

log :
[code]

[2022-06-22 07:55] behindsun commented on #405
before start server, setDaemonProcess true,then everingthing is ok, process will be killed when jvm stop
ImmutableRuntimeConfig.Builder.isDaemonProcess(true)

[2022-06-27 12:35] manuelwaltschek commented on #304
Any info on this one?
To me it seems that i cannot test unique indexes that are also case insensitive.
Integration tests that write to embedded mongodb ignore the collation, while it is working with real mongoDB version 5.0.6

[2022-06-28 07:56] janjanneck opened #406 "Incompatibility with mongo-scala-driver 4.5+"
We have a Scala project using flapdoodle in the latest version as well as Spring Boot 2.7.1.

When upgrading the mongoscaladriver dependency from 4.4.2 to 4.5+, we get the following compile error hinting at an incompatibility with the underlying reactive streams client:

[code]

Exchanging the flapdoodle dependency to `de.flapdoodle.embed.mongo.spring` results in the same error.

Could there be a

[2022-06-28 15:05] ArchitektDieWelt opened #407 "Embed mongo does not start when running single test using IDEA"
Hi everyone, Im new to Kotlin and Spring environment, so its possible its not really an issue per se.

I installed flapddodle.embed.mongo in my Kotlin Spring Boot project based on Maven:

`<dependency>
			<groupId>de.flapdoodle.embed</groupId>
			<artifactId>de.flapdoodle.embed.mongo</artifactId>
			<scope>test</scope>
			<version>3.4.6</version>
		</dependency>`

Then I set in my test/application

[2022-07-08 19:52] Cimballi commented on #404
I am facing the same error.
Spring Boot 2.7.1 -> flapdoodle 3.4.6 = does not work
Spring Boot 2.6.9 -> flapdoodle 3.0.0/3.0.1 = it works

Linux version 4.14.193-149.317.amzn2.x86_64 (mockbuild@ip-10-0-1-32) (gcc version 7.3.1 20180712 (Red Hat 7.3.1-9) (GCC)) #1 SMP Thu Sep 3 19:04:44 UTC 2020

[2022-07-11 17:44] michaelmosmann commented on #404
@Cimballi @influence160
.. i will have a look if something has changed..

(sorry for the late answer.. was on vacation)

[2022-07-11 17:50] michaelmosmann commented on #407
@ArchitektDieWelt is your code public so i can have a look?

[2022-07-11 19:06] Cimballi commented on #404
I tested with :
implementation "de.flapdoodle.embed:de.flapdoodle.embed.mongo.spring:1.1.0-spring27x"

But I am still getting the same error. In the logs I can see :
[code]
And later :
[code]

I was not able to find snapshots versions, are there any ?

And it works fine on Windows. Thanks for your help !

[2022-07-12 14:07] vam012 opened #408 "Authentication Error When Using mongoTemplate."
I am running into an issue when trying to use this library with MongoTemplate in the test suite for my SpringBoot project.  In one of my services we have an auto-wired MongoTemplate bean that will drop and restore views on service initialization.  But when the call is made to ensure if a collection exists, the error

`Caused by: com.mongodb.MongoSecurityException: Exception authenticating MongoCre

[2022-07-14 03:45] broccolism opened #409 "ERROR: No server chosen by WritableServerSelector from cluster"
Hi, I'm new here and trying to use embedded mongo for webflux integration test using `WebTestClient`.
I guess I have succeed to create embedded mongodb, but it seems not to be connected to the test application or at least it cannot do write operation to db.

Class annotation is:

[code]

And I set embedded mongo like this:
[code]

Error message is:

[code]

I've tried and found lots of answers on

[2022-07-14 15:07] michaelmosmann commented on #409
Hmm.. to use a mongo cluster in your test the setup is more complicated. Do you expect any differences in behavior?

[2022-07-14 15:09] michaelmosmann commented on #408
Do you use any auth stuff in your spring boot setup?

[2022-07-14 15:19] Cimballi commented on #404
The /proc/version (or something like that) says :

[2022-07-14 15:25] michaelmosmann commented on #404
@Cimballi .. think i found it. Need more tests.. stay tuned

[2022-07-15 08:01] LuisEGamez opened #410 "Exception authenticating MongoCredential"
Hi, I'm using an embedded mongo to test my mongo repository. It has been working well when I didn't have authentication on my persistente mongodb in docker. Afterward I added a user with authentication and I wrote the credentials username and password to my src/main/java/resources/aplication.yml after that I have this issue when I run my tests.

[code]
After this, the error is repeated three more

[2022-07-17 01:38] Cimballi commented on #404
Ok, I am quite busy right now, give me 2-3 weeks for testing that.

[2022-07-18 18:41] vam012 commented on #408
Hey sorry, yeah I use auth on the production instance.  I tried overwriting those variables in the test properties file or just omitting them but it seems to still occur.

[2022-07-18 19:17] vam012 commented on #408
spring.data.mongodb.host=<db_host>
spring.data.mongodb.port=<port>
spring.data.mongodb.database= <db_name>
spring.data.mongodb.username=<username>
spring.data.mongodb.password=<password>
spring.data.mongodb.authentication-database=<authentication_database>

Example spring properties used in prod /\
=============================================
Example spring properties attempted to run test suites

[2022-07-19 08:48] infoShare opened #411 "Incorrect packageresolver version"
Version: 3.4.6

Maven is trying to get packageresolver in version 1.0.6- SNAPSHOT but last release is 1.0.5

[INFO] --- maven-dependency-plugin:2.1:get (default-cli) @ standalone-pom ---
Downloading from temp: https://repo.maven.apache.org/maven2/de/flapdoodle/embed/de.flapdoodle.embed.mongo.packageresolver/jar/de.flapdoodle.embed.mongo.packageresolver-jar.1.0.6-SNAPSHOT

Maybe it would be good to

[2022-07-19 09:01] infoShare commented on #411
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/pull/412

[2022-07-19 16:21] michaelmosmann commented on #411
Hmm.. as i understand it, snapshots should not be included in version ranges. but i remember that there were troubles in past times.. maybe i must switch back to no-version-ranges at all.

[2022-07-19 16:43] michaelmosmann commented on #404
no problem:)

[2022-07-19 16:47] michaelmosmann commented on #410
Can you try to add username/password for auth also to your test setup? just try to break things.. to see whats happening..
i guess that there is some kind of property merge .. and the spring integration lacks auth support (does not pass these properties to embedded mongo)

[2022-07-19 16:53] michaelmosmann commented on #406
Hmm.. i am not sure if embedded mongo does include any mongo client dependency.. as this is a compile error i would guess that the error must be somewhere else..

btw: if you use flapdoodle embed mongo you will NOT get an in memory version of mongodb.. it is the real mongodb .. which writes stuff to some temp file..

[2022-07-19 16:55] michaelmosmann commented on #304
which version do you use in test? can you provide some setup information: which spring version, which db version..

[2022-07-19 16:58] michaelmosmann commented on #405
hmm.. this is strange... there is a refactoring ahead.. to solve this kind of issues.. but not in the next days.

[2022-07-19 17:03] michaelmosmann commented on #395
@MarcinMigdalFortum can you provide some more log information with this property set de.flapdoodle.os.explain=true ?

[2022-07-19 17:05] #393 closed

[2022-07-19 17:05] michaelmosmann commented on #393
reopen if needed..

[2022-07-19 17:12] infoShare commented on #411
Yeah @michaelmosmann. Stable versions = stable builds = less troubles !

[2022-07-19 17:12] #411 closed

[2022-07-19 17:13] michaelmosmann commented on #389
@Gmanweb @Killianoc you can change the download url (see https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#customize-download-url)

[2022-07-19 17:13] #389 closed

[2022-07-19 17:15] michaelmosmann commented on #403
@robeatoz i try my best.. but it is just a lot of pain to release everything if i fix something in flapdoodle.os etc.. and as version ranges are more pain then helpful this is currently some kind of liquid process..

[2022-07-19 17:16] michaelmosmann commented on #403
@robeatoz any idea how to solve this kind of problem is greatly appreciated

[2022-07-19 17:19] michaelmosmann commented on #402
@LiuZHolmes can you see if you can add a sample to this project: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.canary

[2022-07-19 17:30] vam012 commented on #408
New test properties file:

`spring.data.mongodb.host=localhost`
`spring.data.mongodb.port=0`
`spring.data.mongodb.database=tests`
`spring.mongodb.embedded.version=3.5.5`
`spring.data.mongodb.username=`
`spring.data.mongodb.password=`

Same issue occurs:

`
java.lang.IllegalStateException: Failed to load ApplicationContext
.....
Caused by: org.springframework.beans.factory.UnsatisfiedDependencyExce

[2022-07-19 17:58] codengy commented on #376
MacOS (M1), JDK 17, but app is Java version 8

[2022-07-19 18:10] michaelmosmann commented on #403
@robeatoz done:)

[2022-07-19 18:11] #403 closed

[2022-07-19 18:25] jgriff commented on #337
@michaelmosmann same errors I mentioned above 👉  https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/337#issuecomment-1020296613.

[2022-07-20 09:23] stefanbethke opened #413 "Unable to run binary from /tmp (GitLab)"
We're using GitLab to run our Maven pipeline for our Spring Boot project, and the default setup for a Docker runner does not allow running executables from /tmp:

[code]

I've tried the suggestion from https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/122 but my config is being ignored, flapdoodle is still using /tmp/... for the executable.

Is there any documentation that clear

[2022-07-20 09:25] stefanbethke opened #414 "Avoid re-downloading installation archives"
There should be documentation that clearly shows:
* which paths should be cached between executions, so the same archive is not downloaded repeatedly
* how to configure a different URL for downloading the archive(s), so projects can use their own mirror

[2022-07-20 09:42] stefanbethke commented on #413
I thought at first that this was an issue with permissions, but setting de.flapdoodle.embed.io.tmpdir to a path that definitely allows execution, it seems that the extraction process is failing to put the binary there. Since everything appears to be working locally as expected, it's not easy to debug this...

[2022-07-20 09:59] stefanbethke commented on #413
In the latest test run, I get this in the log:
[code]

However, right after the mvn clean install that triggered the test run, I find this:
[code]

I'm at a loss why the executable cannot be found.

[2022-07-20 10:47] stefanbethke commented on #413
I've downloaded the files, and it seems to be OK:
[code]

The only thing I can think of is that /lib64/ld-linux-x86-64.so.2 is not a valid interpreter in our Docker image. I will check that next.

[2022-07-20 10:55] stefanbethke commented on #413
I can run the downloaded binary from the pipeline archive in the docker image the pipeline is using. So I'm at a complete loss why the file cannot be found. Is this a race condition with regards to the tests? But the log output has the extraction of the archive before the error, so that doesn't appear to make sense.

I'll try running the commands with the Docker image manually, instead of through

[2022-07-20 11:24] stefanbethke commented on #413
Hah. It appears that /lib64/ld-linux-x86-64.so.2 is in fact missing, leading to the ENOENT error.

[2022-07-20 14:46] broccolism commented on #409
@michaelmosmann Sorry, but what do you mean 'differences in behavior'?

[2022-07-21 06:51] stefanbethke commented on #413
The problem is in fact that the MongoDB binary cannot run in the image we're using, so essentially, this has nothing to do with Flapdoodle.

[2022-07-21 06:51] #413 closed

[2022-07-21 16:16] michaelmosmann commented on #409
@broccolism can you show me the part where you start the mongos?

[2022-07-21 16:25] michaelmosmann commented on #337
@jgriff exception in this stacktrace has a different cause.. are you using java18? .. there is a new release which should this.

[2022-07-21 16:26] michaelmosmann commented on #376
@codengy there is a new release.. the problem is not the app code version but the running jdk ..

[2022-07-21 16:28] michaelmosmann commented on #408
@vam012  .. and removing username+password from prod-properties is working?

[2022-07-21 18:05] vam012 commented on #408
I cannot remove those properties b/c our prod database requires authentication.

[2022-07-21 18:07] vam012 commented on #408
Is there anyway to tell embedMongo to spin up a mongo instance without authentication required?  Since that is what appears to be causing the problem.

[2022-07-21 18:16] michaelmosmann commented on #408
hmm.. the mongodb instance does not expect any auth unless configured.. but i will try create an test in this project: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring

[2022-07-21 18:24] vam012 commented on #408
If I remove them then the test is able to run.

[2022-07-21 18:50] michaelmosmann commented on #408
ah.. so i guess that if the driver tries to connect with out an mongodb without out will deny access

[2022-07-21 20:43] jgriff commented on #337
@michaelmosmann here's the last bit of logs from the [above 2 failed scenarios](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/337#issuecomment-1139005611).

[code]

Running on [`eclipse-temurin:17-jre`](https://hub.docker.com/layers/eclipse-temurin/library/eclipse-temurin/17-jre/images/sha256-ff7a89fe868ba504b09f93e3080ad30a75bd3d4e4e7b3e037e91705f8c6994b3?context=explore).

[2022-07-22 03:06] rohithkk opened #415 "No such file found error"
I'm getting following error when trying to run unit test cases that use embedded mongodb. Springboot version is 2.7.2 and the de.flapdoodle.embed.mongo version is 3.4.7. What could be causing this issue?

[code]

[2022-07-23 11:51] broccolism commented on #409
@michaelmosmann First of all, I've been just started to work as a backend-developer so I could be misunderstanding the things you tell me 🥲

Here if you mean 'how I start the mongos instance', I don't exactly know because it is managed by DBAs in my company....
Do you mean the configuration of mongoDB?

[2022-07-23 16:18] michaelmosmann commented on #409
@broccolism
As far as i understand the thing you just provided: you are running a mongdb in an cluster setup .. for that there must be at least one mongodb and one mongos server (see https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#start-mongos-with-mongod-instance) .. and with this setup is something wrong so you get some errors.

You showed me the code for your mongodb setup .. but th

[2022-07-23 16:20] michaelmosmann commented on #415
@rohithkk this path looks kind of strange: "?/.embedmongo/extracted/Linux-B64--debian_9---5.0.6/?/.embedmongo/extracted/Linux-B64--debian_9---5.0.6/extractmongod" .. can you tell me more? running in docker or local? are you using debian?

[2022-07-23 16:27] michaelmosmann commented on #337
@jgriff hmm.. any idea which of the mongodb releases could run on this temurin image? the ubuntu binary is missing /lib64/ld-linux-x86-64.so.2 .. maybe one of these amazon-dist may work (https://github.com/flapdoodle-oss/de.flapdoodle.os/blob/main/src/main/java/de/flapdoodle/os/linux/AmazonVersion.java)

[2022-07-24 10:13] broccolism commented on #409
@michaelmosmann
Thanks for the explanation, I got it.
It sounds like that I need to run mongoDB on my machine (which is the same machine with where my application is running)....
Is there any way to connect mongoDB (which is running on my company's machine) remotely and use embedded mongo?

[2022-07-25 06:07] n4kong commented on #392
@jchobantonov-runbuggy Hi, i got same issue, and resolved by change mongodb version in the test application.properties

`spring.mongodb.embedded.version=4.0.2`

[2022-07-25 15:22] michaelmosmann commented on #409
@broccolism this project can just start a mongodb on your machine.. but it does not sync this instance to your company mongodb.. so it is just a plain mongodb running on your machine... which is ok für some integration/unit-tests. write stuff to the db, see if its there, throw everything away if the test is done.. (mongodb will stop), etc..

you should not use this for some kind of production:) ..

[2022-07-27 16:18] briankurilko opened #416 "Unable to run embedded Mongo instance on CentOS Linux release 7.9.2009 (Core) machine - using Flapdoodle 3.4.8"
I am trying to run an embedded MongoDB instance with version 4.2.13, using Flapdoodle version 3.4.8 to do so. When I try to run the tests on our CentOS Linux release 7.9.2009 (Core) machine, I receive the following error:
[code]
Does anyone know why this is happening?

[2022-07-27 18:26] briankurilko commented on #416
Update on this: I followed [these instructions](https://github.com/flapdoodle-oss/de.flapdoodle.os#run) and added the system property `Linux|X86_64|CentOS|CentOS_7` to my program. I now get the following error:
[code]

[2022-07-28 19:08] Cimballi commented on #404
@michaelmosmann It looks like I am still facing the same problem. I am using packageresolver 1.0.7.

[2022-07-29 13:24] vam012 commented on #408
So is there a way to avoid this?

[2022-08-01 13:14] michaelmosmann commented on #408
@vam012 hmm.. the only way to fix this: make your test-mongodb use auth too.. but this will not come out of the box.
or add the auth information on deployment .. hmm...

I am very busy .. so it will take time to add some kind of support to my version of spring integration.. but i am not sure how long you can wait.

[2022-08-01 13:17] michaelmosmann commented on #404
@Cimballi the problem: the only way to detect that this runs on aws is to take a look at the hostname ... so maybe more than one version matches..

but you can enforce a system (on your aws machine).. see https://github.com/flapdoodle-oss/de.flapdoodle.os#run

[2022-08-01 13:25] michaelmosmann commented on #416
@briankurilko hmm.. looks like a bug.. the url looks wrong.

[2022-08-01 13:26] michaelmosmann commented on #409
@broccolism we learn all the time.. wish you success:) so i close this.. just reopen if needed.

[2022-08-01 13:26] #409 closed

[2022-08-01 13:29] vam012 commented on #408
How would I go about adding auth to the deployment of the test db?  That's currently handled by this package.

[2022-08-03 08:07] toolforger commented on #359
@michaelmosmann The given link leads to a page that links to a SNAPSHOT version for 2.6.
Since I can't use SNAPSHOT, I tried `de.flapdoodle.embed;de.flapdoodle.embed.mongo.spring:1.1.0-spring26x` but that requires legacy classes from the MongoDB driver and it's unclear which of the many MongoDB jars is the correct one.

If we can't get this to work we'll have to replace embedded mongo with a mock,

[2022-08-08 15:18] michaelmosmann commented on #359
@toolforger which springversion do you use?

[2022-08-08 15:19] michaelmosmann commented on #359
@toolforger see https://search.maven.org/artifact/de.flapdoodle.embed/de.flapdoodle.embed.mongo.spring27x

[2022-08-08 15:20] #404 closed

[2022-08-08 15:22] michaelmosmann commented on #408
@vam012 which spring version do you use? i have done my refactoring and could add this feature:)

[2022-08-08 16:01] vam012 commented on #408
Currently I use spring-boot-starter-parent version 2.6.2.

[2022-08-08 16:30] toolforger commented on #359
That was 2.6.
Note that the issue can be fixed by either removing the links for 2.5 and 2.6, or updating the referenced pages with production-ready links.

Just as a data point: Our team would happily upgrade to either 2.6 or 2.7 (the preference for 2.6 isn't really strong).
Other teams might be forced to use 2.6, so I guess there's value in doing a 2.6 build.
I can't say whether 2.5 is of interes

[2022-08-08 16:32] toolforger commented on #359
Hmm... the Maven Search link gives me 4.0.beta and 1.1.1 - which one would be the right one, integrating cleanly with Spring Boot (2.7)?

[2022-08-09 15:50] michaelmosmann commented on #359
@toolforger ok.. so i try to enhance 2.6 and 2.7 ..
about the two versions:
* 1.1.1 is more or less the configuration code from the spring project ported to my repositiory and with some bugs fixed.
* 4.x.x uses a rewrite of embed mongodb .. it should be a lot easier to make the changes there..

.. if i have finished it, i will write an comment in this ticket:)

[2022-08-09 15:51] michaelmosmann commented on #408
ok.. thanks.. stay tuned. i will write to this ticket if i have finished this.

[2022-08-10 06:59] toolforger commented on #359
Eventually, mention that you're using their code, with bug fixes.
It gives your users an intuition about what's in scope of your code and what isn't.
(That mention of "disable this Spring Boot configuration class" raised my eyebrows because I didn't know what the reasoning was; now that I know your reasons, I'm feeling much more confident in what's happening. Thanks!)

[2022-08-11 14:40] henok-tesfa-kr opened #419 "Flapdoodle error for embaded MongoDB"
### Discussed in https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/discussions/418

<div type='discussions-op-text'>

<sup>Originally posted by **henok-tesfa-kr** August  4, 2022</sup>
Hi All
 I am onboarding with existing spring project that use embedded mongoDB which use flapdoodle  on MacBook Pro and getting this issue, is there any solution for this error?

Caused by: org.springframe

[2022-08-14 10:02] noway1979 commented on #349
I followed https://blog.devgenius.io/how-to-enable-replica-set-in-embbedded-mongo-with-spring-boot-ddeaa079c1c8 and the main catch is to enable journaling (similar to @masa2146 example).

and then forked
https://github.com/noway1979/springboot-embedded-mongo-replset-demo which appears to be working without copying the original AutoConfiguration class and therefore less code duplication.

I dont kn

[2022-08-15 05:59] michaelmosmann commented on #349
As part of a big refactoring i was able to create a working setup as described in https://www.mongodb.com/docs/manual/tutorial/deploy-shard-cluster/

the code is here: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/embed-mongo-4.x/src/test/java/de/flapdoodle/embed/mongo/transitions/MongosTest.java

but it is using this beta version: https://github.com/flapdoodle-oss/de.flapdoodle

[2022-08-15 06:01] michaelmosmann commented on #349
I will close this issue:)

[2022-08-15 06:01] #349 closed

[2022-08-15 06:05] michaelmosmann commented on #408
Hi.. i did a new release..
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.6.x--embed-mongo-4.x

There should be an 4.0.0-beta in maven central in about 12 hours..

It works this way: if spring...username and spring...passwd is set, it will start a mongodb instance and after that a matching user is created.

If anything does not work as expected, please write a com

[2022-08-15 09:30] michaelmosmann commented on #359
@toolforger ah..yes.. you are right:) i will add some hints about that

[2022-08-15 09:37] michaelmosmann commented on #359
@toolforger
If you want to stay with spring 2.6 you can use:
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.6.x - stable version
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.6.x--embed-mongo-4.x - refactored version

.. or 2.7:
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.7.x - stable version

[2022-08-15 11:28] toolforger commented on #359
The "HowTo" link on https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.7.x looks like it is a subtitle but the text is missing. (Problem with that is that people tend to "see through" subtitles and tend to scan the text block below the subtitle to see if there's anything relevant in it; the strategy works well on the vast majority of web pages, but putting the link in

[2022-08-15 11:37] michaelmosmann commented on #359
@toolforger thanks for your input.. i was busy just to put everything together but your suggestion are a big improvment:)

[2022-08-16 17:39] vam012 commented on #408
Hi.... I tried with beta 4.0.0, 4.0.1, and 4.0.2.  When running I now get this error:

`java.lang.IllegalStateException: Failed to load ApplicationContext`

`Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'bizCardController': Unsatisfied dependency expressed through field 'bizCardService'; nested exception is org.springframework.beans.fac

[2022-08-18 04:26] michaelmosmann commented on #408
@vam012 hmmmm.. address=localhost:0 looks .. funny.. can you see if the mongod server starts?

[2022-08-19 09:35] sbg-sh commented on #392
Hello @n4kong ,
I have the same issue but it does not work for me, could you please tell more details.

[2022-08-19 15:25] GeorgEchterling commented on #415
I have encountered the same (or a similar) error:

[code]

This occurred with Spring Boot 2.7.3 and de.flapdoodle.embed.mongo 3.4.8 running inside a Docker image (azul/zulu-openjdk:11) in Jenkins CI.

There were lots of changes since the previous CI run, so I can't narrow down the change that caused the error.

(I haven't updated the embedded MongoDB version from 3.5.5 because of a different error

[2022-08-19 18:47] vam012 commented on #408
How can I check that?

[2022-08-19 22:32] henok-tesfa-kr commented on #377
I have the same issue on my MacPro M1, is there a solution for this issue?

  <java.version>11</java.version>
   <spring.boot.version>2.6.2</spring.boot.version>
    <dependency>
      <groupId>de.flapdoodle.embed</groupId>
      <artifactId>de.flapdoodle.embed.mongo</artifactId>
      <version>3.4.3</version>
      <scope>test</scope>
    </dependency>
   Mongodb version tested 3.5.5 4.0.1, 4.1.1

[2022-08-21 09:29] michaelmosmann commented on #377
@henok-tesfa-kr hmm.. as the url is correct, is there any firewall which might prevent the download?

[2022-08-21 09:31] michaelmosmann commented on #408
@vam012 is there anything else in the log? i can only see spring exceptions ..
you can try to set a breakpoint somewhere in the spring integration code..

[2022-08-21 09:35] michaelmosmann commented on #415
@GeorgEchterling the path to store downloaded artifacts etc is <user-home>/.embedmongo/...
is there any user? does this user inside docker has any home directory? maybe it would be a better way to map the artifact directory (downloaded and extracted stuff) to some volume so that it is cached and not recreated after each docker restart..

[2022-08-22 05:08] kezhenxu94 commented on #317
Would like to see parallel is supported, or any workaround, or any hints that I can start to contribute?

[2022-08-22 06:19] michaelmosmann commented on #317
parallel tests are now supported..

[2022-08-22 08:51] GeorgEchterling commented on #415
The docker container runs with the Jenkins user's uid to ensure access to the workspace, but the user's home directory is not mapped into the container. `$HOME` is set to `/`.

For some reason, Java sets `user.home` and `user.name` to `?`, which places the `.m2` and the `.embedmongo` directories at `$PWD/?/`, which should not be a valid path. The Maven build still works and even the embedded Mongo

[2022-08-22 13:03] henok-tesfa-kr commented on #377
Hi @michaelmosmann that was my first thought but I don't have any firewall, my question to you is, which version of flapdoodle support M1 because  x86_64 is definitely  for mac with intel processor.

[2022-08-22 13:53] michaelmosmann commented on #377
@henok-tesfa-kr mongodb version >= 6.x does have direct M1 support.. (not in the version list right now) .. but if you use an x86 version it should be run in emulated mode .. and the error message indicates, that the download failed..

[2022-08-22 13:55] michaelmosmann commented on #415
@GeorgEchterling good idea.. maybe i can see if the path starts with "?" and print some hint.. of check if the directory is writable .. thanks for your info:)

[2022-08-23 06:38] TimTim74 opened #421 "Unable to run embedded Mongo instance on Linux Mint after upgrade to Mint 21."
I upgraded my Linux Mint from version 20.3 to 21 to other day. And now my tests are failing:

[code]

POM.xml has this dependency:

[code]

And I am trying to run Mongo 5.0.6.

[2022-08-24 10:57] michaelmosmann commented on #421
@TimTim74 as there is no entry in https://github.com/flapdoodle-oss/de.flapdoodle.os/blob/main/src/main/java/de/flapdoodle/os/linux/LinuxMintVersion.java for mint 21 there is which package to use..  i have to add this version or.. if you like, you can create an pull request.

[2022-08-31 18:38] tuckerpm commented on #373
I'm having the same problem on a new laptop running Windows 10 Pro.

[2022-09-02 11:28] filirnd commented on #341
Hi,
I've got the same problem with Fedora 32, java 11.0.12-open (11.0.2-open too), and the latest version of de.flapdoodle.embed.mongo.
It seems like it creates a file with no correct permissions.
Even if I change the temp directory with java properties and set up the home directory (for example) I have the same issue.

[2022-09-07 14:31] eidottermihi commented on #271
This seems to be already resolved (tested with `v3.4.8`), system properties like `-Dhttps.proxyHost=my.proxy.com -Dhttps.proxyPort=80` are used for downloading when set.

[2022-09-07 16:04] michaelmosmann commented on #271
@eidottermihi yes.. it should:) .. missed this one.. close this.

[2022-09-07 16:04] #271 closed

[2022-09-07 16:06] michaelmosmann commented on #341
@filirnd can you open an new issue? can you provide some logging/stacktrace?

[2022-09-07 16:07] michaelmosmann commented on #373
@tuckerpm so do you have any logs/stacktraces?

[2022-09-07 16:49] tuckerpm commented on #373
Sorry, I don't.  I noticed some weird mongo processes still running after terminating the test so I rebooted the laptop and haven't had the problem since.

[2022-09-08 07:31] stefanbethke commented on #359
I'm still having issues with the most current released version 3.4.8 on macOS:
[code]

The correct filename would be mongodb-macos-x86_64-4.4.16.tgz; this appears to be the case for all mongodb versions starting with at least 4.2.

[2022-09-08 08:00] stefanbethke commented on #359
Looking at the code in de.flapdoodle.embed.mongo.Paths, I feel it would be beneficial overall to be able to supply the download URL for a specific version and platform through either a simple configuration class or by setting properties. Using properties would help with configuring a local mirror and/or a filesystem cache in CI pipelines, I feel.

The documentation for DownloadConfigBuilderCustomi

[2022-09-08 15:25] michaelmosmann commented on #373
@tuckerpm i know that this can happen if the test fails and there is no cleanup .. i tried to solve this issue with my latest refactoring: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/embed-mongo-4.x/Howto.md

[2022-09-08 16:17] stefanbethke commented on #359
Sorry, I had a dependency snafu, and instead of 3.4.8 as specified in the POM, another dependency downgraded that to 3.0.0. So completely false alarm, all working as expected now.

[2022-09-08 16:22] michaelmosmann commented on #359
@stefanbethke ah..ok:) so i close this issue..

[2022-09-08 16:22] #359 closed

[2022-09-09 15:38] Moez1010 commented on #376
Yes It's works for me with 3.4.9

[2022-09-12 07:18] filirnd commented on #341
Yes I'll open a new issue with logs thank you.

[2022-09-12 07:57] filirnd opened #422 "EmbeddedMongo on /tmp directory has not execution permission"
Hi I've an issue with mongo embedded. I've fedora 32 SO with kernel "Linux fedora-desktop 5.11.22-100.fc32.x86" set up this dependency on maven:
[code]

And this is my test code:

[code]

This is the issue that I encountered:

[code]

I have tried to set system properties flapdoodle directory to another dir with all permission but it not works too.
Only if I launch the java application with root p

[2022-09-12 07:58] filirnd commented on #341
Opened on https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/422

[2022-09-15 09:43] filirnd commented on #422
No, I execute this code with the IntelliJ DI play button and the execution goes under my home.
The problem is the mongo embedded temporary file that was created (by flapdoodle ?) with wrong permissions.

[2022-09-15 11:13] michaelmosmann commented on #422
Hmm..you can try to create a breakpoint and inspect the file.. I would guess that the executable bit is set, but your Linux dist prohibits execution of anything located in /tmp

[2022-09-15 13:16] muthenberg commented on #422
I am facing the same problem on a Mac.

[2022-09-15 13:33] filirnd commented on #422
As I wrote here I have tried to change the file directory to my home (with all permissions) and have the same results.
If I check the file on a breakpoint has these permissions -rw-r--r--
and /tmp has this permissions drwxrwxrwt
I think it is related to how the creator of the file sets the permissions

[2022-09-16 05:29] michaelmosmann commented on #422
Hmm.. this is strange as I did not change anything related to this..

[2022-09-16 05:46] michaelmosmann commented on #422
Maybe you can try
 https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.6.x--embed-mongo-4.x (or spring-2.7.x-- ...)

[2022-09-21 06:45] lilithyang2018 opened #423 "could not stop mongod with db command if auth is enabled"
version: 3.4.8

description:
when auth is enabled for the mongo server, the mongod could not be stopped properly

[https://www.mongodb.com/docs/manual/reference/command/shutdown/#behavior](url)

from the above link , we know that 'For a mongod started with Authentication, you must run shutdown over an authenticated connection.'

from the code it seems the username and password are never sent
![sen

[2022-09-21 23:15] chrismgrayftsinc opened #424 "Add support for mongodb 6.0"
There are some new features in version 6.0 that I would like to test my server with.  https://www.mongodb.com/docs/upcoming/release-notes/6.0-changelog/

[2022-09-22 05:51] michaelmosmann commented on #424
Will add this next week:)

[2022-09-22 05:52] michaelmosmann commented on #423
Ah.. yes.. you are right. Try to solve this next week:)

[2022-09-24 18:02] karaedd commented on #395
its works, thanks a lot!!!

[2022-09-25 12:38] eladeyal-intel commented on #383
I had this, on Ubuntu 22.04 WSL2:

`Download Version{5.0.5}:Platform{operatingSystem=Linux, architecture=X86_64, distribution=Ubuntu, version=Ubuntu_22_04}`

`/tmp/extract-c3d4c6d1-7b9b-42d2-85e8-9a03bb783feaextractmongod: error while loading shared libraries: libcrypto.so.1.1: cannot open shared object file: No such file or directory`

Following these instructions to install `libssl1.1` seemed to

[2022-09-26 14:47] michaelmosmann commented on #423
@lilithyang2018 which integration are you using? how do you enable auth for mongodb?

[2022-09-26 14:49] michaelmosmann commented on #423
@lilithyang2018 did a new release of https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.7.x--embed-mongo-4.x and https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.6.x--embed-mongo-4.x which should handle this case..

[2022-09-26 14:50] michaelmosmann commented on #424
@chrismgrayftsinc  did a new release ... mongodb 6.0.1 is now supported..

[2022-09-26 15:28] Lucasark commented on #337
Just to remember it still happen :D

How to use it in Test?

[2022-09-26 16:22] Lucasark commented on #424
Simple question, on Maven Repository still on 3.4.x, is there any reason?
https://mvnrepository.com/artifact/de.flapdoodle.embed/de.flapdoodle.embed.mongo

[2022-09-27 15:26] michaelmosmann commented on #423
@lilithyang2018 if you have any problems trying the new stuff give me a hint:)

[2022-09-27 15:27] michaelmosmann commented on #424
@Lucasark it takes some time so that the sonatype repo is synced to maven central..

[2022-09-27 15:32] michaelmosmann commented on #422
@filirnd any progress with that?

[2022-09-28 11:20] filirnd commented on #422
Sorry, only today I can try this.
Have some problems with the code on the first comment. Maybe some classes changed.
I don't find this classes anymore
import de.flapdoodle.embed.mongo.MongodExecutable;
import de.flapdoodle.embed.mongo.MongodProcess;
import de.flapdoodle.embed.mongo.MongodStarter;
import de.flapdoodle.embed.mongo.config.MongodConfig;

[2022-09-28 20:47] michaelmosmann commented on #422
@filirnd If you dont use spring then you will find how to use it here: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/embed-mongo-4.x/Howto.md

[2022-09-28 20:49] michaelmosmann commented on #422
@filirnd if you use spring this should work as an example: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/blob/spring-2.7.x--embed-mongo-4.x/src/test/java/de/flapdoodle/embed/mongo/spring/autoconfigure/AutoConfigFirstIsolationTest.java

[2022-09-29 10:26] filirnd commented on #422
the first example works. Only for info, I received this log errors (but insert and find works great):
[code]

[2022-09-29 13:55] michaelmosmann commented on #422
@filirnd .. hmmm.. thanks.. looks like mongod tries to download some version information stuff? strange..

[2022-09-29 13:57] michaelmosmann commented on #422
@filirnd found this: https://stackoverflow.com/questions/56942214/how-to-install-mongod-with-libcurl4

[2022-09-30 06:56] filirnd commented on #422
Thank you. However, is not a problem, now embedded mongo works great. Seems it uses the home folder now for temporary files.
I'm going to close the issue.
Thank you for your support.

[2022-09-30 06:56] #422 closed

[2022-09-30 17:58] Soggywaters commented on #232
This is still an issue with mongo versions 3.6.0+

[2022-10-04 07:33] michaelmosmann commented on #422
@filirnd with the latest release i extract all binaries to some directory in home folder and checking the hash of the content to ensure that the right version is used .. so /tmp is not used for that anymore.

[2022-10-04 08:18] michaelmosmann opened #425 "Could not start process: <EOF> on Windows 11, MongoDB 3.6"
see https://github.com/svenkubiak/embedded-mongodb/issues/4#issuecomment-1263864067
and https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/232#issuecomment-856405355

[2022-10-04 08:19] michaelmosmann commented on #425
@Soggywaters created an issue for that..

[2022-10-05 09:15] isaquexavier commented on #377
Hi, is there any solution to this issue? I'm facing the same situation. When I try downloading the file via browser it works without any problem.
` Bean instantiation via factory method failed; nested exception is org.springframework.beans.BeanInstantiationException: Failed to instantiate [de.flapdoodle.embed.mongo.MongodExecutable]: Factory method 'embeddedMongoServer' threw exception; nested exc

[2022-10-05 13:40] henok-tesfa-kr commented on #377
HI @isaquexavier
I have put the **extract** file manually in the .embedmongo folder and it work, get the file from someone who use mac non M1  processor and try it.

Thanks.

[2022-10-05 21:22] jzhn commented on #398
Want to report a similar issue that I have. My team runs unit tests on Ubuntu 18.04 docker containers running on AmazonLinux2 hosts. The current behaviour of Embedded MongoDB detects OS Distribution inconsistently:

- For Ubuntu it detects with `/etc/os-release`
  - for containers, this file represents the distribution of container OS. (Ubuntu in our case)
- For AmazonLinux it detects with `System

[2022-10-11 08:47] vyu-talend commented on #416
Hello, I got the same issue, except for the error messages above. I found those messages might be helpful.
`[main] WARN de.flapdoodle.os.common.PeculiarityInspector - more than one match: [CentOS, Amazon]
[main] WARN de.flapdoodle.embed.mongo.packageresolver.linux.LinuxPackageFinder - because there is no package for PRODUCTION:Platform{operatingSystem=Linux, architecture=X86_64} we fall back to PR

[2022-10-12 05:09] michaelmosmann commented on #416
@vyu-talend the os detection can not decide which os matches (could be CentOS or Amazon (just based on host names, because there is no other way to guess) .. you can override this with this system property: de.flapdoodle.os.override=Linux|X86_64|CentOS|CentOS_7 (choose the right version)

[2022-10-12 05:12] michaelmosmann commented on #398
@jzhn ah.. thanks.. i will try to solve this.. hm.. interesting..

[2022-10-12 06:45] vyu-talend commented on #416
@michaelmosmann Many thanks, I'll try it.

[2022-10-12 09:03] vyu-talend commented on #416
It works. Thanks!

[2022-10-13 16:44] acarlstein opened #426 "Could not start process: <EOF> (with MongoDB 4.2.13, running on Linux Debian 11, inside a Docker Container)"
# Summary

While our Spring Boot service runs locally (on macOS Monterey 12.6), and in the cloud (with Cloud Run), it fails when running inside a Docker container with Docker Desktop 4.12.0

_Note: I apologize if this issue is a little long. I'm trying to provide as much information as I'm allowed in hopes that a solution can be reached._

# Description

We are getting this logs only when running

[2022-10-14 12:46] michaelmosmann commented on #426
as a first guess: dependency collision

are you sure that spring-boot-starter-data-mongodb does not come with an other version of de.flapdoodle.embed.mongo?
Maybe you don't need de.flapdoodle.embed.mongo.packageresolver as extra dependency..

[2022-10-14 12:47] michaelmosmann commented on #426
@acarlstein btw.. this long issue is awesome:)

[2022-10-14 12:51] michaelmosmann commented on #416
@vyu-talend .. i will make a new release where this situation is solved automatically ..(centos is used) so this workaround is not needed anymore (with this new release)

[2022-10-14 12:52] michaelmosmann commented on #416
@briankurilko do you still have this problem?

[2022-10-14 12:57] #425 closed

[2022-10-14 12:58] michaelmosmann commented on #232
@Soggywaters is your issue solved with this: https://github.com/svenkubiak/embedded-mongodb/issues/4#issuecomment-1266577182

[2022-10-14 13:00] vyu-talend commented on #416
Thanks, Michael! Good to hear that!

[2022-10-14 13:01] michaelmosmann commented on #363
Added to the documentation: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/blob/spring-2.5.x/HowTo.md

[2022-10-14 13:03] michaelmosmann commented on #373
@tuckerpm @loicmathieu is this still an issue?

[2022-10-14 13:05] #368 closed

[2022-10-14 13:05] michaelmosmann commented on #368
Hmm.. if still an issue, please reopen.

[2022-10-14 13:09] michaelmosmann commented on #380
So there is a new repo for that: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring ..

[2022-10-14 13:09] #380 closed

[2022-10-14 13:12] #386 closed

[2022-10-14 13:15] michaelmosmann commented on #421
@TimTim74  If this still is an issue, please reopen.

[2022-10-14 13:15] #421 closed

[2022-10-14 13:16] #408 closed

[2022-10-14 13:20] michaelmosmann commented on #414
@stefanbethke please use my new version of this tool.

configure a different url: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/embed-mongo-4.x/Howto.md#customize-by-builder

Now there we use hashes to solve this issue. Archives are only downloaded once..

[2022-10-14 13:20] #414 closed

[2022-10-14 13:22] acarlstein commented on #426
I found the issue!!!

By removing this line: `.processOutput(ProcessOutput.silent())`, I got access to more logs. One of them was:
[code]

This told me right away that a quick fix would be to install `curl`.
So, to test it out, I shell into the container, run:
[code]

[2022-10-14 13:22] #426 closed

[2022-10-14 13:23] michaelmosmann commented on #397
@v-shalimov is this still an issue?

[2022-10-14 13:25] michaelmosmann commented on #399
@ZeroOne3010 i now have an project for that: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring

[2022-10-14 13:26] michaelmosmann commented on #388
@snazy .. still an issue?

[2022-10-14 13:38] tuckerpm commented on #373
I haven't had this issues since rebooting.

[2022-10-14 14:11] Toshimichi0915 commented on #373
Is there any reason to close the stream before calling Process#destroy? This seems like the easiest solution to be honest...

[2022-10-15 07:45] michaelmosmann commented on #373
ok.. so i close this.. reopen if problem is back again:)

[2022-10-15 07:45] #373 closed

[2022-10-15 07:48] michaelmosmann commented on #426
@acarlstein it would be interesting why mongodb needs libcurl ..

[2022-10-15 07:49] michaelmosmann commented on #416
new release is done.. should be in maven central in about 12-24hrs

[2022-10-15 07:49] michaelmosmann commented on #416
@vyu-talend can you test this with this new release an close this issue if everything is fine? thanks:)

[2022-10-16 11:44] dvt32 commented on #232
This may be helpful: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/309#issue-562659947

[2022-10-17 05:30] michaelmosmann commented on #424
@chrismgrayftsinc mongodb 6.0.1 and 6.0.2 support released.

[2022-10-17 05:30] #424 closed

[2022-10-17 05:32] michaelmosmann commented on #99
reopen if this still is an issue...

[2022-10-17 05:32] #99 closed

[2022-10-17 05:33] michaelmosmann commented on #116
if this is still an issue, please reopen...

[2022-10-17 05:33] #116 closed

[2022-10-17 05:33] michaelmosmann commented on #127
if this is still an issue, please reopen...

[2022-10-17 05:33] #127 closed

[2022-10-17 05:34] michaelmosmann commented on #138
if this is still an issue, please reopen...

[2022-10-17 05:34] #138 closed

[2022-10-17 08:11] michaelmosmann commented on #168
.. if this is still an issue, please reopen.

[2022-10-17 08:11] #168 closed

[2022-10-17 08:12] michaelmosmann commented on #200
.. as the download works different now, this problem should be solved.

[2022-10-17 08:12] #200 closed

[2022-10-17 08:13] michaelmosmann commented on #211
.. if this is still an issue, please reopen.

[2022-10-17 08:14] michaelmosmann commented on #225
.. if this is still an issue, please reopen.

[2022-10-17 08:14] #225 closed

[2022-10-17 08:16] michaelmosmann commented on #250
@mp911de solved after a bigger refactoring -> https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x

[2022-10-17 08:16] #250 closed

[2022-10-17 08:16] michaelmosmann commented on #268
.. reopen if this still is an issue.

[2022-10-17 08:16] #268 closed

[2022-10-17 08:17] michaelmosmann commented on #274
.. if this still is a problem, please reopen.

[2022-10-17 08:18] michaelmosmann commented on #276
.. if this is still an issue, please reopen.

[2022-10-17 08:18] #276 closed

[2022-10-17 08:19] michaelmosmann commented on #288
.. if this still is an issue, please reopen.

[2022-10-17 08:19] #288 closed

[2022-10-17 08:19] michaelmosmann commented on #290
.. if this still is an issue, please reopen.

[2022-10-17 08:19] #290 closed

[2022-10-17 08:20] michaelmosmann commented on #300
.. if this still is an issue, please reopen.

[2022-10-17 08:20] #300 closed

[2022-10-17 08:21] michaelmosmann commented on #301
.. this is solved with this new version: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x

[2022-10-17 08:21] #301 closed

[2022-10-17 08:21] #302 closed

[2022-10-17 08:22] michaelmosmann commented on #303
.. if this still is an issue, please reopen.

[2022-10-17 08:22] #303 closed

[2022-10-17 08:22] michaelmosmann commented on #304
.. if this still is an issue, please reopen.

[2022-10-17 08:22] #304 closed

[2022-10-17 08:22] michaelmosmann commented on #306
.. if this still is an issue, please reopen.

[2022-10-17 08:22] #306 closed

[2022-10-17 08:23] michaelmosmann commented on #309
.. if this still is an issue, please reopen.

[2022-10-17 08:23] michaelmosmann commented on #310
.. if this still is an issue, please reopen.

[2022-10-17 08:23] #310 closed

[2022-10-17 08:23] michaelmosmann commented on #311
this should be solved with this new version: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x

[2022-10-17 08:23] #311 closed

[2022-10-17 08:25] michaelmosmann commented on #312
.. please use this new version https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x

[2022-10-17 08:25] #312 closed

[2022-10-17 08:26] michaelmosmann commented on #313
.. if this still is an issue, please reopen.

[2022-10-17 08:26] #313 closed

[2022-10-17 08:26] michaelmosmann commented on #315
.. if this is still an issue, please reopen.

[2022-10-17 08:26] #315 closed

[2022-10-17 08:27] michaelmosmann commented on #318
.. if this still is an issue, please reopen.

[2022-10-17 08:27] #318 closed

[2022-10-17 08:29] michaelmosmann commented on #321
.. if this still is an issue, i would solve this in this new version: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x .. please reopen, if needed.

[2022-10-17 08:29] #321 closed

[2022-10-17 08:30] michaelmosmann commented on #316
.. if this still is an issue, than i would solve this in this new version https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x  .. please reopen if needed.

[2022-10-17 08:30] #316 closed

[2022-10-17 08:34] michaelmosmann commented on #323
this should work with this spring adapter: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.6.x--embed-mongo-4.x .. create an issue there, if it does not work.

[2022-10-17 08:35] michaelmosmann commented on #324
It should be solved with this new version: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x .. please reopen, if this issue still exist.

[2022-10-17 08:35] #324 closed

[2022-10-17 08:36] zcxsythenew opened #427 "java.lang.IncompatibleClassChangeError while initiating [de.flapdoodle.embed.mongo.MongodExecutable]"
After upgrading de.flapdoodle.embed.mongo from 3.4.11 to 3.5.0, an error was occurred before running test cases:
[code]

[2022-10-17 08:37] michaelmosmann commented on #325
@nightswimmings .. is this still an issue?
If needed, then i can backport this https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.6.x--embed-mongo-4.x to spring 2.5 ..

reopen, if needed.

[2022-10-17 08:37] #325 closed

[2022-10-17 08:40] michaelmosmann commented on #328
maybe this is what you are looking for: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/embed-mongo-4.x/src/test/java/de/flapdoodle/embed/mongo/transitions/MongosTest.java

[2022-10-17 08:40] #328 closed

[2022-10-17 08:41] #330 closed

[2022-10-17 08:41] #336 closed

[2022-10-17 08:42] michaelmosmann commented on #337
... if this still is an issue, please reopen.

[2022-10-17 08:42] #337 closed

[2022-10-17 09:35] hivenet-mdevarasetty-osi commented on #427
We are also facing same issue without any change in the version upgrade.de.flapdoodle.embed.mongo is 3.4.6 version.

`Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'mongoDatabaseFactory' defined in class path resource [org/springframework/boot/autoconfigure/data/mongo/MongoDatabaseFactoryConfiguration.class]: Unsatisfied dependency expre

[2022-10-17 09:47] hivenet-mdevarasetty-osi commented on #427
@zcxsythenew issue fixed for me after upgrading versions as below:

de.flapdoodle.embed.mongo --> 3.5.0
de.flapdoodle.embed.process --> 3.2.0

[2022-10-17 10:00] mkopylec commented on #346
Hi, in 3.4.11 I'm having a similar issue.

[2022-10-17 11:21] snazy commented on #388
Can't say. We've removed flapdoodle from the project due to this issue a while ago.

[2022-10-17 13:34] michaelmosmann commented on #346
@mkopylec any log information? Looks like an mongodb issue.. maybe some command line flags not set?

[2022-10-17 13:36] michaelmosmann commented on #427
@zcxsythenew  de.flapdoodle.embed.mongo comes with de.flapdoodle.embed.process:3.2.0 .. so you don't need to declare this dependency by yourself..

[2022-10-17 13:40] michaelmosmann commented on #420
.. note to myself: a test which tries to start a second mongodb on the same port..

[2022-10-17 13:42] michaelmosmann commented on #338
@sreyan32  .. is this still an issue or solved in any way? Reopen if needed.

[2022-10-17 13:42] #338 closed

[2022-10-17 13:43] michaelmosmann commented on #340
@shoubhikghosh  .. is this still an issue? reopen if needed.

[2022-10-17 13:43] #340 closed

[2022-10-17 13:45] michaelmosmann commented on #344
@1-alex98 .. still an issue? reopen if needed.

Any enhancements will be done in a new version: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x

[2022-10-17 13:46] michaelmosmann commented on #354
@gscaparrotti is this still an issue? please reopen if needed.

[2022-10-17 13:46] #354 closed

[2022-10-17 13:47] michaelmosmann commented on #356
@masa2146 .. is this still an issue? reopen if needed.

[2022-10-17 13:48] michaelmosmann commented on #376
.. if this is still an issue, please reopen.

[2022-10-17 13:49] michaelmosmann commented on #378
.. i think, this is solved in many ways. please reopen, if any issues are left.

[2022-10-17 13:49] #378 closed

[2022-10-17 13:50] michaelmosmann commented on #379
@mhalbritter is this still an issue? please reopen if needed.

[2022-10-17 13:50] #379 closed

[2022-10-17 13:52] michaelmosmann commented on #361
@niroussel @fluidsonic i think this can be solved with this version: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x and the matching spring integration: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.6.x--embed-mongo-4.x

... if this still an issue, please reopen.

[2022-10-17 13:52] #361 closed

[2022-10-17 13:53] michaelmosmann commented on #381
@AshuRane09 is this still an issue? please reopen if needed.

[2022-10-17 13:53] #381 closed

[2022-10-17 13:54] michaelmosmann commented on #385
.. if this still an issue, please reopen.

[2022-10-17 13:55] #395 closed

[2022-10-17 13:56] michaelmosmann commented on #406
@janjanneck is this still an issue? please reopen if needed.

[2022-10-17 13:56] #406 closed

[2022-10-17 13:57] michaelmosmann commented on #400
@djeanprost i did finish a heavy refactoring task.. if this still is an issue, you may should have a look at: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x

[2022-10-17 14:38] yadavan88 commented on #427
I am also facing a similar issue out of nowhere. I am getting the exception as "Found interface de.flapdoodle.os.Platform, but class was expected". When I went and looked at this file from flapdoodle-os, I found that it was changed from Interface to abstract class. Upgrading the flapdoodle embed mongo version didn't help me.

[2022-10-17 15:06] yadavan88 commented on #427
My apologies, upgrading to 3.5.0 version did fix the issue for me.

[2022-10-17 16:26] michaelmosmann commented on #427
@yadavan88 in the end it could be solved:) so i close this issue..

[2022-10-17 16:26] #427 closed

[2022-10-17 16:27] michaelmosmann commented on #423
@lilithyang2018 .. did it work? reopen if the issue still exists.

[2022-10-17 16:27] #423 closed

[2022-10-17 16:28] michaelmosmann commented on #419
@henok-tesfa-kr is this still an issue? reopen if needed.

[2022-10-17 16:31] michaelmosmann commented on #410
@LuisEGamez this replacement can handle this case: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.6.x--embed-mongo-4.x .. reopen this issue, if it does not fit your needs.

[2022-10-17 16:31] #410 closed

[2022-10-17 16:32] michaelmosmann commented on #397
@v-shalimov .. will close this issue. If needed, just reopen.

[2022-10-17 16:32] #397 closed

[2022-10-17 16:34] michaelmosmann commented on #394
@TamasSzerb i did a rework of this project.. maybe the new version solves your issue: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x

so i close this issue .. reopen if needed.

[2022-10-17 16:34] #394 closed

[2022-10-17 16:35] #402 closed

[2022-10-17 16:55] henok-tesfa-kr commented on #419
Hi @michaelmosmann , Yes it is still  an issue, you have seen multiple ppl are also reporting this, but for now I have a workaround not a solution.

[2022-10-17 16:58] michaelmosmann commented on #419
@henok-tesfa-kr what is your workaround? "Could not open inputStream for .." is some kind of network issue. Is there a firewall?

you could also check if my new version does behave different: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring/tree/spring-2.6.x--embed-mongo-4.x

[2022-10-17 22:18] chrismgrayftsinc commented on #424
Much appreciated! @michaelmosmann

[2022-10-18 11:38] narugoyal commented on #427
For me, issue suddenly started happening on spring boot 2.7.1 without any change in libraries.
And as a fix, I upgraded to latest spring boot 2.7.4

[2022-10-18 12:29] santik commented on #427
I have the same issue
Caused by: java.lang.IncompatibleClassChangeError: Found interface de.flapdoodle.os.Platform, but class was expected
Using SpringBoot 2.7.4 and de.flapdoodle.embed.mongo 3.5.0
I tried to put spring.mongodb.embedded.version=5.0.0 into properties
No luck.

[2022-10-18 12:33] yadavan88 commented on #427
@santik
Does the Platform show as Interface or abstract class? With the latest version of embedded-mongo library, it pulls flapdoodle-os as transitive dependency. The platform change is in this library.

[2022-10-18 12:36] yadavan88 commented on #427
@michaelmosmann Just asking this due to my curiosity. Any idea why the change got affected without the version update? By any chance, the flapdoodle-os latest changes got published with the same version? I was just trying to understand how this behaviour.
Thanks in advance!

[2022-10-18 13:44] santik commented on #427
@yadavan88 an abstract class. It takes it from flapdoodle.os-1.2.1.jar

[2022-10-18 21:46] michaelmosmann commented on #427
sorry for this.. the change was in flapdoodle-os .. and i am not sure if i did choose the right sem-ver for this..

[2022-10-19 08:36] michaelmosmann commented on #420
@AlecJStrickland .. did a new release, different errors are detected, cause in now used in exception

[2022-10-19 08:36] #420 closed

[2022-10-19 08:55] santik opened #428 "Is it possible to download the mongo during the build?"
Until we don't have a real mongo in our system we decided to use embedded mongo, but when we run our application it tries to download the package to start the server. Our infra by default doesn't allow any external connections. Is it possible to download all the necessary packages during the build so that when the application starts up it doesn't need to download anything extra?

[2022-10-19 09:16] santik commented on #419
For me it is definitely a firewall. I'm wondering if I can pack that file into my application jar. #428

[2022-10-19 11:26] michaelmosmann commented on #419
@santik  hmm.. its a little big i guess...

[2022-10-19 14:18] hivenet-mdevarasetty-osi opened #429 "Embedded mongo with @Transactional support with spring boot jdk18"
@michaelmosmann in my project i am running using embedded mongodb in local machines, wanted to have a support of @transactional rollback operations in my apis. Could you please refer me if any documents to integrate embedded mongodb with transacational.

Current functionality: Now even i add @transactional to my apis, rollback functionality is not working.

Springboot 2.7.0
JDK 18
embed.mongo 3.5.

[2022-10-20 05:14] michaelmosmann commented on #429
@hivenet-mdevarasetty-osi which mongodb are you using?

[2022-10-20 05:39] hivenet-mdevarasetty-osi commented on #429
@michaelmosmann spring-data-mongodb-3.4.0 & mongodb-driver-4.6.0

[2022-10-20 05:49] hivenet-mdevarasetty-osi commented on #429
@michaelmosmann @transactional rollbacks working good with normal mongodb using AbstractMongoClientConfiguration abstract class.

[2022-10-20 06:10] michaelmosmann commented on #429
@hivenet-mdevarasetty-osi is there any public repo where i can have a look?

[2022-10-21 05:22] michaelmosmann commented on #428
@santik .. as there are more than one possible solution, can you explain your use case a little bit? If your application is build, is it deployed somewhere?

- If external connections are not allowed, you could put these files on an internal server an change the download location...
- You could setup a proxy and enable just the download of the mongodb archives..
- You could copy local downloaded f

[2022-11-03 20:39] santik commented on #428
@michaelmosmann I managed to use the 3rd option from your list. The potential problem could be when the filename changes in the resolver.  Also, the archive with the file is too big to put in repo. So still would be nice to download the file during the compilation rather than during the test phase.

[2022-11-04 06:10] michaelmosmann commented on #428
@santik do you use gradle, maven .. something different?

As i understand this, and please correct me if i am wrong:
- you build this application somewhere where the download of the archives is possible
- you deploy your application somewhere else (for testing) where downloads are forbidden
- it would be nice if during the build the archive is downloaded and can be deployed with your application
-

[2022-11-11 07:30] mmuruev opened #431 "Ubuntu 22.10 support is missing"
Test just failed on the start no support Ubuntu 22.10

 `de.flapdoodle.embed:de.flapdoodle.embed.mongo:3.5.1`

[2022-11-11 07:35] #431 closed

[2022-11-11 07:35] mmuruev commented on #431
Found new version. Sorry !

[2022-11-11 11:55] michaelmosmann commented on #431
@mmuruev alway like self closing issues:) .. have fun:)

[2022-11-11 16:49] UnGaucho commented on #393
We are having the same issue running on a docker container using `eclipse-temurin:17-jdk-alpine` except that the lib missing is libcurl.so.4.

This is the docker build output with the important bits, seems that the lib should be reachable.
[code]

Yet when running:

[code]

The same dockerfile works just fine building and running the container locally on a mac but could be pulling a different base

[2022-11-11 21:37] UnGaucho commented on #393
And these are the logs for the successful Focal based build:

[code]

[2022-11-11 21:44] UnGaucho opened #432 "Missing libcurl.so.4 when running on a Docker Container during CI build using Alpine based image"
Probably closely realted to https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/393, but maybe not the same so I might as well open a new issue as to not hijack that one.

We are having the same issue running on a docker container using eclipse-temurin:17-jdk-alpine except that the lib missing is libcurl.so.4.

This is the docker build output with the important bits, seems that the

[2022-11-11 22:13] UnGaucho commented on #432
Seems we were using an older embedmongo 3.4.11.

Updated to 5.3.2 and MongoConfig.builder().version(Version.Main.V5_0)

But still no luck.

[code]

[2022-11-11 23:38] UnGaucho commented on #432
Seems we are out of luck. Does not seem to be an issue with this project.

AFAIK [MongoDB does not provide binaries for Alpine 3.16](https://unix.stackexchange.com/questions/568530/installing-mongodb-on-alpine-3-9) which is the one currently in use in [eclipse-temurin:17-jdk-alpine](https://github.com/adoptium/containers/blob/d3c9617e83eb706aff74c095fd531fe31e359674/17/jdk/alpine/Dockerfile.releas

[2022-11-14 07:01] michaelmosmann commented on #432
@UnGaucho .. hmm.. i am not sure if i can reproduce this somehow.. but we can try something...
are you using spring with that or just this project?

Can you switch to the beta version?
  https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x
and
  https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tree/embed-mongo-4.x#spring-integration (for spring integration)

[2022-11-14 15:05] UnGaucho commented on #432
We are currently using Spring but we are manually wiring the Embedded Mongo. Sadly it's a private repository.

[code]

[code]
Could be something related to differences in the multiplatform images.

Strangely ldd /usr/bin/curl shows libcurl.so under alpine so I'm not too sure about LD_LIBRARY_PATH being the cause. Will check though.

I'll try using the beta and get back to you with any update.

[2022-11-14 16:44] michaelmosmann commented on #432
@UnGaucho thanks.. LD_LIBRARY_PATH could be an issue from my side as i am starting the process.. and maybe the path is wrangled or something else..

maybe this is helpful: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/embed-mongo-4.x/Howto.md#customize-by-override ..

if you have any trouble, please just ask.. i will improve documentation as we go:)

[2022-11-21 19:18] brenthaertlein opened #433 "NoSuchFileException because path duplicates directory path"
Seeing behavior similar to https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/122 during our build process in OpenShift 3.7 on both RHEL7 and RHEL8 base images.

https://catalog.redhat.com/software/containers/redhat-openjdk-18/openjdk18-openshift/58ada5701fbe981673cd6b10?container-tabs=overview

The behavior _does not occur_ during local development on OS X 12.x and 13.0.

We're

[2022-11-22 18:54] michaelmosmann commented on #433
@brenthaertlein i would like to create some kind of check for this kind of situation .. so is there a way to see what the value of the system property for "user.home" looks like without this fix?

[2022-11-22 19:05] brenthaertlein commented on #433
I imagine that's where the `?` directory comes from, other processes seemed to create files / folders in that directory with the messed up USER configuration (i.e. `.gradle/` and `.kotlin/` were created in `/home/jboss/?` instead of `/home/jboss`)

I will see if I can put together a quick prototype for this later today, now that I have a more full understanding of how to "develop" with s2i

[2022-11-23 07:00] michaelmosmann commented on #433
@brenthaertlein this would be awesome .. :)