[2012-04-26 06:42] michaelmosmann opened #1 "Enabled Issues"

[2012-04-26 06:42] #1 closed, assigned to nobody

[2012-05-07 12:27] michaelmosmann opened #2 "Anpassungswünsche von Freunden"
- Mongoversion nicht als Enum (macht es schwer bei neuen oder Test-Versionen)
- LocalArtifactStore path  konfigurierbar

[2012-06-08 18:29] scottbessler opened #4 "Kills eclipse process when teardown doesnt happen successfully and setup happens a 2nd time."
If I run this setUp() code

[code]

twice, without running this tearDown() code in between:

[code]

it will kill the eclipse process.

This happens even in separate debug instances, so if I launch a test in debug mode and terminate the debug process before running tearDown() and then launch a new debug instance it will kill Eclipse when it runs setUp().

[2012-06-10 07:25] #4 closed, assigned to nobody

[2012-06-13 18:52] evijayan2 opened #6 "Shutdown issue"
Hi,

my application runs as scheduled, when the task starts it extract mongodb and do the process and stop the mongodb process, this will repeat.

after certain amount of time we are getting the below issue.

Jun 13, 2012 2:48:02 PM de.flapdoodle.embedmongo.MongodProcess stop
WARNING: try to stop mongod
pid = 71331

Wed Jun 13 14:48:02 got kill or ctrl c or hup signal 2 (Interrupt), will terminate

[2012-06-14 15:41] #6 closed, assigned to nobody

[2012-06-26 07:41] #2 closed, assigned to nobody

[2012-06-29 15:14] evijayan2 opened #7 "Logging the Mongodb output to logfiles"
Hi,

Can you help me to capture the consoleoutput to file.

[2012-06-30 23:27] #7 closed, assigned to nobody

[2012-07-14 21:53] joelittlejohn opened #8 "Support new MongoDB versions without requiring a new release"
It would be nice if the API could support any valid version of Mongo _without_ needing a new release and upgrade when new versions become available.

At the moment the API itself keeps a full, static list of supported versions which must be updated. Would it be possible to change this to simply try any version given and only reject the version number if the download produces a 404?

[2012-07-19 04:49] trajano opened #9 "Provide a way of turning off logging"

[2012-07-30 19:52] #8 closed, assigned to nobody

[2012-07-30 20:14] #9 closed, assigned to nobody

[2012-08-05 22:41] trajano opened #12 "Stopping MongoDB should not be a WARNING"
Stopping mongodb at the end of a test should be a normal event not a warning

Aug 05, 2012 6:39:56 PM de.flapdoodle.embedmongo.MongodProcess stop
WARNING: try to stop mongod

It should be at most INFO

[2012-08-06 07:31] trajano opened #13 "Provide a java.util.logging config"
Can a static version of the runtime config say RuntimeConfig.JAVA_UTIL_LOGGING_CONFIG be provided so I can eliminate the following code?

[code]

to

[code]

[2012-08-06 07:34] trajano opened #14 "Provide a MongodConfig that automatically detects a free port"
At the moment I do the following

[code]

Can it be changed so I can do something like

[code]

I am usually just listening on localhost for embedded testing anyway.

[2012-08-06 07:49] trajano opened #15 "Simplify testing harness"
Can the following be changed on the MongoProcess
1. add a getHost(),getPort() method to allow test methods to access the host port without having to expose it to a higher namespace.
2. add a newMongo() method that will create the Mongo object using the values of getHost() and getPort()

The first change should be present even if the second one is there in case the unit test involves using a driver

[2012-08-06 17:29] #14 closed, assigned to nobody

[2012-08-06 17:44] #13 closed, assigned to nobody

[2012-08-06 17:45] #12 closed, assigned to nobody

[2012-08-06 20:17] #15 closed, assigned to nobody

[2012-08-08 11:29] lexicalscope opened #18 "Ability to configure mongod command line"
at the moment (v1.17) it does not seem to be possible to configure the command line that mongod is started with. It would be very useful to me if it was possible to have full control over the mongod command line parameters.

[2012-08-08 17:36] eranation opened #19 "feature request: npm module?"
I know it's a little of a fantasy, and probably not possible (have no clue if you can have a non JS npm module...)
Would be nice to have an mpm module for in memory mongodb (or mongodb-ish) implementation
(good for cloud9 tests and playground needing mongodb)

[2012-08-09 17:06] #18 closed, assigned to michaelmosmann

[2012-08-10 06:09] #19 closed, assigned to michaelmosmann

[2012-08-14 21:39] joelittlejohn opened #20 "NullPointerException when custom databaseDir is specified"
embedmongo version: 1.19

It looks like there has been a regression here after the refactoring in `MongodProcess`. The `getCommandLine` method passes `dbDir` to `Mongod#getCommandLine`, however the `dbDir` field is not set if a custom database dir is being used, and this results in the following NullPointerException:

[code]

Based on how the old code operated, I guess that `dbDir` is intentionall

[2012-09-12 04:45] #20 closed, assigned to nobody

[2012-09-12 12:37] adutra opened #21 "Temporary Directory is not being removed at shutdown"
Hi Michael,

Temporary database dirs created by MongodProcess are not being deleted at shutdown.

This is due to an incorrect overriding of method onBeforeProcess(IRuntimeConfig). This method is called from the parent constructor (AbstractProcess) and sets the value of field dbDirIsTemp, but this value is then overridden by the the instance initializer in class MongodProcess (boolean dbDirIsTemp=f

[2012-09-12 14:24] adutra opened #22 "Race conditions between JobKillers"
Currently two shutdown hooks are registered when launching Embedmongo:
1. `de.flapdoodle.embed.process.runtime.AbstractProcess.JobKiller`
   1. Stops Mongod process
   2. Deletes temporary database dir
2. `de.flapdoodle.embed.process.runtime.Executable.JobKiller`
   1. Deletes executable file

This creates a race condition: if `Executable.JobKiller` is executed first, it will throw an `IOException

[2012-09-12 14:46] adutra opened #23 "Files.forceDelete(File) should not call FileUtils.forceDeleteOnExit(File)"
Currently `de.flapdoodle.embed.process.io.file.Files.forceDelete(File)` is calling `org.apache.commons.io.FileUtils.forceDeleteOnExit(File)`, which in turn calls `java.io.File.deleteOnExit()`.

This should be avoided. Reasons are:
1. `java.io.File.deleteOnExit()` creates a shutdown hook for every file to be deleted, which can be very dangerous, see [this thread](http://stackoverflow.com/questions/

[2012-09-12 18:26] #21 closed, assigned to nobody

[2012-09-16 23:41] elmarquez opened #24 "Please post build instructions in README.md"
Thanks for releasing EmbedMongo.

It would be helpful if you could post some basic instructions in the README.md describing requirements and steps for building a JAR.

I see scripts for both Gradle and Maven in the root directory. I've attempted to build the project with both and have encountered many errors in the build process. One hour of troubleshooting later, I finally got a JAR.  A few basic

[2012-09-19 23:00] #24 closed, assigned to nobody

[2012-09-27 15:24] GTExcalibur opened #25 "Add capability to pass bind_ip address"
Is there any to be able to bind to localhost to prevent Windows firewall from being shown.

[2012-09-28 03:36] iianev opened #26 "AbstractProcess.stopProcess() throws NPE if the process could not be created"
the private field "process" is initialized in the C-tor of AbstractProcess
if the call ProcessControl.start(supportConfig(), processBuilder) throws exception, the catch block indirectly invokes the final stopProcess(), which attempts to stop the process, which is still null at this stage.

The NPE hides the original IOException, wher it all began.

Need to check process for null, before calling pr

[2012-09-30 09:23] #22 closed, assigned to nobody

[2012-09-30 09:24] #23 closed, assigned to nobody

[2012-10-01 19:12] #26 closed, assigned to nobody

[2012-10-01 19:12] #25 closed, assigned to nobody

[2012-11-03 19:51] richardwilly98 opened #27 "Support for replica set"
I need to run unit tests using a Mongo replica set. It would be nice to have this feature.

[2012-11-04 11:27] #27 closed, assigned to nobody

[2012-11-04 11:30] richardwilly98 opened #29 "Shared the same EXE file between multiple instances"
I have few mongo instance running in the same replicaset. I have noticed that a new mongod exe is extracted for each of them.
Is it possible to share the same mongod exe?

[2012-11-05 08:42] richardwilly98 opened #30 "Support for 2008R2+ version"
Could you please include support for 2008R2+ version?

[2012-11-08 21:45] karthik313 opened #31 "Error during mongo db start on windows xp"
I am using 1.2.6 version.  I am getting the below error, while starting the mongo server.

My application is running on windowsXP.

Detect Distribution DONE
Check Distribution DONE
Extract C:\Documents and Settings\kcheruk.embedmongo\win32\mongodb-win32-i386-2.0.7.zip START
Extract C:\Documents and Settings\kcheruk.embedmongo\win32\mongodb-win32-i386-2.0.7.zip DONE
[mongod output]note: noprealloc

[2012-11-16 10:45] willemsst opened #34 "Race condition while starting new embedded Mongo instance"
On my build server, which is a slow virtual machine, I often have failing builds with the following stacktrace:
<code>java.io.IOException: Could not start mongod process
    at de.flapdoodle.embed.mongo.MongodProcess.onAfterProcessStart(MongodProcess.java:139)
    at de.flapdoodle.embed.process.runtime.AbstractProcess.<init>(AbstractProcess.java:75)
    at de.flapdoodle.embed.mongo.MongodProcess.<

[2012-11-20 09:26] #34 closed, assigned to nobody

[2012-11-21 23:17] michaelmosmann opened #35 "Solaris Support"
Is anyone interested in support for solaris platform?

[2012-12-02 21:19] michaelmosmann opened #36 "mongos refactoring"
@richardwilly98 i did some refactoring. Can you look at my changes if i did miss something? Can you test it, if its still working? Any comments welcome...

[2012-12-12 15:09] ghost opened #37 "Cannot run several JUnit4 style tests"
Using v1.27 along with JUnit 4.0 style with annotations.

Code for Before and After methods:

[code]

@Before

[code]

My JUnit test class contains 4 different test cases. Each of the tests succeeds when I run them one by one. When I try to run all 4 tests, the first will always succeed and the others will always fail, with the following exception:

de.flapdoodle.embed.process.exceptions.Distribut

[2012-12-17 19:44] #30 closed, assigned to michaelmosmann

[2012-12-17 19:47] #36 closed, assigned to richardwilly98

[2012-12-18 01:58] #31 closed, assigned to nobody

[2013-01-16 20:50] amitsk opened #38 "EmbeddedMongo builds failing behind a proxy"
Hi
I am trying to use EMbedMongo behind a proxy server. I am running a gradle build and the build fails because embed mongo connects to the Mongo download URL and we are behind the organization firewall. I tried adding a proxy server property to my gradle build and the build still fails.

Here is the error :

[code]

Is there a way to avoid the call?

I am using the version 1.2.8 fetched via the g

[2013-01-16 23:03] #38 closed, assigned to nobody

[2013-03-11 15:54] benson-basis opened #39 "Can I use a copy of Mongo sitting in a tarball?"
Apologies for opening an issue, but I don't see any indication of a google group or a mailing list or anything.

We already manage copies of MongoDB, so 'all' I need is to deal with starting and stopping, or perhaps unpacking, starting, and stopping. Is this supported?

If you had a wiki I'd be happy to write this up one I learn.

[2013-03-11 22:34] #37 closed, assigned to nobody

[2013-03-14 20:15] stephanos opened #40 "OSX Firewall"
Hi,

I didn't know where else to put this, so here it goes.

Every time I run a test on my OSX machine a popup comes up and asks if mongod is allowed "to accept incoming network connections".

I don't want to disable my firewall and I cannot add the executable to the list of accepted applications (since the location of the file is always in a new temporary directory - which I don't want to change

[2013-03-15 14:58] #39 closed, assigned to michaelmosmann

[2013-03-18 10:28] michaelmosmann opened #41 "update documentation.."

[2013-03-21 00:56] jirutka opened #42 "Spring Factory Bean for EmbedMongo"
Hi,

I’ve wrote simple Spring Factory Bean to simplify integration of EmbedMongo into projects based on the [Spring Framework](http://www.springsource.org/spring-framework). Moreover it builds EmbedMongo preconfigured for [Slf4j](http://www.slf4j.org/) (logging facade) so one can use any logging implementation.

If you like it, I’ll be glad if you mention it in your readme to help other Spring dev

[2013-03-22 09:57] stephanos opened #43 "Add MongoDB 2.4 to the supported versions"

[2013-03-22 19:55] #42 closed, assigned to nobody

[2013-03-22 20:15] #43 closed, assigned to nobody

[2013-03-27 21:38] #29 closed, assigned to michaelmosmann

[2013-03-27 21:42] #40 closed, assigned to michaelmosmann

[2013-03-27 23:55] #41 closed, assigned to michaelmosmann

[2013-03-28 19:27] benson-basis opened #44 "Suggestion: option to dump mongo on the way out"
When using this library for tests, I find myself, pretty frequently, wanted to know what was left in the DB when the test failed.

It would be somewhat delux, to that end to have an option to specify a pathname into which mongodump would be run before shutting down.

[2013-04-01 21:00] guruxu opened #45 "failed to shutdown"
I'm opening this based on the suggestion in the error log. Please note that we are only able to reproduce this on one machine consistently.
#

Stacktrace

java.lang.IllegalStateException: Couldn't kill mongod process!

---

Something bad happend. We couldn't kill mongod process, and tried a lot.
If you want this problem solved you can help us if you open a new issue.

Follow this link:
https://git

[2013-04-02 21:34] michaelmosmann opened #47 "Caught IOException when instantiating AbstractProcess"
refers to ticket in the old github project:

https://github.com/michaelmosmann/embedmongo.flapdoodle.de/issues/8

[2013-04-03 11:09] #47 closed, assigned to nobody

[2013-04-03 11:09] #45 closed, assigned to nobody

[2013-04-12 14:27] buckerooo opened #48 "throws NullPointerException when a data directory in MongoConfig is specified"
When creating a instance of MongoConfig an have a option to pass in a databaseDir but in the MongodProcess class onBeforeProcess method if a databaseDir has been specified this.dbDir never gets set and you end up getting a NullPointerException when  it tries to use it

[2013-04-16 10:29] #48 closed, assigned to nobody

[2013-05-23 07:43] spstorey opened #49 "de.flapdoodle.embed.process.runtime.Starter prepare from behind a proxy"
I've used the embeded-mongo-plugin successfully (whcih can be configured to download the mongo exe's from behind a proxy) and I now need to programatically startup mongo but I can't see how you can provide the proxy address and port ?

[2013-06-05 13:48] akkie opened #52 "Address family not supported by protocol"
I get the following exception when I run embedmongo on our build machine running Gentoo Linux.

[code]

Any idea what's going on here?

[2013-06-12 07:52] #52 closed, assigned to nobody

[2013-06-24 10:50] richardwilly98 opened #53 "Support for SSL"
Hi,

SSL is not available in the open source compiled version [1].

Do you see a way to support it?

[1] - http://docs.mongodb.org/manual/tutorial/configure-ssl/

[2013-06-25 10:20] choedl opened #54 "TempDir not set in examples"
If no tempDir ist set on ArtifactStoreBuilder, the following exception occurs:
RuntimeException: interface de.flapdoodle.embed.process.io.directories.IDirectory not set (AbstractEmbeddedBuilder.java:59)

This is missing in the examples in the readme. I'm using version 1.33.

[2013-06-25 12:23] choedl opened #55 "Examples in readme call method "defaults" on ArtifactStoreBuilder"
This method is not existing.
I'm using version 1.33

[2013-06-27 07:36] #54 closed, assigned to nobody

[2013-07-01 11:37] #55 closed, assigned to nobody

[2013-07-02 14:27] ghost opened #56 "Increase download read timeout"
Downloader read timeout is hardcoded to 10,000
On windows machines it presents issues not allowing it to finish the download properly.
I would like to increase this value to 20,000 or allow external configuration of it.

[2013-07-11 06:33] #53 closed, assigned to nobody

[2013-07-17 02:44] tedyoung opened #57 "Windows Firewall alert pops up"
Windows Firewall tries to block the "temp" mongod.exe when running. Is there a way to avoid this?

[2013-07-19 00:44] #57 closed, assigned to nobody

[2013-07-22 08:26] ghost opened #58 "update de.flapdoodle.embed.process dependency"
Please update to latest 1.28 (from 1.27)
It contain a bugfix for windows binary download.

[2013-07-24 14:26] #58 closed, assigned to nobody

[2013-07-24 14:28] #56 closed, assigned to matlockx

[2013-08-20 18:46] #44 closed, assigned to nobody

[2013-08-26 20:19] ubourdon opened #60 "réfrence to other embed.mongo wrapper/client"
Hi !
Like my friends athieriot, i make a Scala wrapper about your cool library.
If you want you can list it in your README file.

The lib : https://github.com/SimplyScala/scalatest-embedmongo

works with all the Scala tests framework.

Bye !

[2013-08-27 06:47] #60 closed, assigned to nobody

[2013-09-04 12:30] pkukawski opened #62 "Cannot start mongos and config server"
Hi,

I tried to run config server and mongos but I got the following error during start of mongos process:

Could not start process
java.io.IOException: Could not start process
    at de.flapdoodle.embed.mongo.AbstractMongoProcess.onAfterProcessStart(AbstractMongoProcess.java:66)
    at de.flapdoodle.embed.process.runtime.AbstractProcess.<init>(AbstractProcess.java:76)
    at de.flapdoodle.embed.m

[2013-09-09 08:44] leon opened #64 "Switch to use semver"
Use semantic versioning (http://semver.org/) it is what the community is using.

So instead of 1.36 it should be 1.3.6

It's a minor thing, but it makes it alot easier to use 1.3.\* or alike.

[2013-10-01 14:17] igreenfield opened #65 "support mongo exeutable"
Please add mongo to Command enum.
thanks/

[2013-10-06 21:24] #62 closed, assigned to michaelmosmann

[2013-10-08 10:49] igreenfield opened #67 "Move to slf4j API with log4j"
Could you move the code to use slf4j API and log4j instead of java.util.logging?
I can do that if you give me permission to commit changes.

[2013-10-23 17:42] #65 closed, assigned to michaelmosmann

[2013-11-13 21:40] jasonpolites opened #68 "Unable to run consecutive test suites due to error"
We have two Junit tests that each declare @BeforeClass and @AfterClass methods to setup and tear down the MongodExecutable instance, for example:

[code]

Running each of these tests separately works fine, but running in the same suite the second test to run fails and reports:

[code]

Followed by a broken pipe error from the code attempting to access the DB.

In the `@Before` method for each test

[2013-11-22 10:33] unclebobo opened #69 "Be able to restart mongod process with the same database"
I 'm testing scenarios when one of my shards is going down for a while, I would like to be able stop mongod process and then start it again using very same database (same
--dbpath )

[2013-11-28 03:36] btiernay opened #71 "Intermittent IllegalStateException on CI Server"
I've been getting intermittent issues like this for a while now, so I decided to make the next move here :)

[code]

[2014-01-07 14:16] unclebobo opened #72 "Disable logging to console"
I followed the steps recommended here https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/9 , I provided my own IProgressListener and redirected process output to file, but still it logs to console.

[2014-01-28 13:35] michaelmosmann opened #74 "mongod production like performance settings bcause of slow tests"

[2014-01-30 23:35] #74 closed, assigned to michaelmosmann

[2014-02-28 05:51] samyarbid opened #76 "MongoCmdOptionsBuilder syncDeplay typo"
I think you've got a typo here...Does syncDeplay() set the 'syncdelay' command line parameter?

[2014-02-28 05:57] samyarbid opened #77 "MongoCmdOptionsBuilder missing several command line options"
I need to be able to set a number of command line options including nojournal, noprealloc, and smallfiles. These are explicitly set in Mongod.getCommandLine().

[2014-02-28 20:07] #76 closed, assigned to nobody

[2014-03-02 00:09] #77 closed, assigned to nobody

[2014-03-02 03:20] RaviH opened #78 "GridFS support."
Hi,

I would like to know if there is any GridFS support? That is can I create a few file documents? Create them, delete them etc? Please let me know!

Thank you!

[2014-03-03 05:56] #78 closed, assigned to nobody

[2014-03-12 00:12] benson-basis opened #79 "Missing method from commons-compress"
java.lang.NoSuchMethodError: org.apache.commons.compress.archivers.tar.TarArchiveInputStream.canReadEntryData(Lorg/apache/commons/compress/archivers/ArchiveEntry;)Z
    at de.flapdoodle.embed.process.extract.AbstractTarExtractor$TarArchiveWrapper.canReadEntryData(AbstractTarExtractor.java:47)
    at de.flapdoodle.embed.process.extract.AbstractExtractor.extract(AbstractExtractor.java:58)
    at de.

[2014-03-12 23:01] #79 closed, assigned to nobody

[2014-03-17 23:05] tw1nk opened #81 "Add instructions for gradle users."
Because gradle is more hipster.

[2014-03-17 23:07] #81 closed, assigned to nobody

[2014-04-23 02:20] kdkeck opened #84 "TokuMX support"
I'd like to be able to use embedmongo to test against TokuMX distros:

https://github.com/Tokutek/mongo

For most applications TokuMX should be a drop-in replacement for vanilla MongoDB, but it would be really handy to be able to test that the same way you would test against multiple versions and platforms.

[2014-04-28 17:29] arussel opened #86 "version 2.6"
version 2.6 comes with some new features, including $max, it would be nice to test is with flapdoodle

[2014-04-29 07:39] #86 closed, assigned to nobody

[2014-04-29 07:41] #35 closed, assigned to nobody

[2014-05-09 23:49] evijayan2 opened #87 "can you enable the --dbpath param"
We like to use the same database for all run.

[2014-05-20 14:37] samiTab opened #88 "Operation on server localhost:64955 failed"
Hi all,

I am using embedmongo 1.43 and have a strange bug when launching a series of tests of my application.

All my tests extends the following class:

public abstract class InitTest{
    private static MongodExecutable mongodExecutable = null;
    private static MongodProcess _mongod = null;

[code]

}

maven build with success my project, but when executing the same under eclipse I have an :

[2014-05-21 16:34] rschlick opened #89 "question: problem with download distribution. How to manually setup the distribution archive location ?"
Hello,

When embed mongo try to download the distribution, I obtain a connection refused exception. I was try to put manually the mongodb archive file in $user_home/.embedmongo/linux/mongodb-linux-x86_64-2.4.10.tgz
But, embed mongo still try to download the distribution. My system is a linux 64bits.
Any idea ?

Thanks you !

java.net.ConnectException: Connection refused
    at java.net.PlainSocket

[2014-05-22 15:08] Fristi opened #90 "Question; Database server extraction cache?"
Hi,

Loving your embedded mongo server, great work. Is it possible to only 'cache' the extraction of the db server itself?

Each time I start a test I happen to see this hanging a few seconds;

`Extract /Users/mark/.embedmongo/osx/mongodb-osx-x86_64-2.6.0.tgz START`

Would be nice if that could be cached somehow

[2014-05-23 23:26] tedyoung opened #91 "Update version numbers to most recent releases"
The 2.6.1 production-ready and 2.7.0 development releases have been out for a few weeks.

[2014-05-24 06:31] #91 closed, assigned to nobody

[2014-05-28 08:21] #87 closed, assigned to nobody

[2014-05-28 09:59] #64 closed, assigned to nobody

[2014-05-29 10:34] alexsanzdev opened #93 "FreeBSD support?"
Our CI server (Bamboo) is running on FreeBSD so currently all ours tests using Flapdoodle Mongo are failing:

java.lang.IllegalArgumentException: Could not detect Platform: os.name=FreeBSD

I see there's already support for Linux and Solaris (recently). Any plans on adding support for FreeBSD? How much work would it take to implement it? Would the implementation require native libraries?

[2014-06-30 18:38] tedyoung opened #95 "1.46.0?"
There's no information in the changelog for 1.46.0. Also, why the change in versioning from 1.xx to 1.xx.0?

[2014-07-23 18:42] julienroubieu opened #96 "DistributionException "Not in GZIP format" with 1.46.0"
Hello,

I have an issue when trying to use 1.46.0 via Maven: the download and extraction fails with the following exception.
Everything works fine if I use 1.45 instead.
I'm trying to use: Version.Main.V2_6

Any idea about what is causing this?

[code]

[2014-08-25 03:34] n0mer opened #98 "please allow to inject IRuntimeConfig in MongodForTestsFactory"
Hello,
thanks for great product - it helps a lot. Please review the following suggestion.

When using windows, code in constructor

[code]

does not allow you to change `IRuntimeConfig` that is passed to `MongodStarter#getInstance(IRuntimeConfig cfg)` method to use `UserTempNaming` like this:

[code]

Tricky part here is that you should still somehow conform to this:

Moreover, it is impossible to

[2014-08-26 14:39] baev opened #99 "Add ability to create instance of MongodConfigBuilder without any exceptions."
I tried to create MongodConfigBuilder:

[code]

but it throws UnknownHostException at the following line (AbstractMongoConfigBuilder):

[code]

Seems like this default will be overwritten

PS. The error occurs at `Network.getFreeServerPort()` at `new Net()`.

[2014-08-27 07:01] #95 closed, assigned to nobody

[2014-08-27 07:02] #93 closed, assigned to nobody

[2014-08-27 07:04] #72 closed, assigned to nobody

[2014-08-27 07:06] #49 closed, assigned to nobody

[2014-08-27 07:07] #69 closed, assigned to michaelmosmann

[2014-08-27 07:08] #68 closed, assigned to nobody

[2014-09-29 15:00] sdavids opened #101 "Log entry for MongodConfigBuilder$ImmutableMongodConfig"
Hi,

I have the following log entries:

Sep 29, 2014 4:56:48 PM MongodExecutable start
INFO: de.flapdoodle.embed.mongo.config.MongodConfigBuilder$ImmutableMongodConfig@4671e53b

and I cannot turn them off.

I tried

[code]

all in vain.

[2014-10-29 12:10] #96 closed, assigned to nobody

[2014-10-30 16:28] ffazil opened #102 "Downloader stuck"
Added as a maven dependency and when running tests the downloader gets stuck. See logs below.
2014-10-30 21:10:41,130 INFO | main | de.flapdoodle.embed.process.store.Downloader | Download Version{2.4.5}:OS_X:B64 : starting...
2014-10-30 21:10:42,067 INFO | main | de.flapdoodle.embed.process.store.Downloader | Download Version{2.4.5}:OS_X:B64 : DownloadSize: 87558710

[2014-11-03 21:43] q42jaap opened #103 "My tests seemed to hang, but I was waiting on a Downloader.download"
I'm using play2 with specs2 as the test framework. Using jstack I got this stacktrace:

"pool-4-thread-2" prio=6 tid=0x000000002826f000 nid=0x1bc4 runnable [0x0000000029d7c000]
   java.lang.Thread.State: RUNNABLE
    at java.net.SocketInputStream.socketRead0(Native Method)
    at java.net.SocketInputStream.read(SocketInputStream.java:152)
    at java.net.SocketInputStream.read(SocketInputStream.ja

[2014-11-08 19:38] benmccann opened #105 "New release"
I'd love a new release now that the artifact caching bug is fixed (https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/commit/b7629d4a4a62caf86eec93e5df71dd119b2f4551)

Thanks!

[2014-11-17 21:22] #105 closed, assigned to nobody

[2014-11-21 16:00] samus42 opened #109 "Issue running embedmongo on a linux box"
When running the tests on the linux box, i see this issue:
java.io.IOException: File /home/NA1000APP-TPSDP/.embedmongo/linux/mongodb-linux-x86_64-2.2.6.tgz

This is the version I'm using
"de.flapdoodle.embed" % "de.flapdoodle.embed.mongo" % "1.46.4" % "test"

It looks like it's expecting a zip, and can't handle a tgz which automatically gets downloaded when it detects a Linux OS

[2014-11-24 16:34] gtrog opened #110 "MongoImportProcess shuts down Mongod on stop()"
I'm not sure if this is working as intended, but in trying to use this library programatically, I ran into an issue.  For our mongo tests, I would have an abstract base class with a static instance variables for the MongodStarter and MongoImportStarter and then @BeforeClass  and @AfterClass methods to set up and tear down MongodProcess.

In addition to this, the base class has utility methods that

[2015-01-10 00:03] michaelom commented on #68
The problem still persists with the current version (1.46.)
When executed as a single test (method) my test passes. When executed as a suite, the test fails.

A workaround for the problem was to disable the cache on the artifact store by setting de.flapdoodle.embed.process.store.ArtifactStoreBuilder#useCache(boolean) to false.

[2015-01-10 00:05] michaelom commented on #68
Here's my implementation for reference:

[code]

[2015-01-20 21:43] BrainCookie commented on #110
+1

I get the same behaviour running on OSX and I think it's a bug rather than an incorrect use of the `MongoImportProcess`.

[2015-02-19 09:54] mudlee opened #111 "Is mongorestore possible?"
If I have a directory produced by mongodump, is it possible to restore with embed mongo? In common I do this with mongo binary: mongorestore -d DATABASE DUMP_DIRECTORY

[2015-03-08 22:30] jirutka commented on #67
Slf4j serves as a simple facade or abstraction for various logging frameworks (e.g. java.util.logging, logback, log4j) allowing the end user to plug in the desired logging framework at _deployment_ time.

It’s a tiny JAR (31.4 kB) with no dependencies. How it can make harder for other people to integrate it? This is nonsense. Using JUL (java.util.logging) makes integration to other projects much h

[2015-03-08 23:29] michaelmosmann commented on #67
Beside this funny bashing: So do you want this change?

[2015-03-08 23:34] jirutka commented on #67
Yeah, of course, I wouldn’t have written it if not…

[2015-03-09 06:13] matlockx commented on #67
@jirutka May I ask you kindly for a pr?

[2015-03-09 06:17] matlockx commented on #67
It's not that Michael and I don't want to do it but we are both currently heavily involved in some projects and I don't know when we start writing on it so I was wondering whether it's possible for you to work on it?  We would be very grateful

[2015-03-09 15:39] jirutka commented on #67
@matlockx Sure, here it is: #113 and https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/pull/22.

[2015-03-10 07:06] #67 closed

[2015-03-10 19:56] luan-cestari opened #114 "Enable authentication configuration"
Hi,

I notice that in the current implementation, the MongoDB is hardcoded to start without the authentication mechanism ( https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/master/src/main/java/de/flapdoodle/embed/mongo/runtime/Mongod.java#L128   http://docs.mongodb.org/v2.2/reference/configuration-options/   ) . I Have some complex use cases that I need to test using this project i

[2015-03-10 20:15] matlockx commented on #114
Yeah, doing a fork and bringing up a pr is absolutely fine and totally appreciated :)

[2015-03-10 22:59] luan-cestari commented on #114
Done https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/pull/115

[2015-03-24 23:38] codecheetos opened #116 "FileUtils exception when shutting down flapdoodle embedded mongo"
Running my server with spring-boot. During integration-test, I run tests to upload zip files in gridfs. Works fine. But during shutdown (after all tests pass), get this annoying exception. Not sure what it tries to delete.

In my application code, I have commons-io:commons-io:1.1 dependency but this error might be coming from within embedded mongo and not my app. Suggestions?

eption in thread "Th

[2015-03-25 06:35] michaelmosmann commented on #116
It looks like a classpath problem...
On shutdown we delete all temporary files (db files, mongo exe) ...

[2015-03-28 21:16] codecheetos commented on #116
Couldn't resolve this yet. Does this happen when using gridfs Apis to
upload files or just using embedded mongo for cleanup of stored documents?

I exported commons-io as application's pom dependency but did not work.
Does the jar need to be in environment class path? What point in junits
lifecycle does embedded mongo clean up? Don't see this error during mvn
clean install. Only during mvn integra

[2015-03-29 09:40] michaelmosmann commented on #116
On test shutdown, embedded mongo tries to delete all temporary files mongodb left.

Your integration tests do not run on mvn clean install. You need this dependency in your module where the integration tests are located. You need this dependency only for tests, so the scope should be "test".

Can you show your pom.xml?

[2015-04-04 00:19] sfitts opened #119 "Mongo 3.x support"
It would be good to be updated to the 3.x release now that it is production.  I see that this is part of the changes in #117.  Are there plans to merge that?  If there are issues with the other changes made in the that PR perhaps the version update could be moved to a dedicated pull.  Any visibility into the plans here would be great.

[2015-04-04 05:39] matlockx commented on #119
just merged it. when @michaelmosmann agrees on it i will do a release in the next days.

[2015-04-04 06:08] sfitts commented on #119
Cool, thanks.

[2015-04-04 07:27] matlockx commented on #119
1.47.1 should be available now

[2015-04-04 07:27] #119 closed

[2015-04-09 15:30] gunnarmorling opened #120 "NoSuchFieldException on JDK 9"
When using the plug-in on JDK 9, I'm getting the following exception:

[code]

Not sure what's the best way to address this issue, but it'd be nice to be able to use the plug-in on JDK 9, too :)

[2015-04-09 15:36] michaelmosmann commented on #120
Hmm.. funny. It looks like a change some windows related code.. Processes.windowsProcessId() is a hack to get the processId. So we need some jdk9 related changes... will be fun:)

[2015-04-09 15:38] gunnarmorling commented on #120
Ah, I should mention that this is not on Windows, but on Fedora. IIUC, the code first tries the Unix-like approach, cannot obtain the pid there (probably due to some similar internal change), falls back to W32 and then finally fails with the exception above.

[2015-04-09 15:40] gunnarmorling commented on #120
Btw. the second answer to [this SO question](http://stackoverflow.com/questions/35842/how-can-a-java-program-get-its-own-process-id) looks quite promising IMO. Instead of relying on JDK-internal classes, it uses JNA to obtain the information via suitable native APIs. Might be worth giving a try.

[2015-04-09 15:45] michaelmosmann commented on #120
@proccessId: We need the processId of the mongo process, not out own..
@Fedora: Hmm.. funny.. so the code thinks, he runs on windows..
Can you give me some more information? env-vars? Because i guess the operating system..

[2015-04-09 15:46] michaelmosmann commented on #120
as you can see here: https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/master/src/main/java/de/flapdoodle/embed/process/distribution/Platform.java

[2015-04-09 17:16] gunnarmorling commented on #120
Seems like things will be much easier with JDK 9.

There is [JEP 102](http://openjdk.java.net/jeps/102) ("JEP 102: Process API Updates") which amongst others brings a new method `Process#getPid()`. So depending on the JDK in use, you could use either that new method or fall back to the current routine on earlier versions. The new method already exists and works as expected in the latest [EA build]

[2015-04-09 17:38] gunnarmorling commented on #120
I can't debug it on Fedora atm. but it is the same on Mac OS X with JDK 9. The process class is of type `java.lang.ProcessImpl`. Therefore `unixLikeProcessId()` returns null and the code then fails to determine the PID in `windowsProcessId()`. Subsequently, an NPE is raised in `AbstractProcess` when unboxing `process.getPid()` which returns null.

Thinking about it, if you invoke that method via r

[2015-04-09 18:15] michaelmosmann commented on #120
I am happy with any pull request:)

[2015-04-14 10:38] gunnarmorling commented on #120
I'm going to close this one, as the PR is merged and a new version of process and mongo has been released. Thanks a lot for the quick release!

[2015-04-14 10:38] #120 closed

[2015-04-21 12:09] dazraf opened #122 "Support for version 3.0 driver and API"
Hi,

Could you provide an implementation that works with Mongo Java driver 3.0.0 using the new API
(http://mongodb.github.io/mongo-java-driver/3.0/driver/getting-started/quick-tour/)?

thanks
Fuzz.

[2015-04-22 18:03] michaelmosmann commented on #122
Hmm.. we should change the mongo client dependency to scope test. So you can choose what you want..

[2015-04-22 18:10] dazraf commented on #122
Sounds good!

[2015-04-22 18:43] michaelmosmann commented on #122
released ..
in maven central tomorrow (or faster :) ...

[2015-04-22 18:51] dazraf commented on #122
Thank you!

[2015-04-23 10:49] dazraf commented on #122
Hi,
Thank you for the update.
Is it possible to point the runtime config to use a locally available version of mongod please?
Thanks.

[2015-04-23 11:44] dazraf opened #123 "Use of locally installed mongod"
Hi,

I commented about this on a separate issue. Thought it best to raise as a proper one.
Is it possible to point embed.mongo to directly use a locally installed instance of mongod - i.e. parameterised using a full path to the executable?
(There are just too many headaches with our local repositories and firewall to use the standard approach).

Many thanks
Fuzz.

[2015-04-23 13:25] michaelmosmann commented on #123
Ah.. understand.

Quickfix: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/89#issuecomment-66312790

[2015-04-23 13:27] michaelmosmann commented on #123
...or you can configure an alternative download location (behind your firewall) where you put all needed mongo-dist archives.

everything else will take much longer to implement..

[2015-04-23 14:00] dazraf commented on #123
Made it work like this :-)

[code]

[2015-04-23 14:06] michaelmosmann commented on #123
if it works once, it will work most of the time.. :) and the worst thing is a red test..

[2015-04-23 15:34] dazraf commented on #123
:-) in fact, if I terminate a test, restarting i get

[code]

[2015-04-27 05:21] matlockx commented on #122
#123 takes care of your question, so I close this

[2015-04-27 05:21] #122 closed

[2015-04-28 10:42] danielFesenmeyer opened #124 "OutOfMemoryError in LogWatchStreamProcessor when running many commands"
When running many commands (e.g. 100.000 inserts with the async Mongo Java driver), an OutOfMemoryError occurs:

Exception in thread "Thread-4" java.lang.OutOfMemoryError: Java heap space
at java.util.Arrays.copyOf(Unknown Source)
at java.lang.AbstractStringBuilder.expandCapacity(Unknown Source)
at java.lang.AbstractStringBuilder.ensureCapacityInternal(Unknown Source)
at java.lang.AbstractStringBu

[2015-04-28 10:45] michaelmosmann commented on #124
ah.. yes.. i think i know the cause..

[2015-05-06 00:57] scorpiodawg opened #125 "OSX Yosemite firewall prompt when even when using custom executable naming"
Hello

I'm using a custom IRuntimeConfig to start an embedded mongo instance as indicated in the tutorial (using executableNaming() for instance), on OSX Yosemite. My test runs through to completion, but every time a Mongo instance is started I get the OSX prompt about the firewall ("Do you want the application “extract-username-mongod” to accept incoming network connections?"). I'm not able to ad

[2015-05-06 00:59] scorpiodawg commented on #125
Sorry I meant Yosemite, not Mavericks

[2015-05-06 00:59] scorpiodawg commented on #125
Ack, sorry closed accidentally.

[2015-05-06 06:19] michaelmosmann commented on #125
Can you try this:
  https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#usage---custom-mongod-filename

[2015-05-06 09:13] LaughXP commented on #22
when I run my code in windows 7 ,it will happends this error.Ubuntu is not.

[2015-05-06 18:19] scorpiodawg commented on #125
That is precisely what I used, but kept seeing the popup. I just noticed that this went away overnight (weird?) -- it may be some sort of caching effect introduced by OS. Am closing this for now.

[2015-05-06 18:19] #125 closed

[2015-05-06 18:22] michaelmosmann commented on #125
Hmm.. weird..

[2015-05-21 14:44] lokeshtank commented on #37
Hi I am new to embed.mongodb. while try to setup junit test cases environment, I am getting following error .
I am using spring-data-mongodb: 1.6.1.RELEASE
de.flapdoodle.embed.mongo 1.47.3
org.springframework: 4.0.3.RELEASE

de.flapdoodle.embed.process.exceptions.DistributionException: java.io.IOException: Could not open inputStream for http://downloads.mongodb.org/win32/mongodb-win32-i386-3.0.2.z

[2015-05-22 06:39] lokeshtank opened #126 "UnknownHostException while downoading:downloads.mongodb.org"
While try to setup embed.mongo junit test cases environment, I am getting following error . I am using: spring-data-mongodb: 1.6.1.RELEASE de.flapdoodle.embed.mongo 1.47.3 org.springframework: 4.0.3.RELEASE

de.flapdoodle.embed.process.exceptions.DistributionException: java.io.IOException: Could not open inputStream for http://downloads.mongodb.org/win32/mongodb-win32-i386-3.0.2.zip Caused by: jav

[2015-05-22 06:56] michaelmosmann commented on #126
Hmm.. This Url works for me.. Is there any firewall or proxy?

[2015-05-22 06:59] michaelmosmann commented on #37
same issue as this one:  https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/126

[2015-05-22 07:00] lokeshtank commented on #126
Hi michaelmosmann  Thanks a lot for quick reply. Yes I have firewall and proxy, But I have configured proxy setting in my eclipse. But still same error :(.

[2015-05-22 07:02] michaelmosmann commented on #126
There a 2 problems:
1) Your code can not resolve "downloads.mongodb.org".
2) Our code thinks, that you are using a win32 platform.

for 1: can you try this with wget or curl?
for 2: can you give us the result of System.getProperty("os.name");

[2015-05-22 07:04] lokeshtank commented on #126
here is my code
package com.bosch.test;

import junit.framework.TestCase;

import org.junit.AfterClass;
import org.junit.Assert;
import org.junit.BeforeClass;
import org.junit.Test;
import org.junit.runner.RunWith;
import org.springframework.data.mongodb.core.MongoTemplate;
import org.springframework.test.context.ContextConfiguration;
import org.springframework.test.context.junit4.SpringJUnit4Clas

[2015-05-22 07:05] michaelmosmann commented on #126
Try this: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#customize-proxy-for-download

[2015-05-22 07:06] lokeshtank commented on #126
Thanks a lot I will try and let you.

[2015-05-29 10:14] mwisnicki opened #127 "Oplog access"
Having easy access to oplog in unit tests (using just `MongodForTestsFactory`) would greatly expand verification options. For example one might check whether there was any unexpected database modification.

[2015-06-04 08:44] mudlee commented on #111
Anybody?

[2015-06-04 11:11] michaelmosmann commented on #111
Hmm.. we could add this as a feature. I am not sure, if there is already an issue for this.

[2015-06-05 07:48] mudlee commented on #111
I've not found any other related issue. Anyway, I did it in another way: instead restoring a dump, I use a db directory with the replication setup. Almost good as restoring :)

[2015-06-06 18:24] vkozubal opened #128 "Update to the latest version of mongo-java-driver."
In order to use the latest version of mongo-java-driver on client side, update the version of mongo-java-driver to 3.x.

I am getting the following error when using 3.0.2

`java.lang.NoSuchMethodError: com.mongodb.DBRef.<init>(Lcom/mongodb/DB;Ljava/lang/String;Ljava/lang/Object;)V
	at org.springframework.data.mongodb.core.convert.DefaultDbRefResolver.createDbRef(DefaultDbRefResolver.java:104)
	at

[2015-06-11 08:50] ashishk-jain commented on #37
I am getting similar issue but there are no exceptions.
Even thought I have used mongexe.stop in teardown method.
Individual test passes but when I run all tests together 2nd test onwards fails.
Even If I have debugger in 2nd test, then those tests passes too.

Junit 4,
embed mongo version : 1.47.3/1.35/1.36
I have this code in teardown
    @After
    public void teardown() throws Exception {

[2015-06-11 08:51] ashishk-jain commented on #37
To be very specific first db query fails and all other db query passes.

[2015-06-11 22:05] philnate commented on #37
It's probably not solving the issue seen here, but it's at least going into the right direction of making your tests fast and properly cleaning up side effects. But why would you do something resource intense like start/stop of mongo do per test? Even per test class, this seems overkill to me. Can provide you with code to have this started only once for a suite/class/test depending on your scope.

[2015-06-12 04:24] ashishk-jain commented on #37
Thanks for your reply.

Yeah.. I need to do rationalize start/stop.

Share some the code you have something.

[2015-06-12 16:41] ferrarimarco commented on #116
Same issue here...
java.lang.NoClassDefFoundError: org/apache/commons/io/FileUtils
	at de.flapdoodle.embed.process.io.file.Files.forceDelete(Files.java:104)
	at de.flapdoodle.embed.process.store.ArtifactStore.removeFileSet(ArtifactStore.java:91)
	at de.flapdoodle.embed.process.store.CachingArtifactStore$FilesWithCounter.forceDelete(CachingArtifactStore.java:151)
	at de.flapdoodle.embed.process.sto

[2015-06-12 18:41] michaelmosmann commented on #116
..hmm ... .maybe a commons dependency version conflict...

Am 12. Juni 2015 18:41:25 MESZ, schrieb Marco Ferrari <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2015-06-14 07:05] matlockx commented on #126
can we close this?

[2015-06-14 07:06] matlockx commented on #114
i think it's done with #117

[2015-06-14 07:06] #114 closed

[2015-06-14 07:08] matlockx commented on #116
hi guys,

please provide you pom files, otherwise it's hard to figure out whether it might be a dependency version conflict or not.

thx

[2015-06-14 08:39] matlockx commented on #128
done with #131
You can use the new version 1.48.0 from maven central. Should be available in the next hours...

[2015-06-14 08:39] #128 closed

[2015-06-14 13:15] ferrarimarco commented on #116
Here you are, thx: https://github.com/ferrarimarco/is-web-app/blob/master/pom.xml

[2015-06-15 05:48] ashishk-jain opened #132 "Not able to Run multiple tests in one class in Mac OS machin"
This is similar to issue #37 but still phase issue with latest builds.

I am getting similar issue but there are no exceptions.
Even thought I have used mongexe.stop in teardown method.
Individual test passes but when I run all tests together 2nd test onwards fails.
Even If I have debugger in 2nd test, then those tests passes too.

Junit 4,
embed mongo version : 1.47.3/1.35/1.36
I have this code i

[2015-06-15 15:40] logicaleak commented on #116
I am having the same issue

[2015-06-16 19:26] #126 closed

[2015-06-18 05:28] freemo opened #133 "Misspelling in README.md"
It is spelled Organization not Organisation. It is misspelled in several places in the README.

[2015-06-18 08:41] matlockx commented on #133
As far as I know organisation is British English isn't it?  But I'm not a native speaker at all, so I'll have a look.

[2015-06-18 14:42] freemo commented on #133
Maybe, not sure. All I know is I looked up both varients on google, organisation had about 194,000 hits and Organization had like 1 billion or something. Also I had never seent he Organisation varient. But you may be right.

[2015-06-18 18:32] matlockx commented on #133
done with https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/commit/9b3f6c9150566b56c563e2261f0efaeba65debf7

[2015-06-18 18:32] #133 closed

[2015-06-30 19:30] tvaughan77 commented on #116
FWIW, I started having this issue too, after adding a dependency on dropwizard-guice to my pom.  I narrowed it down to one of these dependencies:

[code]

Then I realized I was using the old plugin version:
[code]

After upgrading to this, it started working again with my guice dependencies
[code]

[2015-07-10 10:32] someshj1 opened #134 "mongo v2.6.9 & v2.6.10 are not available"
I need to run a v2.6.10 mongo instance but the highest 2.6.x version which I can see is 2.6.8. I want to know if there are plans to enable mongo version 2.6.10??

[2015-07-10 10:44] michaelmosmann commented on #134
Am 10.07.2015 um 12:32 schrieb someshj1:

yes..

[2015-07-10 11:40] someshj1 commented on #134
Thanks for the update. By when I can expect it to be released?

[2015-07-10 11:51] michaelmosmann commented on #134
Am 10.07.2015 um 13:40 schrieb someshj1:

did the release in the last minutes.. but you may have to wait some
hours (up to 24) to see it in maven central..

michael:)

[2015-07-10 12:02] someshj1 commented on #134
That was pretty fast :+1: . Thanks a ton.

[2015-07-10 20:05] julien-may commented on #123
I just created a PR (https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/pull/30) that includes a new ArtifactStore to define the location of an extracted Artifact. So it is actually possible to refer to an already installed version of mongodb.

[2015-07-27 06:54] someshj1 commented on #134
Version 1.48.1 is still not available in maven repo.

[2015-07-27 07:36] michaelmosmann commented on #134
hmm.. damn.. i know.. I did forget the sonatype nexus stuff.. .
I will do this again in the evening.

[2015-07-27 19:23] michaelmosmann commented on #134
.. there should be 1.48.2 in maven central in some hours. (this time i did this sonatype nexus stuff :)

[2015-07-27 19:23] #134 closed

[2015-07-28 08:10] someshj1 commented on #134
I can see 1.48.2 in the repo. Thanks :+1:

[2015-08-12 04:35] sylvain-charton commented on #123
+1 to the PR. please review it.

[2015-08-12 06:46] michaelmosmann commented on #123
Did a merge ..
need some time to make releases..

[2015-08-18 09:30] michaelmosmann commented on #123
Did some refactoring.. Have a look at: https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/master/src/main/java/de/flapdoodle/embed/process/store/StaticArtifactStoreBuilder.java

[2015-08-18 09:30] #123 closed

[2015-08-18 09:31] #109 closed

[2015-08-18 09:32] michaelmosmann commented on #102
Is there any issue left here?

[2015-08-18 20:26] dazraf commented on #123
This looks very good. Will give it a go this week. The solution we use right now works well for setting up MDB for our local integration tests. It's been fairly solid. Issues are: a fair bit of custom code that only i understand; and a bug where the temporary artifices and logs remain after the test is run. Anyhow, will feed back here any results. Thanks again.

[2015-09-24 13:39] ananth1 opened #135 "On windows 7, windows server 2008 version getting installed"
Following method returns true in Paths.java for windows 7 which in turn installs windows server plus version on windows 7.
protected boolean useWindows2008PlusVersion() {
        // Windows Server 2008 R2  or Windows 7
        String osName = System.getProperty("os.name");
        if (osName.contains("Windows Server 2008 R2")) return true;
        return osName.contains("Windows 7");
    }

[2015-09-24 13:59] michaelmosmann commented on #135
Hmm.. can you tell me which version we should use then?

[2015-09-24 14:13] ananth1 commented on #135
2008 plus version is marked as legacy version in mongo download page with .
 Other one is https://fastdl.mongodb.org/src/mongodb-src-r3.0.5.zip . I thought we are supposed to use this. Correct me if I am wrong.

[2015-09-24 14:23] michaelmosmann commented on #135
Currently i can not extract files from an msi-archive .. thats why we are using the the legacy version, which come with an zip-archive .. not sure, what legacy means.

Your download url points to an source archive..

[2015-09-24 14:29] ananth1 commented on #135
makes sense.. Thanks for explanation.

[2015-09-24 14:33] ananth1 commented on #135
I changed the url to this https://fastdl.mongodb.org/win32/mongodb-win32-x86_64-3.0.6.zip and there seems to be non legacy binary. But it is not documented in there. I changed the url by looking legacy pattern.

[2015-09-24 14:40] michaelmosmann commented on #135
We can try this change..

[2015-11-02 17:58] tvaughan77 commented on #116
Follow up for anyone out on the internet who experiences this issue:  my previous answer about "just upgrading" is wrong;  the underlying cause was a guice misconfiguration within a server that was being IntTested with the embedded mongo!

If you get a failure related to class-not-found-exception, make sure your server is wired up correctly!

[2015-11-16 18:05] patoi opened #137 "Web page may be obsolete - http://flapdoodle-oss.github.io/de.flapdoodle.embed.mongo"

[2015-11-19 12:39] vladimir-belous commented on #71
@michaelmosmann I've faced same issue on Teamcity
@mudlee thanks for the workaround.

[2015-11-19 15:42] michaelmosmann commented on #71
.. i should write a check.

[2015-11-23 15:59] aveuiller opened #138 "Mongo process randomly fail to start"
Hello, I use your library to run integration tests on a project based on the Play Framework.
To do so, I provide a Scope, starting a mongodb server on a free port, a new mongodb server is created between each test.

This worked well, but since I added a few tests (I went from 50 to 80) it happens that the mongo server does not start, throwing this exception:

[code]

Of course this port isn't used

[2015-11-23 16:09] michaelmosmann commented on #138
Do you use Windows or MacOS? I guess, that the shutdown command will not reach the mongod server each time or the server needs to much time to shutdown so the port is still in use.

Can you provide more logging information?

[2015-11-25 08:51] aveuiller commented on #138
I'm using linux (ubuntu 15.04) when I get the error, it is to be noted that on a Mac OS (el capitan) the error doesn't seem to happen.

I have the following logs right before the previous stacktrace:

    [EMBED.MONGO output]note: noprealloc may hurt performance in many applications
    [EMBED.MONGO output] 2015-11-25T09:31:50.743+0100 E NETWORK  [initandlisten] listen(): bind() failed errno:98 Ad

[2015-12-15 07:53] grundid opened #141 "Embedded Mongo shuts down the real mongod process"
When I execute the test suite with embedded mongo on a machine with an already running (real) mongod process, this process is also shut down when the tests finish.

I tried changing the name of the embedded mongo process but without help.

[2015-12-15 08:38] michaelmosmann commented on #141
can you shutdown your installed mongo and start the test again? IMHO the test should fail now. Can you provide some sample code? which port do you use?

[2015-12-15 10:21] grundid commented on #141
When I shutdown the installed mongo the tests do not fail. But I just realized that my old config with Spring Boot was still active, so the test would always use the embedded mongo and the installed mongo (if available). After the tests finish all connected mongo servers have been shut down.

I'm not sure if it is possible to find out the right (=embedded) mongo instance when shutting down.

[2015-12-15 10:38] michaelmosmann commented on #141
Hmm.. it should shutdown the instance with the right port.. I must write a test for this..

Can you provide some code from your test setup?

[2015-12-15 13:44] grundid commented on #141
Well, Spring Boot does most of the stuff automatically. I still don't understand all the implications.
http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-mongodb

[2015-12-15 14:04] michaelmosmann commented on #141
My guess: change the port to something other then the default port... try your test again. It should work and should not shutdown other mongod instances.

I will write a test to check an idea of what's gone wrong..

If you can provide some kind of log or stacktraces.. spring.io is using our project, so i am not sure if we can solve the problem on our side.

[2015-12-16 17:19] a1russell opened #142 "Cannot run on NixOS"
I'm on NixOS 15.09 stable, and trying to use this in one of my apps, I get this stacktrace:

[code]

The file does exist:

[code]

This is the source of the MongoDB package on NixOS: https://github.com/NixOS/nixpkgs/blob/release-15.09/pkgs/servers/nosql/mongodb/default.nix

So it seems like on my OS things need to be built from source.

Is there any way to get this library to work with a system th

[2015-12-16 21:14] michaelmosmann commented on #142
Hmm.. not sure..
can you execute the file?

is there any selinux enabled?

[2015-12-16 21:56] a1russell commented on #142
No to both questions, unfortunately. I imagine it's just because NixOS is weird and doesn't put anything where it might be on other distros, causing a dynamically linked executable to probably not be able to find what it needs.

I mean, I do have mongo installed on my own machine, and it works fine, but it's via the Nix package manager.

This library works fine and is helpful on other machines, bu

[2015-12-17 07:13] michaelmosmann commented on #142
IMHO you can do that.. i should have a look..
.. strange exception by the way..

maybe i should have a look into nixos to solve this..

[2015-12-17 13:27] a1russell commented on #142
@michaelmosmann That would be great! I'd be glad to try and answer any questions that you end up with, as well.

[2015-12-17 13:39] michaelmosmann commented on #142
it will take a little... today is star wars.. :)

[2015-12-17 13:49] a1russell commented on #142
@michaelmosmann I hear you. No spoilers, please! I won't see it until Christmas. ;-)

[2015-12-17 13:54] michaelmosmann commented on #142
@a1russell  .. not from me:) ..

[2015-12-21 08:20] ogr3 commented on #141
Any relation to pr #136 ?

I also experience that flapdoodle shutsdown the running mongod.

[2016-01-05 15:03] jmlrt commented on #71
Hi!

I've had the same problems in Debian Jessie after the last kernel upgrade.
I encountered the problem inside a docker container running on 2 different Debian Jessie servers but I think that it can be reproduced without docker has it seems related to the kernel which is shared between debian host and the guest container.

 * Initial State: Everything is OK
   * Debian Kernel: `Linux docker-1 3.

[2016-01-10 08:51] michaelmosmann opened #147 "Supported MongoDB Versions"
We have a test which triggers the download for each supported mongodb version. Currently the local cache directory is as big as 8GB. So we would like to remove support for some older versions.

So which versions should stay?

[2016-01-10 08:53] #147 closed

[2016-02-10 09:41] edethoor opened #148 "Customize Proxy for Download"
Hello,

In the [Readme.md](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#customize-proxy-for-download), to customize the proxy for download, you recommend to use the `download(AbstractBuilder<IDownloadConfig> downloadConfigBuilder)` but this method has been [deprecated](https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/commit/c5ad3d077d8e805066ae01f642d40516bbc58f82#commi

[2016-02-10 09:59] edethoor commented on #148
Ok we must use the `build()` method on the `DownloadConfigBuilder()`.

[2016-02-10 09:59] #148 closed

[2016-02-12 21:16] codethala opened #149 "Failed to execute goal com.github.joelittlejohn.embedmongo:embedmongo-maven-plugin:0.3.4:stop (stop)"
Waiting for Jenkins to finish collecting data
[ERROR] Failed to execute goal com.github.joelittlejohn.embedmongo:embedmongo-maven-plugin:0.3.4:stop (stop) on project eql-service: Execution stop of goal com.github.joelittlejohn.embedmongo:embedmongo-maven-plugin:0.3.4:stop failed: Couldn't kill mongod process!
[ERROR]
[ERROR] ----------------------------------------------------
[ERROR] Something ba

[2016-03-09 13:43] paul-lysak commented on #68
Thanks, @michaelom - disabling the cache helped me as well.

[2016-03-15 09:22] AnilRahul commented on #49
Hello Michael,

When i try to customize proxy for downloading mongo db as shown in the above link.
The method download(AbstractBuilder<IDownloadConfig>) from the type ArtifactStoreBuilder is deprecated in the version - 1.50.2.

Can you please suggest me how can i customize the proxy.

[2016-03-15 21:20] matlockx commented on #49
Copy from readme:

[code]

[2016-03-21 16:22] a1russell commented on #142
Any luck on this? I'm working on another project that's using this lib, and I can't run it.

[2016-03-21 17:48] michaelmosmann commented on #142
Not so far... I will try again in the next days... :)

[2016-03-21 20:54] a1russell commented on #142
Thanks! Again I'll be glad to answer any questions.

[2016-03-23 13:09] emmanuelperu opened #151 "Set authenticated HttpProxy"
We can configure Customize Proxy for Download, but we can not set user and password for this proxy.
Can we have an evolution for this ?

[2016-03-24 12:56] eikek commented on #142
Hi,
I'm running into the same problem. The problem with prebuild binaries on nixos is indeed that the dynamic linked libs cannot be found. Nixos does not have a /lib or /lib64, for example.

For me also, it would be just great if I could define the executable from my system to be used. I could not figure out how to do this.

[2016-03-25 06:43] vpavic opened #152 "Embedded MongoDB fails to shutdown gracefully in Spring Boot webapp"
Originally reported as spring-projects/spring-boot#5487.

The problem can be reproduced using Spring Boot's [`spring-boot-sample-data-mongodb`](https://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-data-mongodb) app, changing it to a web application using the following patch:

[code]

Shutting down the app generates the following output:

[code]

This ha

[2016-03-31 11:15] slanglois commented on #142
(In case you stumbed upon this issue because you get this error message, but are not on NixOS, chances are the download of MongoDB failed for some reason. Just delete your ```~/.embedmongo```. HTH! :-)

[2016-04-05 12:37] eikek commented on #142
I'm on NixOS, but thanks anyways! I now symlinked my systems mongod executable into the `~/.embedmongo/extracted/Linux-*/` directory. This is not nice but works and is sufficient for me :-)

[2016-04-27 08:55] albertmatyi commented on #152
I noticed a similar issue but in my case the problem was that by a failure I've defined an alternative `Mongo` bean via an implementation of `AbstractMongoConfiguration` so there were two Beans managing the same in memory instance.
In my case that is what caused the problem. As soon as I removed the second bean (configuration class) the problem disappeared. Just an idea

Cheers,
m

[2016-05-09 13:16] craigb78 opened #155 "mongod --repair"
Hi,
We're using de.flapdoodle.embed.mongo to start up and shutdown mongod in our app.
A problem we're having is that if we have a forced shutdown  (eg kill -9) the mongod lock file is still on disk and we can't restart.

Is it possible to run mongod --repair using flapdoodle? I can't find an option in MongoCmdOptionsBuilder. Or is there a better way to do this?

Craig

[2016-05-09 14:23] gauravic08 opened #156 "Aggregation filter not working"
Hi,
Aggregation filter is throwing below exception:
Command failed with error 15999: 'exception: invalid operator '$filter''

Aggregation pipleline that i am using :
{'$project': {'data':1, plb':{$filter:{'input':'$plb', 'as': 'pl', 'cond': {'$eq':['$$pl',false]}}}}}

[2016-05-09 15:56] sudoku007 opened #157 "Mongo stop fails randomly when running on travis"
Hi,

We are noticing below random errors on Travis where it tries to stop mongo but fails with this error.

The Travis build seems to be running on *_Linux Docker *_container  :  Using worker: worker-linux-docker-d1986829.prod.travis-ci.org:travis-linux-13

We are using version : **1.50.3** and from **Scala Play framework.**

Any help on why this is happening or how to fix this would be much appre

[2016-05-11 13:28] markokristian opened #159 "Unable to use '--archive' with mongorestore"
In MongoRestore.java this happens on line 61:
[code]
This will ignore the fact that the mongorestore argument for 'archive' should be
`mongorestore --archive=[anArchive]`

and not
`mongorestore --archive [anArchive]`

causing the restore not to happen at all when using this flag.

[2016-05-12 16:33] #159 closed

[2016-05-18 15:24] ekimskcor opened #161 "MongoDump and MongoRestore cannot accept credentials."
Both:
de.flapdoodle.embed.mongo.runtime.MongoDump
and:
de.flapdoodle.embed.mongo.runtime.MongoRestore

cannot accept username/password or authentication db arguments.

[2016-05-18 15:40] #161 closed

[2016-05-18 15:41] ekimskcor commented on #161
Sorry, still figuring this out...

[2016-05-24 21:27] saiimons opened #162 "Mongo fails to stop when using a custom net config in unit tests"
I am using the library in unit and integration tests, and it is failing to stop when I use a custom configuration (I am trying to specify a custom port when running my tests).

In my **@BeforeClass** I do :

[code]

Then in my **@AfterClass** :

[code]

This last line fails when I set up a custom port, but works if I don't.

[2016-06-02 23:51] nitinkcv opened #163 "Unable to run on my Mac"
I'm trying to use this for running my tests using TestNG , however i get the below error:

[code]

Strangely when i put my breakpoint at ProcessControl.java to stall the execution, i'm able to see the file /var/folders/nw/47w5135n12g_byfr74qd19xm2zd5_3/T/extract-49db7d54-e7c2-4e01-8954-93830b503d47extractmongod in terminal.

I'm not sure whats happening.  I'm using the 1.50.5 version.

[2016-06-03 04:42] matlockx commented on #163
Can you create a gist of your test? I mean not the complete file but how you set up the mongo part?

[2016-06-03 06:31] nitinkcv commented on #163
I've created the gists @ [MongoTest.java](https://gist.github.com/nitinkcv/ebfe13bfb3f5a9f1b43173ba7e4c4c82) and [MongoConfig.java](https://gist.github.com/nitinkcv/0a5c70a4597bd3f2258f47fcffd13d11)

Let me know if you need more information.

[2016-06-03 19:41] nitinkcv commented on #163
@matlockx This also fails if i use it via sprint boot. All i did for that was add the pom dependency:

[code]

and add the following TestConfig:

[code]

Gives me the same error:

[code]

[2016-06-03 20:04] michaelmosmann commented on #163
Afaik spring-boot contains this project already... so try to remove this dependency and see if it will work with the version provided by spring-boot...

Am 3. Juni 2016 21:41:24 MESZ, schrieb nitinkcv <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2016-06-20 23:48] wongelz commented on #157
We started seeing this after upgrading from 1.48.2 to 1.50.5, so rolled back to 1.48.2 for now.

[2016-06-21 05:40] michaelmosmann commented on #157
I will have a look..

[2016-06-21 05:54] michaelmosmann commented on #157
Can you provide some more log-output?

[2016-06-21 06:09] wongelz commented on #157
I'm seeing the same log output. Looks like the same issue as #162

[2016-06-21 06:12] michaelmosmann commented on #157
I need some log before this stacktrace ..

[2016-06-21 06:13] michaelmosmann commented on #162
How do you know this port is free?

[2016-06-21 06:15] michaelmosmann commented on #157
Do you provide a custom port? I would guess that the process could not be started because the port is already used. So this exception is somewhat misleading.

[2016-06-21 06:15] michaelmosmann commented on #162
I would guess that the process could not be started because the port is already used. So this exception is somewhat misleading.

[2016-06-21 07:07] bence-takacs opened #164 "Mongod does not cleanup"
Mongod does not cleanup extracted files after use.

The user.temp directory (c:\Users\...\AppData\Local\Temp\) is full with files like:
embedmongo-download-22057811-4f9d-4b54-a874-0af34340d33f.ZIP and extract-0040ced1-d389-4984-b1f3-811c0c95ffdamongod.exe .

Additionally every second start throws the following exception:

For me that means that the process is still running also.

Machine:
Windows

[2016-06-21 07:38] wongelz commented on #157
The log before this stacktrace is my own code. Yes, I am providing a custom port. Just added a catch for the IllegalStateException with some logging, I can see the server process has a processId and isProcessRunning returns true.

[2016-06-21 13:16] bence-takacs commented on #164
An explicit call of 'mongodExe.stop();' resolved the issue

[code]

The popup still persist. May I open a new issue for that?

[2016-06-21 13:16] #164 closed

[2016-06-21 13:34] bence-takacs opened #165 "Windows popup still appears even with 'executableNaming'"
Using the configuration below the Windows firewall alert popup still appears upon every mongod start:

Spring Boot configuration:

[code]

Machine:  Windows 7

Version:
de.flapdoodle.embed.mongo:1.50.5
springBootVersion = 1.3.0.RELEASE
mongo.db.version=2.6.11

[2016-06-22 05:52] michaelmosmann commented on #165
You have to tell your windows firewall one time, that this behavior is ok. It should be the same executable next time, so windows should already know that this is ok.

[2016-06-22 05:54] #110 closed

[2016-06-22 05:57] michaelmosmann commented on #163
Does this problem still exists?

[2016-06-22 05:58] michaelmosmann commented on #162
Are there multiple tests running parallel?

[2016-06-22 06:01] michaelmosmann commented on #157
Do you use spring boot? It is the only test using mongo?

[2016-06-22 06:02] michaelmosmann commented on #155
On which platform you are running this?

[2016-06-22 06:03] michaelmosmann commented on #152
Is this still an issue?

[2016-06-22 09:29] craigb78 commented on #155
It's no longer an issue for us since we're not using mongo anymore. Thanks

[2016-06-22 09:29] #155 closed

[2016-06-22 09:57] albertmatyi commented on #152
No, my issue was that my integration tests were not reusing the Spring context, and the contexts was cached thus the Embedded MongoDB was never shut down, and a new one for a new context could not be started.

[2016-06-22 10:41] vpavic commented on #152
@michaelmosmann Yes, the problem is still present. It was originally reported against ```1.50.2``` however I've just checked against ```1.50.5``` and situation is the same.

Steps to reproduce:

[code]

After the app has been started, SIGINT (Ctrl+C) to stop it generates the stacktrace from the original comment.

[2016-06-23 09:32] bence-takacs commented on #165
I was kept allowing on every startup!
And still this kind of files were generated:
extract-e9719754-d79f-4865-bc12-b921050312d2extractmongo

But now I realized what was missing:
[code]

[2016-06-23 09:32] #165 closed

[2016-06-23 23:15] saiimons commented on #162
I worked a bit my tests and it seems that I may have made a mistake, because it is working now.
Also switched from 1.50.2 to 1.50.5

[2016-07-21 11:53] nunomrc commented on #132
I am seeing the same issue here.
I do have an exception, though:
[code]

But when I check the file on the command line, it doesn't exist.

Any help?

[2016-08-16 12:25] mudlee opened #166 "Extremely slow with 3.2"
We used to use 1.50.0 Embedmongo from maven, and Version.Main.V3_0.
We needed to upgrade MongoDb version 3.2, so I updated the embedmongo version to 1.50.5 and set up the version to Version.Main.V3_2.

Now, our tests are extremely slow, min 30 times slower than before. If I use 1.50.5 with Version.Main.V3_0, everything OK, the problem is only with V3_2.

BTW, I tried to run all tests with V3_1, bu

[2016-08-17 22:31] kajsa opened #167 "java.io.IOException: Could not start process: <EOF>"
I'm only seeing this error on our CI machine, a SLES 10.2 box (kernel version 2.6.16.60-0.21-smp). I get the error both running through Jenkins and from a workspace I cloned on that machine to try to debug. The same code runs fine on my Mac, my co-workers Mac, and elsewhere on a OLE 6.3.1 box (kernel version 2.6.32-279.11.1.el6.x86_64). Here's the exception:

[code]

This is a Spring Boot applicat

[2016-08-23 15:10] mike-houghton commented on #166
Yes! We have done just what you have described and our tests are very slow.  20-40 times slower.

[2016-08-25 05:35] anyway1021 opened #168 "Cannot stop mongod process gracefully."
Error Message

Couldn't kill mongod process!  ---------------------------------------------------- Something bad happend. We couldn't kill mongod process, and tried a lot. If you want this problem solved you can help us if you open a new issue.  Follow this link: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues  Thank you:) ----------------------------------------------------
Sta

[2016-08-25 05:43] anyway1021 commented on #168
Made a simple debug, and found in de.flapdoodle.embed.process.runtime.ProcessControl.stopOrDestroyProcess(), line 119~142, while the returnCode remains null all the way, the process should be destroyed anyway by calling implementation of Process.destroy() method.

However, in such situation, the stopOrDestroyProcess() neither renders the destroy() state, nor does it return a value that could indic

[2016-08-29 15:55] vladimirdolzhenko opened #169 "add support for the latest version"
We're experimenting with some latest builds and new functionality of Mongo - e.g. http://downloads.mongodb.org/win32/mongodb-win32-x86_64-2008plus-latest.zip - and like to have ability to specify version like LATEST (or EXPERIMENTAL) that will point to the latest build.

[2016-09-01 12:00] trangvh opened #170 "Upgrade to mongo-java-driver 3.3.0"
It should be upgraded to use the latest mongo-java-driver version, namely 3.3.0.

[This commit](https://github.com/mongodb/mongo-java-driver/commit/d12a26) adds a new codec to MongoClient.

[2016-09-08 16:12] tryIO commented on #163
I faced the same problem on a Mac of a customer of mine, it was due to a JRE update. I compiled my Spring Boot application with JDK1.8u51 and it worked fine, then I executed with a JRE1.8u91 and it crashed badly because of <code>java.io.IOException: error=2, No such file or directory</code> (the same of above in other words). Just for the sake of curiosity I downloaded the last update for Mac of J

[2016-09-16 12:58] manishpatelUK opened #171 "mongodb fails to delete a temporary file"
Using maven dependency:

[code]

Within Intellij, if I debug a test and shut the test down prematurely (e.g. at a breakpoint) the temporary file that embedded mongo creates does not get deleted (I guess the shutdown hook never runs):

[code]

Additionally, after installing BitDefender, this seems to happen even if I run a whole run without pausing and killing prematurely. I get the message at the

[2016-09-20 09:24] poznachowski commented on #163
I had the same problem with [Jenkins 2.7.4](https://hub.docker.com/r/library/jenkins/tags/) working on alpine-linux docker image. It had:
[**Java version: 1.8.0_92-internal, vendor: Oracle Corporation**]

When switching to normal (not alpine) version it works properly:
[**Java version: 1.8.0_102, vendor: Oracle Corporation**]

It seems that Java version is a potential cause here.

[2016-09-29 11:45] cmoetzing opened #172 "Race conditions between JobKillers for shutdown"
When I use embed.mongo I always get errors when shutting down the embedded db. This only occurs on windows (see linux.txt vs. windows.txt).
[windows.txt](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/files/500479/windows.txt)
[linux.txt](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/files/500470/linux.txt)

Looking into the code I found following structure:
MongodProces

[2016-10-06 15:23] cmoetzing commented on #172
Added https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/pull/46 as 	basis for discussion.

[2016-10-07 11:13] SemenMartynov opened #173 "Bugs in MongoDumpExecutableTest and testStartMongoRestore"
Hi!!

I use current commit -- 0909e54b0486de4e37bd14b1cac5e5dc6c14b97f
(Win10, 8 GB RAM, Eclipse  Neon 4.6.1, Gradle 2.4)

<pre>
:compileJavaNote: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: C:\Users\user\Downloads\de.flapdoodle.embed.mongo-master\src\main\java\de\flapdoodle\embed\mongo\config\MongoShellConfigBuilder.java uses unche

[2016-10-17 13:11] yogeshlonkar commented on #171
Faced same issue, following is a work around that can be used. This should be executed before start of embedded mongo db

        String tempFile = System.getenv("temp") + File.separator + "extract-" + System.getenv("USERNAME") + "-extractmongod";
        String executable;
        if (System.getenv("OS").contains("Windows")) {
            executable = tempFile + ".exe";
        } else {

[2016-10-17 13:38] manishpatelUK commented on #171
@yogeshlonkar you're a legend, thanks.

[2016-10-19 10:28] poznachowski opened #174 "IOException: Cannot run program "": error=13, Permission denied"
I recently had issue with mentioned exception:

[code]

As I commented [here](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/163#issuecomment-248249887), I thought it's Java version issue.
Unfortunately the issue came back - at least in the  dockerized Jenkins 2.7.4. I never had such problems @ localhost.
The application I'm using embed.mongo for is a custom spring-boot starter

[2016-11-06 05:18] bjornharvold commented on #168
+1

[2016-11-07 11:51] hackeys commented on #126
I am also seeing same error .
I could get it downloaded when used with wget . My maven in configured to run with proxy even then i see this error.

[2016-11-12 16:01] firatkucuk commented on #167
Same here,
I use default spring boot configuration on my server. But it throws IoException.
Strange but it works on desktop.

[2016-11-13 15:19] jeffreyji666 opened #176 "Address already in use, but it is not used."
I use flapdoodle.embde.mongo  1.50.5 version in Mac os,  when try to build the project, the following error happens:

Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'databaseConfiguration': Unsatisfied dependency expressed through field 'mongo'; nested exception is org.springframework.beans.factory.BeanCreationException: Error creating be

[2016-11-18 08:11] shane51 commented on #176
I have the similar issues when I `gradle build` my project. More interest thing is that I already set mongodb port to 27018, but it still tells me 27017 is in use...

[code]

[2016-11-29 14:35] magiccrafter commented on #167
This problem happens only if your environment is configured to run on 32bit java.
Try running with 64bit java and the issue should disappear.
Short explanations is that during mongod initialization, based on the java platform, the embedded-mongo will decide which mongod build to use. For the 32bit monogod build, the default "wiredTiger" storage engine is not available and the process could not sta

[2016-11-29 14:49] firatkucuk commented on #167
Setting locale fixed my problem.

http://stackoverflow.com/questions/26337557/badvalue-invalid-or-no-user-locale-set-please-ensure-lang-and-or-lc-environme

[2016-11-29 20:18] mrmanc opened #177 "Can’t control where to put the Mongo binaries"
When embedded Mongo starts, it downloads binaries to the directory specified in the [config](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#customize-artifact-storage). In a shared continuous integration environment it is preferable to be able to control this location using environment variables, to avoid every developer who uses this library having to remember to configure the artifa

[2016-11-29 20:29] matlockx commented on #177
sure! Go on. Without looking it up, shouldn't it be located in the users home which runs the ci server? So should be shared by default or not?

[2016-11-29 22:11] mrmanc commented on #177
I think the user’s home directory is a good default, but in our case (using GoCD) the user’s home directory is created by the CI agent package in a location without much storage (`/var`). I agree the artifacts should be shared, and by using an environment variable that should continue—it means we can stick a line in the user’s profile and avoid having that configuration in every code base.

How do

[2016-12-02 16:50] wromijn commented on #176
I started with a single test class and did not have this problem. Then I created more test classes and now I get this error when I run my test suite. When I run only the failing test class, all is well again. Maybe a new instance is started for each test class while the previous instance is still running?

[2016-12-03 20:37] gvernile opened #179 "Java 8 not compliant"
when java 8 compliant?

Thanks a lot and very good job with this project

[2016-12-03 22:04] ftore commented on #176
I am having the same problem. I can confirm @wromijn's words. For single tests, it is working, however for whole test suit it is giving

[code]

[2016-12-05 10:32] wromijn commented on #176
Spring by default creates a new Application Context for each test class. It seems that a new instance of the Embedded Mongo server is also started, but for some reason, the required port is still in use by the instance from a previous test. As a workaround, I now use the @ContextConfiguration annotation to only load Mongo in a single (integration) test class and not in the others. You can also try

[2016-12-07 08:59] chuspb commented on #167
Hi, same issue here. I've also try setting locales... but no way. If I run the same command (directly in the shell) that Jenkins executes, then it works fine. I don't know what more to do.

/etc/default/locale:
LANG="en_US.UTF-8"
LANGUAGE="en_US"
LC_ALL="en_US.UTF-8"

/etc/environment:
LANG="en_US.UTF-8"
LC_ALL="en_US.UTF-8"

Also:
locale-gen en_US.UTF-8
dpkg-reconfigure locales

Any help? Thanks!

[2016-12-12 22:42] emanresusername opened #180 "publish 1.50.6 (non-SNAPSHOT) artifact (request)"
had a little scare today with some tests that seemingly mysteriously stopped working over the weekend.
after some sleuthing, found it was due to the `de.flapdoodle.embed.process` `1.50.3-SNAPSHOT` artifact [being modified](https://oss.sonatype.org/content/repositories/snapshots/de/flapdoodle/embed/de.flapdoodle.embed.process/)
was easy enough to pin back to `1.5.2` for that, but for this `1.5.5` d

[2017-01-11 13:02] viderin commented on #176
I have the same problem. another approach can be configure the "spring.data.mongodb.port = 0". This configure a randomly unused port, you can see here:
http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-nosql.html#boot-features-mongo-embedded.
Can be a problem if you have a lot of test.

[2017-01-12 13:31] joelittlejohn commented on #179
@gvernile What is it that is not Java 8 compliant about this project?

[2017-01-14 20:40] njarek commented on #163
Hi,
I have the same issue in jenkins alpine-linux docker image.
openjdk version "1.8.0_92-internal"
OpenJDK Runtime Environment (build 1.8.0_92-internal-alpine-r1-b14)
OpenJDK 64-Bit Server VM (build 25.92-b14, mixed mode)

testen mongo in version 1.50.0, 1.50.3 and 1.50.5 with no success.

[2017-01-16 04:52] rlodge opened #182 "MongoS cannot be started under version 3.4"
Because apparently they've removed the "chunkSize" parameter.  You get:

`Error parsing command line: unrecognised option '--chunkSize'[mongos error] `

Can the code around line 40 of de.flapdoodle.embed.mongo.runtime.Mongos be changed to make this configurable somehow?

[2017-01-17 12:27] roberterdin commented on #176
I experience the same. It seems like net parameter passed to the `MongodConfigBuilder` does not get respected. This `.net(new Net("localhost", 27018, false))` leads to the following log message:

`2017-01-17T13:24:07.267+0100 I CONTROL  [initandlisten] MongoDB starting : pid=17120 port=27017 dbpath=/var/folders/mb/80ks5lls0bq0yxx4mqy3q_pmjd02b4/T/embedmongo-db-1fb4cfde-81a8-4b6b-b713-929362574177

[2017-01-19 13:16] Loki-Afro opened #183 "Unable to start mongoImport with Net(bindIp ...)"
... because `mongoimport` does not know about a parameter called `--bind_ip`

Affected code:
de.flapdoodle.embed.mongo.runtime.MongoImport#getCommandLine
+
de.flapdoodle.embed.mongo.runtime.AbstractMongo#applyNet

[2017-01-25 09:37] Loki-Afro commented on #173
Could be a firewall problem, try to use in the Net() Constructor Localhost instead of the read hostname.

[2017-01-25 09:39] Loki-Afro commented on #111
Isn't this done? o.O

[2017-01-25 09:41] Loki-Afro opened #184 "Download via https not http"
Download via https not http, see DownloadConfigBuilder.java

[2017-01-25 09:44] Loki-Afro opened #185 "Support Mongodb 3.4"
Support Mongodb 3.4

[2017-01-25 09:50] Loki-Afro opened #187 "Fix travis build"
Fix travis build

The is not correctly set, see here https://github.com/travis-ci/travis-ci/issues/5227#issuecomment-165131913

[2017-01-25 10:03] Loki-Afro opened #190 "Release version 2.0.0 for mongodb 3.4"
Could you please release version 2.0.0 for mongodb 3.4
after gh-185 has been merged?

Thsi is crucial because under current macOs Sierra mongodb 3.2 does not function that well -

mongotools (like mongorestore) are build with go 1.4.2 and macOs Sierra had some breaking changes see here https://github.com/golang/go/issues/17492

The current mongotools are build with go 1.7

[2017-01-25 12:01] Loki-Afro opened #191 "MongoImport and possible others are not daemon processes"
The code says in `de.flapdoodle.embed.process.runtime.Executable#Executable`
[code]

But

[code]

says that it is a daemon process, it should be

[code]

**Maybe there are more non `daemonProcesses` affected.**

This prints a nasty exception at the End of a Test if there more processes involved. Even in the current Unit tests

[2017-01-25 18:00] Loki-Afro commented on #183
Was already done with gh-110

[2017-01-25 18:00] #183 closed

[2017-01-25 18:01] Loki-Afro commented on #110
Still not released...

[2017-01-25 19:30] #187 closed

[2017-01-25 19:42] #184 closed

[2017-01-25 22:32] Loki-Afro commented on #110
`MongoImport` should inherit from `AbstractMongoProcess`.

`AbstractMongoProcess` does more than just having its special shutdown magic, which indeed is kinda weird when it (sometimes) stop `mongod` itself.

However like `MongoDumpProcess` and `MongoRestoreProcess` it should just override `stopInternal` and do nothing in it.
`AbstractMongoProcess` has this fancy `onAfterProcessStart` method where

[2017-01-25 22:33] Loki-Afro opened #193 "MongoImportProcess.start() does not wait till it finished (Race Condition)"
Based on gh-110 ...

MongoImport should inherit from AbstractMongoProcess.

AbstractMongoProcess does more than just having its special shutdown magic, which indeed is kinda weird when it (sometimes) stop mongod itself.

However like MongoDumpProcess and MongoRestoreProcess it should just override stopInternal and do nothing in it.
AbstractMongoProcess has this fancy onAfterProcessStart method whe

[2017-01-25 23:03] #193 closed

[2017-01-25 23:13] #185 closed

[2017-01-26 12:20] wromijn opened #195 "Problem with @Indexed annotation"
I found a weird issue when using embedded Mongo in a Spring Boot project. I want to use a real Mongo server in production and embedded Mongo for testing. This works fine: running the tests throws an exception about not being able to connect to the real Mongo server, but they run without problems.

However, as soon as I add an @Indexed annotation to one of the fields of the entity that is persisted

[2017-01-26 22:00] avi613 commented on #116
+1

Here is my [pom](https://github.com/avi613/experiments/blob/master/poc-mongo/pom.xml)

And the full stask:

[mongod output] 2017-01-26T22:58:37.595+0100 I CONTROL  [conn3] now exiting
[mongod output] 2017-01-26T22:58:37.595+0100 I CONTROL  [conn3] shutting down with code:0
[mongod output] 2017-01-26T22:58:37.595+0100 I CONTROL  [initandlisten] shutting down with code:0
[mongod output]
[INFO] -

[2017-01-27 23:15] Loki-Afro commented on #195
Well ... there is no issue or does SpringBootTest say in any way that it will start a mongod instance? I don't think so :)

Take a look here http://stackoverflow.com/a/31568654/1248724

You don't have to change your dependencies, they are allright, you just have to provide This Test Config and Add it to your test Application Context.

[2017-01-27 23:22] Loki-Afro commented on #142
@eikek @a1russell what did you expect?

Just making fun :D

[2017-01-28 09:54] Loki-Afro commented on #156
what mongo version did you use? any stacktrace?

[2017-01-28 10:34] wromijn commented on #195
Oh wow! I never thought it would be this easy! You're right, the Spring documentation isn't very clear on this. Thank you very much for your help!

[2017-01-28 10:34] #195 closed

[2017-01-29 03:15] madhawa-gunasekara opened #197 "How can I restart embedded mongodb after adding a user ?"
I'm writing some integration tests which I need to enable MONGODB-CR authentication to the mongo server.  How can I do it? I know MONGODB-CR is no longer use in MONGODB. I'm using MONGO 2.4

Any help regarding this.

[2017-01-31 22:17] thall-csky opened #198 "MongoImportProcess shouldn't shutdown the database when import fails"
Currently when mongo import fails it stops the database.
Like MongoRestoreProcess, MongoImportProcess should override stopInternal, something like:

@Override public void stopInternal() {
        // Nothing to stop since we are just running mongo import and don't want to kill the mongo instance
}

[2017-02-02 23:21] pokkie opened #199 "BadValue nojournal is not allowed when configsvr is specified"
I am following the instructions here: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#import-json-file-with-mongoimport-command

When I try to run the test case, I get the following stacktrace:

01:19:23.044 [main] DEBUG de.flapdoodle.embed.process.runtime.ProcessControl - Detected pid: 3522
01:19:23.046 [main] DEBUG de.flapdoodle.embed.process.runtime.ProcessControl - Detected pid: 35

[2017-02-04 08:27] michaelmosmann commented on #199
Hmm.. tests works, so maybe i must update the documentation.

[2017-02-14 21:30] donabrams commented on #167
I've gotten this multiple times when mongo gets corrupted (through various means). The easiest way to find the root cause is to start up mongo again in whatever directory it was started before. You'll see real error messages come out. It would be helpful if, upon finding EOF, the entire mongo log was printed to the console.

[2017-02-22 17:47] Jock924491 commented on #190
This is also needed to support Decimal128

[2017-02-22 17:50] Loki-Afro commented on #190
It is released the ticket is just not closed... https://search.maven.org/#artifactdetails%7Cde.flapdoodle.embed%7Cde.flapdoodle.embed.mongo%7C2.0.0%7Cbundle

[2017-02-22 17:59] Jock924491 commented on #190
Then I need to create a defect, if you set a serializable property & set the value to Decimal128 (which became supported in 3.4) you get an error. It seems the connections are still using 3.2

`Caused by: com.mongodb.MongoSocketReadException: Prematurely reached end of stream
	at com.mongodb.connection.SocketStream.read(SocketStream.java:88)
	at com.mongodb.connection.InternalStreamConnection.rece

[2017-02-22 17:59] Jock924491 commented on #190
[code]

[2017-02-22 18:10] Loki-Afro commented on #190
Create an example project and I will look into it, looks weird. Are you sure you are using the correct mongodb version?

[2017-02-22 18:14] Jock924491 commented on #190
Sure I'll throw a project together. In the mean time here are my dependencies

[code]

[2017-02-22 20:12] Jock924491 commented on #190
Here is the project i set up to show this off: https://github.com/Jock924491/Decimal128.Testing.flapdoodle

[2017-02-22 20:18] Loki-Afro commented on #190
you forgot to add the gradle-wrapper.jar ...

[2017-02-22 20:22] Jock924491 commented on #190
ha it's in now

[2017-02-22 20:37] Loki-Afro commented on #190
First of all you are using Mongodb 3.2.x - lookinto your home directory and then .embedmongo - you should see some binaries and a directory with the version. This is just one way to find that out ...

Second you are using spring, espically spring boot where all things happen amgically automatically. But spring boot relies on a old mongodb version (at least for tests)

Third therefore you should de

[2017-02-22 20:57] Jock924491 commented on #190
That absolutely did the job thanks so much!

[2017-02-22 21:47] Loki-Afro commented on #190
'glad that i could help you ;)

[2017-02-22 21:47] #190 closed

[2017-02-26 21:01] Loki-Afro commented on #88
@samiTab if the problem does actuall exist with the current version, please file a new Issue with an example Project. I will close this issue for now.

[2017-02-26 21:01] #88 closed

[2017-02-26 21:03] Loki-Afro commented on #102
@ffazil since you are using OS X you may have your firewall enabled or Little Snitch or similar - Often those Popups - pop up in the background when using an ide or the command line somehow.

[2017-02-26 21:03] #102 closed

[2017-02-26 21:06] Loki-Afro commented on #103
There is now some kind of _progressbar_ since this ticket didn't receive any further input I will close it for now.

[2017-02-26 21:06] #103 closed

[2017-02-26 21:07] Loki-Afro commented on #111
It is already implemented, please check it out ;)

[2017-02-26 21:07] #111 closed

[2017-02-26 21:25] Loki-Afro commented on #152
@vpavic what is the current gradle command that will produce the error?

[2017-02-26 21:29] Loki-Afro commented on #141
@ogr3 could be. But then it should be fixed now, as well as all other mongo - commands. As current spring-boot projects do not show this error (which I saw 2 years ago too) I guess this issue is resolved, somehow. If not let me know ;)

[2017-02-26 21:29] #141 closed

[2017-02-26 21:35] Loki-Afro commented on #174
@poznachowski I had once a similar issue with a dockerized build - in the end it was a permission failure where no such file or directory was misleading and the binary was not executeable.

Can you verify this?

Can you somehow setup an example project?

[2017-02-26 21:36] Loki-Afro commented on #163
closed in favor of gh-174

[2017-02-26 21:36] #163 closed

[2017-02-26 21:38] Loki-Afro commented on #157
No progress here... If this error is present with the current version feel free to reopen this issue. :)

[2017-02-26 21:38] #157 closed

[2017-02-26 21:41] Loki-Afro commented on #166
And ... why? If you think this is an flapdoodle issue:
1. Downgrade to the version where it has been fast.
2. Add a new Version

[code]

If this is really an issue of this project, please reopen this issue and I will look into it.

[2017-02-26 21:41] #166 closed

[2017-02-26 21:42] Loki-Afro commented on #180
Well 2.0.0 is released ;)

[2017-02-26 21:42] #180 closed

[2017-02-26 21:44] Loki-Afro commented on #179
@gvernile it works fine with java 8 ... if there is any issue, let us know. closing this issue for now.

[2017-02-26 21:44] #179 closed

[2017-02-26 21:49] Loki-Afro commented on #101
@sdavids works. I guess you are in the logging - madness.

`de.flapdoodle.embed.mongo` as well as `de.flapdoodle.embed.process` use SLF4J.

[2017-02-26 21:49] #101 closed

[2017-02-26 21:50] Loki-Afro commented on #142
Since there is a NixOs workaround ... I will close this issue. If you have a solution which works for everyone , let me know.

[2017-02-26 21:50] #142 closed

[2017-02-26 22:01] Loki-Afro commented on #170
Thank you @trangvh I updated the driver to `3.4.2` even if it should not affected you anyhow. It is scoped with `provided`

[2017-02-26 22:01] #170 closed

[2017-02-26 22:08] Loki-Afro commented on #173
Cna you provide an example project?

[2017-02-27 08:06] vpavic commented on #152
Hi @Loki-Afro, we did some refactoring of the samples in the meanwhile, the current command to run sample app that uses embedded Mongo is `./gradlew :spring-session-samples-boot-mongo:bootRun`.

That being said, I cannot reproduce the original problem with either of our active branches (`master` and `1.4.x`) so I'll close this issue. Thanks.

[2017-02-27 08:06] #152 closed

[2017-02-27 08:10] Loki-Afro commented on #149
Thank you for submitting an issue but without logs it is impossible to help you. You may should file an Issue at com.github.joelittlejohn.embedmongo:embedmongo-maven-plugin or provide some more logs. Maybe mvn -X will help

[2017-03-04 12:25] Loki-Afro commented on #124
@michaelmosmann is it fixed? :)

[2017-03-04 12:39] michaelmosmann commented on #124
Hmm..Not sure.

Mit AquaMail Android
http://www.aqua-mail.com gesendet

Am 4. März 2017 1:26:16 nachm. schrieb Phillip <notifications@github.com>:

[2017-03-08 12:01] DanielPrawdzik commented on #168
+1
Would be a nice one to have, since it breakes our unit tests, time by time. Using 0 as port (aka random port) doesn't help aswell.

[2017-03-08 12:15] Loki-Afro commented on #168
@DanielPrawdzik wouldn't it be nice to have a Junit Rule to make integration easier and error handling?

[2017-03-11 10:27] Loki-Afro commented on #182
This has been fixed in e88599588c5ebc12323ef9a08018a691b1148e6a and should be in version 2.0.0 :)

[2017-03-11 10:27] #182 closed

[2017-03-11 10:38] Loki-Afro commented on #197
I do not know how exactly this works in mongodb, however I know that you have to pass `--auth`to the mongod instance or provide a config file.

This can be done by:

[code]

hope that helps :)

[2017-03-11 10:38] #197 closed

[2017-03-11 10:43] Loki-Afro commented on #174
@poznachowski I will close this issue for now, can't reproduce it.

[2017-03-11 10:43] #174 closed

[2017-03-11 10:45] Loki-Afro commented on #177
This has been merged, closing issue...

[2017-03-11 10:45] #177 closed

[2017-03-11 10:47] Loki-Afro commented on #90
This is already implemented, closing

[2017-03-11 10:47] #90 closed

[2017-03-11 10:48] Loki-Afro commented on #156
Aggregation works, I guess there is something wrong with your code ...

[2017-03-11 10:48] #156 closed

[2017-03-11 11:54] gauravic08 commented on #156
This issue was raised almost a year ago, so i don't remember what exact issue i was facing at that time.

[2017-03-11 13:12] Loki-Afro commented on #124
Seems to be fixed ...

I tested it with the following code:
[code]

with `-Xmx1024m -Xms1024m`.

![screen shot 2017-03-11 at 14 10 01](https://cloud.githubusercontent.com/assets/4738445/23823533/b768d660-0664-11e7-95fc-bfb0f1284c08.png)

[2017-03-11 13:12] #124 closed

[2017-03-11 13:18] Loki-Afro commented on #199
@michaelmosmann is the resolved somehow?

[2017-03-12 15:30] #191 closed

[2017-03-12 15:34] Loki-Afro commented on #198
hey @thall-csky this is fixed by gh-191, sorry for the delay :)

[2017-03-12 15:34] #198 closed

[2017-03-12 15:35] Loki-Afro commented on #173
I fixed a bug in gh-191 in relation to this, i guess the bug is fixed, if it occurs again please reopen this issue with some example code :)

[2017-03-12 15:35] #173 closed

[2017-03-12 15:40] Loki-Afro commented on #172
@cmoetzing can i close this issue or is here something to do?

[2017-03-12 15:41] #162 closed

[2017-03-12 15:46] Loki-Afro commented on #151
@emmanuelperu I am not that familiar with proxies but does this help for the moment: http://stackoverflow.com/a/1626616/1248724 ?

@michaelmosmann whats your opinion on this?

[2017-03-12 15:47] Loki-Afro commented on #149
I am closing this issue now, let me know please reopen this issue if your can provide more information

[2017-03-12 15:47] #149 closed

[2017-03-14 14:29] joelittlejohn commented on #116
@michaelmosmann @matlockx There are some fundamental issues with using shutdown hooks in Maven. There's a good explanation here:

http://maven.apache.org/plugin-developers/common-bugs.html#Using_Shutdown_Hooks

and a few instances of shutdown hooks affecting Maven plugins:

* https://github.com/joelittlejohn/embedmongo-maven-plugin/issues/44
* https://github.com/eclipse/jetty.project/issues/537
*

[2017-03-14 18:08] michaelmosmann commented on #116
I think we can solve this by using java8 fileio stuff:) thanks for the hint.

Mit AquaMail Android
http://www.aqua-mail.com gesendet

Am 14. März 2017 3:30:03 nachm. schrieb Joe Littlejohn
<notifications@github.com>:

[2017-03-16 11:13] Loki-Afro commented on #116
Is this gh-171 related too?

[2017-03-16 12:22] joelittlejohn commented on #116
@Loki-Afro I think that depends on exactly what @michaelmosmann is suggesting.

@michaelmosmann are you suggesting removing the shutdown hook altogether or simply replacing the use of commons-lang FileUtils with some core Java 8 class?

If the shutdown hook is still present then I think #171 will remain a problem. That issue appears to occur when shutdown begins before the hook is even registered.

[2017-03-16 12:23] joelittlejohn commented on #116
Basically, if we can find a way to remove the shutdown hook entirely then that would be great. If that's not possible then writing hooks with no other dependencies (either on classes in the same project or classes of external libraries) would help I think.

[2017-03-16 12:26] Loki-Afro commented on #116
@joelittlejohn but this affects more than just some file clean up mechanism, `JobKiller` is also a `ShutdownHook`.

[2017-03-16 12:33] joelittlejohn commented on #116
@Loki-Afro I don't follow what you are getting at.

The problem here is that when using Maven, the classpath may not be in a valid state to resolve new classes during a shutdown hook. The problem in #171 is that a if a shutdown hook is added too late, the shutdown process may have already started.

If we remove shutdown hooks from this project (and find alternatives) then this issue #116 and #171

[2017-03-16 12:36] Loki-Afro commented on #116
@joelittlejohn  I got you but this needs to get fixed too: https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/09a5f51a0178e7e688bd3580488f02a368541488/src/main/java/de/flapdoodle/embed/process/runtime/AbstractProcess.java#L110

[2017-03-28 19:12] Loki-Afro commented on #151
Closing because of no input from @emmanuelperu

[2017-03-28 19:12] #151 closed

[2017-03-28 19:12] #172 closed

[2017-03-28 19:43] Loki-Afro opened #200 "checksum validation for downloaded binaries"
add checksum validation for downloaded binaries.

Several times now I downloaded incomplete binaries from mongodb, no idea why, but the checksum did not match, we should implement that checking and enable it by default.

[2017-03-29 21:44] popkutty opened #201 "Server is not stopped when JVM ends."
I have  a test which running in a builder. I'm starting embedded DB for my test. If the test got stopped in between like if the build is stopped, then unit test jvm ends but that's not stopping the server. I did tear down in test to stop server. But somehow my test failed to reach tear down then it will be an issue. Any workaround for this?

[2017-03-29 21:46] Loki-Afro commented on #201
Can you provide the source code?

[2017-04-13 01:05] samspycher commented on #163
For those of you who are seeing this on Alpine Linux: it is probably not a Java version issue since I am seeing this on later Java versions as well. However, alpine does seem to have issues with the dynamically linked libraries:

<details>
<summary>click for ldd output</summary>
<p>

[code]
</p>
</details>

[2017-05-02 10:45] francisdb commented on #167
version `2.0.0` seems to at least got rid of this specific error for us, and my guess is that one of the reasons we have seen this is out of memory errors while starting mongo

[2017-05-16 17:09] luisfilipe46 commented on #199
Hello @michaelmosmann,

Thank you for make flapdoodle.embed.mongo. It's been really useful for me!

I'm trying to set up Mongod, Mongos and config server but I'm having the same error message of @pokkie . I followed your code example: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#start-mongos-with-mongod-instance

The problem is on start function call inside the startMongod function.

[2017-05-16 17:35] michaelmosmann commented on #199
I am not sure why there is so much trouble with mongos etc.. it should
work,but it didn't.. maybe someone should port a working setup into some
kind of testable code.. but currently I do not have enough time for this.

Sorry...

Am 16. Mai 2017 7:09:29 nachm. schrieb Luis Araújo <notifications@github.com>:

[2017-05-17 14:28] luisfilipe46 commented on #199
Since I didn't find any solution, I tried to use MongosSystemForTestFactory and I had the same issue/error message.

After searching a while for a solution, I think that the problem should be on MongoDB.
I found this issue which is unsolved until now: https://jira.mongodb.org/browse/SERVER-24551.

Now I'm using Version.Main.V3_0 in MongosSystemForTestFactory and it's working as expected now !

[2017-05-17 18:18] stevenikkola opened #202 "Default embedded mongodb downloaded even when setting custom download URL"
I asked a question about this on [stackoverflow](http://stackoverflow.com/questions/43859116/how-to-prevent-the-default-embedded-mongodb-from-being-downloaded) in case that is the better place for this (as I may just be doing something wrong rather than this being a defect), but haven't got any replies, so posting this here.

Here are the same details I posted:

I am using version 2.0.0 of flapdoo

[2017-05-17 18:20] Loki-Afro commented on #202
Could you please provide a simple example project?

[2017-05-24 05:11] keklabs commented on #167
We have the same problem.

After investigating source code, the problem is in realization of [de/flapdoodle/embed/process/distribution/BitSize.java](https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/586ff5c964edfc4fdd35d1444a5a20d6be44f5b0/src/main/java/de/flapdoodle/embed/process/distribution/BitSize.java)

according to [javas-osarch-system-property-is-the-bitness-of-the-jre-not-

[2017-05-24 05:33] Loki-Afro commented on #167
@keklabs so you are running an 32 bit JDK on a 64 Bit machine? I had cases where java won't even start, why would you do that?

[2017-06-07 08:40] Alexaas commented on #167
Similar issue here during maven build. Running on Win10 64 bit. JAVA_HOME is set to 64bit JDK. Any idea??
`Caused by: java.io.IOException: Could not start process: <EOF>
        at de.flapdoodle.embed.mongo.AbstractMongoProcess.onAfterProcessStart(AbstractMongoProcess.java:79)
        at de.flapdoodle.embed.process.runtime.AbstractProcess.<init>(AbstractProcess.java:114)
        at de.flapdoodle.e

[2017-06-09 15:13] Selectorrr commented on #168
+1

[2017-06-15 16:18] erip opened #203 "Receiving de.flapdoodle.embed.process.exceptions.DistributionException: java.nio.file.FileAlreadyExistsException"
Full disclosure, I'm using [Embed Mongo](https://github.com/SimplyScala/scalatest-embedmongo), but I think the error is caused by the way I'm handing my `RuntimeConfigBuilder`.

Currently, I'm building my `RuntimeConfigBuilder` like this:

[code]

This creates a temp file which is never deleted. Is there a way to ensure this file is deleted automatically? If not, I get an exception because the fil

[2017-06-19 14:50] Loki-Afro commented on #203
Could you provide a small example project? I am not that fit in scala... :/

[2017-06-19 15:24] erip commented on #203
I think it's related to #171. I can try to make a dumb app later to replicate behavior.

[2017-06-19 16:44] erip commented on #203
Ah, I think my issue may have been a multithreading issue. If I can repro, I'll post an example app. Until then, I'll close this.

[2017-06-19 16:44] #203 closed

[2017-07-07 15:31] FilippoGuenzi commented on #168
+1

[2017-07-10 16:06] mainedufresne commented on #167
I am also getting this or a very similar issue. I'm attempting to build with gradle inside a Docker container. My Docker image is based on frolvlad/alpine-oraclejdk8 due to reading that this problem could be caused by not having glibc. The build works on my local machine (OS X) but fails inside the container. I've tried versions 1.50.3, 1.50.5, and 2.0.0 all fail the same way.

[2017-07-10 18:25] mainedufresne commented on #167
I figured it out. The following worked for me in my Dockerfile:

`FROM frolvlad/alpine-oraclejdk8 AS build
WORKDIR /build-env
ADD . /build-env
RUN apk update &&  apk add bash && apk add libstdc++
ENV LC_ALL=C
RUN ./gradlew build`

[2017-07-11 17:17] roberterdin opened #204 "Binary downloaded even though it exists"
If the file structure is as follows, i.e. the default, the behaviour is as expected. The binary is only downloaded if does not exist.
[code]
If the zip file is removed as follows, it will be downloaded again the next time it is executed. Even though the actual executable is still available.
[code]

The .zip file is ~150MB, compared to the 20MB of the executable. We have to package the executable i

[2017-07-12 14:53] a8m8 commented on #168
+1

[2017-07-12 16:42] roberterdin commented on #204
I looked at the code and figured out that this concerns https://github.com/flapdoodle-oss/de.flapdoodle.embed.process. Would you be willing to accept a PR that addresses this issue or is it behaving as expected?

[2017-07-12 16:43] barryearles commented on #204
On my.
Pp

On Tue, Jul 11, 2017, 1:17 PM roberterdin <notifications@github.com> wrote:

[2017-07-14 09:40] roberterdin commented on #204
I found a workaround (having a nice conversation with myself here :smile:). All the irrelevant files can be delted from the archive and only the mongod executable left in there... it's a bit hacky but on the plus side it decreases the size.

[2017-07-14 10:47] michaelmosmann commented on #204
:)

... there is refactoring ahead to make these things smoother.

[2017-07-18 14:14] Florian-Maurer commented on #167
@Alexaas I have a very similar problem to yours in my project, did you find any solution for this error?

[2017-07-18 14:31] Loki-Afro commented on #167
@Florian-Maurer make sure JDK and OS architecture match

[2017-07-18 18:55] ittaiz opened #205 "Support using library in hermetic environments"
We want to use wix-embedded-mysql in [Bazel](https://github.com/wix/wix-embedded-mysql/issues/bazel.build) which strongly encourages you to have tests which are isolated from the internet.
For that matter we want to allow preparing the installer (downloading/extracting) before the actual test run (in Bazel such downloads should happen in the fetch phase).
What I've done in the [wix-embedded-mysql]

[2017-07-18 19:11] Loki-Afro commented on #205
I guess if it is in the same manner as https://github.com/wix/wix-embedded-mysql/pull/108 there shouldn't be a problem.

@michaelmosmann  what do you think?

[2017-07-19 04:36] michaelmosmann commented on #205
Can we achieve this without adding a sub-module?

[2017-07-19 06:19] ittaiz commented on #205
We can but then you have a few options:
1. Expose only a main without a runnable jar- not really useful for users since they need to "guess" the correct classpath
2. Add assembly plugin to current module- might be a bit weird to have this tool as a "cannonical" runnable jar of this module. It's not it's essence but an additional way to use it. Additionally if we'll need to use a library for argume

[2017-07-19 12:02] michaelmosmann commented on #205
ok.. so let's do it..

[2017-07-21 12:11] muxmeg opened #206 "Can embedded Mongo keep the date between the runs?"
I couldn't find out how can I keep using the old data that I've saved into Mongo in the previous execution, like in embedded H2 DB. This way I could use it not only for tests but for small applications development too.
Is this supported?

[2017-07-21 16:00] michaelmosmann commented on #206
You must provide a custom database path...
...but I can not recommend this for any non-fun-application.

Am 21. Juli 2017 2:11:54 nachm. schrieb muxmeg <notifications@github.com>:

[2017-07-21 18:19] muxmeg commented on #206
I've tried it by adding this line to application.properies:
`spring.mongodb.embedded.storage.database-dir=mongoEmbedded`
It saves to this folder now, but the DB is still empty after a restart.

I wonder, why do you think it doesn't suit for local development? I've used embedded H2 like this some time ago and it was fine.

[2017-07-21 21:25] Loki-Afro commented on #206
@muxmeg Well H2 is designed for such purposes. Mongodb is not.

I would recommand using something like docker with a volume or vagrant. Since Mongodb is schemaless this is really not a problem. Even for tiny applications.

[2017-07-22 10:02] habak67 opened #207 "Downloading 32 bit mongodb on a 64 bit Windows environment"
Hello.

I'm running Windows 7 Enterprise and when running MongoDB manually i succesfully run the 64 bit version  (x86_64). When I use the embedded Mongodb it however download and start the 32 bit version (Extract C:\Users\s38709\.embedmongo\win32\mongodb-win32-i386-3.2.1.zip extract mongodb-win32-i386-3.2.1/bin/mongod.exe) and then I get an error message about wiredTiger not included.

[mongod out

[2017-07-22 10:05] Loki-Afro commented on #207
make sure operating system mongodb and your jdk have matching bitness

[2017-07-22 12:33] habak67 commented on #207
Thank you for guiding me in the correct direction. For some reason I had selected an old 32 bit JDK for my eclipse project. Now I have changed to a new 64 bit version and everything works nice.

[mongod output] 2017-07-22T14:20:47.959+0200 I CONTROL  [initandlisten] MongoDB starting : pid=10372 port=49705 dbpath=C:\Users\s38709\AppData\Local\Temp\embedmongo-db-9269f3d9-123e-4f44-b408-4897c5f765a3

[2017-07-22 12:33] #207 closed

[2017-07-25 15:32] muxmeg commented on #206
Thanks, I'll use your advice!

[2017-07-25 15:32] #206 closed

[2017-08-16 15:50] faizan-talena opened #208 "Enabling shardServer flag in MongoDConfig not getting honoured in Mongod Runtime Command Line"
When I create a mongod process with a config that has shardServer flag enabled, the corresponding process does not run with --shardsvr argument.

This must be due to missing read block for the corresponding property in https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/master/src/main/java/de/flapdoodle/embed/mongo/runtime/Mongod.java # getCommandLine

[2017-08-16 16:51] #208 closed

[2017-08-31 13:46] mbhuie commented on #89
This fixed the problem on linux where the build server is running. But I still face the same issue on windows. What are the directories for Windows

[2017-09-04 10:36] mushketyk opened #211 "Recover after a non-graceful embedded Mongo shutdown"
I am using MongoDB in integration tests and after one of the tests executions embedded MongoDB fails to start with the following error message:

[code]

Quick Google search suggests that this is caused by corrupted MongoDB data files.
Is there a way to force embedded MongoDB to use new set of data files on every new run?
Alternatively, could you suggest, how to manually find and remove all embedde

[2017-09-04 10:51] Loki-Afro commented on #211
Use `@After`and `@Before` instead of `@AfterClass` and `@BeforeClass`?

[2017-09-04 11:34] mushketyk commented on #211
@Loki-Afro Could you elaborate please? What difference does this make?

[2017-09-04 11:36] Loki-Afro commented on #211
I thought you may be using junit, https://stackoverflow.com/a/20295618/1248724

[2017-09-04 13:10] mushketyk commented on #211
@Loki-Afro I know what is the difference between `@Before` and `@BeforeClass`. How is this going to solve the aforementioned problem? I am sensing that there is some insight about embedded Mongo that you not sharing :)
I am not using `@BeforeClass` to create a Mongo instance, I create it as a Spring bean.

[2017-09-04 13:23] Loki-Afro commented on #211
And in Spring you can also define if your application context is per test or per class.

So you have to call `MongodExecutable#stop` and/or `MongodProcess#stop` to delete the files.

I would not suggest having the same bean - instance for all tests

[2017-09-06 06:45] rajenders opened #212 "java.lang.IllegalStateException: Couldn't kill mongod process!"
I'm using flapdoodle version 2.0 and intermittently I'm getting the below error, please let me know. Thank you.

Exception:
----------------------------------------------------
Something bad happend. We couldn't kill mongod process, and tried a lot.
If you want this problem solved you can help us if you open a new issue.

Follow this link:
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mong

[2017-09-08 14:33] Loki-Afro commented on #212
@rajenders is this the full stacktrace?

[2017-09-08 14:48] Loki-Afro commented on #201
Anyway, If build is stopped means sending a SIGTERM to the JVM process and you implemented the test correctly, e.g. using the `@After` annotation for example the current test will end and the code in `after` gets executed which could be something like
[code]

The following pseudocode won't work in all cases and could leave a zombie process
[code]

When sending a SIGKILL to the JVM the mongo proces

[2017-09-08 14:48] #201 closed

[2017-09-08 14:52] #205 closed

[2017-09-08 14:56] michaelmosmann commented on #201
It is even harder in windows to kill a mongo process.. IMHO if the jvm process dies on linux the mongo process could die with it. But not on windows.. thats why we have some special code which tries to kill the mongo instance on windows.

[2017-09-10 06:23] rajenders commented on #212
Thank you @Loki-Afro, that's the full stacktrace I could see.

[2017-09-14 09:44] keraton opened #213 "Support for mongoDB 3.4.9"
Hi could you support mongoDB 3.4.9 ?

[2017-09-14 16:53] michaelmosmann commented on #213
i think so.. can you make an pull request? the other way will take a little bit longer..

[2017-09-15 14:57] keraton commented on #213
Ok let me see this.

[2017-09-18 08:00] faizan-talena commented on #212
I see similar error while running my test case. In my test case I start a bunch of MondoD for configserver and shards, and a MongoS process. I configure these processes so that they are part of one Mongo cluster.

Here are the detailed logs of the test case

[code]

The exception seems to be thrown from AbstractMongoProcess.stopInternal whenever a process takes time to die. This is causing Abstrac

[2017-09-26 10:03] faizan-talena commented on #212
I figured this clean up is not happening due to an issue in embed.process, I filed an issue there https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/61
But that would need upgrade of embed.process version.

Should I fix this by handling exception in AbstractMongoProcess.stopInternal ?

[2017-10-03 17:46] jsmenzies commented on #176
I know I'm a little late to this but I have been experiencing this issue recently as well. I noticed it would pass 90% of unit tests then on the failure give a "addr already in use" error. If I ran the failed tests one at a time they would all pass.

Since I'm running this inside a Spring Boot app I tried adding the @DirtiesContext annotation to the test class and found that all my tests now work

[2017-10-03 21:53] durimkryeziu commented on #176
@jsmenzies Thank you! It worked for me!
Just by adding the @DirtiesContext annotation to my integration tests it works fine!

[2017-10-04 19:50] cimoca opened #214 "Customize Download URL does not work properly"
I have a spring boot project 1.5.3.RELEASE that uses a managed version 1.50.5 for de.flapdoodle.embed.mongo.

I set in IRuntimeConfig .proxyFactory and .downloadPath and in IMongodConfig .version(Version.Main.PRODUCTION)

When  I run the test case mongodb-linux-x86_64-3.2.1.tgz is downloaded correctly from the external path and Mongo is started but another attempt is made to download version 3.2.2

[2017-10-04 20:48] cimoca commented on #214
Found the problem. please ignore.

[2017-10-05 07:16] #214 closed

[2017-10-06 08:19] lvc opened #215 "API report for Flapdoodle Embedded MongoDB"
Hi,

There is a report on backward binary compatibility and API changes for the library: https://abi-laboratory.pro/java/tracker/timeline/de.flapdoodle.embed.mongo/

It's generated for http://central.maven.org/maven2/de/flapdoodle/embed/de.flapdoodle.embed.mongo/.

Hope it will be helpful for users and maintainers of the library.

Thank you.

![de flapdoodle embed mongo-2](https://user-images.gith

[2017-10-08 13:31] joankaradimov opened #216 "Extract dll files to support alternative MongoDB distributions on Windows"
By tweaking the `downloadPath` of `DownloadConfig` and `version` of `MongodConfig` I was able to get MongoDB Enterprise to download. However, it refused to run on Windows. The reason is that there are some DLLs that are missing (libeay32.dll, libsasl.dll, netsnmp.dll, ssleay32.dll)

Manually copying these DLLs to the `Temp` directory fixes the problem and mongod starts.

This does not appear to be

[2017-10-09 06:13] michaelmosmann commented on #216
..hmm.. interesting. It should be not that hard to fix this. But not this week.

Michael:)

Am 8. Oktober 2017 5:31:30 nachm. schrieb Joan Karadimov
<notifications@github.com>:

[2017-10-12 01:36] rajenders commented on #212
Thank you so much @faizan-talena, could fix in stopInternal until next version of embed.process available.

[2017-10-17 15:04] krraghavan commented on #157
For what it's worth - I see this quite often in my Jenkins setup.  I do use Spring Boot - are there known issues with Spring Boot.  Would love to get some hints on how to work around or get this fixed.  I'm using version 2.0.0

[2017-10-23 18:49] ChrisZ2 commented on #89
Could you tell me what is the directory of mongodb-linux-x86_64-2.6.1.zip on windows?

[2017-10-23 18:52] ChrisZ2 commented on #89
I made a fold  ${user.home}/.embedmongo/win32/ and it worked!

[2017-10-27 19:06] ogerardin opened #218 "Consecutive tests with Spring/JUnit fail with java.io.IOException: Could not start process: <EOF>"
Note: this is different from https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/167, in my case the problem occurs only during consecutive stops and starts of Mongo.

I'm using Embedded Mongo with Spring Boot. I have a few JUnit tests that run with SpringRunner and use Mongo. Each of these tests runs fine separately, but if I run them in sequence using IntelliJ or Maven test, some

[2017-10-27 19:45] Loki-Afro commented on #218
I think DirtiesContext is the key word here https://stackoverflow.com/a/15948370/1248724

[2017-10-28 21:34] ogerardin commented on #218
Spot on! That did the trick. Now all tests pass even when they are run together.
Thank you!

[2017-10-28 21:34] #218 closed

[2017-11-03 12:42] givenm commented on #89
@ChrisZ2 Thanks a lot. You saved me after hours of battling behind proxy. Your solution works :)

[2017-11-05 03:15] ndrone commented on #71
I saw the same issue tonight. I did find a workaround if you are using Maven with the `maven-surefire-plugin` by setting the `<forkCount>1</forkCount>` and `<reuseForks>false</reuseForks>` I was able to get all of my integration tests to run smoothly.

[2017-11-14 17:16] rodrigobitlima commented on #174
@poznachowski I am having the same problem with a build created using gitLab CI and a embed mongo. You have some news about this issue?
[log.txt](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/files/1471839/log.txt)

[2017-11-14 19:16] Loki-Afro commented on #174
@rodrigobitlima you have to debug that container, when this exception occurs exec into the container and verify the file is there and you have the right permissions, even a file not found could mean you don't have permission to read from that location and even if its in /tmp

[2017-11-18 21:08] archenroot opened #219 "[question] production usage experience?"
Hi guys,

thank you first of all for this stuff. Now with rise of microservices based on event sourcing, CQRS patterns, the central truth has moved into so called Event Store while local instances bounded to microsrvice can be reuild completely from scratch.

So I started thinking that as soon as local service database lives together and only with its service as parent, deploying service with embe

[2017-11-18 21:17] Loki-Afro commented on #219
Just use it as compile dependency the rest is up to dependency injection and some glue code or am I missing something?

[2017-11-18 21:22] archenroot commented on #219
Not really, the only idea is that when the service goes up, the database as well, and on any kind of shutdown/restart, the database is killed/restarted as well. So the point of view is service and database is single component

[2017-11-18 21:50] Loki-Afro commented on #219
You should consider a container or similar as a service without bundling a database directly into your application. But everything has its pro and cons...

[2017-11-18 21:50] #219 closed

[2017-11-19 00:00] archenroot commented on #219
@Loki-Afro thanks loki. Well that is true in old-fashioned scenarios, but in event driven microservices architecture local service database can bee seen as service itself, it is just persistent component.

But I understand when you do high-performance microservices you will need to separate service and persistence layers as they need to scale independently...

Thanks for comments.

[2017-11-27 15:56] segg3r commented on #166
Seems an issue is with WiredTiger (default engine in Mongo since 3.2). As a workaround i used
[code]

Maybe WiredTiger needs more memory or smth like that?

[2017-11-27 19:59] Loki-Afro commented on #166
@segg3r are you starting with an existing database somehow?

[2017-11-28 08:10] emichaf opened #220 "Cannot run program "/tmp/extract-d928b77d-d707-419e-9326-c8272346c1ceextractmongod"
Receive error:
java.io.IOException: Cannot run program "/tmp/extract-d928b77d-d707-419e-9326-c8272346c1ceextractmongod": error=2, No such file or directory
Caused by: java.io.IOException: error=2, No such file or directory

Executing tests in docker (in kubernetes) with system:
Platform : JVM : Oracle Corporation version: 1.8.0_111-internal-alpine-r0-b14 OS : Linux version: 3.10.0-514.26.2.el7.x86

[2017-11-28 11:17] emichaf commented on #220
Solved

[2017-11-28 11:17] #220 closed

[2017-11-28 12:07] matlockx commented on #220
@emichaf maybe you could write shortly how you fixed the problem? might not be embedmongo related but could help other people later with a same problem. thx

[2017-11-28 22:02] emichaf commented on #220
It was a combination of the Image build -> added base image with  glibc support and set env LC_ALL=C, then set privileged: true for container in POD for Kubernetes.

[2017-12-03 19:19] Marek00Malik opened #221 "Spring MongoDb Reactive with Embedded MongoDb - #block terminated with an error"
Hi,
Not sure if this is the correct place, but this only happens when connecting to the embedded db.

My setup
de.flapdoodle.embed:de.flapdoodle.embed.mongo:2.0.0
cz.jirutka.spring:embedmongo-spring:1.3.1

org.springframework.boot:spring-boot-starter-data-mongodb-reactive
'org.springframework.boot' in version @2.0.0.M5

The problem is after connection, when trying to block.
When connecting to a lo

[2017-12-11 05:46] asarkar commented on #221
The embedded Mongo support for Spring Boot doesn't work for webflux. In fact, a lot of their test framework doesn't work for webflux. You'll have to configure it yourself, like so:

In your test:
[code]

In main:

[code]

Notice that the `EmbeddedMongoConfiguration` is only activated when profile `embedded` is active; this way, you can switch between embedded and external Mongo without changing co

[2017-12-11 05:50] asarkar opened #222 "writeConcern=journal query param is ignored"
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/master/src/main/java/de/flapdoodle/embed/mongo/runtime/Mongod.java#L156 looks for `--nojournal` but what about when the user wants to set `writeConcern=journal`? Specifying it with the URI is not working for embedded. I'm not a Mongo expert, so if there's a way to enable journaling, let me know.

[2017-12-11 06:30] asarkar commented on #222
After some digging, it appears that the URI option is ignored. The only way I found is by baking it in the `IMongodConfig`. Here's a Scala version:

[code]

[2017-12-12 15:43] thetric opened #223 "Startup fails when using MongoDB 3.6"
The embedded db fails to start with Mongo 3.6. It errors with

[code]

The previous version 3.4.10 didn't fail on startup.

I use the embedded db with Spring Boot 1.5.9

[2017-12-12 17:41] michaelmosmann commented on #223
Hmm..OK.so we have to add a feature flag to this option.

Am 12. Dezember 2017 16:43:33 schrieb Dominik Broj <notifications@github.com>:

[2017-12-18 09:48] #223 closed

[2017-12-27 18:17] doctorpangloss opened #225 "Cannot execute a gradlew task that eventually starts an embedded Mongo twice on Windows"
Reproduction steps:

  1. Install Java 8
  2. Clone the repository at https://github.com/hiddenswitch/Spellsource-Server
  3. In Windows Powershell, run `& ".\gradlew.bat net:local`.
  4. Observe `de.flapdoodle.embed.mongo` correctly downloads and executes a `mongod`.
  5. `SIGINT` the process with `Shift+Ctrl+C`
  6. In Windows Powershell, run `& ".\gradlew.bat net:local`.
  7. Observe the follow

[2017-12-27 22:32] doctorpangloss commented on #225
I also have no issues starting a Mongo 3.6 server and connecting to it, and I experience the same issue on current `master`.

[2017-12-28 19:15] Marek00Malik commented on #221
This didn't helped, the EmbeddedMongConfig throws ' No qualifying bean of type 'org.springframework.data.mongodb.core.convert.MongoConverter''.

Any idea why ?

[2017-12-28 20:05] asarkar commented on #221
Please open a SO thread, GH issues is not really a place for "help me fix my code", unless you believe there is an actual issue to report.

[2017-12-29 08:59] Loki-Afro commented on #225
@doctorpangloss thanks for giving so much details however I can't reproduce it an my mac machine :( I guess its running on Linux too?

[2017-12-29 10:33] Loki-Afro commented on #221
@asarkar in fact even spring boot github would be a better place :)

https://github.com/spring-projects/spring-boot

[2017-12-29 10:33] #221 closed

[2017-12-29 18:18] doctorpangloss commented on #225
@Loki-Afro yes, this is only an issue on Windows.

Others have reported issues with embedded Mongo on Windows and suspect it's because shutdown hooks aren't being called when the user `Ctrl+C`'s the `cmd` window running `gradle`. But other applications do not have that problem.

[2018-01-02 17:02] f1yers opened #226 "failed to call start() running in Docker container"
Hello,

I am using Chef Habitat with Maven 3.3.9 to build a java microservice and export it to a docker container.  This container is built using the scratch base image and includes jdk8 151 (though I've tried other versions of [jdk8](https://bldr.habitat.sh/#/pkgs/core/jdk8) with the same results) and glibc.  Based on other issues created, the filenotfound exception might be misleading.  I confir

[2018-01-02 17:06] Loki-Afro commented on #226
Do you have a docker image file where you can reproduce this issue?
Also did you check what docker is using for a storage driver?

[2018-01-02 19:39] f1yers commented on #226
For clarification, this is running on Docker for Mac.  I had not checked the storage drivers before you mentioned it.  It was set to overlay2 and I changed it to AUFS to test.  I also tried to mount a volume to /tmp and /root/.embedmongo/extracted/Linux-B64--3.2.2 but ran into the same filenotfound error after start().  I do not have a Dockerfile to share since I used Habitat.  I would think it wo

[2018-01-02 19:46] Loki-Afro commented on #226
Well since travis (the CI environment) is based in docker and I have some private builds using docker containers I do not encounter such an issue thats why I asked for some `Dockerfile` where it is reproducible. Could you provide one? :)

[2018-01-04 02:01] f1yers commented on #226
Thanks for the quick response @Loki-Afro and I apologize for the fire drill.  I was able to get this working.  For others using Habitat or the scratch image, the problem for me was an issue with finding the required libraries.  Once I symlinked ld-linux-x86-64.so.2 to /lib64, I was able to run ldd and find the problem.

[code]

[2018-01-04 02:01] #226 closed

[2018-01-08 19:05] lipnitsk commented on #213
@michaelmosmann Any plans on a release sometime soon?

[2018-01-10 10:49] llfbandit opened #227 "Java 9 compatibility"
PidHelper.getPid() tries to invoke "getPid()" via reflection but in java 9 the method is now called "pid()".
This results into a failure when launching the process.

[2018-01-10 10:53] llfbandit commented on #227
Wrong project and already had a PR in de.flapdoodle.embed

[2018-01-10 10:53] #227 closed

[2018-01-10 23:54] doctorpangloss commented on #225
Anyone develop on Windows who'd be interested in tackling this issue?

[2018-01-11 07:48] Loki-Afro commented on #225
maybe it is reproducible here https://www.appveyor.com/ seems like travis for windows

[2018-01-13 11:19] roberttaylor426 opened #228 "Is there an ETA on the next release?"
Hi, I'm the author of [a downstream project](https://github.com/sourcemuse/GradleMongoPlugin) that leverages your library; thanks for all your efforts!

I was wondering when you anticipate making your next release? I have a number of users who are eager for Mongo 3.6 support, but we're blocked right now as this is currently unavailable in the 2.0.0 release. I notice support was added in [a recent

[2018-01-13 11:21] Loki-Afro commented on #228
@michaelmosmann ping

[2018-01-13 13:28] matlockx commented on #228
I can do a release tomorrow evening if @michaelmosmann cannot until then

On Sat 13. Jan 2018 at 12:21, Phillip <notifications@github.com> wrote:

[2018-01-16 15:22] roberttaylor426 commented on #228
Bump. :-)

[2018-01-16 16:22] thetric opened #229 "High CPU usage with Mongo 3.6"
After upgrading from Mongo 3.4.10 to 3.6.0 I have noticed a significant higher CPU usage of the "extract" process. `top` shows about 80% CPU time spent, the older version nearly zero.

I'm using the embedded Mongo in combination with Spring Boot 1.5.

Should I provide a minimal reproduction repo?

Edit: OS: Arch Linux, Java 1.8.152 (64bit)

[2018-01-16 18:18] Loki-Afro commented on #229
@thetric maybe the compression level is different? Can you verify that?

[2018-01-16 20:53] thetric commented on #229
The Mongo archives for the versions 3.2.2, 3.4.10 and 3.6.2 are compressed .tgz files

[2018-01-16 20:57] Loki-Afro commented on #229
@thetric of course but the compression rate is interesting ;)

[2018-01-16 21:07] Loki-Afro commented on #229
No big difference
[code]

Is there a difference when using the current version with 3.6 vs the current version with 3.4?

[2018-01-16 21:34] thetric commented on #229
@Loki-Afro Can you reproduce this on your machine, too?

[2018-01-16 21:45] Loki-Afro commented on #229
@thetric at least not on OSX at the moment

[code]

with `this.mongoVersion = Version.V3_4_3;`or `Version.V3_6_0` the results are around 2200 - 2550 ms of course these tgz are predownloaded.

But if there is an issue it should be visible with this simple test if I got you right

[2018-01-17 13:59] matlockx commented on #228
2.0.1 should be available now

[2018-01-17 22:00] roberttaylor426 commented on #228
Great, thanks!

[2018-01-17 22:03] #228 closed

[2018-01-17 22:04] Loki-Afro commented on #213
@lipnitsk there is a new release out

[2018-01-17 22:04] #213 closed

[2018-01-17 22:05] Loki-Afro commented on #132
I guess this is not relevant anymore. Everything works on my OS X machine at least. reopen if i'm wrong :)

[2018-01-17 22:05] #132 closed

[2018-01-17 22:06] Loki-Afro commented on #229
@thetric so can you provide some example with some stats?

[2018-01-18 09:39] thetric commented on #229
Oh, I have mistaken the `extractd` process for the extraction process of the Mongo, but it _is_ the Mongo process. Sorry for the confusion.

The real problem for the higher CPU usage seems to be the Mongod flag `--syncdelay=0`. Omitting this flag decreases the system load to the same level as with older Mongo versions.
Why is this flag specified? The [Mongo docs](https://docs.mongodb.com/manual/re

[2018-01-18 13:31] bertramn commented on #167
The problem on Windows seems to be related to MongoDB 3.6.0, running the extracted mongod executable in `%USERPROFILE%\.embedmongo\extracted\Windows-B64--3.6.0` abruptly ends cause the mongod process fails to locate `libeay32.dll` and `ssleay32.dll`. Throwing the ddls into the extract folder does not seem to work either. Running the same with MongoDB 3.4.1 works fine.

Having said that, MongoDB 3.

[2018-01-18 14:50] bertramn commented on #225
I am able to reproduce the issue on Windows 7 with flapdoodle mongo version 2.0.1 which defaults to mongo version 3.6.0. From what I can tell is that MongoDB 3.6.x needs `libeay32.dll` and `ssleay32.dll`. Unless both are available on the PATH the error above matches what I can see.

The flapdoodle process extracts the mongod.exe from the zip and copies it to `%TEMP%`. From mongo 3.6.0, it will als

[2018-01-18 15:40] Loki-Afro commented on #167
@bertramn what RHEL version?

[2018-01-18 17:35] thetric commented on #229
Here some stats for a comparison (measured on a Intel i7 7820HQ, 32 GB mem)

* Linux (`top` cpu time)
  * `--syncdelay=0`: ~80%
  * default syncdelay: <1%
* Windows 10
  * `--syncdelay=0`: ~10% CPU
  * default sync delay: <1%

Perhaps you should drop `Feature.SYNC_DELAY` from `V3_6_0` and `LATEST_NIGHTLY` in https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/master/src/main/java/de/f

[2018-01-19 02:26] bertramn commented on #167
@Loki-Afro its a stock RHEL 7.4 with 3.10.0-693.11.1.el7.x86_64 kernel

[2018-01-19 02:28] bertramn commented on #167
I also found that the libssl dlls need to be on the path. Flapdoodle copies the extracted mongod binary to users temp folder. So dropping them in there will fix the issue on Windows (although this is not portable).

On RHEL I did not have a detailed look but installing openssl-devel seems to get over one hump but then it fails with some errors about a missing data directory in /tmp ...

[2018-01-19 07:58] Loki-Afro commented on #167
@bertramn could you make a PR regarding the Windows issue? I'll take a look at that rhel one

[2018-01-19 09:50] livthomas opened #230 "MongoDB 3.6: Address already in use"
When I use MongoDB 3.6 in my tests, they fail because the server is not started. Here is the output:
[code]
It seems like MongoDB is already running but there is no other instance running unless this library starts the server twice. When I change MongoDB version back to 3.4, everything works. Is there some problem with starting new MongoDB in this library?

I use `de.flapdoodle.embed.mongo` versio

[2018-01-19 11:44] Loki-Afro commented on #230
Can you share a bit of code? I can't reproduce this on my lovely fedora machine

[2018-01-19 12:37] livthomas commented on #230
Steps to reproduce this problem in our project:

1. Checkout [Lumeer/engine](https://github.com/Lumeer/engine) repository.
2. Run `mvn clean test -Dtest=MongoViewDaoTest -DfailIfNoTests=false` in the root folder. See that all tests pass with MongoDB 3.4.
3. Modify [EmbeddedMongoDb](https://github.com/Lumeer/engine/blob/devel/lumeer-storage/lumeer-storage-mongodb/src/test/java/io/lumeer/storage/mon

[2018-01-19 13:44] Loki-Afro commented on #230
This relates to https://jira.mongodb.org/browse/SERVER-32631 :/

A Workaround since `localhost` is not working:

[code]

`Network.getLocalHost().getHostAddress()` resolves to `127.0.0.1` and everything seems to work fine, this also fixes some weird mac OS X firewall warnings by the way.

I'll build in the next days a fix directly in this lib but I hope this helps ;)

And thanks for submitting this

[2018-01-19 14:53] #230 closed

[2018-01-19 14:54] Loki-Afro commented on #230
@livthomas the fix is out, also now with mongodb 3.6.2 if you can relay on SNAPSHOT versions...

[2018-01-19 14:55] Loki-Afro commented on #176
@durimkryeziu thank you for pointing that out, closing this issue for now.

[2018-01-19 14:55] #176 closed

[2018-01-19 15:08] Loki-Afro commented on #229
I'll not change the code I did some testing and some unit tests start to fail randomly (because mongodb did not persist the data yet(?) - can't verify)

Take a look here https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/#custom-command-line-options thats how you are able to disable sync delay

[2018-01-19 15:08] #229 closed

[2018-01-19 15:10] livthomas commented on #230
@Loki-Afro, thanks a lot! I have set the host address directly to `127.0.0.1`.

[2018-01-19 15:35] Loki-Afro commented on #169
This is actually part of the current version

[2018-01-19 15:35] #169 closed

[2018-01-19 15:37] Loki-Afro commented on #135
This has changed again with 3.6.0, currently there is only one windows binary left.

https://www.mongodb.com/download-center#community

[2018-01-19 15:37] #135 closed

[2018-01-19 15:42] Loki-Afro commented on #167
@bertramn extracting and executing works fine on the current fedora container which is more or less RHEL 7.4+ centos 7 works also pretty fine.

[2018-01-19 15:44] #202 closed

[2018-01-19 15:47] Loki-Afro commented on #199
@luisfilipe46 thanks for providing the solution, closing this :)

[2018-01-19 15:47] #199 closed

[2018-01-19 15:48] Loki-Afro commented on #222
@asarkar thanks for providing the solution ;) Sorry for the late reply, did not have much time this year yet

[2018-01-19 15:48] #222 closed

[2018-01-19 16:00] Loki-Afro commented on #98
@n0mer can I close this issue or is there anything left to do? ;)

[2018-01-19 16:03] Loki-Afro commented on #171
@manishpatelUK @yogeshlonkar thanks, signal handling in windows is a mess, especially with java, sorry for the inconvenience

[2018-01-19 16:03] #171 closed

[2018-01-21 17:06] garydgregory opened #231 "Please update the change log for 2.0.1"
Thank you for a great plugin. Can you please update the change log for 2.0.1?

Thank you!
Gary

[2018-01-21 20:45] Loki-Afro commented on #231
done

[2018-01-21 20:45] #231 closed

[2018-01-23 05:41] garydgregory opened #232 "Mongodb 3.6+ not working with Windows (Debugging logging, plugin stuck after downloading)"
Hi All,

Is there any debug logging available with de.flapdoodle.embed.mongo 2.0.1?

My test appears stuck:

This worked fine with 2.0.0 so I suspect something with the new MongoDB version from de.flapdoodle.embed.mongo 2.0.0 to 2.0.1.

I can run my test OK on my local machine but this is running on a work Bamboo build using:

Anything I can tweak in my Maven config for de.flapdoodle.embed.mongo 2

[2018-01-23 07:25] Loki-Afro commented on #232
@garydgregory does it work with mongodb 3.4? When your java app hangs: take a threaddump to see where

[code]

[2018-01-23 15:24] garydgregory commented on #232
It works fine with de.flapdoodle.embed.mongo 2.0.0. This is what I found when I logged on to our build machine: It appears that MongoDB crashed:

[code]
Please see screenshots:

- https://imagebin.ca/v/3pCUlwZDyqnZ
- https://imagebin.ca/v/3pCV7UEgpqkb

Any thoughts on debugging this?

[2018-01-23 15:28] Loki-Afro commented on #232
Seems to be related to this issue: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/167#issuecomment-358646897

Thats why I asked: does it work with mongodb 3.4? To change the version embed mongo is using see here https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#main-versions

[2018-01-23 15:43] garydgregory commented on #232
I did not understand you question before, sorry about that. Testing plugin 2.0.1 with 3.4 ...
I also see here https://www.mongodb.com/download-center?jmp=nav#community that the latest version is 3.6.2.

[2018-01-23 16:10] garydgregory commented on #232
Yes, it works with `Version.Main.V3_4`. Now what?

[2018-01-23 16:23] garydgregory commented on #232
Previously with 3.6.0 I also found this:

[code]

[2018-01-23 16:56] Loki-Afro commented on #232
Then this ticket is an duplicate of gh-167 :)

As a temporary workaround stay with mongodb 3.4 and embed mongo 2.0.1

I'll try to push a branch where this is fixed today, would be great if you try it out then, but closing this as duplicate of  gh-167

[2018-01-23 17:31] garydgregory commented on #232
OK, I'll watch https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/167, keep me posted :-)

[2018-01-23 17:40] garydgregory commented on #167
Watching this issue after creating https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/232 (closed a duplicate)...

[2018-01-23 18:07] Loki-Afro commented on #167
@garydgregory could you test if the branch `windows_include_dlls` works for you?

[2018-01-23 21:53] garydgregory commented on #232
I am running the build with 'mvn clean install' now but I already see failures:

[code]

I am building with:

[code]

[2018-01-23 22:21] garydgregory commented on #232
At this point the build has been running for 40 minutes and is doing this over and over:
[code]

[2018-01-23 22:22] garydgregory commented on #232
Can you put up a 2.0.2-SNAPSHOT in a Maven repository I can just point to?

[2018-01-23 22:46] garydgregory commented on #167
@Loki-Afro : I posted my results and comments on https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/232

[2018-01-24 09:08] #167 closed

[2018-01-24 09:08] Loki-Afro commented on #167
please follow #232

[2018-01-24 17:33] Loki-Afro commented on #232
even with the shipped dlls, namely `libeay32.dll` and `ssleay32.dll` mongodb won't start because `MSVCP140.dll` .. feels like I'm back to the 90s ...

![windows_hate](https://user-images.githubusercontent.com/4738445/35347252-db6836d4-0134-11e8-8989-93ae7b3eebc7.png)

seems to be broken since mongodb 3.5.6 according to https://groups.google.com/forum/#!topic/mongodb-user/6NEWPfces6Q

[2018-01-24 18:09] garydgregory commented on #232
I voted for it :-)

[2018-01-30 01:17] doctorpangloss commented on #225
@bertramn so you're saying this is all that's needed for a patch too?

[2018-01-30 06:58] Loki-Afro commented on #225
@doctorpangloss @bertramn is purly mongodb 3.6 under windows related and the issue for that is here: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/232 don't let us start the 3. or 4. discussion here.

meanwhile https://www.appveyor.com/ does not work in our scenario due to some restrctions...

[2018-02-02 22:27] lipnitsk opened #233 "Add support for different Linux flavors to enable SSL"
The Linux binary downloaded by the current code comes from `URL`/linux/mongodb-linux-`32/64bit`-`version`.tgz. Unfortunately that binary does not come compiled with SSL support. Due to different SSL implementations and library names, mongoDb provides the following distro-specific binaries (in 64-bit form only) in addition to the generic `linux` one:
- Amazon Linux
- Debian 7
- Debian 8
- RHEL 6
-

[2018-02-02 22:31] Loki-Afro commented on #233
hi there, sorry this is not possible.
You would need root access to install those packages.

If you really need on your fancy linux box a mongodb: install it.
start it before the tests, stop it afterwards or just let it run.

[2018-02-02 22:31] #233 closed

[2018-02-02 22:34] lipnitsk commented on #233
Okay, thanks for the quick response. FYI, I think what I need is possible via the `GenericVersion` class.

[2018-02-02 22:35] Loki-Afro commented on #233
What exactly do you need? ;)

[2018-02-05 21:19] lipnitsk commented on #233
I'm trying to use mongo with SSL enabled (with the [Gradle mongo plugin](https://github.com/sourcemuse/GradleMongoPlugin)). I was able to get around the version issue by using a custom version. I am now trying to find a more graceful way to shutdown mongod when SSL is enabled. `AbstractProcess.stop()` does not seem to work on Windows. On Linux, it works at the last step of `ProcessControl.stopOrDe

[2018-02-05 21:23] lipnitsk commented on #233
Maybe a method similar to `Mongod.sendShutdown()`, but one that takes an `sslPEMKeyFile` and `sslPEMKeyPassword` can be developed so that an authenticated shutdown command is sent to mongod? Do you think that is feasible and reasonable?

[2018-02-05 21:34] Loki-Afro commented on #233
@lipnitsk I guess this is a very special case. Wouldn't it be enough if `de.flapdoodle.embed.mongo.AbstractMongoProcess#sendStopToMongoInstance` is overridable?

[2018-02-05 22:22] lipnitsk commented on #233
@Loki-Afro that sounds like it could work? I'm not that familiar with overriding functions pulled in from dependencies (in this case your project is a dependency of gradle mongo plugin, which is in turn a dependency of my project), but if that can be done easily for just that one function then that sounds good. Would you still need to modify the code to make it overridable?

[2018-02-05 22:43] lipnitsk commented on #233
Yeah, @roberttaylor426 is very responsive, so shouldn't be too much of a problem. So can I override the existing function in the current embed.mongo 2.0.1 release, or would you still need to change this project?

[2018-02-07 18:34] Loki-Afro commented on #233
A change is required, currently that method is final. But you should try it out if it works out for you.

Sorry for the late reply :/

[2018-02-08 10:06] maksym-shamanovskyi-axon commented on #230
@Loki-Afro your solution works local but not in remote jenkins with slowly machine

[2018-02-08 10:29] Loki-Afro commented on #230
@maksym-shamanovskyi-axon check your `/etc/hosts` file , compare it on a machine where it works. I Once had weird mappings there for localhost, maybe this is your case too. Otherwise this sounds like a different bug?

[2018-02-12 13:33] bertramn commented on #232
@Loki-Afro looks like the `libeay32.dll` and `ssleay32.dll` files in the mongo zip distros require Microsoft's Visual C++ Redistributable for Visual Studio 2015 to be installed. Probably should be raised with mongo folks as [their website](https://docs.mongodb.com/manual/tutorial/install-mongodb-on-windows) does not indicate that this is a pre-requisite for their zip distribution (I noted that on

[2018-02-12 14:30] doleron opened #234 "2.0.2-SNAPSHOT not found at repository"
2.0.2-SNAPSHOT not found at https://oss.sonatype.org/content/repositories/snapshots/de/flapdoodle/embed/de.flapdoodle.embed.mongo/

[2018-02-12 18:34] Loki-Afro commented on #234
@matlockx could you please publish a snapshot?

[2018-02-12 18:41] matlockx commented on #234
Give me some minutes

On Mon 12. Feb 2018 at 19:34, Phillip <notifications@github.com> wrote:

[2018-02-12 18:51] matlockx commented on #234
https://oss.sonatype.org/content/repositories/snapshots/de/flapdoodle/embed/de.flapdoodle.embed.mongo/2.0.2-SNAPSHOT/

[2018-02-12 18:51] #234 closed

[2018-02-12 18:56] matlockx commented on #137
updated

[2018-02-12 18:56] #137 closed

[2018-02-12 18:59] matlockx commented on #84
@kdkeck quite a while but are you still interested in this? if so I would suggest to provide a pr since we do not have the resources currently to provide that change. otherwise i would close this issue for now.. sorry

[2018-02-12 19:14] doleron commented on #234
Thank you Guys!

[2018-02-20 06:05] garydgregory opened #235 "Please update Changelog.md for release 2.0.2 and 2.0.3"
Please update Changelog.md for release 2.0.2 and 2.0.3.

[2018-02-21 00:23] n0mer commented on #98
@Loki-Afro if now it's possible to inject - then go ahead :)

[2018-03-02 19:03] sydneyhenrard opened #236 "Download version 3.6+ is not working"
I tried to use version 3.6.1 but the download is not working with a 403 error:

`
java.io.IOException: Server returned HTTP response code: 403 for URL: https://downloads.mongodb.org/win32/mongodb-win32-x86_64-3.6.1.zip
`

The `pom.xml` is configured like:

[code]

My system info:

[code]

[2018-03-02 19:39] Loki-Afro commented on #236
MongoDb 3.6+ with windows is currently not working

Wait for https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/232 ;)

[2018-03-02 19:39] #236 closed

[2018-03-03 09:44] ryabko commented on #236
But in #232 that issue with "403 error" isn't mentioned and I think you'll be getting this "403 error" even after #232 is fixed.
The issue described in current ticket takes place because of bad constructed URL.
It wants to download `/win32/mongodb-win32-x86_64-3.6.1.zip` whereas the only correct path is `/win32/mongodb-win32-x86_64-2008plus-ssl-3.6.1.zip`.
I had the same issue. I run embedded mong

[2018-03-03 09:47] Loki-Afro commented on #236
@ryabko correct but #232 is resolved when its working for windows again ... so such an 403 error would come up anyway - just wanted to be extra brief ;)

[2018-03-03 09:51] ryabko commented on #236
Thanks) By the way, I've just added NO_HTTP_INTERFACE_ARG feature, and it works now for me!
Windows 10, mongo 3.6.2.

[2018-03-05 08:35] kimside opened #237 "Unable to use '--archive' with mongodump"
In MongoDump.java this happens on line 67:

if (config.getArchive() != null) {
         ret.add("--archive");
         ret.add(config.getArchive());
}
This will ignore the fact that the mongodump argument for 'archive' should be
mongodump --archive=[anArchive]

and not
mongodump --archive [anArchive]

causing the dump not to happen at all when using this flag.

[2018-03-07 16:27] xsilmarx commented on #212
Not sure if this is the same issue, I started using this lib, version 2.0.3, but if I try to close the MongodExecutable from within the @AfterClass teardown method, the method gets stucked on the close() - see stack trace.
The solution was to not close the MongodExecutable at all, but I'm not sure if this is safe.
Is this the same issue or should I open a new one?

Thread [vert.x-eventloop-thread-

[2018-03-07 18:40] Loki-Afro commented on #237
Thanks for submitting the issue, will be part of the next release :)

[2018-03-07 18:40] #237 closed

[2018-03-07 18:47] Loki-Afro commented on #235
done, thanks for the reminder

[2018-03-07 18:47] #235 closed

[2018-03-07 18:52] Loki-Afro commented on #232
3.6.3 is also affected

[code]

[2018-03-08 06:50] faizan-talena commented on #212
@xsilmarx The problem does not seem to be the same.
You are facing an IO issue, while what @rajenders faced was definitely a timeout issue (Mongo process did not shut down in 3 seconds).
Are you reusing MongodProcess instance across multiple threads ?

[2018-03-08 14:15] xsilmarx commented on #212
@faizan-talena here's the source code of how I instantiate the embedded MongoDB:

`// start embedded MongoDB
		IRuntimeConfig runtimeConfig = new RuntimeConfigBuilder().defaults(Command.MongoD).daemonProcess(false).build();
		MongodStarter starter = MongodStarter.getInstance(runtimeConfig);

		String bindIp = "localhost";
		int port = 12345;
		IMongodConfig mongodConfig = new MongodConfigBuilder()

[2018-03-08 14:17] Loki-Afro commented on #212
@xsilmarx could you please create a new issue?

[2018-03-08 14:25] xsilmarx commented on #212
After restarting the computer a couple of times I'm not able to reproduce this error anymore. Maybe it was an intermitent issue with the OS filesystem lock. I will create a new issue in case I'm able to reproduce it again.
Thanks.

[2018-03-09 18:18] doctorpangloss opened #238 "Mongo v3.5 no longer downloading on macOS (possibly Windows)"
Using the specified `MongodConfigBuilder` command:

[code]

Will time out. On a clean macOS 10.13.3 machine with no prior artifacts downloaded, the following config completes normally:

[code]

[2018-03-16 09:14] darius1907 opened #239 "$cond result is empty"
In my integration test i'm testing this query

{ "$match" : { "$and" : [{ "lastUpdateDate" : { "$gte" : { "$date" : 1517958000000 }, "$lte" : { "$date" : 1518044399999 } } }, { "lastStatus" : { "$in" : ["SBY", "PRV", "BLC",] } }] } }, { "$project" : { "macrostate" : { "$cond" : { "if" : { "$in" : ["$lastStatus", ["SBY"]] }, "then" : "RED", "else" : { "$cond" : { "if" : { "$in" : ["$lastStatus", ["

[2018-03-16 09:17] Loki-Afro commented on #239
@darius1907
check your mongodb versions
check your inserts

There is nothing embed mongo tries to do with the MongoClient or how the data is somehow inserted

[2018-03-16 09:39] darius1907 commented on #239
{ "$match" : { "$and" : [{ "lastUpdateDate" : { "$gte" : { "$date" : 1517958000000 }, "$lte" : { "$date" : 1518044399999 } } }, { "lastStatus" : { "$in" : ["SBY", "PRV", "BLC", "SCA", "ERR", "ELA", "SCA_UTENTE"] } }] } }, { "$project" : { "macrostate" : { "$cond" : { "if" : { "$in" : ["$lastStatus", ["SBY", "PRV", "BLC", "SCA", "ERR", "ELA"]] }, "then" : "RED", "else" : { "$cond" : { "if" : { "$in

[2018-03-16 10:35] Loki-Afro commented on #239
@darius1907 well but this is not fongo, this is the embedmongo, welcome :D

I guess you mean https://github.com/fakemongo/fongo - and they don't support all mongodb features as far as I know

[2018-03-16 10:40] darius1907 commented on #239
@Loki-Afro i'm sorry i have open both github projects and i have posted my issue on the wrong one.

sorry sorry sorry sorry sorry sorry sorry sorry

I know that fongo don't support all mongodb features, indeed i have open your project to find an alternative to fongo.

[2018-03-16 10:40] #239 closed

[2018-03-16 10:41] Loki-Afro commented on #239
:D:D glad I could help you

[2018-03-20 21:52] poikilotherm commented on #223
Sorry to necro this old issue, please slap me if I should open a new issue instead.

While using
* Spring Boot 2.0.0
* Spring Data MongoDB 2.0.5
* Flapdoodle 2.0.3

and setting MongoDB version to 3.6.0 or 3.6.3  in application.yaml via
[code]

I receive the exact same error, breaking my unit tests.
The above configuration was taken from #190.

Any hints?

[2018-03-20 21:56] Loki-Afro commented on #223
@poikilotherm what os are you using?

are you absolutely sure you are using flapdoodle 2.0.3?

[2018-03-20 22:03] poikilotherm commented on #223
@Loki-Afro that's what I call a quick response... :+1:

Fedora 27 using system Maven:
[code]

Verified flapdoodle version from `mvn verify` classpath:
[code]

[2018-03-20 22:15] Loki-Afro commented on #223
@poikilotherm glad you use fedora ;)

do you have any stacktrace? can't reproduce the issue ad hoc ...

[2018-03-20 22:34] poikilotherm commented on #223
Here you are...
[stacktrace-flapdoodle-mongo36.txt](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/files/1831458/stacktrace-flapdoodle-mongo36.txt)

Thank you for your support!

[2018-03-21 11:03] Loki-Afro commented on #223
@poikilotherm I know you are using spring and I can remember it constructs its own implementation of `de.flapdoodle.embed.mongo.distribution.IFeatureAwareVersion` without the correct `Features` which is in this case not a feature but an "anti feature" which removed this unnecessary argument.

Maybe you can dig a bit in the spring-boot code how the version gets constructed

[2018-03-21 12:28] poikilotherm commented on #223
Thanks a lot for your much appreciated help @Loki-Afro, it is indeed a Spring Boot Autoconfiguration issue. This can remain closed :-)

[2018-03-21 15:25] Loki-Afro commented on #238
@doctorpangloss sorry for the late reply

It works on 10.11.6 at least ;)

be aware 3.5 was a development version just in case you didn't know that.

Do you have any exception or clue where in the process or what is hanging?

And regarding the windows mess ... https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/232 :/

[2018-03-22 13:55] SQB commented on #232
I'm running into the same problem after upgrading WireMock to 2.15.0 and Flapdoodle from 2.0.0 to 2.0.3. Updating the Visual C++ Redistributable made no difference. Explicitly setting the Mongo version to `Version.Main.V3_4` solves it for me.

[2018-03-22 13:58] Loki-Afro commented on #238
@doctorpangloss btw. the Windows mongodb distribution is broken since 3.5.x

[2018-03-26 15:20] mickaeltr commented on #120
Hello,

FYI, it seems that the problem reappeared with Java 10.
I am using MacOS and getting the following output:

Cheers

[2018-03-26 15:21] Loki-Afro commented on #120
@mickaeltr could you open a new issue? thanks

[2018-03-30 18:12] philwebb opened #240 "Add toString to GenericFeatureAwareVersion"
Would it be possible for `de.flapdoodle.embed.mongo.distribution.Versions.GenericFeatureAwareVersion` to have a `toString` method similar to the one provided by `de.flapdoodle.embed.mongo.distribution.Version`.

[2018-03-30 18:33] Loki-Afro commented on #240
@philwebb why not just use `asInDownloadPath` of `IVersion`? Don't want to rely on `toString` methods :/

[2018-03-30 18:41] philwebb commented on #240
AFAICT We're not using `toString` directly, it's probably just there to help with logging/debugging. Perhaps @wilkinsona can remember why we added `ToStringFriendlyFeatureAwareVersion` in our own codebase.

There is a bit of a discrepancy as things stand since `Version.V3_6_2.toString()` gives you "Version{3.6.2}" but `GenericFeatureAwareVersion.withFeatures(Version.V3_6_2).toString()` gives you a

[2018-03-30 18:53] #240 closed

[2018-03-30 18:53] Loki-Afro commented on #240
@philwebb this is true, adding the `toString` to `GenericFeatureAwareVersion`doesn't harm anyone but you should relay on `asInDownloadPath` ;)

[2018-04-03 18:03] rgrebski opened #241 "NoSuchFieldException on JDK10"
Same issue that was present on JDK9: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/120

[code]

[2018-04-03 18:03] rgrebski commented on #241
I am working on a PR...

[2018-04-03 18:05] Loki-Afro commented on #241
already fixed in process but not yet released ;)

[2018-04-03 18:05] #241 closed

[2018-04-03 18:07] rgrebski commented on #241
Great, thx !

[2018-04-03 18:12] rgrebski commented on #241
Any chance to release a snapshot at least ?

[2018-04-03 18:16] Loki-Afro commented on #241
@rgrebski see https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/78

[2018-04-03 18:18] rgrebski commented on #241
Thank you !! :-)

[2018-04-09 23:39] garydgregory commented on #232
Note that on the MongoDB side, the ticket https://jira.mongodb.org/browse/SERVER-32877 has been closed as a duplicate of https://jira.mongodb.org/browse/SERVER-26028, so please go and VOTE for https://jira.mongodb.org/browse/SERVER-26028

[2018-04-10 06:10] Loki-Afro commented on #232
@SQB based on https://jira.mongodb.org/browse/SERVER-32877?focusedCommentId=1826464&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-1826464 installing the msi once could be a workaround too in certain situations but haven't tested that.

[2018-04-10 09:35] SQB commented on #232
@Loki-Afro No joy. I even installed the Microsoft way, restarting _before and after_ installation.

On a side note, I've also installed all Visual C++ Redistributables I could get my hands on, but that made no difference either.

As a workaround, I've hard coded to use `Version.Main.V3_4`, but only on my system. I can't commit and push that, since not all Windows-using cow-orkers are having the sa

[2018-04-11 13:36] kkocel opened #242 "[Question] Docker image for embed mongo?"
I would like to ask if there is some publicly available Docker image that allows embed mongo library do be run? I'm asking because I'm running into the same problem as this user: https://stackoverflow.com/questions/49492457/gitlab-pipeline-with-embedded-mongodb

[2018-04-11 13:43] Loki-Afro commented on #242
@kkocel to resolve that stackoverflow issue some custom configuration regarding where to store the binaries/tmp files is required but it should run without any problems then I guess.

A docker container of embed mongo seems pretty useless. If you want mongodb in an docker container well ... use the official mongodb docker container and connect your build container to it.

if I should look into tha

[2018-04-11 17:31] doctorpangloss commented on #238
@Loki-Afro yikes!

[2018-04-11 19:01] Loki-Afro commented on #238
@doctorpangloss works on 10.13.4 as well but I am not able to test it against 10.12.6 or 10.12.x at all :/

[2018-04-12 20:26] Loki-Afro commented on #216
@joankaradimov will get fixed with https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/232

[2018-04-12 20:26] #216 closed

[2018-04-12 20:28] Loki-Afro commented on #127
@mwisnicki PRs are welcome here :)

[2018-04-12 20:30] Loki-Afro commented on #212
just mentioning https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/64 maybe it helps some of you

[2018-04-12 20:32] Loki-Afro commented on #204
@roberterdin closing for https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/232 and you found your own workaround ;)

[2018-04-12 20:32] #204 closed

[2018-04-12 20:42] Loki-Afro commented on #99
@nscavell I know today is 2018 but ...

wouldn't be the only way to call `Network.getFreeServerPort()` and `Network.localhostIsIPv6()`lazy to resolve this issue or am Im not getting this issue?

[2018-04-12 21:31] ghostbuster91 commented on #242
Hi,

I just run into the same issue.
We have a spring application which connects to mongodb. To do that we use docker-compose to easily connect mongoDb container with our spring-app container. The docker file for our spring app is created in a such way that it invokes `build` command which invokes tests under the hood. Obviously our tests don't use any real instance of mongoDb but they spawn an em

[2018-04-12 21:47] Loki-Afro commented on #242
@ghostbuster91 @kkocel https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/226 does this resolve the issue? using alpine is always kinda weird never got a single docker image just working out of the box switched to debian or centos as base images ...

[2018-04-13 10:28] YashchenkoN opened #243 "NoSuchFieldException on Java 10"
I found that #241 is resolved now. I use the latest version:

[code]
but still see the issue on MacOS:

[code]

[2018-04-13 14:46] kkocel commented on #242
Yes, it resolved my issue :)

[2018-04-13 22:51] Loki-Afro commented on #243
@YashchenkoN well it is resolved but looking further down the comments you would find https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/78 ;)

[2018-04-13 22:51] #243 closed

[2018-04-13 22:52] Loki-Afro commented on #242
@kkocel just for the future ... could you post your Dockerfile line which resolved that issue? ;)

[2018-04-14 08:34] ghostbuster91 commented on #242
It would be very helpful because I wasn't able to fully resolve my problem.

I followe your links @Loki-Afro and managed to install missing `ld-linux-x86-64.so.2` library. But still I got an error message that I am missing some symbols:

[code]

Switching to https://hub.docker.com/r/frolvlad/alpine-oraclejdk8/ doesn't work neither.

[2018-04-14 09:06] ghostbuster91 commented on #242
Using `openjdk:8` as a base image solved my problem.

[2018-04-14 09:08] Loki-Afro commented on #242
@ghostbuster91 which is not based on alpine ... ;)

[2018-04-17 07:43] Izabela-Kilroy opened #244 "Upgrade to newest mongodb-driver"
https://mongodb.github.io/mongo-java-driver/

[2018-04-17 14:32] SQB commented on #232
`Version.LATEST_NIGHTLY` works as well.

[2018-04-18 13:01] tom4s-0 opened #245 "Cannot apply schema (unknown top level operator: $jsonSchema)"
String commandBody = resource("schema_file.json")
    Jongo jongo = new Jongo(DB)
    jongo.runCommand(commandBody).throwOnError().as(Object.class)

is throwing

     com.mongodb.MongoCommandException: Command failed with error 2: 'unknown top level operator: $jsonSchema' on server localhost:port_number. The full response is { "ok" : 0.0, "errmsg" : "unknown top level operator: $jsonSchema", "code

[2018-04-18 22:56] Loki-Afro commented on #245
@tom4s-0 what is Jongo ...?

[2018-04-19 08:05] tom4s-0 commented on #245
@Loki-Afro http://jongo.org/

[2018-04-19 23:24] Loki-Afro commented on #245
@tom4s-0 https://stackoverflow.com/a/33595614/1248724 ... there are many erros like this in google and I don't know what jongo does there ... qhy don't you open an issue in the jongo issue tracker?

[2018-04-20 12:03] tom4s-0 commented on #245
@Loki-Afro It is not related to Jongo. I think issues like the one described above in SO are often caused by Mongodb version a person uses. Also, I use exactly the same method to apply schema on real Mongo database, and it works fine, so it really doesn't seem like a Jongo problem. This error makes me think `de.flapdoodle.embed.mongo` might be using lower Mongodb version than 3.6. And schema valid

[2018-04-23 08:41] tom4s-0 commented on #245
@Loki-Afro Have you ever been able to apply schema validation on embedded db?

[2018-04-23 08:42] tom4s-0 commented on #245
@Loki-Afro Have you ever been able to apply schema validation on embedded db?

[2018-04-24 07:39] Loki-Afro commented on #245
@tom4s-0 I never tried out mongodb schema validation in any scenario.

Can you please write a simple Unit test which demonstrates the issue you are facing - if possible without Jango?

[2018-04-26 18:46] torsten-liermann commented on #123
I would like to embed mongodb in a product. When the application starts, the mongo daemon should also be started, when the application is finished, the mongo daemon should also be terminated. It looks like I can easily do that with mongo embed. The only way to avoid downloading and unpacking the artifact is to implement IArtifactStore. Am I correct?

Thanks for a tip.

[2018-04-30 10:23] wilkinsona opened #246 "Intermittent start failure due to "Text file busy""
In Spring Boot CI builds (which run on Linux), we occasionally see Embedded Mongo 2.0.3 fail to start due to a text file being busy:

[code]

Here's [one example](https://ci.spring.io/teams/spring-boot/pipelines/spring-boot/jobs/build/builds/1221) of the failure from which I took the above stack trace.

I wonder if there's a stream or writer that's not being closed or flushed when the file's being

[2018-04-30 10:41] Loki-Afro commented on #246
@wilkinsona as far as I know "Text file busy" is triggered when another process does access the file, but I could be wrong here.

is there a way to do an lsof on that file when the issue occurs?

[2018-04-30 10:56] wilkinsona commented on #246
I can certainly try to get some lsof output when the problem next occurs. I'll update this issue if I am able to do so. That said, I would be surprised if there's another process accessing the file.

Having done a bit more research, I wonder if this could be a symptom of [this JDK bug](https://bugs.openjdk.java.net/browse/JDK-8068370)? If so, perhaps it would be appropriate to retry?

[2018-04-30 11:00] Loki-Afro commented on #246
interesting JDK bug, you could try out the script mentioned there in your environment since you are the first who is facing this issue it could be very environment specific ...

[2018-04-30 11:31] Loki-Afro commented on #246
and only open jdk seems to be affected, I can't reproduce it on my mac either and not on linux (4.16.3) with an oracle jdk ...

[2018-05-01 22:48] bnegrao commented on #171
Why is this issue closed?

I'm having the same issue here in my Windows 7 machine. I'm running Spring Boot 2.0.1 and the following:

    <dependency>
      <groupId>de.flapdoodle.embed</groupId>
      <artifactId>de.flapdoodle.embed.mongo</artifactId>
      <version>2.0.3</version>
      <scope>compile</scope>
    </dependency>
    <dependency>
      <groupId>de.flapdoodle.embed</groupId>
      <a

[2018-05-02 13:32] Anomalyzero commented on #89
I am having a similar problem. I am trying to download the distribution through our own internal repositories by configuring my own IDownloadConfig/IRuntimeConfig like so:

[code]

However, when I actually attempt to build/test I receive the following Stacktrace:
[code]
I've been trying awhile now to get around this, but nothing I've tried seems to change the error at all.

Anyone care to relieve

[2018-05-15 08:57] #244 closed

[2018-05-15 08:58] #242 closed

[2018-05-15 10:25] francisdb commented on #120
can we please get a release including this fix?

[2018-05-17 13:17] mp911de opened #250 "Allow process output control through MongosSystemForTestFactory"
It would be great to configure process output behavior through `MongosSystemForTestFactory` for the individual processes. In our case, we want to conditionally stream output/disable output within our tests. Introducing a `Function<IMongodConfig, ProcessOutput>` or `Function<Command, ProcessOutput>` would be a great way to achieve that.

[2018-05-22 07:30] adamretter opened #251 "New Release"
Would it be possible to get a new release please?

[2018-05-22 15:48] thefridge111 opened #252 "Unable to download Mongo v3.6.6"
I'm unable to get version 3.6.6 to download. Based on the stacktrace it appears that the url being used is missing characters from its url:
[code]

The config/code at MongoDBServerWrapper:

[code]

We specify the version in Config.groovy as a string: "3.6.6". The download works up to version 3.4.15 (I didnt try 3.5). But when looking at the stacktrace it appears the url `https://fastdl.mongodb.org

[2018-05-22 21:06] Loki-Afro commented on #252
@thefridge111 nice finding and thanks for analysing this, will look into it tomorrow ;)

as a workaround .. https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#customize-download-url

[2018-05-26 19:35] Loki-Afro commented on #252
@thefridge111

3.5.5 works as well, but this was just an development release
3.6.5 works too
3.6.6 is not yet released and not listed [here](https://www.mongodb.org/dl/osx?_ga=2.120687880.1069094547.1526998971-844003580.1521544964&_gac=1.250655220.1523279310.Cj0KCQjwnqzWBRC_ARIsABSMVTOg8cBFPTaleAXiv042nfIr--GSjvjFI539SnqeKQsTDSuZM-ZqkegaAqsyEALw_wcB) either

[2018-05-26 20:18] #246 closed

[2018-05-26 23:16] doctorpangloss commented on #238
I’ll try to repro it again but yes close for now

[2018-06-04 08:30] npierreyves opened #254 "Used embedded mongodb in production"
I would like to know if it is possible to define a different directory for the download / use of mongo.
Indeed, I wish to use mongo embedded in production ?
I want to define a folder or install it from mongoembedded will already exist to avoid the download phase that will not be possible from the production server.

Thank for you help ;)

[2018-06-04 08:45] Loki-Afro commented on #254
@npierreyves

Different Artifact location ? https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#customize-artifact-storage

I would not recommend using embed mongo as a production mongo replacement at all. Use docker or better a dedicated server/cluster. And seriously running a production database without a decent backup and not even a fail over strategy? ....

[2018-06-04 09:51] torsten-liermann commented on #254
I also use embedded mongo in production. "Production" is a fearsome term. But in my case it is a small installation on site. Virtualization is out of the question. A spring-boot application launches MongoDB embedded, exposing only a search interface publicly and indexing metadata. If this application is terminated, the MongoDB process must also be terminated. Backup is not required because the ind

[2018-06-04 12:11] Loki-Afro commented on #254
@npierreyves https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#custom-database-directory this may help

[2018-06-04 12:12] npierreyves commented on #254
Sorry i edit my previous post ;)
I tried to set a custom database directory (springboot : spring.mongodb.embedded.storage.database-dir who set "new Storage(this.embeddedProperties.getStorage().getDatabaseDir()" but collection is empty after application reboot !

[2018-06-04 16:09] Loki-Afro commented on #254
@npierreyves then I suggest looking into the spring boot code, the snippet mentioned above works, try it out. ;)

[2018-06-04 19:45] Loki-Afro commented on #252
closing because of no response and this was not a bug either :D

[2018-06-04 19:45] #252 closed

[2018-06-04 21:13] glajchs opened #255 "Mongo versions (many 3.6 versions right now) don't always work because versions are whitelisted in Version.java"
Right now, in Version.java `https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/master/src/main/java/de/flapdoodle/embed/mongo/distribution/Version.java`, specific versions are called out.  As new versions get introduced, they aren't always added to this list, or even if they are, they take time to propagate through the release cycle of this repo, and then through the release cycle of

[2018-06-04 21:20] Loki-Afro commented on #255
@glajchs I prefer to have the exact version specified and now black magic auto downgrading version if not defined. This would lead to not reproducible builds.

I would also suggest that you abstract away some kind of JUnit rule or Factory with a version specified for your application, adding there a GenericVersion with with the same parameters as with the previous version should mostly work.

In c

[2018-06-04 21:28] glajchs commented on #255
In this case we're using a plugin that in turn uses your plugin, so a direct override is harder.
Once you get a new release out the door (2.0.4) with the 3.6.5 version specified, we can ingest that pretty easily.  For the time being, I'll try to suggest the "black magic" style of fix into that repository to see if they are more amenable to the idea.
`https://github.com/joelittlejohn/embedmongo-mav

[2018-06-04 21:31] Loki-Afro commented on #255
@glajchs well sprint boot does this well I guess ... you may look at their code too?

[2018-06-05 09:02] joelittlejohn commented on #255
If I understand @glajchs correctly, the suggestion here is to use the newest known set of arguments, _iff_ the version specified is greater than the newest known version. I don't actually see how this would lead to no-reproducible builds. Maybe I've missed something, or I'm maybe not understanding @glajchs suggestion.

For a reproducible build, the de.flapdoodle.embed.mongo version will be fixed,

[2018-06-05 14:35] npierreyves commented on #254
Hello and thank for your previous reply

I keep looking at my data problem that disappears at each startup and I realized that I have the following messages:
"Unclean shutdown ... mongod.lock is not empty"
"Dropping unused ident: Collection ..."
"Dropping unused ident: index ..."

I understand that apparently the base stops badly .. but how can I make it stop properly when closing my application?

[2018-06-05 16:18] Loki-Afro commented on #254
@torsten-liermann may you sahre your spring boot hacks to get this working? ;)

[2018-06-07 09:52] getalphacode commented on #243
Getting the same issue with 2.0.3 with java 10

[2018-06-07 18:28] glajchs commented on #255
Yep, I tried to implement the black magic in the library above this, and all I was lacking was a getter on getFeatures, which even if you use Version instead of IFeatureAwareVersion, is currently private without any getters.

[2018-06-07 18:33] #255 closed

[2018-06-07 18:34] Loki-Afro commented on #255
@glajchs well if that's all you need :) - done

[2018-06-20 21:04] jeep87c commented on #174
@rodrigobittlima we're facing the exact same issue with GitLab CI and latest flapDoodle version 2.0.3. Did you find the root cause? Any help would be much appreciated, we have no clue on this one...

[2018-06-20 21:07] Loki-Afro commented on #174
hint: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/242

[2018-06-21 06:52] matlockx commented on #251
done

[2018-06-21 06:52] #251 closed

[2018-06-21 06:55] matlockx commented on #215
thanks, updated the readme

[2018-06-21 06:55] #215 closed

[2018-06-21 13:32] jeep87c commented on #174
I saw the comments about alpine thing and ensure it's not our case. We still see the issue from time to time in our GitLab CI pipeline. FYI, our pipeline runs our tests using maven and multi-threading.

Here's our docker file:

[code]

We are actually facing two different and inconsistent issues (by inconsistent I mean it doesn't fail systematically at each run, it fails from time to time). Here's

[2018-06-22 08:35] adamretter commented on #251
@matlockx Thanks very much :-)

[2018-06-29 19:19] benmccann commented on #84
We can close this issue. I work with @kdkeck and we no longer use TokuMX

[2018-06-29 19:47] benmccann commented on #212
This should hopefully be fixed by https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/commit/f5f1505712861297adc7718ab9dd70ed883c89ba

[2018-06-29 19:52] cakofony commented on #174
We're seeing this issue as well:
https://issues.apache.org/jira/browse/LOG4J2-2348

[2018-07-13 19:43] jeep87c commented on #174
Here's what we did to fix this issue on our side for a multi-threaded test project (both naming methods) :

`new ExtractedArtifactStoreBuilder().defaults(Command.MongoD).executableNaming(new UUIDTempNaming()).extractExecutableNaming(new UUIDTempNaming())`

[2018-07-24 11:34] standev opened #256 "Embedded Mongodb 4.0 not working on MacOS X"
The error I'm getting when trying to run integration tests on MacOS X is:

`Factory method 'embeddedMongoServer' threw exception; nested exception is de.flapdoodle.embed.process.exceptions.DistributionException: java.io.IOException: Could not open inputStream for https://fastdl.mongodb.org/osx/mongodb-osx-x86_64-4.0.0.tgz`

The cause is that the URL it tries to access seems incorrect and returns a

[2018-07-24 11:48] standev commented on #256
Adding `ONLY_WITH_SSL` in `spring.mongodb.embedded.features` helped (as mentioned in #236).
Final setting looks like this: `features: sync_delay,no_http_interface_arg,only_with_ssl`

[2018-07-24 16:48] Loki-Afro commented on #256
What version of embed mongo are you using and what is what mongo version would you like to run?

[2018-07-24 17:02] Loki-Afro commented on #236
@ryabko @sydneyhenrard you could also adapt the solution from #256

[2018-07-25 09:09] standev commented on #256
Thank you for your response.

Flapdoodle embedded Mongo version: `2.1.1`
Running Mongo version: `4.0.0` (set by `spring.mongodb.embedded.version` property in `application.yml`)

At the moment we don't have any custom code to configure embedded MongoDB, it is launched out of the box by `@SpringBootTest` integration tests and reads configuration from the yml file.

[2018-07-25 10:02] behttanii opened #257 "Initialising embedded Mongo as replica set support"
I would like to start single instance of embedded mongoDb as replicaSet so that the multi document transaction feature available in MongoDb 4.0 could be utilised with spring

[2018-07-25 10:06] Loki-Afro commented on #257
see https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/256

if there are any special mongodb 4.0 features that need some command line arguments or similar - those are not implemented yet.

[2018-07-25 12:04] behttanii commented on #257
I have tried different combination such as

1:
spring:
  data:
    mongodb:
      host: localhost
      port: 12345
      database: orders
db version: 3.2.2
Cluster created with settings {hosts=[localhost:12345], mode=MULTIPLE, requiredClusterType=UNKNOWN, serverSelectionTimeout='30000 ms', maxWaitQueueSize=500}
Request processing failed; nested exception is com.mongodb.MongoClientException: Sessi

[2018-07-25 13:40] csarrazi commented on #84
TokuMX is EOL, so there's no point in supporting it.

[2018-07-25 13:41] Loki-Afro commented on #84
@csarrazi thanks for letting me know ;)

[2018-07-25 13:41] #84 closed

[2018-07-25 14:17] Loki-Afro commented on #257
@behttanii as already st, mongodb 4.0 is not yet supported by this lib out of the box!

You can add what ever cofing you want to the mongod process when starting.

here a hacked example:

[code]

If you are not sure what parameters are added to mongod process, just place a breakpoint in `de.flapdoodle.embed.mongo.runtime.Mongod#getCommandLine`

of course you can't just start a replica set. For a m

[2018-07-26 09:54] behttanii commented on #257
Info: I have used mixture of your codes along with the hack from
`de.flapdoodle.embed.mongo.examples.StartConfigAndMongoDBServerTest#startAndStopMongosAndMongod`

to configure and start the database as replica set.

Below is the code:

    @Bean
    protected IMongodConfig iFeatureAwareVersion() throws IOException {

        int mongodPort = 23456;
        String defaultHost = "localhost";

[2018-07-26 18:11] Loki-Afro commented on #257
did you spot the line: `Failed to set up listener: SocketException: Address already in use`? ;)

[2018-07-27 10:31] behttanii commented on #257
I gave up. Even if changing the port to "free port" gives exception.

[2018-07-27 22:43] Loki-Afro commented on #257
@behttanii I may find the time on sunday to write a complete functional example with mongodb 4.0 but won't promise anything ;)

[2018-08-02 15:21] razorree opened #258 "flapdoodle can't start mongo ( Could not start process: <EOF>)"
Caused by: java.io.IOException: Could not start process:
at de.flapdoodle.embed.mongo.AbstractMongoProcess.onAfterProcessStart(AbstractMongoProcess.java:79)
at de.flapdoodle.embed.process.runtime.AbstractProcess.(AbstractProcess.java:116)
at de.flapdoodle.embed.mongo.AbstractMongoProcess.(AbstractMongoProcess.java:53)
at de.flapdoodle.embed.mongo.MongodProcess.(MongodProcess.java:50)
at de.flapdoo

[2018-08-02 15:40] razorree opened #259 "port setting doesn't work"
I set port for embeded mongo
		EmbeddedMongoFactoryBean mongo = new EmbeddedMongoFactoryBean();
		mongo.setBindIp("localhost");
		mongo.setPort(27018);

however later in the logs i can see:
Caused by: java.io.IOException: Could not start process: failed errno:10048 Only one usage of each socket address (protocol/network address/port) is normally permitted. for socket: 127.0.0.1:27017
2018-08-02T16

[2018-08-03 06:53] Loki-Afro commented on #258
duplicate of https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/232

[2018-08-03 06:53] #258 closed

[2018-08-03 07:03] Loki-Afro commented on #259
@razorree `EmbeddedMongoFactoryBean` sounds like spring, therefore not part of this project, sorry :)

[2018-08-03 07:03] #259 closed

[2018-08-03 09:28] razorree commented on #259
ok, thanks,
after looking more careful (and trying to understand everything) it looks like Spring was running another flapdoodle mongo for tests (so i had two instances, on 27018 and standard 27017)

[2018-08-08 22:18] tosi88 opened #260 "Very slow on new Versions"
Hey,

I have played around with:
https://github.com/springframeworkguru/spring-boot-mongodb/tree/embeded_mongodb

a little bit. Especially since there was an old version of flapdoodle used in the mvn (1.50.5) I updated the dependency to 2.1.1 and rerun the application.

With v. 1.50.5: It took around 5-6 seconds for start-up.
With v. 2.1.1: It took around 50 seconds, even after several restart (do

[2018-08-08 23:28] Loki-Afro commented on #260
@TobiasAtSovanta consider updating to the current version of spring boot first. Should not have a big impact but to avoid any other circumstances.
I'm not familiar with the current spring boot setup but this looks promising https://www.baeldung.com/spring-boot-embedded-mongodb (July 2018)

Then what version of mongodb do you try to run?

[2018-08-09 04:32] tosi88 commented on #260
Hey,

thanks for the quick response. Spring Boot version does not matter, updating to the current 2.0.4.RELEASE still results in poor startup time.
The MongoDB version that is printed to the console on startup is: db version v3.2.2.  Change this to a new one 3.6.5, but still very slow on startup... Even without using the dependency

        <dependency>
            <groupId>cz.jirutka.spring</grou

[2018-08-09 06:04] Loki-Afro commented on #260
@tosi88 take a look here https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/166

Can you verify that with `mmapv1`everything is fast again?

[2018-08-10 15:07] juanplopes commented on #260
I'm having the same problem. I use embedded mongo for a suite of 47 unit tests that used to run in 800ms with 1.50 and now it's taking 12 seconds. I tried changing the storage engine, but it's still slow.

[2018-08-10 15:16] matlockx commented on #260
I'm gonna look into that too. Thanks for pointing out

[2018-08-10 20:38] Loki-Afro commented on #260
@tosi88 could you share your full project?

What mac os version you are using?

[2018-08-11 09:58] tosi88 commented on #260
Hey,
thanks for confirming the behavior @juanplopes 👍  and @matlockx for having a look at it :). Concerning the your questions @Loki-Afro
- My mac-version is: 10.13.4  High Sierra.
- The full project is exactly the one from the git-hub link I posted initially - I in fact only changed the flapdoodle version to provoke the issue.

[2018-08-11 13:06] Loki-Afro commented on #260
1. using the repository from the first post
https://github.com/springframeworkguru/spring-boot-mongodb/tree/embeded_mongodb

and adding

[code]
**will result in version 2.0.3 NOT 1.50.5** with mongodb version v3.2.2
2. with the test result of 1. on my mac (10.13.6, i5 with 2,3 GHz, java 8 update 181)
The test (which actually checks if all the wiring work) runs in Intellij in around 100ms after it

[2018-08-11 13:41] tosi88 commented on #260
Hey,

thanks for point out 4. - didn't know that it has been integrated as part of spring mongo iteself.
concerning1:
The dependency:
        <dependency>
            <groupId>de.flapdoodle.embed</groupId>
            <artifactId>de.flapdoodle.embed.mongo</artifactId>
            <version>1.50.5</version>
        </dependency>
has already been in the pom.xml. Hope you found it - I did not change a

[2018-08-11 14:16] Loki-Afro commented on #260
@tosi88 regarding 1. I looked again in the pom and yes there it is
[code]
**which is just wrong.** I pulled the master and made my tests again ist and there is no such dependency ;)

[2018-08-12 07:41] tosi88 commented on #260
Thanks a lot - great :) :) :)
Did the following things:
- specified the right dependency - i.e. pulling the master of the flapdoodle project
- removed the unneccessary cz.jirutka.spring dependency (did not know that spring boot has the embedded mongoDB feature already build-in - thanks for pointing this out!)

Tried to set:
- spring.mongodb.embedded.version=3.6.5 in the application properties howe

[2018-08-13 15:46] tosi88 commented on #260
Hey @Loki-Afro,

thanks now it works.
Would not have expected that features means error handling, did not get the point from the git-hub issue link... Can even use mdb version 4.0.1 now 🥇 :).

[2018-08-13 16:08] Loki-Afro commented on #260
@tosi88 well you could but haven't tested 4.x yet ;)

[2018-08-13 16:08] #260 closed

[2018-08-16 08:27] vgindin commented on #174
Hi. I've faced with such problem in another project. Could you explain your solution? Why did it help?

[2018-08-16 12:43] jeep87c commented on #174
@vgindin instead of using UUIDTempNaming() we were using the other option which is not a unique name. Result was flapdoodle running in different threads was trying to create an executable file using the same name causing the exception. Ensuring it use a unique name at each execution like we did, solved the problem.

[2018-08-25 11:27] rshmiraf commented on #243
For me using 2.0.2 instead of 2.0.3 doesn't change anything. Still the same error.

[2018-08-30 13:41] zhangzheng88 commented on #257
look forward to it

[2018-08-30 13:44] zhangzheng88 commented on #257
spring boot 2.1.0.M1 and spring-data-mongo2.1.0.RC1 has added support to mongo4.0

[2018-09-07 15:06] jruhe-adesso commented on #232
To fix the EOF failure with 3.6.x on windows, you need following features:
ONLY_WITH_SSL
ONLY_WINDOWS_2008_SERVER
NO_HTTP_INTERFACE_ARG

NO_HTTP_INTERFACE_ARG is required to be set for 3.6.x, but if a specific version is not defined in de.flapdoodle.embed.mongo.distribution.Version, the feature is not automatically set

[2018-09-13 18:34] ThePinkPanther opened #261 "MongoDB 4.0"
Would like to have mongo 4 support to be able to test transactions

[2018-09-14 20:52] #261 closed

[2018-09-14 20:53] Loki-Afro commented on #261
@ThePinkPanther keep in mind that you can define 4.x yourself
[code]

[2018-09-17 09:13] mohamnag commented on #114
cant find any examples on how to enable authentication, would somebody please update docs accordingly? or at least point me to right direction?

[2018-09-25 18:24] dillius opened #262 "MongoDB not shutting down with Spring Boot application"
I found some previous references to this issue I believe, and it also seems to match a number of other errors, I'm just not sure this is the same. If it is I apologize.

After starting up my Spring Boot application once successfully, then stopping it and attempting to restart it again, I get the following:

[code]

I am able to resolve this by killing any active `java.exe` processes still live on

[2018-09-25 20:35] Loki-Afro commented on #262
Any working complete code example? Otherwise its really difficult to find any circumstances but this is properly spring related :)

[2018-09-25 20:40] dillius commented on #262
I don't have the full thing available as its a giant mess right now. And yes, I'm using the spring auto configuration so probably it's doing something wrong.

My configuration is:

[code]

[2018-09-25 20:47] Loki-Afro commented on #262
@dillius I guess its somewhere in that giant mess, but at the first look it looks okay.

Maybe you could play around a bit with `storage`.
Normally
[code]
comes with some clue why the server could not start up, so probably it is not killed correctly or at all ...

But with these information: could be anything ;) - please provide a complete code example where this is reproducible

[2018-09-25 21:08] dillius commented on #262
I'm going to close this out. I think the problem was actually in how the application was being shut down.

If anyone else runs into this issue; If you are running with Gradle from Jetbrains Intellij; do NOT run the gradle tasks to run your application. Simply run the class with the main method in it itself or use the Intellij Run Configuration for a Spring Boot application.

Running through Gradle

[2018-09-25 21:08] #262 closed

[2018-09-25 21:11] Loki-Afro commented on #262
@dillius thanks for pointing this out, this could be related to some maven/gradle signal handling issues

[2018-09-28 22:42] bguerout commented on #166
Hello,
On [jongo](https://github.com/bguerout/jongo), our tests were slower since MongoDB 3.2.
This seems due to the WiredProtocol:

We have switched to [`ephemeralForTest`](https://docs.mongodb.com/manual/release-notes/3.2/#ephemeralfortest-storage-engine) engine: https://github.com/bguerout/jongo/pull/346
Tests are now running 2x faster than before.

[code]

[2018-09-28 22:44] bguerout commented on #260
You should use `ephemeralForTest` .

See https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/166#issuecomment-425586048 for more informations

[2018-10-01 07:42] challarao opened #263 "What's the default location of the downloaded mongo?"
What is the default location of the downloaded embedded mongo?

If it's already downloaded, say for a example for a unit test, does it download it again? How does flapdoodle knows if it exists or not?

Thank you

[2018-10-01 20:14] Loki-Afro commented on #263
Binaries get downloaded and extracted in your home directory

[code]

How does it know if it needs to download something?
Basically it looks for the existence of the archive 😉

[2018-10-01 20:14] #263 closed

[2018-10-04 18:43] vivekkalirawana commented on #257
I wanted to work with embedded Mongo as replica set so that I can test transactional cases with embedded mongo that is available with mongidb 4.
I am facing the above mentioned issue.
Does someone have the solution?
Kindly provide help.

[2018-10-05 14:14] dermoritz opened #264 "question: how to disable embedded mongo for certain tests"
i got no answer here: https://stackoverflow.com/questions/52604062/how-to-disable-flapdoodle-embedded-mongodb-in-certain-tests

I just added "testCompile('de.flapdoodle.embed:de.flapdoodle.embed.mongo:2.1.1')" to my test and now in all tests the embedded mongo is magically used, but how to easily disable embedded mongo for a given test class? (i guess i have to exclude a single class from discover

[2018-10-05 20:41] Loki-Afro commented on #264
@dermoritz this is a spring related issue, please open an issue there and link it here, sorry for the inconvenience

[2018-10-05 20:41] #264 closed

[2018-10-07 10:32] Loki-Afro commented on #257
All informations to get this done are in this issue

I do **not** recommand running any replica set or cluster related things in your unit tests, for various reasons, one being the startup time and various timing issues which could occur

But anyway I found some time today

[code]

[2018-10-07 10:32] #257 closed

[2018-10-07 10:33] #254 closed

[2018-10-07 10:34] #245 closed

[2018-10-07 10:35] #212 closed

[2018-10-07 10:36] #71 closed

[2018-10-08 07:08] dermoritz commented on #264
Sorry but i am not completely understanding the mechanics - how embedded mongo is started by spring. How it is supposed to work? What issue to fix?
To what part of Spring is this related?

[2018-10-08 19:17] Loki-Afro commented on #264
`To what part of Spring is this related?`
AFAIK adding this dependency causes spring **boot** to launch an mongodb for each test

[2018-10-09 09:52] faizan-talena commented on #261
@Loki-Afro When should we expect 2.1.2 release. I would love to upgrade to mongo 4.

[2018-10-09 10:14] alexander-huba-axon commented on #171
It happens when some failure has shutted down mongo or tests with mongo prematurely as @manishpatelUK kindly pointed out.
**Possible solution**: delete this file backing up it beforehand. Worked for me.

[2018-10-17 05:23] lkamal opened #265 "NoSuchFieldException on OpenJDK11"
Same issue that was present on JDK10 #241

- Version: 2.0.3

- OS: CentOS 6.9
- JDK: OpenJDK 11
- Maven: 3.5.4
- Spring: 5.0.3

[2018-10-17 06:42] Loki-Afro commented on #265
Pretty sure you have some dependency problems, you may take a look at https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/260

Please create a little project where this issue is reproduce-able

[2018-10-26 01:53] synkarius commented on #265
I am having the same issue.

Spring Boot: 2.0.6

OS: MacOS 10.13.2

JDK: OpenJDK 11

Gradle: 4.8.1

build.gradle:
[code]

Exception:

[code]

[2018-10-30 11:43] herrphon commented on #126
I was getting the same error.. so I tried out SSLPoke:

[code]

Then I noticed the line with `Picked up JAVA_TOOL_OPTIONS...`. After getting rid of this option in the environment variables, it worked :-)

[2018-11-09 13:28] bdetweiler commented on #214
@cimoca How did you solve this? I'm having a similar issue.

[2018-11-14 08:01] bilalwahla commented on #223
@poikilotherm and what was the issue and with spring boot auto-config and how did you fix it?

[2018-11-14 08:17] bilalwahla commented on #223
@poikilotherm what was the issue with spring boot auto-config and how did you do to get it working?

[2018-11-14 12:37] poikilotherm commented on #223
@bilalwahla please see the referenced issue above, which has already been closed upstream. :wink:

[2018-11-14 13:33] bilalwahla commented on #223
@poikilotherm thanks a lot for response. I did see that and it didn't solve my problem. I also needed to add `only_with_ssl` feature like so: `spring.mongodb.embedded.features=no_http_interface_arg,only_with_ssl`

[2018-11-14 17:25] #265 closed, assigned to nobody