[2018-11-23 12:19] ogerardin commented on #123
@torsten-liermann I have a similar requirement, here's how I have done it:

-the mongodb distributable (zip) is bundled as a Java resource, for example in directory /bundled/mongodb/win32 (for the Windows version). You can also bundle the versions for several platforms by placing them in the appropriate folders.

-I use a customized IDownloadConfig as follows:

    protected IDownloadConfig getDow

[2018-11-27 10:37] ogerardin opened #266 "de.flapdoodle.embed.process.runtime.Starter shouldn't log full exception and rethrow"
Context: I need to try to prepare a Mongo executable using a specific configuration, and if it fails try with another configuration. I'm using de.flapdoodle.embed.mongo:2.1.1/de.flapdoodle.embed.process:2.0.5

If I call `de.flapdoodle.embed.process.runtime.Starter#prepare` and it fails for some reason, a `DistributionException` is raised, which I can catch and then try with my second configuration

[2018-11-27 23:41] Loki-Afro commented on #266
changed it in https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/commit/9aa0234dbd75df227a3d73af3d103a59769222aa

so it will be part of de.flapdoodle.embed.process:2.0.6

but don't ask me when it get released

in the meantime you can disable that specific logger if you want to ;)

[2018-11-27 23:41] #266 closed

[2018-11-27 23:44] ogerardin commented on #266
Perfect! When will it be released? (just kidding)

Disabling the logger will work for now :)

[2018-11-29 10:13] bianchinirick opened #267 "Version"
Can you generate the next version? I saw int the commits that this excelente embed mongo already supports mongo 4. But, in my company, we have a policy that doesn't accept snapshot versions.

[2018-11-30 10:15] bianchinirick commented on #267
I really thank you!

Em qui, 29 de nov de 2018 às 14:09, Phillip <notifications@github.com>
escreveu:

[2018-12-07 11:34] dazraf opened #268 "We couldn't kill mongod process, and tried a lot."
Here are the details - please ask me if there's more information that's required, thanks:

With libraries:

[code]

On Ubuntu server:
[code]

with ulimits:

[code]

Build log:

[code]

[2018-12-07 14:01] GaneshDoosa commented on #114
How to use this authentication mechanism ?

[2018-12-07 17:14] damianopezzotti opened #269 "403 on download"
When Embed Mongo starts on MacOSX I obtain the following error:

[code]
If I try to download from MongoDB site URL is
https://fastdl.mongodb.org/osx/mongodb-osx-ssl-x86_64-4.0.4.tgz
instead of
https://fastdl.mongodb.org/osx/mongodb-osx-x86_64-4.0.4.tgz

[2018-12-08 13:53] Loki-Afro commented on #269
How got your Version constrcuted?
Did you try https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/261 ?

[2018-12-08 13:55] Loki-Afro commented on #268
Is this reproduceable?
Got the process killed afterwords by its own?
If not did you try to just kill it (without force ;))? - what happened?

[2018-12-09 01:16] dazraf commented on #268
Some more background:
We have a about 20 tests that are executed sequentially using maven;both on our local laptops (lmacbook pro 2018 with latest OS X) and our build servers (Ubuntu). Each creates a mongod instance; sets up users using mongo shell; then waits for a shutdown, before restarting the mongod with auth mode enabled.

The linux webservers has been configured with the ulimit hard values

[2018-12-09 16:43] damianopezzotti commented on #269
spring.mongodb.embedded.version=4.0.4

[2018-12-09 17:45] Loki-Afro commented on #269
@damianopezzotti find out how to define the version properly. Search for `GenericVersion`

[2018-12-27 08:39] pnowy commented on #166
I will add from me that we had a similar problem on Mac (selected people on our company) and that was related with the long time to resolve ip-address for localhost when embedded mongo was starting (after upgrade to MacOS Sierra).

We solved the problem according to the solution described on this post:

https://thoeni.io/post/macos-sierra-java/

Additional links worth to check about that:

https:/

[2018-12-28 06:19] sheldon-sminq opened #270 "Mongo Import"
I am trying to import some json files that have single documents, but i get the following crash report

[code]

[2018-12-28 09:34] sheldon-sminq commented on #270
was using an older version of library latest resolved the issue

[2018-12-28 09:35] #270 closed

[2018-12-28 09:36] Loki-Afro commented on #270
just wanted to start looking into it, thanks for notifying me 👍

[2019-01-02 11:24] bekce opened #271 "Use proxy settings for downloading"
Java has preferred system properties for defining proxy settings named `http.proxyHost, http.proxyPort, https.proxyHost, https.proxyPort`. The downloader for the mongod binary package should automatically use these settings if no other setting was provided, by default.

[2019-01-05 20:06] vivekkalirawana opened #272 "Creation of @Bean of ReactiveMongoOperations with embedded mongoDB 4 and replicaset"
In our service, we are having method that use ReactiveMongoOperations with transaction.
The application is working fine with mongoDB with replicaset.
To create test cases for these methods with embedded mongodb, we need to create @Bean of ReactiveMongoOperations.
As per feedback #257 , we are able to create MongoTemplate with replica set but it is not supporting Reactive (ReactiveMongoOperations).

[2019-01-05 21:11] Loki-Afro commented on #272
`ReactiveMongoOperations` ... this is some "new" spring stuff to me.

If you are using Spring boot for spring embedded mongo stuff - it is an issue there.

If not: this library does not give any spring support what so ever so you should write your own Bean to provide a `ReactiveMongoOperations` implementation, I guess very similar to the `MongoTemplate` one

[2019-01-05 21:11] #272 closed

[2019-01-11 19:03] #269 closed

[2019-01-25 14:20] ogerardin commented on #271
I have implemented this with the help of proxy-vole https://github.com/MarkusBernhardt/proxy-vole

Concretely: I have a utility class `ProxyHelper `that performs proxy detection and returns a `IProxyFactory `that can be used to configure a `DownloadConfigBuilder`, e.g. as follows:

[code]

Code for ProxyHelper (imports omitted):
[code]

[2019-01-30 13:33] ogerardin commented on #207
IMHO this is too strong a requirement, as technically a 32-bit JVM is perfectly able to control a 64-bit version of MongoDB (on a 64-bit OS of course).

Since this is related to the OS bitness detection in `de.flapdoodle.embed.process.distribution.BitSize`, I have filed an issue in project de.flapdoodle.embed.process: https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/32

Thanks

[2019-02-13 16:06] sachinkshetty opened #273 "reactive mongo tests using embedded mongo"
can embedded mongo be used for reactive mongodb also

[2019-02-13 23:21] Loki-Afro commented on #273
sure, why not? ;)

[2019-02-13 23:21] #273 closed

[2019-02-19 13:39] christianhujer opened #274 "Wrong address returned by Net"
[code]
When using this class, the URL constructed is `mongodb://127.0.1.1:12345/dbname` but the MongoDB that was started isn't listening on `127.0.1.1`, only `127.0.0.1`.
The problem is in the class `Net`. It calls `Network.getLocalHost()` and assumes that this is where MongoDB is running. When localhost has multiple ip addresses, which regularly is the case on Unix/Linux (it is the case when the

[2019-02-19 18:07] Loki-Afro commented on #274
@christianhujer

Well I suspect this is usually the case anyway. But can you show your `/etc/hosts` file?
This is probably an ordering issue there. First line should be `127.0.0.1 localhost` second is mostly the ipv6 equivalent, sometimes there is also a `255.255.255.255 broadcasthost` before the ipv6 one, which is fine.

However the first one should be  (at least stating with) `127.0.0.1 localhos

[2019-02-20 11:28] christianhujer commented on #274
Here's my `/etc/hosts` file:
[code]
The `127.0.1.1` is a standard thing on many Linux distributions for the "named" localhost.

BTW I plan to create a Pull Request for this. Your project has helped me a lot, maybe I can give back a little bit this way.

[2019-02-28 11:30] OhadR opened #275 "is there a place to read how flapdoodle works (besides reading the code)?"

[2019-02-28 20:07] Loki-Afro commented on #275
Well .. the Readme? ;) https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo

What exactly are you looking for?

The basic concept is:
- download mongodb (and cache it)
- extract it (and cache it)
- java uses its process api to start and monitor  the mongo process
- you run your tests
- java kills the mongo process

[2019-02-28 20:07] #275 closed

[2019-03-03 01:52] abstract-base-method opened #276 "Address is always already in use"
Hi there! Thanks so much for this awesome library, very useful for testing.

I have an app I'm trying to do testing on (using the Mongo 4.0 ACID stuff) and I was trying to build a Mongod proc via this Groovy/Spock Object:

[code]

and then on setupSpec:

[code]

Yet I always get:
[code]

any help would be greatly appreciated!

[2019-03-03 06:58] OhadR commented on #275
thanks for the answer! I looked at the README, but could not find there the info you wrote... :) thanks!
so is there a "real" mongo running on my localhost when the tests are running? if my system runs with a single-node-mongo on the localhost (not a replica-set), then flapdoodle runs a mongo upon tests, so it is exactly the same as a "production" run, right?

[2019-03-03 07:10] Loki-Afro commented on #276
Hi there .. two thoughts

Is it always the same port which is blocked?
Do you maybe somehow start mongodb twice?

[2019-03-03 07:13] Loki-Afro commented on #275
yes

You can configure it to your needs, to get as close as you want.
Mostly one does not want to test the setup but the overall integration and some crazy queries

[2019-03-03 07:29] OhadR commented on #275
thanks!

[2019-03-03 07:31] OhadR commented on #275
by the way, this could be a great add to the readme :)

- "download mongodb (and cache it)
- extract it (and cache it)
- java uses its process api to start and monitor the mongo process
- you run your tests
- java kills the mongo process"

[2019-03-03 20:30] OhadR opened #278 "SocketException: Connection reset upon download distribution; How to manually setup the distribution archive location ?"
We use flapdoodle in our integration tests. Locally (on dev machines, Windows), it works fine; bur on Jenkins (linux) it fails from time to time, randomly. The exception is below.

[code]

How can I tell what exactly it tries to download and where from? I guess it tries to download mongo... is there a way to overcome the download, and use it from a local repo (like nexus/maven-repo)

seems like th

[2019-03-04 01:58] lemoney commented on #276
I appreciate the response! If you'd like more logs I can provide them, but I assumed `@Shared` takes care of that bit, and in those logs I see only one Mongod start up.

Additionally this happens every single run, and on ports that are randomly selected (via the `Network` class) and preassigned via me setting the port from a known free port.

[2019-03-04 06:42] Loki-Afro commented on #276
I'm not familiar with Spock sorry :/

Another thought: Does a single test run fine?

Otherwise yes, I would need more logs

[2019-03-05 10:19] ptempes commented on #268
I have a similar issue. I am using mongo server process configured to be replicaset in some of my tests and I ger the same error. Interesting fact is that when I put a breakpoint and wait a bit for `Integer retCode=stopOrDestroyProcess();` then the value is not null but 0 and no error appears.

[2019-03-07 18:41] Loki-Afro commented on #268
@ptempes sounds like a timing problem to be, I'm not on my laptop now but i guess there was a parameter where you could modify that

@dazraf sorry for the late reply!
We or at least I never heard of such an issue but could also be related to the "stopOrDestroyProcess" - timeout

How do you accomplish that? Your setup sounds very complex ;)

[2019-03-13 20:21] shollander commented on #268
I am having the exact same issue as @ptempes.

We configure embedmongo to use a replicaset (single server) in order to test transactional methods with mongodb 4.0. We are doing it similar to this https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/257#issuecomment-407770356

Almost every time we encounter this error message on shutdown.

The `extractmongod` process does go away almo

[2019-03-13 21:33] shollander commented on #268
I've been doing some more digging and I wonder if this is the problem..

I see that embed mongo tries to shutdown the database by issuing a shutdown command over the network port.

https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/7ccd324bde3823eca6f4cc8a1096c57d91fd4bbe/src/main/java/de/flapdoodle/embed/mongo/runtime/Mongod.java#L61-L91

I am not sure what that binary command actua

[2019-03-15 12:50] #278 closed

[2019-03-27 14:31] hakangurrr opened #279 "Proxy settings do not work when downloading version 3.5.5"
I'm unable to get version 3.5.x to download with my proxy configuration.
I have created Mongodb Cofiguration beans in test class as follows:
[code]
And successfully downloaded 4.0.7 version via proxy settings but also Flapdoodle trying to install version 3.5.x so failed to load ApplicationContext.

[2019-03-29 07:41] rsercano commented on #279
+1

[2019-04-10 14:26] rsercano commented on #279
Is anybody around here ????

[2019-04-10 18:12] Loki-Afro commented on #279
Try setting the jvm proxy stuff instead

[2019-04-17 09:58] deepakThedeveloper opened #280 "mongodExecutable.start() fails on windows machine. It throws exception java.io.IOException: Cannot run program "C:\Users\XXX\AppData\Local\Temp\extract1231-345-456-2324extractmongod.exe". CreateProcess error=1260"
embeded mongoD jar is trying to execute extracted mongoD.exe file in \Local\Temp of AppData. As there is some group policy applied on that folder, It won't be possible to use this directory for execution purpose.

I am looking into how to change this \Local\Temp path to other directory. Any help will be appreciated. Thanks in advance.
[ERROR] 15:03:22.245 (AbstractProcess.java:119): failed to call

[2019-04-17 12:35] Loki-Afro commented on #280
Hi there take a look here
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#usage---custom-mongod-filename

This isn't exactly what you want, but it gives you the hint that you should take a look into `ExtractedArtifactStoreBuilder`;)

[2019-04-17 12:35] #280 closed

[2019-04-19 15:13] Tobisaninfo opened #281 "FileNotFound in docker environment"
Hi,

I've some trouble with the de.flapdoodle.embed.mongo library in my Unit Tests.
My Unit Tests are written in Java 8 using the Spring-Boot Framework in version 2.0.9.RELEASE. The embbeded mongodb is the suggested version from spring (2.0.3).

The unit tests runs on a jenkins using docker. The exception I have got is

[code]
To use the mebedded mongodb, I have annotated my class this `@DataMongo

[2019-04-19 18:36] Loki-Afro commented on #281
There are several very similar closed-issues around, maybe one of them is usefull for you ;)
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/226#issuecomment-355179867
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/174

and finally https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/220

226 is the more likely case, I GUESS this can happen if y

[2019-04-19 18:44] Tobisaninfo commented on #281
Thanks so fare for your help. I will check this issues you mentioned later today.

But I would like to give you some details on my docker container already. I'm using the `jenkinsci/blueocean` image, which should depend on the alpine linux. I use this image more or less in the default way without any customization.

[2019-04-19 19:13] Loki-Afro commented on #281
I can confirm, it derives from alpine linux

[code]

[2019-04-19 20:03] Tobisaninfo commented on #281
I think that the issue #226 matches my problem very well. I could also see the dynamically linked libraries of the binary. But further on, I have no idea what to do.

Console output of ldd:
`bash-4.4# ldd extract-906afbda-f455-4961-9927-610c04657a4aextractmongod
	/lib64/ld-linux-x86-64.so.2 (0x7f42891d1000)
	librt.so.1 => /lib64/ld-linux-x86-64.so.2 (0x7f42891d1000)
	libdl.so.2 => /lib64/ld-linux-

[2019-04-19 20:41] Loki-Afro commented on #281
Not sure what to do, not a huge fan of alpine linux in such cases ...

However the main difference is that alpine linux does not use glibc

search for uclibc vs glibc

[2019-04-20 08:55] Tobisaninfo commented on #281
I'm new to alpine linux, so I haven't so much experience with it.

Unfortunately the installation of mongodb using apk did not help me. This thing with uclibc only frustrated me. Nevertheless thank for your time and help.

[2019-04-20 09:18] Loki-Afro commented on #281
btw here for a table of differences http://www.etalabs.net/compare_libcs.html

But I'll try it out today, can't promise anything though

[2019-04-20 09:41] Loki-Afro commented on #281
Got it to work

**This is not production ready!**
Add to your Dockerfile something like this.
It basically installs glibc, more info here https://github.com/sgerrand/alpine-pkg-glibc
[code]
If you run into any other issues, see the link above, you may need to generate the locales as well.

As a proof:

[code]

[2019-04-20 10:13] Tobisaninfo commented on #281
I installed everything as you described above without any installation errors. But my unit tests still failed with some the same error. In addition I found some maybe helpful prints from the maven run.

[code]

[2019-04-20 10:17] Loki-Afro commented on #281
[code]

basically says it wants the locale to be set

I did my test on the most recent mongodb version (4.0.9), 3.2.x is very old ... - but I can look into that if you need this version to work, shouldn't be much of a difference I think

[2019-04-20 10:44] Tobisaninfo commented on #281
I didn't select this version myself. Spring Boot uses your library in version 2.0.3. But if you want, I could try to override this to your current library version. The downloaded database version I think, I can't change myself.

Is this locale thing the Java Locale one or any other ?

[2019-04-20 11:04] Loki-Afro commented on #281
You can change the locale like this https://github.com/sgerrand/alpine-pkg-glibc#locales

Regarding the mongodb version
I don't know whats currently the embedded mongo lib in spring boot but 2.2.0 is desired. - in any way since you are using spring boot - you have to overwrite something and change some bean definitions - there is also an optional configuration property as far as I know ...

[2019-04-20 13:53] Tobisaninfo commented on #281
I set the locale using the following command (TO make things easy, I used US instead of DE for the locale settings)

[code]

I also update the library from 2.0.3 up to 2.2.0. But it still not works in my docker container :( The exception seams to be the same as before

[code]

[2019-04-20 18:37] Loki-Afro commented on #281
you can define the actual mongodb version via `spring.mongodb.embedded.version` but please use the version `2.2.0` to avoid any other havoc - and I guess you have to reconfigure that default spring boot magic then.

But in any way - I can verify the process described in my previous comment also works for **3.2.22**

But it does not work for **3.2.2**, great :D

[2019-04-20 19:43] Tobisaninfo commented on #281
I can finally report that my unit tests running fine 😀

For documentation reasons, here are my steps I have done to achieve that.

1. First I defined some env variables in the docker compose file:
[code]

2. Second in the alpine docker container I run these following commands:

[code]

3. Update the versions in my project, setting these to the following:

[code]

Thank you for the great help over

[2019-04-20 19:43] #281 closed

[2019-04-20 19:47] Loki-Afro commented on #281
thanks for documenting, enjoy your holidays too  🍺

[2019-05-02 12:11] yarinm opened #282 "Leaking mongod process when JVM is killed"
Hey,

I've started running embedded mongo for my UTs in jenkins and if the jenkins job gets aborted it interrupts the JVM with SIGKILL, causing the JVM to shutdown immediately. Shutdown hooks won't be called the mongod process stays alive.

I couldn't find a work around  through flap doodle API for this.

I think the mongod process should be invoked using an intermediate process that checks if its

[2019-05-02 21:06] Loki-Afro commented on #282
You are kinda right.
But there is a shutdown hook. I guess it just don't get executed - are you running your tests with maven?

[2019-05-03 17:42] yarinm commented on #282
Yeah, shutdown hooks are not guaranteed when dealing with SIGKILL, only SIGINT/SIGTERM

Running tests with maven, I'm using the latest of flapdoodle with mongo 3.6.12 enterprise edition (For the inMemory storage engine)

[2019-05-03 17:49] Loki-Afro commented on #282
Can't find the issue now :/ but it all boiled down to that this is some kinda maven issue - but i guess and this depends on your maven config is some kinda hackable with some surefire/failsafe plugin configuration

some considerations
- is the jvm forked?
- if so how do shutdown hook calls get delegated?
- does it work outside of jenkins and sending the jvm a SIGTERM?

I know this all seems to wor

[2019-05-03 20:32] yarinm commented on #282
This has nothing to do with maven.

Even running the UTs using intellij and killing the process using SIGKILL reproduces this.

If I send a SIGTERM the process and the mongod subprocess shutdown properly. Like I said shutdown hook will most likely not work in SIGKILL scenario as the JVM forcibly destroying the process and its not waiting for the shutdown hook to trigger.

[2019-05-03 21:06] Loki-Afro commented on #282
i overlooked that Jenkins uses SIGKILL to abort a job.
But I think that jenkins sends SIGTERM which is also described here https://wiki.jenkins.io/display/JENKINS/Aborting+a+build

so then why does your JVM receive a SIGKILL?

[2019-05-03 21:15] Research2Go opened #283 "Wrong version (2.2.1) mentioned in documentation"
I've just tried to get the latest version of your library and I've found out that there are discrepancy between what you have in github, in
https://search.maven.org/search?q=de.flapdoodle.embed.mongo

Which version should I use as the latest stable version? 2.2.1 as shown your maven example doesn't exist at all.

[2019-05-03 21:17] Loki-Afro commented on #283
the maven example shows a snapshot version not a release.

2.2.0 is the latest release version.

[2019-05-03 21:17] #283 closed

[2019-05-03 21:28] yarinm commented on #282
Hmm, interesting. I'll have to a closer look there when I get to the office next week.
It might also be related to surefire forking the process which prevents jenkins from sending sigterm to the subprocess of the forked process. I'll have to check.

[2019-05-03 22:05] Research2Go opened #284 "Attempt to use a decimal BSON type when experimental decimal server support is not currently enabled."
Dear all,

I'm facing an issue using version 1.50.5 as shown at the end of the post.
I thought it might be some outdated old version issue, so I tried to use 2.2.0 version in Maven. However, after I changed that in my maven dependency, the project can't build due to unresolvable IMongodConfig etc.

Following are the original problem I face before switching to 2.2.0.
**Does anyone have any ideas wh

[2019-05-03 22:09] Loki-Afro commented on #284
first of all use the latest version of spring boot. even they got a version 2.x like.
second this error is mongodb related - you specified a version (with `PRODUCTION`) which does not support the decimal mongodb feature.
third in all versions there is `IMongodConfig` so this is a problem in your ide or something.

[2019-05-03 22:09] #284 closed

[2019-05-05 05:38] yarinm commented on #282
You were right and surefire forking the JVM was the root cause here. I changed the shutdown option to "exit" and that solved my issue.

More can be read about it [here](https://maven.apache.org/surefire/maven-surefire-plugin/examples/shutdown.html)

Note that if you still kill the JVM with SIGKILL the mongod process will still be leaked. And I think there should be a solution for it within the fra

[2019-05-05 05:42] Loki-Afro commented on #282
any idea how?

you should never call SIGKILL first, always use INT or SIGTERM though ...

don't think this is possible to handle :/

[2019-05-05 05:54] yarinm commented on #282
Before finding this solution the way I solved it was by spawning an additional subprocess.
That subprocess was a simple python script that checks if its parent pid has changed to 1, meaning its parent has died. Once it detects he is an orphan, it would send SIGTERM to the mongod process.

I believe this solution could be implemented as an intermediate process for running mongod or like I did as di

[2019-05-05 06:08] Loki-Afro commented on #282
sounds like a OS specific hack.

especially this one sounds funny https://stackoverflow.com/a/33676140/1248724 would be cool to try out - but again no laptop here for a while ;)

you can try to create a PR for the process lib, the relevant code is [here](https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/tree/process-2.x.x) in branch process-2.x.x

but I don't consider this as bug its m

[2019-05-05 06:08] #282 closed

[2019-05-05 19:01] Research2Go commented on #284
Do you know which version is supporting decimal mongodb feature then?

[2019-05-05 22:22] Loki-Afro commented on #284
regarding your no such field error and spring boot version IDE issue / dependency madness - just search for a recent sprint boot tutorial for an up to date setup but this is beyond this library

regarding the decimal feature ... https://docs.mongodb.com/manual/tutorial/model-monetary-data/#numeric-decimal says since mongo 3.4

In any way, I recommend to institute the version yourself `IVersion`

f

[2019-05-06 09:55] Research2Go commented on #284
Using external MongoDB within springboot automatically is indeed a challenging but interesting task, my first approach is to use embedded MongoDB instead of external one. But it seems not working......

The error message comes from de.flapdoodle.embed.mongo.MongodExecutable.
I don't understand why the Version field is defined in the class, but we still meet up with this error.

2019-05-06 11:44:16

[2019-05-08 06:13] DmytroRybka commented on #232
This issue appears again in version 2.2.0
Failing with:
`  [mongod error]/tmp/extract-824a5485-8061-4010-98dc-7a14be76ee7fextractmongod: error while loading shared libraries: libgcc_s.so.1: cannot open shared object file: No such file or directory
`
Local build runs fine but our jenkins build fails.

[2019-05-13 22:26] EmteeW opened #285 "Windows, Artifact Caching improper"
On a Windows 10 machine, with the 2.2.0 release, we are trying to use V3_4 (Main) which successfully downloads:

"mongodb-win32-x86_64-3.4.15.zip"

It also successfully extracts, and invokes Mongod.exe.  But subsequent calls to "prepare(...)"--even on separate runs--will fail a cache hit, and then the downloader will attempt to invoke a bogus URL:
[code]

I have spent hours combing over the source

[2019-05-14 03:11] EmteeW commented on #285
Actually, I was viewing Master.  I was unable to build master, because it said repositories are offline...

I really suspect this has been fixed in Master, as a lot of the relevant file have been modified since then.  Both the embed-mongo and embed-process have had a long time since a release!

[2019-05-15 05:21] EmteeW commented on #285
Sry, it in fact the issue is with https://github.com/jirutka/embedmongo-spring

I didn't notice that our developers, in addition to using flapdoodle mongo directly, had also tried to use the bean, and left both in.

[2019-05-15 05:21] #285 closed

[2019-05-24 14:27] wjtlopez opened #287 "nested exception is java.io.IOException: Could not start process: <EOF>"
Hello,

I've seen other issues with the same exception but thought this one is worth bringing to your attention as it looks like the cause is very different, and a lot simpler to resolve.

I am using spring-boot-dependencies:2.1.4.RELEASE

When these two properties are set:

spring.data.mongodb.host=
spring.data.mongodb.port=

The following exception is thrown:
```Caused by: org.springframework.be

[2019-05-24 14:47] #287 closed

[2019-05-24 14:48] wjtlopez commented on #287
Closed as realised I had misread logs :)

[2019-05-25 16:06] sayandg14 opened #288 "flapdoodle mongodExecutable.start() process is getting hanged"
flapdoodle mongodExecutable.start() process is getting hanged , I have used proxy to create runTimeConfig . It is getting downloaded properly and the server is on the way of starting when it is getting hanged , printing ..

[mongod output] server was very slow
[mongod output]

[2019-06-03 11:07] lpickford-yozu commented on #232
I'm having this issue running embedded mongo `2.x` with `spring.mongodb.embedded.version=3.6.3` defined in my spring boot projects `application.properties` on win10. Both mongo and java are 64bit.

[code]

I don't have the option of updating mongodb to `4.x` due to organisational constraints, and I can't get passed this issue to run my tests. Any advice or setup I can try?

[2019-06-05 20:21] mingxhzhu opened #289 "Change streams not swupported?"
Does change streams supported? When I try to subscribe to changes I got the following error message:

--------------------------------------------------------------------
 "Exception in thread "SimpleAsyncTaskExecutor-1" org.springframework.data.mongodb.UncategorizedMongoDbException: Command failed with error 40324 (Location40324): 'Unrecognized pipeline stage name: '$changeStream'' on server loca

[2019-06-18 14:26] driccio opened #290 "Mongo dump manage many excluded collections"
Hello,

Is it possible to manage many excluded collections in mongodump, as the documentations indicates it ?
https://docs.mongodb.com/manual/reference/program/mongodump/#cmdoption-mongodump-excludecollection

Thanks

[2019-06-19 10:00] gurushub opened #291 "Wrapped by: java.io.IOException: Cannot run program "/tmp/extract-5138d20b-a716-40c5-9bcf-183060795a92mongod": error=2, No such file or directory"
[code]

[2019-07-09 10:00] bragaz opened #292 "Using custom codec registry"
Is there a way to create a built-in DB with custom codecs? When I try to use `withCodecRegistry()`
the test results ends with this :
[code]

[2019-07-09 17:40] Loki-Afro commented on #292
If you mean this
https://mongodb.github.io/mongo-java-driver/3.6/bson/codecs/

yes, of course. But this has nothing to do with this lib. Its all about how you construct the client.

[2019-07-09 17:40] #292 closed

[2019-07-30 15:48] hanymorcos opened #293 "Reducing run time between Junit tests"
We are trying to reduce the run time for JUNIT. Can we specify the a file path for an embedded Mongo? It takes took long to download and to kick off the executor service.  Also can we pass an executor service.

Thanks,

Hany

INFO  [main|o.s.s.c.ThreadPoolTaskExecutor: 171] [|] Initializing ExecutorService 'applicationTaskExecutor'
INFO  [main|o.s.b.a.m.e.EmbeddedMongo:  54] [|] Download Version{3

[2019-07-30 16:39] #293 closed

[2019-08-01 10:33] Dreando opened #294 "Having troubles with Could not start process"
Hello,

so I saw a few different issues like this, but none of the proposed solutions turned to be helpful for me.

I have a project with primary datasource postgres and many existing integration spring boot tests (that use testcontainers postgresql). Recently we wanted to add a mongodb as a secondary DS for other purposes and I am hitting the wall when it comes to testing.

I added the floopdoodl

[2019-08-01 16:51] Loki-Afro commented on #294
I guess `junit.jupiter.execution.parallel.enabled=true`could be the issue here - don't know about the current spring stuff - but does it start a new mongodb per test or per class?

There is maybe a race condition when finding a random network port to use - although that never happened for me.

anyway maybe you can create some maven-surefire-plugin magic that these tests get executed sequential if

[2019-08-02 05:10] Dreando commented on #294
Quick update: after digging for two days I overlooked one thing:
`spring.data.mongodb.port=0`
It did the thing! It probably could not start the process due to default port being in use, which anyways make me surprised as despite the fact of parallel execution, the tests seem to go _almost_ sequentially...

Anyways what I could see as an improvement would be to me this illegal argument saying a lit

[2019-08-02 16:47] LeeBear35 commented on #116
Has there been a resolution to this issue. I and a colleague both receive the message as the embedded MongoDB shuts down: embed.process.io.file.Files          : could not delete...
Checking the folder there is a wiredtiger.lock file that cannot be deleted by my user id or a local admin user on Windows 10.

Have not found what creates the file and how the permissions on that file are wired that it

[2019-08-02 21:54] #294 closed

[2019-08-14 17:44] shollander opened #295 "Support for MongoDB 4.2"
Mongo has changed the binary download options and file name format in a way the breaks the embed.mongo downloader.

1. For Windows, 2012plus in now the only option. [Feature.java](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/02d644905f0b05463be31daddcf468b1b7cb6e43/src/main/java/de/flapdoodle/embed/mongo/distribution/Feature.java) needs a new value: `ONLY_WINDOWS_2012_SERVER`,

[2019-08-14 17:46] Loki-Afro commented on #295
thanks for notifying, can't look into it right now but did you try if the rhel one works? a bit weird thats a tar anyway ...

[2019-08-15 13:31] saschpe commented on #220
Just in case, we stumbled across the same issue as we where using **openjdk:8-alpine3.9** in our CI environment. Switching to **openjdk:8** helped as we didn't want to maintain another Dockerfile for a particular CI build (even though adding glibc to Alpine isn't difficult: https://github.com/saschpe/docker-android-sdk/blob/master/Dockerfile#L22)

[2019-08-18 15:42] rfftrifork opened #296 "Allow opening on a random server port"
Since it's used for testing setups we of course don't want to use the default Mongo port, since on any given machine that might be in use. But that also goes for most other ports I'd say. Also it would make a lot of sense if it defaulted to localhost,

That way instead of doing things like (I hope you'll manage me writing in Scala here):

[code]
we could do

[code]

and of course with a getters fo

[2019-08-18 17:16] rfftrifork commented on #296
I just spotted `Network.getFreeServerPort()`, my bad, closing issue

[2019-08-18 17:16] #296 closed

[2019-08-21 07:25] ropi95 commented on #114
can anyone tell me how to use with this authentication?

[2019-08-26 13:10] Loki-Afro commented on #295
filed an issue https://jira.mongodb.org/browse/SERVER-43036 I don't know what the difference is between all these linux tgz for now - but I can start the ubuntu mongod on my fedora system - which looks promising ...

[2019-08-27 12:09] shirodkara opened #297 "support for ppc64le"
[Paths.java](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/master/src/main/java/de/flapdoodle/embed/mongo/Paths.java) does not have support for ppc64le platform.

The mongodb binaries for ppc64le are available here
[https://www.mongodb.com/download-center/enterprise/releases/archive](https://www.mongodb.com/download-center/enterprise/releases/archive )

There is a separate "lice

[2019-08-27 12:19] darkknightpl commented on #232
Any news with this issue? I've two tests with @SpringBootTest starting Spring context, first pass successfully, but second ends with `java.io.IOException: Could not start process: <EOF>`

Dependencies versions:
- de.flapdoodle.embed.mongo : 2.2.0
- embedmongo-spring : 1.3.1
- mongock-core : 3.0.0.BETA

Stacktrace:

<details>
  <summary>Click to expand</summary>

[code]
</details>

application.yml:

[2019-08-27 12:23] darkknightpl commented on #232
Any news with this issue? I've two tests with @SpringBootTest starting Spring context, first pass successfully, but second ends with `java.io.IOException: Could not start process: <EOF>`

Dependencies versions:
- de.flapdoodle.embed.mongo : 2.2.0
- embedmongo-spring : 1.3.1
- mongock-core : 3.0.0.BETA

Stacktrace:

<details>
  <summary>Click to expand</summary>

[code]
</details>

application.yml:

[2019-08-27 20:57] Loki-Afro commented on #297
@shirodkara you can overwrite the download url or even set a path where the binary is located.

I don't consider this is useful for anybody else, sorry

[2019-08-27 20:57] #297 closed

[2019-08-27 21:24] Kouroshb26 opened #298 "Where is 2.2.1-SNAPSHOT"
In the documentation you suggest that there is 2.2.1-SNAPSHOT but I have not seen this anywhere. I am wondering when it will be released.

[2019-09-03 08:53] SvSergey commented on #279
And why also Flapdoodle trying to additionally install version 3.5.5, even  in configuration specified only version 4.x?
It downloads two archives: mongodb-win32-x86_64-2008plus-ssl-**4.0.12**.zip (we can configure download url for it through DownloadConfigBuilder) and mongodb-win32-x86_64-**3.5.5**.zip (and we can't configure download url for it!)
@Loki-Afro Can you explain this behavior?

[2019-09-03 16:15] Loki-Afro commented on #279
@SvSergey sounds like a strange issue, but not related to this one at all.

You can file a new issue with a code example and we can look into it

[2019-09-04 05:48] yoyoktw commented on #167
Seems there is libraries are missing.
https://indy.fulgan.com/SSL/
In my case using Win 10 64 : https://indy.fulgan.com/SSL/openssl-1.0.2s-x64_86-win64.zip
Or you may unzip and copy DLL files to System32 folder and run mongo again.

[2019-09-04 13:45] SvSergey commented on #279
@Loki-Afro , I think its related, because in original problem:

I think the main problem of this issue is:

[2019-09-04 18:01] Loki-Afro commented on #279
@SvSergey got your point - chances are high for a spring misconfiguration / dependency madness.

Never play around with http proxies before :/ but I'm pretty sure it has nothing to do with proxies.

can you create a full project and push it to github so i can investigate further?

[2019-09-09 19:17] shollander commented on #268
Looking a little more at this issue, it looks like the current `SHUTDOWN_COMMAND` bytes *does* include the `force` option. I don't fully understand the format of the bytes, but the sequence
[code]
is equal to "force" in ASCII.

I think the actual problem is that the command is missing the `timeoutSecs` option (see [shutdown command](https://docs.mongodb.com/manual/reference/command/shutdown/)). I

[2019-09-09 21:18] shollander commented on #268
Doing a little research into the mongodb wire format, I figured out how to add the `timeoutSecs: 0` option.
Changing `SHUTDOWN_COMMAND` to the following fixes the issue for me:
[code]

[2019-09-09 21:51] shollander commented on #268
@Loki-Afro I submitted  pull request #299 to fix the issue with replicaset shutdown that @ptempes and I have been having.

[2019-09-11 06:29] SvSergey commented on #279
@Loki-Afro, you are right and it seems that I found the problem - **SpringBoot**, class **org.springframework.boot.autoconfigure.mongo.embedded.EmbeddedMongoProperties**:
`private String version = "3.5.5";`
To avoid installing version 3.5.5 we can add exclusion for this class to application:
`@SpringBootApplication(exclude = EmbeddedMongoAutoConfiguration.class)`

@Loki-Afro , thanks for idea!

[2019-09-11 06:30] #279 closed

[2019-09-17 08:21] fga13 commented on #291
Hi,
same issue for me, using Jenkins dind slave on AWS. No issue on my laptop.

[2019-09-17 18:17] Loki-Afro commented on #291
possibly same issue as other docker users here, i guess you are using an alpine linux build and this will fail unless you extend it - but this is very specific to what your environment is.

[2019-09-17 18:17] #291 closed

[2019-09-20 08:47] philippreston commented on #289
Would be great to support change streams.

[2019-09-20 19:18] Loki-Afro commented on #289
never played with it but this fully depends on the  mongodb version you are using.

And you can easy configure the one you wanna use up to 4.0.

[2019-09-20 19:18] #289 closed

[2019-10-08 09:36] rashmi-ibm opened #300 "Error "this version does not support 32Bit: PRODUCTION:Linux:B32" when travis job executed for ppc64le"
Link to travis job:-
https://travis-ci.org/rashmi-ibm/de.flapdoodle.embed.mongo/jobs/594994577

Error:
Download DEVELOPMENT:Windows:B64 DONE
Extract /home/travis/.embedmongo/win32/mongodb-win32-x86_64-2008plus-ssl-latest.zip START
Extract /home/travis/.embedmongo/win32/mongodb-win32-x86_64-2008plus-ssl-latest.zip extract mongodb-win32-x86_64-2008plus-ssl-4.1.0-158-g3d62f3cd37/bin/mongod.exe
Extrac

[2019-10-16 09:37] nlenew opened #301 "Customizing extractDir and tempDir makes the extractmongod.exe path not found"
Hi,

I have customized my running config to change the artefact download path, temp dir and extract dir the ones I need. Here is the config :

`IRuntimeConfig runtimeConfig = new RuntimeConfigBuilder()

                .defaults(command)

                .artifactStore(new ExtractedArtifactStoreBuilder()

                        .defaults(command)

                        .download(new DownloadCon

[2019-10-16 13:23] cycnos commented on #295
@shollander
I had the same error on windows system. I tried to run manually the executable file in ~/.embedmongo and the error was more explicit (in my case, I was missing some DLL  from visual c++ 2015)
Maybe you'll alse have an explicit error on your CentOS ;)

@Loki-Afro
If you need some help to develop a new version in order to supprot mongoDB v4.2  I'd be pleased to contribute (at least for t

[2019-10-16 17:06] Loki-Afro commented on #301
This is a bit crazy looking, why don't you change any path to even see which one the faulty might be?

In any way I'd recommend using absolute paths like here https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#customize-artifact-storage

[2019-10-16 17:11] Loki-Afro commented on #295
@cycnos thanks for the offering, but since you installed the dll (this was broken up to 4.0 I guess) it is not practical to force the user to install an additional dll. Or do you have a more fancy solution?

Some kind of similar error would be thrown when using any tar gz since they come not bundled with any libraries here - which is really annoying when you are running your build inside a docker

[2019-10-17 03:29] shollander opened #302 "Add timeoutSecs: 0 to shutdown command"
Please merge pull request #299 and create a new release version.

This fixes an issue where the shutdown of embedded mongo takes too long. By adding the `timeoutSecs` parameter to the shutdown command, we can force the shutdown to happen immediately. This is especially an issue when embedded mongo is configured as a replicaSet (required for some features of mongodb such as transaction support).

S

[2019-10-18 10:35] XeZZoR opened #303 "Mongo Schema Validation does not work."
Related to: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/245

I created a simple Testproject with a Unit Test to show the behavior here:
[mongo.zip](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/files/3743446/mongo.zip)

The Unit test should fail since the field that is required via schema is not there. I can see the schema when I connect to the test DB but it d

[2019-10-18 14:31] sakhtar1979 commented on #295
@Loki-Afro Can you explain this part a bit more?

As a user of EmbeddedMongo on Linux, Mac and Windows what exactly we need to do special for it to be compatible with Mongo 4.2? If anything. Thanks

[2019-10-23 21:21] majitospost commented on #287
Hello friend, I have this problem, what did you solved this?

[2019-10-31 09:23] raghavendra-hegde opened #304 "Unable to excute queries with collation."
In our application, we are trying to test string search functionality and we have used collation with primary comparison level.

Test cases are failing when the query is executed. while same query works fine in actual cses with mongo db.

[2019-11-04 14:23] mgaceanu commented on #295
Any progress on this issue?

[2019-11-05 17:28] shimizuf commented on #295
We would also be very happy about 4.2 support, it would enable us to upgrade all our DB instances.

[2019-11-19 18:55] ispringer commented on #232
I was also seeing the mysterious `java.io.IOException: Could not start process: <EOF>` error, with no information of why Mongo failed to start. I made the following change in de.flapdoodle.embed.mongo.AbstractMongoProcess to make it actually log stderr when the process fails, and I was then able to easily resolve the underlying issue:

[code]

Hopefully, this can be incorporated back into the proj

[2019-12-02 22:32] naddison commented on #287
@majitospost Make sure in your application.properties to not have
spring.data.mongodb.host=
spring.data.mongodb.port=

set. I had this issue, but I fixed it by commenting these two out.

[2019-12-30 11:04] thridevmanikanta commented on #167
This issue may also occur (as in my case) if you had an older version of MongoDB (probably the higher one) and you downgraded it to lower version. Just clear all the contents in C:/data/db (which contains configuration files of the higher version which may not be compatible with lower version) and rerun the MongoDB.

[2019-12-31 04:35] derekzhan opened #305 "java.io.IOException: Could not open inputStream"
[code]

[2019-12-31 04:49] derekzhan commented on #305
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/261

[2019-12-31 04:49] #305 closed

[2020-01-03 11:24] Salina73 commented on #96
how to download it again?

[2020-01-13 20:42] samuelbirocchi opened #306 "Support to V4.0.14"

[2020-01-24 07:57] asgarov1 commented on #278
having the same issue

[2020-01-27 13:45] gregRzn commented on #302
I would really appreciate that since I'm facing the same problem. Thank you!

[2020-01-28 19:04] apiwoni opened #308 "Cannot run on remote build server when tmp directory is non-executable"
Provide ability to inherit parent process environment

Looking at de.flapdoodle.embed.process.runtime.AbstractProcess#getEnvironment the environment ends up being null so there is no way to set java.io.tempdir for execution in more controlled environments. Ideally, process environment should be inherited from parent process.

where -Djava.io.tmpdir=/data1/tmp
[code]

[2020-01-30 12:54] Dathin commented on #287
@naddison Thank you. You saved my life

[2020-02-03 12:35] thecoop commented on #295
We need 4.2 support to test our usage of the $merge aggregator operator, which is new in 4.2. We can't really test this without flapdoodle 4.2 support!

[2020-02-06 01:33] egaudino commented on #287
@naddison thanks man, it works!

[2020-02-10 16:01] thundur opened #309 "Embedded Mongo 3.6+ doesn't work on Windows"
mongod.exe from 3.6 on requires libeay32.dll and ssleay32.dll in the same folder as mongod.exe to work. However, these files are not extracted, so mongod.exe exits with an error.

When I manually place the two dlls in <user>\AppData\Local\Temp, the embedded mongo server does work.

So I suppose that for windows, the dll files should be extracted and copied to the AppData\Local\Temp folder.

[2020-02-12 17:03] garydgregory opened #310 "Can't start a server with ephemeral port 0"
Using:
[code]
If this would work, which API would I call to retrieve the assigned port?
Currently in 2.2.0, `mongodExecutable.start()` throws an IOException:
[code]
Using the ephemeral port is key in making tests flexible and not clash with whatever else is running on that machine.

Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: C:\Java\apache-maven-3.6.3\bin\..
Java ver

[2020-02-14 15:43] Lacritz opened #311 "Mongod should add '--auth' if 'UserName' and 'Password' are set"
Hi,

As mentioned in the title you should introduce a check wether UserName and Password are set and enable authentication if so.

Instead of
[code]

You could go with
[code]

[code]

The feature is necessary for testing purposes and mentioned in a issue on spring boot.
https://github.com/spring-projects/spring-boot/issues/19583

Best

[2020-02-19 12:43] jcomouth-de opened #312 "Embedded mongodb ignores custom db path inside gitlab"
This code should create a custom download directory to store the downloaded database and create a custom place to hold data for this db. In my local machine it used both directories. If gitlab try to runs the tests it fails because it does it try to execute mongodb from a default path.

`@BeforeEach
  void setup() throws Exception {

    IDirectory artifactStorePath = new FixedPath(System.getPrope

[2020-02-20 08:57] salexfo commented on #234
Now you get a 404 if you try to access this URL

[2020-02-24 11:13] salexfo opened #313 "Is it possible to connect to the embedded mongo server from the mongo shell?"
I tried to connect to the server with the default configuration (no auth, default port) but get  a socket exception message.
What am I doing wrong?

[2020-03-09 03:08] chillywhale commented on #287
thanks for your solution, it does work. But what should be the most proper solution?
The situation is that I want to use the embedded mongo while testing, but to use the local mogo server while running the application.
The gradle build complains when I leave the spring.data.mongodb.host in the application.yml

[2020-03-09 18:19] shollander opened #314 "Is this project dead?"
Is this project dead? Issues are going unanswered for months and there are a bunch of pull requests that have been submitted and never merged.

[2020-03-13 21:45] acguglielmo commented on #195
I'm facing the same problem... what was the solution? The PR link in @Loki-Afro comment is broken.

[2020-03-16 20:02] wromijn commented on #195
The problem was that I created a MongoDbFactory bean in a configuration class and always applied this configuration, regardless whether the application or the tests were run. So when running the tests, the embedded MongoDb wasn't even loaded, because the normal MongoDb was already there. Removing the configuration class (which didn't add anything to the default configuration) solved the problem: h

[2020-03-26 06:29] hflaachiri commented on #300
I have the same problem,
I installed a gitlab runner on my raspberry pi 4 with an ubuntu 64 bit the integration tests are not executed I Have this message:
`org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'mongoDbFactory' defined in class path resource [org/springframework/boot/autoconfigure/data/mongo/MongoDbFactoryConfiguration.class]: Bean instantiation vi

[2020-03-27 17:25] snava10 commented on #314
If not, does this has support for change streams and transactions ?

[2020-04-10 01:37] lucasoares commented on #314
@snava10 it ddownloads mongodb binary and executes it, so all MongoDB resources are available. But apparently the project do not support MongoDB 4.2 version =(

[2020-04-23 09:30] d3minem commented on #276
@Loki - I'm having the similar issue with `de.flapdoodle.embed.mongo`. When I run standalone test it passed with first failure attempt of mongo connection. Which I completely understand because `mongod` haven't started and not accepting the connections.

**Note:** All my tests are passed running individually.

### UserRepositoryTest
[code]

### Standalone Test:

`mvn clean -Dtest=UserRepositoryTes

[2020-04-23 19:01] d3minem commented on #264
**Do we have any update on this issue?** It's really cumbersome for some tests now to have `de.flapdoodle.embed.mongo` by default. Another issue with `flapdoodle` connection **timeouts** - [Issue 276](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/276)

[code]

[2020-04-23 22:43] RafaelGomez1 commented on #287
@naddison dude you really saved me with that one. Thanks a lot

[2020-04-23 22:52] d3minem opened #315 "Exclude flapdoodle for some tests and socket timeouts"
Want to exclude the `flapdoodle` for some integration tests. And how can I solve these socket **timeouts** problem.

Can you please look into this issue? and provide some feedback.

StackOverflow: [Exclude flapdoodle for some tests and socket timeouts](https://stackoverflow.com/questions/61398247/exclude-flapdoodle-for-some-tests)

[2020-04-25 17:45] ravening commented on #314
Looks like it is. Last commit was 17 months ago

[2020-04-28 12:58] geoffmina opened #316 "EmbeddedMongoAutoConfiguration Fails in AWS CodeBuild due to lack of resolution for local host"
AWS CodeBuild does not provide DNS resolution for the local hostname.  This causes the constructor of the AbstractMongoConfigBuilder to fail - even in scenarios where the hostname is being provided explicitly either via config or pragmatically.  As there are only no-arg constructors available in MongodConfigBuilder and AbstractMongoConfigBuilder, there is no way to bypass the default call to new N

[2020-04-28 13:06] geoffmina commented on #99
There should be no default value for Net() created at construction time.  If no values are set by the time build() is called, it would then be appropriate for the default Net() to be built - as it would give people time to set their own host to avoid the UnknownHostException issue.

[2020-05-11 17:02] apiwoni commented on #308
Basically, it does not seem to be possible to run test cases on remote build system where tmp directory is not executable for security reasons.

[2020-05-12 18:46] apiwoni commented on #308
Closing this issue. It seems this can be handled by passing command line args which are propagated to forked Maven test as -DargLine="-Djava.io.tmpdir=/my/tmp"

[2020-05-12 18:46] #308 closed

[2020-05-15 21:39] collinewait commented on #287
Good question @chillywhale. You can have a specific profile for running your application e.g `application-dev.properties` where you can put your details. And then run the application with the following command line args `-Dspring-boot.run.profiles=dev`. You can also set `-Dspring-boot.run.profiles=dev` directly in your editor if you want to execute it with the editor.

[2020-05-27 20:11] keeratsingh commented on #295
@Loki-Afro  Any updates on this issue ?

[2020-05-28 11:35] davidgfolch commented on #212
I'm having this issue in an @SpringBootTest, all processes are killed properly, no one still running.

So I've just put try/catch to avoid tests to finish properly:

[code]

**log:**
[code]

[2020-06-25 07:54] mcherb opened #317 "flapdoodle embed: DistributionException: NoSuchFileException: /tmp/Linux-B64--3.6.5/extract-5a7ce234-e0a7-4801-9499-196040319c0emongod"
I'm using flapdoodle embed mongo for my tests. Now I'm trying to run my tests in parallel (before everything was working fine).

At first I've this error :

    java.io.IOException: Cannot run program "/tmp/extract-f77354d0-83fa-47e2-b7e1-47b3577bbf4eextractmongod": error=13, Permission denied`

I've managed to fix it like suggested in [this](https://github.com/flapdoodle-oss/de.flapdoodle.embed.m

[2020-06-25 11:39] Loki-Afro commented on #317
Do not run your tests in parallel, that is not supported, sorry

[2020-06-25 11:39] #317 closed

[2020-07-04 10:20] willks commented on #314
I dunno about mongo 4.2, but I got transactions working with this init code in my tests using cross collection transactions. It's in Kotlin though (convert back to Java?):

[code]

[2020-07-20 09:12] cchantep opened #318 "Java logging example"
The [Java logging example](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#-to-java-logging) doesn't seem to work.

[code]

It would also be nice to provide a configuration sample (e.g. `logging.properties`) corresponding, to known which logger/category can then be configured (without guessing).

[2020-07-20 12:56] sidarth164 opened #319 "problem with download distribution with ubuntu-12.04"
Hi, I got the following embedded mongo download distribution error while trying to build my spring project on Circle CI
The build is happening on a linux ubuntu-12.04, and I'm trying to run mongodb 4.2.5 version for my tests
These are the error logs:
`Caused by: java.io.IOException: Server returned HTTP response code: 403 for URL: https://fastdl.mongodb.org/linux/mongodb-macos-x86_64-4.2.5.tgz
	at

[2020-07-20 13:16] sidarth164 commented on #319
Sorry it was an error on my part
I was hardcoding mongodb-macos into my Paths class object.
Closing this issue.

[2020-07-20 13:16] #319 closed

[2020-08-05 13:01] manishpatelUK opened #320 "@Indexed(unique=true) does not cause Dupe Key error"
When you mark a field as unique, insertion of a new document with the same value in that field should throw a duplicate key error. I can currently insert 2 documents with duplicate values via spring boot.

[code]

Create a user class:

[code]

In a test I can insert twice:

[code]

userRepository is Autowired is a standard mongo repository:

[code]

[2020-08-10 03:30] roeniss commented on #232
Is this issue is resolved? I'm using 2.2.0 and sometimes(maybe 10% probability) `Caused by: java.io.IOException: Could not start process: <EOF>` appears then such tests are failed.

[2020-08-10 14:21] cybuch commented on #232
Using mongo 3.6.4 and 2.2.0 version of embed mongo: `Could not open inputStream for https://downloads.mongodb.org/win32/mongodb-win32-x86_64-3.6.4.zip`. With version 3.6.5 i had simply the `<EOF>` error.

[2020-08-13 15:31] froblesmartin opened #321 "Basic auth for custom MongoDB download URL"
Hi all!

I am trying to use the custom download URL (https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#customize-download-url) but the server where we have mirrored the MongoDB repository requires basic authentication.

I have been checking the code for possibilities to specify them but I have not found anything 😞 .

Then the only way that comes to my mind is to specify the username and

[2020-08-17 10:49] froblesmartin commented on #321
As a workaround I was able to set the basic authentication credentials with the following code that I found at https://stackoverflow.com/a/496707/7653022:

[code]

[2020-08-20 08:07] symphony-youri opened #322 "High CPU usage for MongoDB 4.0.2 on Mac OS X"
Running Embedded MongoDB with Spring Boot on a Mac with version 4.0.2 showed a high CPU usage (~100%) for the mongod process. It seems that disabling syncdelay option (that is set to 0) fixes the issue.

Here is the working configuration from Spring point of view:
[code]

I did not dig into more details so not sure if there is an issue here but I though it might help someone else to leave a trace

[2020-08-26 08:58] vikramyadavs opened #323 "request fails with authentication failure message"
I have a spring boot application with following modules
spring boot : 2.3.3
spring-boot-starter-data-mongodb : 2.3.3
mongodb-driver-core : 4.0.5
mongodb-driver-sync : 4.0.5
de.flapdoodle.embed.mongo - 2.2.0
de.flapdoodle.embed.process - 2.1.2

We have application repositories which are having simple CRUD operations.

**Test Class definition.**
_@RunWith(SpringRunner.class)
@DataMongoTest
@ActivePr

[2020-09-16 14:15] davebarda commented on #317
@Loki-Afro, do you have any plans to add it?

[2020-09-18 15:22] shilpauran commented on #268
its because the process takes a few seconds to shutdown. so do an await for a few seconds and then let the process stop. below is the java code for the same. keep in mind that process and executable are already created. this is just to stop the mongoDb
import static org.awaitility.Awaitility.await;
	public void stopMongoDb() throws IOException {
		if (process != null) {
			try {
				process.stop()

[2020-09-18 15:23] shilpauran commented on #212
better way is as below :
its because the process takes a few seconds to shutdown. so do an await for a few seconds and then let the process stop. below is the java code for the same. keep in mind that process and executable are already created. this is just to stop the mongoDb
import static org.awaitility.Awaitility.await;
public void stopMongoDb() throws IOException {
if (process != null) {
try {

[2020-09-18 15:24] shilpauran commented on #168
its because the process takes a few seconds to shutdown. so do an await for a few seconds and then let the process stop. below is the java code for the same. keep in mind that process and executable are already created. this is just to stop the mongoDb
import static org.awaitility.Awaitility.await;
public void stopMongoDb() throws IOException {
if (process != null) {
try {
process.stop();
} catch

[2020-10-12 06:54] Panks1790 opened #324 "While compiling tests cases getting exception Caused by: java.io.IOException: Could not start process: <EOF>"
Hi Team,

Can you please check below issue.

###  [2020-10-08T12:30:57.272Z] Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'mongoAppConfiig': Invocation of init method failed; nested exception is java.io.IOException: Could not start process: EOF

[2020-10-08T12:30:57.272Z] Caused by: java.io.IOException: Could not start process: EOF

Version whic

[2020-10-28 13:14] hilbert-ralf opened #325 "Could not find class [de.flapdoodle.embed.process.config.IRuntimeConfig] after upgrade to version 3.0.0"
After upgrading to version 3.0.0
[code]

I'm facing breaking tests caused by an class which cannot be found:

[code]

Before i used version 2.2.0 and everything did run fine. I'm not using the missing class IRuntimeConfig directly.
As version 3.0.0 is very new i assume it might be a early adoper problem. Any idea?

[2020-11-02 05:23] EthanNguyen132 commented on #324
Exact same error message for me.

Java version "1.8.0_272" (64-Bit Server )
de.flapdoodle.embed.mongo.version:- 2.2.0
Spring Boot Version :- 2.3.4.RELEASE

[2020-11-02 17:10] woswoasdeni opened #326 "unrecognised option '--noprealloc' during start of MongoDB"
Hi,

I'm trying to use Embedded MongoDB 4.41 on a SUSE Enterprise 12 server.

With the default configuration, an invalid download URL is generated (https://fastdl.mongodb.org/linux/mongodb-linux-x86_64-4.4.1.tgz).
For MongoDB 4.4.1, there doesn't seem to be a generic linux version any more - only distribution-specific versions.
So I changed the version:
`starter.prepare(config, Distribution.of(()

[2020-11-04 07:24] froth commented on #325
What I did to migrate my service to the new flapdoodle:

IMongodConfig -> MongodConfig
IRuntimeConfig -> RuntimeConfig

new MongoConfigBuilder -> MongoConfig.builder()

new RuntimeConfigBuilder().defaultsWithLogger(Command.MongoD, logger.underlying).build()  -> Defaults.runtimeConfigFor(Command.MongoD, logger.underlying).build()

[2020-11-05 14:42] amvi23 commented on #324
If you have this issue on a Windows machine check following DLLs using cmd
`WHERE libeay32.dll
WHERE ssleay32.dll`
Path to those files must be in declared in enviroment path.
If the files are missing you can get them from https://www.mongodb.com, download your required MongoDb Community Service version as zip file.

[2020-11-05 15:10] amvi23 commented on #325
I have exactly the same issue after updating from 2.2.0 to 3.0.0 in everal project running Spring Boot 2.3.X. And I do not use IRuntimeConfig as well but still getting this message.

[2020-11-07 23:26] skarbu commented on #325
Hi, I had this same problem, and I notice that problem is in Spring Boot Auto Configuration
problem solved by disable autocofig for embeddedMongo:

and use your own configuration

[2020-11-19 09:09] martintheault commented on #326
Same problem here, I tried to deactive the option in the configuration (same problem with small files)
`                .cmdOptions(MongoCmdOptions.builder().from(MongoCmdOptions.defaults()).useNoPrealloc(false).useSmallFiles(false).build())
`
But then it's blocked after

`
2020-11-19 10:08:56.515 [Thread-3] INFO  com.actility.m2m.timeserie.server.mongo.EmbeddedMongoVerticle - {"t":{"$date":"2020-

[2020-11-24 14:08] shahr commented on #326
@martintheault - have you manged to solve this problem? I am having the same problem - Mongo starts up fine, but it blocks without running the test

[2020-11-25 13:50] martintheault commented on #326
No I didn't solve the problem, I cannot start the server...

[2020-11-25 14:11] shoubhikghosh commented on #325
Having same issue. Any solution for this error.

[2020-11-25 14:13] trailoff opened #327 "403 on Download of Mongo 4.4.1"
Hello :)
I am using de.flapdoodle.embed.mongo 3.0.0 and here is my code :

[code]

But I get :
Caused by: java.io.IOException: Server returned HTTP response code: 403 for URL: https://fastdl.mongodb.org/linux/mongodb-linux-x86_64-4.4.1.tgz
	at java.base/sun.net.www.protocol.http.HttpURLConnection.getInputStream0(HttpURLConnection.java:1924)
	at java.base/sun.net.www.protocol.http.HttpURLConnection

[2020-11-25 14:22] amvi23 commented on #325
As @skarbu posted, the problem is spring boot which provides an auto configuration for embedded mongo based on version 2.2.0, guess we have to wait for spring boot project to update embedded mongo dependency and their auto configuration. Or do what @skarbu wrote and make your own configuration.

[2020-11-25 14:47] trailoff commented on #326
I have the same problem. First I tried #327 and then I saw your approach, but I also reach the same situation. :(

[2020-11-25 16:18] shahr commented on #326
@trailoff @martintheault I think there are 2 issues here (at least in my case):
1. The download of the mongo 4.4.x is somehow failing (as per @woswoasdeni original comment on the issue). I managed to override that by providing customized download configuration
2. After disabling the --noprealloc option, the `MongodExecutable#start()` does not return (despite the server appearing to have started co

[2020-11-26 20:53] martintheault commented on #326
@shahr how did you override the `successMessage()` ?

[2020-11-27 05:51] martintheault commented on #326
In fact I needed only Mongo 4.2.0, and it works well with this config

[code]

[2020-11-27 07:14] trailoff commented on #326
@martintheault How did you set the version ?

[2020-11-27 13:10] robin850 commented on #327
It looks like MongoDB changed all their URL patterns for download (since 4.2 IIUC looking at [this page](https://www.mongodb.com/download-center/community/releases/archive) ; and that would explain why it works for you on 4.0.12).

This means that:

* On macOS, the `osx` becomes `macos` only in the archive name (the folder name remains `osx`).
* There seems to be no "generic Linux" package after 4

[2020-11-27 13:52] robin850 commented on #326
If it can be helpful, here's a code that overrides `successMessage()` (great catch by the way @shahr) and makes the server start but I guess the library is hard to use anyway in any project at the moment given the issues and the backward-incompatible changes:

[code]

And then do whatever you want with the executable.

[2020-11-27 14:00] robin850 commented on #325
Hi there,

I take the liberty to comment to eventually avoid people wasting too much time.

After trying to exclude the auto configuration and implementing a custom class, my tests were still not running properly as there are other issues (like #326 and #327) and even after trying to fix that, if you are using `@DataMongoTest`, it doesn't honor `exclude` on a `@SpringBootApplication` (which is exp

[2020-11-27 18:17] shahr commented on #326
@robin850 Thanks for proving the code sample. Apologies @martintheault I didn't have the time to get to this thread until now.

[2020-12-06 19:19] ClimberBear commented on #320
I have this issue too. It is open from August. Any suggestion? Did it work in previous versions?

[2020-12-06 21:44] manishpatelUK commented on #320
I haven't found a workaround yet :/

On Sun, Dec 6, 2020 at 7:19 PM ClimberBear <notifications@github.com> wrote:

[2020-12-07 08:11] pkedzier commented on #325
Same issue after migration to 3.0.0

[2020-12-07 09:55] ClimberBear commented on #320
Thanks for keep trying!!!
My question is because I'm following the examples in the the book "Hands-On Microservices with Spring Boot and Spring Cloud" by Magnus Larson, and he uses this sample. So, it worked sometime ago! (or he is tricking his own book)

[2020-12-09 15:31] MarcantVez commented on #320
Hey!
I've run into the same issue today trying to build logic to update documents that had a timestamp field > than its existing one
Using findAndModify with upsert=true.

[2020-12-09 21:22] harmoney-max commented on #207
Was the JAVA version running on my local machine. I downloaded the last one for 64 bit, but for some reason, download a mongo embedded version for 32 bit. I did the change to an older java version (java version "1.8.0_271") and works perfectly. Thanks so much for your aport.

[2020-12-14 14:14] david0 commented on #280
Would it be an option to check the group policiy on windows before extracting using java native access and fall back to another path if the group policy denies it?
If so, I could implement that and open a PR.

Some colleges have corperate PCs with this silly policies in place. I think the whole point of this is to have some mongo running without configuration related to a respective operating syst

[2020-12-15 21:58] kylep-dremio opened #328 "JUnit Extensions"
We're using flapdoodle for some tests, and added support in our code for starting a sharded and non-sharded mongo instance for use with tests using JUnit Extensions: https://junit.org/junit5/docs/5.0.0/api/org/junit/jupiter/api/extension/Extensions.html

I think this would likely be useful as a contribution to the core project, and am willing to put time towards making our existing code generic su

[2020-12-21 21:50] lfdp opened #329 "Emebeded Mongo on macOS Big Sur"
I am trying to run EmbeddedMongo on macOS Big Sur / AppleSilicon. Unfortunately the following issue pop up
failure message="java.lang.IllegalArgumentException: this version does not support 32Bit: PRODUCTION:OS_X:B32" type="java.lang.IllegalArgumentException">java.lang.IllegalArgumentException: this version does not support 32Bit: PRODUCTION:OS_X:B32
        at de.flapdoodle.embed.mongo.Paths.getB

[2020-12-24 15:39] roeniss commented on #271
Is this not yet implemented?

[2020-12-24 15:44] roeniss opened #330 "Can't find RuntimeConfig class"
I'm trying to follow [proxy config on readme](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#customize-proxy-for-download) but can't find the RuntimeConfig.class, which makes the compiler message saying "Cannot resolve symbol 'RuntimeConfig'".

I'm using latest version now. What should I do?

[2020-12-30 14:41] antongalaev commented on #329
Having the same problem on m1 Mac using Azul zulu64-11.0.9.1 JDK, which is aarch64. Other x64 intel JDK works fine.
[code]

[2021-01-08 04:35] kurly09 commented on #329
Same here.
[code]

[2021-01-08 11:30] adamszczygielski opened #331 "Unable to download Mongo v3.6.4 (HTTP 403)"
What I get is:
`Caused by: java.io.IOException: Server returned HTTP response code: 403 for URL: https://downloads.mongodb.org/win32/mongodb-win32-x86_64-ssl-3.6.4.zip`

[2021-01-09 20:30] antongalaev commented on #329
upd: actually it works with the latest 3.0.0 version

[2021-01-10 19:00] ClimberBear commented on #320
I have solved adding the option
`spring.data.mongodb.auto-index-creation: true`
in the application.yml configuration file

[2021-01-12 11:55] manishpatelUK commented on #320
Great, that works! Thanks @ClimberBear

[2021-01-20 21:02] Kobee1203 commented on #331
The correct URL for v3.6.4 is the following:
https://downloads.mongodb.org/win32/mongodb-win32-x86_64-2008plus-ssl-3.6.4.zip

(See https://www.mongodb.com/download-center/community/releases/archive)

Set the version to "2008plus-ssl-3.6.4"

[2021-01-20 21:09] Kobee1203 commented on #327
To complete the @robin850 's comment:
* on Windows, the `win32` becomes `windows` in the filename and the folder name since 4.4.x

[2021-01-27 18:03] emarler7 opened #333 "de.flapdoodle.embed.mongo dependency causing unrelated unit tests to fail"
I am currently experiencing an issue with unit tests (unrelated to flapdoodle) failing intermittently unrelated to flapdoodle.

[code]
I'm at a loss because the test doesn't even use the dependency, but for some reason it fails at the below code:

[code]

The odd part is that this works 100% of the time locally, but fails 50% of the time in Jenkins. If I remove the flapdoodle dependency, then it w

[2021-01-28 13:04] Xaseron commented on #327
No only have they changed the filename structure of the zip file.
Also they have changed the directory name after extraction in a non coherent fashion.

I've already changed this for run-rs https://github.com/vkarpov15/run-rs/blob/master/src/download.js#L57

[2021-01-31 08:26] michaelmosmann commented on #333
hmm .. maybe spring wants to create an instance of LocalArtifactStore because of some package scanning? ..

[2021-02-11 01:42] kylep-dremio commented on #328
For context - here is the specialized code: https://github.com/projectnessie/nessie/pull/792

[2021-02-12 18:28] #329 closed

[2021-02-13 04:01] ithkfrog opened #335 "Add support to Apple Silicon"
I am using MacBook Air with M1 chip, when starting sprint-boot test with embed mongo the driver fail to detect correct version of architecture.

It downloads 32bit version instead of 64bit version, I do believe if it able to detect M1 as 64bit architecture Rosetta 2 should be able to run the driver correctly.

Below are the error logs:
`
Caused by: java.lang.IllegalArgumentException: this version

[2021-02-13 07:39] Loki-Afro commented on #335
closing as duplicate of #329

[2021-02-13 07:39] #335 closed

[2021-02-14 16:10] emmaLP commented on #303
Did you ever get schema validation to work?

I'm experiencing the same issue and would really like to get it solved

[2021-02-23 06:55] hitendrapratap commented on #221
@Marek00Malik are you able to resolve the issue? I am facing similar issue

[2021-02-23 11:00] paulca99 opened #336 "Building on AWS aarch64 is seen as 32 bit"
Using the latest  AWS codebuild image aarch64 , The embeded mongo server blows up with
 Factory method 'embeddedMongoServer' threw exception; nested exception is java.lang.IllegalArgumentException: this version does not support 32Bit: Version{3.5.5}:Linux:B32

Seems it's got ARM down as always 32 bit ?

Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bea

[2021-02-27 16:43] lukasz-cpu commented on #325
Yes, this is good, but I think It's not solution but another work-around that's generate additional line of code.

[2021-03-02 14:00] m-grzesiak opened #337 "Unable to run Embedded MongoDB on Macbook Pro with M1 CPU (ARM architecture)"
As title says - it looks similiar to issue [#336](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/336).

[code]

[2021-03-09 18:53] Trundicho commented on #337
A dirty workaround for local development on your M1 mac you can add the following in the static block of your @SpringBootApplication
`static {
        System.setProperty("os.arch", "i686_64");
}`

[2021-03-12 16:25] rcardin commented on #269
@damianopezzotti, have you resolved?

[2021-03-13 02:51] AlecJStrickland opened #420 "LogWatchStreamProcessor could potentially provide more insightful error messages"
I unknowingly had a zombie process already bound to port `27017`, and when I went to run Mongod I was given the following error:

java.io.IOException: Could not start process: \<EOF>

Naturally, I had no idea what this error message was supposed to mean. However, debugging `LogWatchStreamProcessor` reveals that the real issue was `SocketException: Address already in use`, hidden inside of `StringB

[2021-03-16 11:28] sreyan32 opened #338 "EmbeddedMongo starting on a random port every time"
I have test like the following:

[code]

But every time I find that `mongod`  process is started on another port.

`[2021-03-16T01:41:26.026Z] [com.mongodb.diagnostics.logging.SLF4JLogger] [main] [71] [INFO ] Opened connection [connectionId{localValue:4, serverValue:2}] to localhost:56837`

**Why is my configuration not being respected ?**

What am I doing wrong ?

Example output from `netstat`:

[2021-03-18 10:31] RobertNickRevnic opened #339 "UnknownHostException for repository unit tests in Jenkins build"
Hello!

I have a few repository unit tests for my application where I'm using the Embedded MongoDB dependency. Locally, it works fine without any configuration, but when I build the application via Jenkins, the following exception is thrown:

[code]

My test classes are very simple - I load data from JSON files located under _src/test/resources/data_ , creating and dropping the "users" collection

[2021-03-18 11:34] tcshack commented on #320
That worked perfectly for me. Thanks @ClimberBear

[2021-03-18 13:02] shoubhikghosh opened #340 "Unable to use withHint() method during query to the database."
I am using embedded mongo for unit testcase run. I have a query which fetch data depending on the value in 2 fields, hence used and criteria. I have created index on both the fields. The fields are attribute of a nested object inside the document. I have used hint in the query.
When I run the unit testcases I found below error

[code]
But without hint, everything is working fine. Can you please le

[2021-03-23 16:22] oriolbernal opened #341 "EmbeddedMongo using /tmp directory which has not execution permission"
I am deploying the application in a CentOS 7. When I execute it I get this error:

[code]

When I run it in my local machine (Windows) I don't get this error.

I've been searching for quite long and I found that in some distros the /tmp folder has no Permission of execution:
https://talk.plesk.com/threads/restricting-script-execution-in-the-tmp-directory.343570/

For example, when I try to execute

[2021-03-24 13:21] oriolbernal commented on #341
Hello,

I finally solved the problem by adding one of these properties

java.io.tmpdir=PATH
de.flapdoodle.embed.io.tmpdir=PATH

I apologize for any inconvenience.

[2021-03-24 13:21] #341 closed

[2021-03-29 15:27] alook commented on #269
When setting `spring.mongodb.embedded.version` to `4.4.4` on MacOS, the download fails:

It looks like a part of the URL pattern has changed from `osx`  to `macos`.

This URL works for me https://fastdl.mongodb.org/osx/mongodb-macos-x86_64-4.4.4.tgz

I guess this line needs to be updated: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/c317350ad7e96205fce0135400d32c21dc6415d9/src/

[2021-04-03 10:05] VikasCarscan commented on #336
Have you been able to resolve this issue.Facing the same issue in arm machine

[2021-04-19 17:24] Felixel42 opened #342 "flapdoodle 3 does not support relative paths for extraction"
## Summary

I tried to update one of our projects to flapdoodle 3.0.0 via spring boot 2.5. Unfortunately I have encountered a problem when using `withExtraction` in combination with a relative path. Absolute path seems to work fine but is not convenient especially with build systems. We have to change the extraction Folder due to restrictions on our build environment.

## Reproduced on different O

[2021-04-26 11:30] martin-g commented on #337
Related to https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/pull/104

[2021-05-01 06:30] roeniss commented on #339
Did you solve this? I'm facing exactly same error.
It appears only on k8s pods. on Local everything is fine.

[2021-05-01 09:34] RobertNickRevnic commented on #339
@roeniss Yes, I did! By enabling the detailed logs, I found out the unknown host was `dev096.dev.cloud.******.eu` which was the name of the Jenkins instance.

The fix for me was to add an entry in _/etc/hosts/_ such that the server's IP to be also recognized as `dev096.dev.cloud.******.eu.`

[2021-05-01 09:48] roeniss commented on #339
@RobertNickRevnic Thank you for such a quick reply! I'll try it next Monday. Have a nice :)

[2021-05-01 12:50] Felixel42 commented on #342
Moved to: https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/122, as not directly related to mongo

[2021-05-01 12:50] #342 closed

[2021-05-03 07:33] RakshithVP commented on #320
Do we have a feature to ignore index creation when it already exists?
I'm not creating indexes programmatically with mongock, I have an entity field with @Indexed annotation.

[2021-06-05 15:36] EugenMayer commented on #325
This has been fixed with spring boot `2.5.0` - just use flapdoole 3.0.0 there and it should work out of the box. The main reason was, that the dependencies were mixed when one loaded fd 3.0.0 in the testImplementation while spring was considering 2.x

Spring Boot 3.0.0 will not longer run with fp 2.x in addition

[2021-06-07 04:26] seta-sonnguyen commented on #232
I have this issue with Win 10, Mongo 4.4.6, Spring maven app, embed mongo version 2.1.1, with below logs:
10:24:54.684 [main] ERROR d.f.e.p.runtime.AbstractProcess - failed to call onAfterProcessStart()
java.io.IOException: Could not start process: <EOF>
	at de.flapdoodle.embed.mongo.AbstractMongoProcess.onAfterProcessStart(AbstractMongoProcess.java:79) [de.flapdoodle.embed.mongo-2.1.1.jar:na]
	at

[2021-06-08 03:14] seta-sonnguyen commented on #232
I can fixed the issue by:
1. Download and install mongo 4.0 (3.6 also work)
2. Jump into the install folder (for me: C:\Program Files\MongoDB\Server\4.0\bin), copy 2 files ssleay32.dll and libeay32.dll
3. Open folder (for me: C:\Users\Admin\AppData\Local\Temp), you can search to see: extract...mongod.exe
4. Copy 2 dll files into Local\Temp
5. Re-run and check. It worked for me

[2021-06-15 08:38] 1-alex98 opened #344 "de.flapdoodle.embed.process.io.file.Files::moveFile swallows Exception"
[code]
Swallowing this Excpetion is bad. I have an issue where this fails. But I have no way finding out why. You should log or throw it. You can even catch it in cases where you don't want to abort.

But here:
[code]

You just throw but with out preserving the actual cause.

[2021-06-15 08:41] 1-alex98 commented on #344
Best thing is it fails in the CI pipeline only. So I can not even debug it :'( Manually moving works. And it only fails in some tests other tests archive moving the file.

[2021-06-15 08:42] 1-alex98 commented on #344
[code]

[2021-06-15 09:08] cawena commented on #89
On my side that was a proxy issue. I just add the config on my jenkins file.

.....
stages {
        stage('Build') {
            tools {
                jdk "JDK-11"
            }
            steps {
                sh 'echo $JAVA_HOME'
                sh '$JAVA_HOME/bin/java -version'
                sh 'java -version'

                withMaven(maven: 'maven_3_6_3') {
                    sh 'mv

[2021-06-19 16:42] vgarmash commented on #298
Seems like they have changed snapshots deployment path but forgot to publish it. I noticed that when I tried to add 3.0.1-SNAPSHOT as it is described in Readme:

<img width="710" alt="2021-06-19 19_33_29 Readme about Snapshots" src="https://user-images.githubusercontent.com/1226001/122649388-415d3a00-d136-11eb-98ad-fcf8995b0d25.png">

I checked the contents of the https://oss.sonatype.org/content/

[2021-06-28 11:28] madbear2000 opened #345 "Cannot download Mongo db when running on FreeBSD"
I have a Jenkins Server running FreeBSD to run tests for a project. When it tries to start up the test server the following occurs.

`Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'mongoTemplate' defined in class path resource [org/springframework/boot/autoconfigure/data/mongo/MongoDatabaseFactoryDependentConfiguration.class]: Unsatisfie

[2021-06-28 19:57] robert-blankenship opened #346 "Setting `ttlMonitorSleepSecs`does not work as expected"
I am able to set the index TTL just fine:
[code]

However, the document still takes up to 60 seconds to be deleted, not less than 2 seconds as expected.

[code]

[2021-06-28 20:00] robert-blankenship commented on #346
Version is 2.2.0.

Impact is not too significant, but it does make our builds slower.

[2021-07-05 08:56] sumit919 commented on #337
Has anyone found a proper solution to this issue ? I'm facing similar issue below.
[code]

[2021-07-06 14:39] mesrarM commented on #320
Thanks it's work ClimberBear

[2021-07-14 03:37] hfxy1981 commented on #116
Is there any update about this issue?

[2021-07-24 07:13] innovationhub-asia opened #347 "3.0.1-SNAPSHOT binary is not available on mavenCentral or sonatype repositories"
Trying to download the latest snapshot with support of higher versions of mongo but seems only 3.0.0 artefacts are available. Anyone knows where to pull the 3.0.1-SNAPSHOT as described in readme?

[2021-08-05 21:00] JSONCODE007 commented on #327
Any update on this issue?

[2021-08-08 22:08] fluidsonic commented on #243
Same error here on macOS. Version 3.0.0.

`ProcessImpl` clearly doesn't have a field `handle`.

However there are private field `processHandle` and a function `toHandle()`:
![image](https://user-images.githubusercontent.com/85242/128647126-62d4b8c8-6782-4fa4-bf5f-a6bfb54a6ce1.png)

[2021-09-18 08:20] mirkoperillo opened #348 "de.flatdoodle.embed.mongo 2.2.0 doesn't support spring DateOperators.Month withtimezone method"
Spring data mongodb version 2.2.5
de.flatdoodle.embed.mongo 2.2.0

When I use following code in an aggregation
[code]

[code]

Removing `withTimezone` method exception is not thrown

Code works correctly using a MongoDB instance

[2021-09-20 13:47] ShinojShayin opened #349 "Is it possible to create replica set on new flapdoodle library 3.0.0, please share code snippet"

[2021-09-24 06:50] neumannm opened #350 "java.lang.reflect.InaccessibleObjectException when starting application"
Spring Boot mongodb version: 2.5.3
flapdoodle version: 3.0.0
JDK 16

I noticed the following exception on application startup when running my unit tests with the embedded mongodb:

[code]

This exception does not seem to have any significant impact since the application continues to start and the tests run fine, but I am wondering where it comes from and how I can get rid of it?

[2021-09-26 12:19] alexaasha commented on #324
And what about Ubuntu 20.04?

[2021-10-04 14:47] thomaschampagne commented on #350
I'm experiencing the same exception using JDK 17 LTS

[2021-10-16 10:03] Saljack commented on #350
I setup it as args to surefire and failsafe maven plugins.

[2021-10-23 23:05] krraghavan opened #351 "Embedded Mongo startup fails because of mongod process startup message change"
In 4.4.x the mongo process the success message on startup changed to "Waiting for connections" from "waiting for connections on port".  This causes the log watcher to not see the success message and the method never returns from ```logWatch.waitForResult``` in the AbstractMongoProcess ```onAfterProcessStart``` (line 63 from version 3.0.0).  I ended up creating custom versions of MongodStarter, Mon

[2021-10-25 13:13] jmesny opened #352 "Embedded MongoDB does not start on macOS since v3.1.3"
Hi.

Since version 3.1.3, our application fails to start using Embedded MongoDB on macOS.

The problem is easily reproducible with the first example available in the [README.md](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/master/README.md#usage) file.

Here is the stacktrace:
[code]
Is there anything else I can provide to help you?

Thanks a lot for this great tool 🙏

[2021-10-31 12:36] YoavNaaman commented on #351
Log:
[mongod output] {"t":{"$date":"2021-10-31T14:34:59.414+02:00"},"s":"I",  "c":"NETWORK",  "id":23016,   "ctx":"listener",**"msg":"Waiting for connections"**,"attr":{"port":27027,"ssl":"off"}}

Code:
	protected String successMessage() {
		return **"waiting for connections on port"**;
	}

[2021-11-02 05:50] michaelmosmann commented on #352
Did a new release .. can you try if this works now?

[2021-11-02 05:53] michaelmosmann commented on #351
I would like to change this.. but to see if the server is up and running in trying to connect to it, i have to rely on information i do not have.. which port, must use a real mongo client to get a valid connection .. etc.

Fixed this.. there is a new release with some other changes. Please try if this solves your problem.

[2021-11-02 05:56] michaelmosmann commented on #348
Which version has your mongodb instance?

[2021-11-02 05:57] michaelmosmann commented on #347
Do you still need the snapshot version? There is a new release ...

[2021-11-02 06:02] michaelmosmann commented on #345
I think mongodb does not support freebsd anymore..

[2021-11-02 06:06] michaelmosmann commented on #337
There is a new release .. can you try it?

[2021-11-02 06:07] michaelmosmann commented on #327
I did a mayor refactoring to catch this change.. there is a new release.. please try:)

[2021-11-02 06:07] #327 closed

[2021-11-02 06:08] michaelmosmann commented on #326
there is a new release which should fix this.

[2021-11-02 06:08] #326 closed

[2021-11-02 06:09] michaelmosmann commented on #336
can you try the new release.. it might fix this .. but as mongodb did change a lot, there may be some new issues..

[2021-11-02 06:12] michaelmosmann commented on #324
I did a new release.. can you try if this problem still exist?

[2021-11-02 06:44] mirkoperillo commented on #348
mongodb version `4.4`

[2021-11-02 08:16] jmesny commented on #352
It works! Thanks a lot 🙏

[2021-11-02 13:02] masa2146 commented on #349
Hello I created mongo replica set for my tests. Here is my code

[code]

[2021-11-02 14:37] #352 closed

[2021-11-02 14:38] #351 closed

[2021-11-02 14:39] michaelmosmann commented on #349
Maybe i add this to the documentation...

[2021-11-02 14:41] michaelmosmann commented on #348
I think the main difference is that the version used with embedded mongo is a much older version.. so you should try to update to a newer spring-data und embedded-mongo version.. current release is 3.2.0 for this project.

[2021-11-02 14:41] #348 closed

[2021-11-02 14:41] michaelmosmann commented on #331
i think i fixed this with the new release (3.2.0)... please try it:)

[2021-11-02 14:41] #331 closed

[2021-11-02 15:39] mikebell90 commented on #350
Looks like you are doing this to get the PID of the process? Java 9 + have a method for this, so would sniffing for the method and using it if available avoid this error? I think you can sniff for the method and invoke without getting the wrath of JEP 403?

[2021-11-02 16:39] michaelmosmann commented on #350
with the current release (3.2.0) it should work with java17 .. @mikebell90 i have to change this so that for everything after java 9 this method should be used.. the 3.0.0 release stopped at java15

[2021-11-02 16:39] #350 closed

[2021-11-02 16:46] michaelmosmann commented on #314
As mongodb did a lot of changes (their download path could not be guessed anymore, different versions for different os, how mongodb shows that it is started) it took me to muich time to think about how to handle this change. As i don't use mongodb in my current projects there was just no time to fix this .. i thought, that this project is maybe not important anymore.. there is test container, clou

[2021-11-02 16:46] #314 closed

[2021-11-02 16:46] #347 closed

[2021-11-02 16:47] #345 closed

[2021-11-02 16:48] #339 closed

[2021-11-02 16:49] michaelmosmann commented on #338
Is this still an issue?

[2021-11-02 16:52] michaelmosmann commented on #346
can you test this with the new release?

[2021-11-02 16:53] michaelmosmann commented on #333
Is this still an issue?

[2021-11-02 16:54] michaelmosmann commented on #330
Is this still an issue? We have a new release..

[2021-11-02 16:55] michaelmosmann commented on #328
sorry for this late answer.. this would be nice.. we have a new release.. so i can have a look at this.

[2021-11-02 16:57] michaelmosmann commented on #325
Is this still an issue? Does it work with the new release (3.2.0)?

[2021-11-02 17:16] emarler commented on #333
It is not. The issue was related to excluding the class EmbeddedMongoAutoConfiguration from our SpringBootApplication as follows:

`@SpringBootApplication(`
    exclude = {MongoAutoConfiguration.class, EmbeddedMongoAutoConfiguration.class})`

[2021-11-02 17:35] michaelmosmann commented on #323
can you try the new release?

[2021-11-02 17:36] michaelmosmann commented on #322
Is this still an issue? there is a new release...

[2021-11-02 18:10] symphony-youri commented on #322
I'm now longer working on a project using it. Given the issue is old and I'm not sure it is worth digging into and there is a workaround I think we can close it.

[2021-11-02 18:10] #322 closed

[2021-11-03 15:54] sreyan32 commented on #338
Yes.

[2021-11-07 19:07] michaelmosmann commented on #338
Can in find your project on github? Which spring/embedded-mongodb version do you use?

[2021-11-07 19:08] michaelmosmann commented on #333
ok.. so i close this ticket. Thanks:)

[2021-11-07 19:08] #333 closed

[2021-11-07 19:09] #320 closed

[2021-11-07 19:11] michaelmosmann commented on #298
There is a new release.. so i think there is no need for any snapshot version:)

[2021-11-07 19:11] #298 closed

[2021-11-07 19:11] michaelmosmann commented on #116
There is a new release.. can you try if this solves your problem?

[2021-11-07 19:13] michaelmosmann commented on #89
There is a new release, so i close this..

[2021-11-07 19:13] #89 closed

[2021-11-08 16:18] MichealZub opened #353 "Error: linux distribution not supported"
This error appears after "3.0.0" -> "3.2.0" update.
[code]

It looks like OS version check code is heavily changed.

[2021-11-08 17:11] MichealZub commented on #353
Version `3.1.4` is good, so only `3.2.0` is affected on my side

[2021-11-08 19:37] jonatan-ivanov commented on #352
@pierrcou I think it was failing before fixing this `X86_64` is not supported either; now `x86_64` is supported but it is not the same (capital `X`).

@michaelmosmann What do you think about doing `[xX]` in the regexp?

[2021-11-09 08:42] gscaparrotti commented on #324
I encountered this problem when there was a previous instance of Embedded MongoDB still running after a test failed without killing it. You may want to check it this is the case. I used [CurrPorts](https://www.nirsoft.net/utils/cports.html) to discover the process from the port it was using.

[2021-11-09 09:23] gscaparrotti opened #354 "`MongoSocketWriteException` when executing multiple consecutive tests"
I'm experiencing an issue with Embedded MongoDB: I have a test class containing many test methods, each one starting a new instance of Embedded MongoDB, stopping the already running one if present.

When I run each test individually everything works fine, but when I launch all the methods in the test class in batch only the first one works, while the others fail with the following exception:

[cod

[2021-11-11 08:48] andrea-acampora commented on #353
Having same issue. Any solution for 3.2.0 version?

[2021-11-15 03:40] lorencole commented on #287
I create a src/test/resources/application.properties file. Then src/main/resources/application.properties content is ignored when running tests.

[2021-11-17 01:35] robert-blankenship commented on #325
I am using version 3.2.0 and getting the following error:

[code]

SBT library dependency:
[code]

[2021-11-18 11:34] ramonmartinl69 commented on #337
When importing the dependency it in Gradle in my Mac M1:
"de.flapdoodle.embed:de.flapdoodle.embed.mongo"
I get the following error:

`Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [de.flapdoodle.embed.mongo.MongodExecutable]: Factory method 'embeddedMongoServer' threw exception; nested exception is java.lang.IllegalArgumentException: this version does not s

[2021-11-21 07:27] 000407 commented on #325
This actually works. It looks like it boils down to backward incompatible versions...

[2021-11-24 09:21] kenteg commented on #337
3.2.0 version on mac m1 i get error: `Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [de.flapdoodle.embed.process.config.RuntimeConfig]: Factory method 'embeddedMongoRuntimeConfig' threw exception; nested exception is java.lang.InstantiationError: de.flapdoodle.embed.process.config.io.ProcessOutput
	at org.springframework.beans.factory.support.SimpleInstanti

[2021-11-24 15:23] michaelmosmann commented on #354
.. ah. hmm.. maybe there is an issue without timeout. I expect that the port is not free when mongod stops so the new instance may fail.. or something like this.. maybe i can add an test to see if i can reproduce this problem.. and then fix it.

[2021-11-24 15:27] michaelmosmann commented on #353
Can you tell me which mongodb version you liked to run?
Can you tell me which linux-version do you use? ('cat /etc/lsb-release')

The OS check have changed heavily because mongodb.com decided that there is no generic linux version anymore for new mongodb versions.. so i try to detect which linux version is there and try to choose the right version for this platform..

but currently only ubuntu and

[2021-11-24 15:28] michaelmosmann commented on #353
.. and which distribution you would expect (see https://www.mongodb.com/try/download/community)?

[2021-11-24 15:32] michaelmosmann commented on #337
Hmm.. this looks like some spring-api-mismatch problem.. i try to see if i find someone who can do some code changes there..

[2021-11-24 15:42] michaelmosmann commented on #337
there is a pull request pending: https://github.com/spring-projects/spring-boot/pull/28543

[2021-11-24 15:45] michaelmosmann commented on #325
@robert-blankenship  there is an api change in 3.2.0 .. so you might have to change some code.

[2021-11-24 15:52] MichealZub commented on #353
My local macOS 11.6.1 is fine. Jenkins with CentOS Linux 7 (Core) fails.

[2021-11-25 12:15] MichealZub commented on #353
I determine Mongo version as: ```MongodConfig.builder().version(Version.Main.PRODUCTION)```

[2021-11-25 12:30] masa2146 opened #356 "MongoTransactionException Error in Transactional Operation"
Hello,
I have Transactional services. When I create operation in other create operation,  MongoTransactionException was occurred

MongoTransactionException: Command failed with error 263 (OperationNotSupportedInTransaction): 'Cannot create namespace <document>.xxxx  in multi-document transaction.'

I guess problem is due to mongo version. Mongo 4.4.0 and higher supports these transaction operation

[2021-11-28 20:51] j-hrcan commented on #287
@lorencole have you tried putting it in `src/main/resources/config/application.properties`?

[2021-11-29 17:36] bryancan commented on #167
I know this is an old thread, but for me it was my McAfee. I had to turn it off and delete the mongo dir in my appdata/temp

[2021-11-29 17:37] bryancan commented on #232
For me it was my McAfee. I had to turn it (McAfee) off and delete the mongo dir in my appdata/temp. Re-run then worked fine

[2021-11-30 01:15] MatthewRyanRead commented on #353
Same error on CentOS 6.

[2021-12-03 10:31] brianmarting commented on #269
Any update on this? also having the issue, but on windows and 4.2.0
[code]

[2021-12-03 15:42] brianmarting commented on #269
Could also be fixed by doing
``
    @Bean
    public DownloadConfigBuilderCustomizer downloadConfigBuilderCustomizer() {
        return (downloadConfigBuilder) -> downloadConfigBuilder
                .downloadPath(distribution -> "https://fastdl.mongodb.org/windows/mongodb-windows-x86_64-4.4.0.zip")
                .build();
    }
[code]

[2021-12-03 17:06] michaelmosmann commented on #356
Which Linux Dist do you use? Currently only Ubuntu is supported.. but to add a different one is possible until there is an official mongodb release for that..

[2021-12-03 17:07] michaelmosmann commented on #353
@MatthewRyanRead can you provide something like cat /etc/lsb-release ?

[2021-12-03 17:08] michaelmosmann commented on #353
@hlavki thanks.. i try to add openSUSE

[2021-12-03 17:24] michaelmosmann commented on #353
@hlavki which openSUSE version is this?

[2021-12-03 17:52] hlavki commented on #353
I am using openSUSE Tumbleweed which is a rolling distro. It means, there is no version. Anyway, is it necessary to bind to the concrete version of the distro?

[2021-12-03 22:48] michaelmosmann commented on #353
@hlavki mongodb introduced different releases for different distros.. so there is NO linux version anymore (only some legacy versions) .. you can have a look at the download page to get some impression of the .. .. problem.

[2021-12-03 22:48] michaelmosmann commented on #353
@MatthewRyanRead .. just released 3.2.1 .. which some centos support.. it should be in maven central tomorrow..

[2021-12-03 22:53] michaelmosmann commented on #353
@hlavki hmm.. can you tell me which suse version would match best? There are downloads for suse11, suse12 and suse15.

[2021-12-03 23:03] michaelmosmann commented on #353
@andrea-acampora which version did you download for Manjaro?

[2021-12-03 23:04] michaelmosmann commented on #356
@masa2146 did a  new release with centos support...

[2021-12-03 23:20] andrea-acampora commented on #353
@michaelmosmann 21.1

[2021-12-04 00:59] michaelmosmann commented on #353
@andrea-acampora .. sorry.. which mongodb-server version did you download, for which linux distro?(https://www.mongodb.com/try/download/community)

[2021-12-04 09:22] andrea-acampora commented on #353
I didn 't download It. I use the mongo-driver-sync library in maven. The version Is `4.4`

[2021-12-04 21:26] michaelmosmann commented on #353
@andrea-acampora .. any idea which mongodb server version would run on manjaro? there is no official package for this linux distro...

[2021-12-06 08:25] andrea-acampora commented on #353
Yes, it has been removed also from the official arch repositories due to re-licensing issues of mongo. However there's a precompiled binary in the Arch User Repository at this link [https://aur.archlinux.org/packages/mongodb-bin/](mongodb-bin). The binary points to the latest version of mongo ( `5.0.4` ) so i think you can try with that version.

[2021-12-06 08:30] hlavki commented on #353
I don't want to be rude and thanks for all your work, but maybe it's time to move to [testcontainers](https://github.com/testcontainers/testcontainers-java/).
Managing all versions and distributions will always be hard.

[2021-12-06 14:01] Workom2016 opened #358 "Array filters not supported by wire version: 5"
My test gets an exception "Array filters not supported by wire version: 5" when trying to execute update with filterArray.
Using de.flapdoodle.embed:de.flapdoodle.embed.mongo:3.0.0.

Please advise

[2021-12-07 09:55] VitaliyKulikov opened #359 "Wrong URL for MacOS/OSX download"
Currently, i have issue with running Spring Boot application with embedded database. Version: `de.flapdoodle.embed:de.flapdoodle.embed.mongo -> 3.0.0`

`active`
[code]
`expected`
[code]

[2021-12-07 16:17] nastra commented on #353
I'm running into the same issue after upgrading from `3.1.4` to `3.2.2` with the following OS:

[code]

[2021-12-07 18:51] Workom2016 commented on #325
Thanks, now 3.0.0 works but 3.1.3 - 3.2.2 fails with
Failed to instantiate [de.flapdoodle.embed.process.config.RuntimeConfig]: Factory method 'embeddedMongoRuntimeConfig' threw exception; nested exception is java.lang.InstantiationError: de.flapdoodle.embed.process.config.io.ProcessOutput

Please advise

[2021-12-08 04:21] mplescano commented on #257
This worked for me in spring non-booted
MongoDbServerConfig.java

`
    package com.apress.cems.mongo.config;

    import com.mongodb.client.MongoClient;
    import com.mongodb.client.MongoClients;
    import de.flapdoodle.embed.mongo.MongodExecutable;
    import de.flapdoodle.embed.mongo.MongodStarter;
    import de.flapdoodle.embed.mongo.config.*;
    import de.flapdoodle.embed.mongo.distributio

[2021-12-08 09:23] hjaved-nha commented on #359
Same for Linux (ubuntu etc)

[2021-12-08 11:13] infoShare commented on #359
For windows it's the same.
It's impossible to select MongoDB 4+ which will work on linux and windows at the same time.

[2021-12-08 13:55] EclipseKiller commented on #325
Same here, 3.0.0 works great but 3.1.3 - 3.2.2 fails with
`Failed to instantiate [de.flapdoodle.embed.process.config.RuntimeConfig]: Factory method 'embeddedMongoRuntimeConfig' threw exception; nested exception is java.lang.InstantiationError: de.flapdoodle.embed.process.config.io.ProcessOutput`

Has anyone solved the problem?

[2021-12-08 23:40] jasonjkeller opened #360 "Support for MongoDB versions 3.7 - 3.11"
I'm trying to set up JUnit tests against MongoDB 3.7, 3.8, 3.9, 3.10, and 3.11 but cannot get it to work no matter what I've tried.

I'm working on OSX for my local dev machine but ultimately need the tests to also support running on other OSes (such as Linux) for the test runner.

I noticed that there are no 3.x versions higher than `V3_6_5` defined in `de.flapdoodle.embed.mongo.distribution.Vers

[2021-12-10 01:15] mraible commented on #359
I can confirm that using `3.5.5` solves the problem for me.

[2021-12-11 19:30] fluidsonic opened #361 "Add support for additional command line options"
To allow setting opts that are not supported out of the box, like `--quiet`.

[2021-12-11 19:44] fluidsonic commented on #361
Looks like that there's the undocumented `.putArgs("--quiet", "")`.
And doesn't prevent logging output anyway 😔

[2021-12-13 10:48] radosmac commented on #325
Same here

[2021-12-13 11:05] niroussel commented on #350
@michaelmosmann Thank you for fixing this!

Last problem with this issue: if using Spring Boot, since 3.2.0, the autoconfiguration bean does'nt work anymore (`new ProcessOutput` doesn't exist)

What should replace `ProcessOutput processOutput = new ProcessOutput(Processors.logTo(logger, Slf4jLevel.INFO), Processors.logTo(logger, Slf4jLevel.ERROR), Processors.named("[console>]", Processors.logTo(lo

[2021-12-13 13:52] michaelmosmann commented on #360
If you provide some download urls for the missing mongodb versions we could fix that. I could not find any on the current download page.

[2021-12-13 13:58] michaelmosmann commented on #353
@hlavki yes, you can go on with that.. and i thought that most people moved already.. but thats not the case .. there are still >100.000 downloads each month.. so i have to do my best to make some people happy:)

[2021-12-13 14:04] michaelmosmann commented on #353
@nastra as there is no official mongodb dist, which version should we use? is linux mint comparable to ubuntu? can we use the ubuntu package? which version would match best?

[2021-12-13 14:11] nastra commented on #353
@michaelmosmann Linuxmint is based on Ubuntu, so the mongodb package for Ubuntu is fully compatible with LinuxMint.

[2021-12-13 17:05] michaelmosmann commented on #353
@nastra how does the version compare to ubuntu?
mint 19.3 -> ?
Is there a mapping?

[2021-12-13 17:05] michaelmosmann commented on #353
.. found it: https://linuxmint.com/download_all.php

[2021-12-13 22:13] jasonjkeller commented on #360
@michaelmosmann Thanks for getting back to me!

I see that at least the 3.7.1 thru 3.7.9 versions are listed here: https://www.mongodb.org/dl/osx

as well as at this domain:

https://fastdl.mongodb.org/osx/mongodb-osx-ssl-x86_64-3.7.1.tgz
https://fastdl.mongodb.org/osx/mongodb-osx-ssl-x86_64-3.7.2.tgz
https://fastdl.mongodb.org/osx/mongodb-osx-ssl-x86_64-3.7.3.tgz
https://fastdl.mongodb.org/osx/mo

[2021-12-13 22:13] #360 closed

[2021-12-14 00:46] michaelmosmann commented on #325
I did a new release where i backported some apis used by spring boot. Please try version 3.2.3.

[2021-12-14 10:07] niroussel commented on #361
Would be nice to be able to remove some options too: '--smallfiles' and '--noprealloc' are not supported in newest mongo (4.2). So the process can't start at all.

[2021-12-14 11:26] radosmac opened #362 "Add support for Mongo Timeseries collection"
Hello,

I'm trying to create a timeseries collection in test. It works with a real MongoDB in version 5.0, but not with de.flapdoodle.embed.mongo.

I do:
[code]

[2021-12-14 15:57] nastra commented on #353
sorry for my late reply @michaelmosmann but looks like you already found it. Also thanks for taking care of this

[2021-12-14 16:05] michaelmosmann commented on #362
If you use the development version (see https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/master/src/main/java/de/flapdoodle/embed/mongo/distribution/Version.java#L320 ) then you will start a mongodb >= 5.0.0 ..

[2021-12-14 16:05] michaelmosmann commented on #353
@nastra :) no problem:)

[2021-12-14 16:48] michaelmosmann commented on #361
@niroussel
Which command line options should be used is encoded if you use the Version enum provided by this project.. as spring boot does something different, this information is lost. I have to think about this so that this information (which feature is supported) is encoded somewhere else..

[2021-12-14 17:34] DanySK commented on #353
The same error appears under Manjaro Linux:
[code]

[2021-12-14 18:11] MichealZub commented on #353
@michaelmosmann
I have tried version `3.2.2` today and the issue remains.

[code]

[2021-12-14 18:13] DanySK commented on #353
For those using Manjaro (and Arch, I guess), here is a workaround to make embed.mongo work, by falling back to Ubuntu 20.10.

[code]

I would recommend that in case Linux is found but there is no match, the latest Ubuntu gets tried as last resort before giving up. The reason is that *a lot* of distributions out there are Ubuntu-derivatives, so they should be natively compatible, and apparently, ev

[2021-12-14 18:16] michaelmosmann commented on #353
@DanySK same idea here.. I think I will try something like this with some kind of warning..

[2021-12-15 11:05] ophalsp commented on #353
@michaelmosmann I also have a problem on Debian which seems related
`linux distribution not supported: Version{4.4.9}:Platform{operatingSystem=Linux, architecture=X86_64, distribution=Debian}`

PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.

[2021-12-15 14:00] michaelmosmann commented on #353
@ophalsp i will have a look at this..

[2021-12-15 17:01] michaelmosmann commented on #353
@ophalsp .. found a bug, now i have a test for this:)

[2021-12-16 10:37] masa2146 commented on #356
I'm using kali OS.

[2021-12-16 13:16] ksmilek-wr commented on #359
I suppose that issue is here: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/4e9ffbe26f02d0560d8d9e4ab73f3aca0f399681/src/main/java/de/flapdoodle/embed/mongo/Paths.java#L105
Path was probably changed by remote server and thats why it does not work anymore

[2021-12-17 21:10] torshid commented on #325
Same problem with 3.2.3
`Failed to instantiate [de.flapdoodle.embed.process.config.RuntimeConfig]: Factory method 'embeddedMongoRuntimeConfig' threw exception; nested exception is java.lang.InstantiationError: de.flapdoodle.embed.process.config.io.ProcessOutput`

[2021-12-19 19:02] michaelmosmann commented on #353
Did a new release .. (3.2.4) which should detect linux mint and should fallback to ubuntu 20.04 if no known linux distribution is detected. Any kind of feedback is very helpfull:)

[2021-12-19 20:45] michaelmosmann commented on #356
so you would use mongodb for debian? or which distribution works on your system?

[2021-12-19 20:47] michaelmosmann commented on #356
I did a new release which has a fallback to ubuntu 20.04 if nothing matches.. maybe this works on kali linux, if not i have to decide which distribution must be used instead. Any idea which one? https://www.mongodb.com/try/download/community

can you provide the content of /etc/os-release or something similar?

[2021-12-19 21:43] michaelmosmann commented on #359
@ksmilek-wr do you still have this issue? You must use the new release if you want to use any newer mongodb version? the old way (link to Paths) does not work with any new mongodb version...

[2021-12-19 21:46] michaelmosmann commented on #325
can you have a look at this issue? https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/128 which spring version do you use?

[2021-12-19 21:47] #98 closed

[2021-12-21 11:44] czmoku opened #363 "Embedded mongo start instance for every specification"
Hello

### Issue
Embedded mongo starts instance for every specification (we use spock in tests). We use spring autoconfig for your project In that case we have issue with performance of our tests, because if we have, for example, 10 specifications, embedded mongo start 10 new instances.

### What we do to try to fix it
We try to force embedded mongo to use only one port, by generating it in gradle

[2021-12-21 14:48] michel-kraemer commented on #353
@michaelmosmann The new release 3.2.4 works well for me. Thanks!

[2021-12-21 16:33] michaelmosmann commented on #363
Do you have any stripped down sample project so that i can inspect this in running this on my machine?

[2021-12-21 17:09] michaelmosmann commented on #232
Is this issue still a problem? There is a new release.

[2021-12-21 18:00] czmoku commented on #363
I made some project, with three test cases, last one "sleeps" for 50 seconds  and then you can check the top/htop that we have 3 instances.

I notice if "TestProperties" are common between two specification, this do not start new instance.

Here is sample:
https://github.com/czmoku/embeded-problem

[2021-12-22 06:03] michaelmosmann commented on #363
@czmoku thanks.. i will have a look at it.. but dont expect anything before 28.12 .. happy christmas:)

[2021-12-22 08:46] czmoku commented on #363
Sure, no problem here :)

For other, if had similar problem - currelny we "workaround" this with adding @DirtiesContext annotation with AFTER_CLASS. Now mongo shutdown correctly.

Happy Cristmas!

[2021-12-22 18:12] johnsonjii commented on #353
@michaelmosmann The new release (3.2.4) does not work on Amazon's flavor of Linux. The version detector does default to the Ubuntu but since Amazon Linux is Fedora based, the Ubuntu executable is likely not suitable.

I get the following exception: `java.lang.RuntimeException: Could not start process`

Would it be possible to support Amazon Linux as well? I wonder if the CentOs distro of MongoDB w

[2021-12-23 10:25] michaelmosmann commented on #353
as there is a amazon linux dist and you got me some hints how to detect amazon linux i think i can build something to support that..

but don't expect something before new year.. maybe.. but don't expect:)

happy christmas:)

[2021-12-28 19:20] michaelmosmann commented on #353
@johnsonjii .. did a new release (3.2.5). I hope detection of amazon linux works as expected. :)

[2021-12-29 13:48] MichealZub commented on #353
I have the exception similar to @johnsonjii with `3.2.5`. At this moment I still have to use `3.1.4`.
IMO Ubuntu MongoDB distribution is not suitable for CentOS.

[code]

[2021-12-30 08:03] michaelmosmann commented on #353
@MichealZub which centos version do you use? can you provide the content of /etc/centos-release

[2021-12-30 08:33] smn-codes commented on #353
Hi @michaelmosmann,

I am getting a similar exception that @MichealZub is facing.

Flapdoodle version is 3.2.5 and the embedded mongo version is 5.0.2.

[code]

OS details:

NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL=

[2021-12-30 08:35] MichealZub commented on #353
@michaelmosmann `CentOS Linux release 7.9.2009 (Core)`
See https://distrowatch.com/index.php?distribution=centos

[2021-12-30 08:54] michaelmosmann commented on #353
@MichealZub @smn-codes  Ah.. ok. I will try i detection will catch this

[2021-12-31 10:43] oliverlockwood commented on #359
From looking at some of the links generated by https://www.mongodb.com/try/download/community, I believe this affects all versions of MongoDB >= 4.2.x.

Here are some of the URLs:
- https://fastdl.mongodb.org/osx/mongodb-osx-ssl-x86_64-3.6.23.tgz
- https://fastdl.mongodb.org/osx/mongodb-osx-ssl-x86_64-4.0.27.tgz
- https://fastdl.mongodb.org/osx/mongodb-macos-x86_64-4.2.17.tgz
- https://fastdl.mong

[2021-12-31 10:44] oliverlockwood commented on #269
@codependent @alook I guess #359 (active open ticket, unlike this one) tracks the issue you are describing.

[2022-01-01 19:33] michaelmosmann commented on #353
@MichealZub @smn-codes i did a new release of de.flapdoodle.os with a centos related fix (1.1.2) you can now enable some detection logging if you set system property "de.flapdoodle.os.explain=true" (and enable logging) but it should work now for centos.

If this works i will build a new release for mongodb:)

happy new year:)

[2022-01-02 15:11] michaelmosmann commented on #359
@oliverlockwood current release is 3.2.5 which should work with spring boot 2.6.2.

[2022-01-03 14:19] smn-codes commented on #353
Hi @michaelmosmann ,

Still have an issue with this, Please have a look at the below logs.

`    14:11:20.359 [Test worker] INFO de.flapdoodle.os.common.attributes.LoggingWrapper$AttributeExtractorLookupWrapper - extractor for attribute SystemProperty{name=os.name}: Optional[SystemPropertyResolver]
    14:11:20.360 [Test worker] INFO de.flapdoodle.os.common.attributes.LoggingWrapper$MatcherLookupW

[2022-01-03 14:34] MichealZub commented on #353
@michaelmosmann I have the similar issue as mentioned above.
[code]

[2022-01-03 15:04] michaelmosmann commented on #353
@MichealZub .. hmm.. but now centos 7 is detected..
can you show me whats in your download cache?

`tree ~/.embedmongo/archives/`

[2022-01-03 15:33] smn-codes commented on #353
Hi @michaelmosmann, After clearing `~/.embedmongo` directory, it started working now.

[2022-01-03 15:59] michaelmosmann commented on #353
@MichealZub @smn-codes
.. as i expected. I have to refactor this a little bit:) Thanks for your input:) I leave this issue open as an reminder until i fixed this.

[2022-01-03 17:49] michaelmosmann commented on #353
@MichealZub @smn-codes there is a new release 3.2.6 with all the changes included (.os and .process dependency update) ..

[2022-01-06 18:41] jgriff commented on #359
I can also confirm latest spring boot `2.6.2` with `--spring.mongodb.embedded.version=3.4.23` renders the correct dl url.

Another coming complication will be multi-arch for apple M1, which will require Mongo (as well as the rest of the internet) to start shipping `linux/arm64/v8` variants.  And then downstream support here to recognize it and adjust the dl url accordingly.  However, Rosetta 2 see

[2022-01-09 13:44] derekdata commented on #359
It seems for older versions of Mongo, the URL has changed.  Downloads are available here: https://www.mongodb.org/dl/osx

[2022-01-09 15:13] eladeyal-intel opened #364 "Oracle Linux"
Here is /etc/os-release

[code]

which is supposedly "like fedora"

with spring boot 2.6.2 + embedmongo 3.2.6 I get

[code]

[2022-01-09 19:08] michaelmosmann commented on #359
@jgriff M1: this will be fun .. no.. i think this will be some kind of new pain ..maybe.. until there is a way to detect M1 somehow and mongodb will provide some special download for that it should work somehow..

[2022-01-09 19:09] michaelmosmann commented on #359
@derekdata does the current version not work for you? is there something missing?

[2022-01-09 19:12] michaelmosmann commented on #353
@infoShare is the server info from /etc/lsb-release or something different?

[2022-01-09 19:13] michaelmosmann commented on #353
@infoShare .. if we can move this to a new issue, this would help a lot:)

[2022-01-09 19:25] infoShare commented on #353
@michaelmosmann Server info is from`cat /etc/os-release`
Feel free to move it to separate issue.

[2022-01-11 10:44] nightswimmings commented on #325
There is nothing to do

[2022-01-11 16:29] michaelmosmann commented on #325
@nightswimmings so your problem is solved now?

[2022-01-11 16:30] michaelmosmann opened #365 "Add Redhad Enterprise 7 Support"
On version 3.2.6 I'm receiving this error for mongo 4.4.9

2022-01-07 17:05:55.205  WARN 6318 --- [           main] d.f.e.m.p.linux.LinuxPackageFinder       : because there is no package for Version{4.4.9}:Platform{operatingSystem=Linux, architecture=X86_64} we fall back to Version{4.4.9}:Platform{operatingSystem=Linux, architecture=X86_64, version=Ubuntu_20_04}
2022-01-07 17:05:55.208  WARN 6318

[2022-01-11 16:31] #353 closed

[2022-01-11 16:31] michaelmosmann commented on #353
@infoShare moved to new issue..

[2022-01-11 16:58] michaelmosmann commented on #364
@eladeyal-intel which mongodb package works for you? as there is no fedora or oracle dist package, only redhat/centos.

[2022-01-11 17:44] michaelmosmann commented on #365
@infoShare did a new release .. 3.2.7 (may take 24h to appear in maven central)

[2022-01-12 06:02] michaelmosmann commented on #365
@infoShare  .. its in maven central now:)

[2022-01-12 10:38] infoShare commented on #365
@michaelmosmann, still the same issue.

2022-01-12 10:14:15.912  WARN 20552 --- [           main] d.f.e.m.p.linux.LinuxPackageFinder       : because there is no package for Version{4.4.9}:Platform{operatingSystem=Linux, architecture=X86_64, distribution=Redhat, version=Redhat_7} we fall back to Version{4.4.9}:Platform{operatingSystem=Linux, architecture=X86_64, distribution=Redhat, version=Ubuntu_

[2022-01-12 12:41] infoShare commented on #365
@michaelmosmann
Still same issue - please review
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/pull/366

[2022-01-12 13:34] eladeyal-intel commented on #364
https://fastdl.mongodb.org/linux/mongodb-linux-x86_64-rhel80-5.0.4.tgz seems to work @michaelmosmann

[2022-01-12 16:42] jgriff commented on #337
I have an M1 Max and attempting to run an app (using embedded mongo) as a Docker image.

* Spring Boot: `2.6.2`
* Embedded Mongo: `3.2.7` (override dependency `'de.flapdoodle.embed:de.flapdoodle.embed.mongo:3.2.7'`)
* Running in Docker Desktop for Mac `20.10.11` with `qemu` platform emulation

The fatal problem looks to be that the Docker`qemu` emulation effort cannot run `/lib64/ld-linux-x86-64.s

[2022-01-12 17:07] jgriff commented on #337
I also tried forcing Docker to run the `amd64` flavor of the image (we build multi-arch images with `buildx`).

[code]

But this resulted in a more serious fatal error of:
[code]

[2022-01-12 20:02] johnsonjii commented on #353
@michaelmosmann Sorry for the late response. I have upgraded to version 3.2.6 which works successfully on Amazon Linux for me. Thanks so much!

[2022-01-13 12:30] miroslavvojtus commented on #359
I have tested with version flapdoodle:3.2.7 and mongodb:4.4.11 but now it fails with a following:

[2022-01-13 13:03] infoShare commented on #359
@miroslavvojtus Could you please check mongodb 4.4.9 if that's ok?
I see that 4.4.11 it not supported.
...
V4_4_1(...),
V4_4_5(...),
V4_4_9(...),
V5_0_2(...),

[2022-01-13 13:25] milanjour opened #367 "unrecognised option '--noprealloc' with Spring Boot 2.6.2 and de.flapdoodle.embed.mongo 3.2.7"
Hi, I am upgrading from Spring Boot 2.5.8 to 2.6.2.
Since now the property `spring.mongodb.embedded.version` is mandatory, I am annotating my test (in a Maven multi-module project) with:
[code]
but I have a
`Caused by: java.lang.RuntimeException: Could not start process: <EOF>`

I debugged it, and seen that Mongo is started with this command:
[code]
which, when manually started, fails with the fol

[2022-01-13 13:54] lukeway commented on #232
Seems to work with de.flapdoodle.embed.mongo 3.2.7 and mongo 4.4.9 on Windows 10.

[2022-01-13 20:01] miroslavvojtus commented on #359
Thanks for the hint @infoShare. I will check it tomorrow.
How and where did you find the suported versions list?

[2022-01-13 21:14] infoShare commented on #359
I've found it on the source code @miroslavvojtus on Version class.

[2022-01-14 07:06] miroslavvojtus commented on #359
Thanks @infoShare for the info.
For the others here is the link to the mentioned class: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/master/src/main/java/de/flapdoodle/embed/mongo/distribution/Version.java

[2022-01-14 07:25] miroslavvojtus commented on #359
I can confirm that flapdoodle:3.2.7 and mongodb:4.4.9 works together.

[2022-01-14 21:47] michaelmosmann commented on #367
Hmm.. i have to investigate this..

[2022-01-14 21:49] michaelmosmann commented on #367
@milanjour can you try 5.0.2 instead?

[2022-01-14 21:59] michaelmosmann commented on #353
@johnsonjii .. no problem:) no hurry.. thanks for the feedback:)

[2022-01-14 22:03] michaelmosmann commented on #337
@jgriff whats the linux dist you are using in this docker image?

[2022-01-14 22:05] michaelmosmann commented on #364
@eladeyal-intel  .. ok.. then i try to use the redhat version for oracle linux ..

[2022-01-14 22:31] michaelmosmann commented on #365
@infoShare pull request merged, new release done.. 3.2.8 released ..maybe 12h to maven central

[2022-01-14 22:59] eladeyal-intel commented on #364
@michaelmosmann thanks so much for addressing this

I still get `linux distribution not supported` with 3.2.8 after adding `<version>3.2.8</version> to pom.xml - :

[code]

[2022-01-16 08:25] michaelmosmann commented on #364
@eladeyal-intel .. ah, found the bug.. will fix it.

[2022-01-16 17:33] michaelmosmann commented on #364
.. hmm.. mongodb 5.0.2 is the last supported with embedmongo 3.2.8 .. so 5.0.2 should work, support for 5.0.4 (5.0.5) has to be implemented.. (in progress)

[2022-01-16 20:17] eladeyal-intel commented on #364
@michaelmosmann I can confirm 5.0.2 works for me now. thanks a lot!

[2022-01-17 16:09] infoShare commented on #365
@michaelmosmann It's working properly now. Issue can be closed.

[2022-01-17 19:20] czmoku commented on #363
Hello

Did you have time to check this issue? Any progress with this?

[2022-01-17 20:54] jgriff commented on #337
@michaelmosmann The base image for the app is [`eclipse-temurin:17-jre`](https://hub.docker.com/_/eclipse-temurin).

[2022-01-21 22:12] xiaodongli7 commented on #367
same issue for 4.4.8.
old embed db 3.5.5 is good.
waiting for fix, thanks

[2022-01-23 16:43] michaelmosmann commented on #367
@xiaodongli7 hmm.. did a new release.. 5.0.5. should work now, but i suspect that the way spring integrates embed mongo is responsible for these issues..

[2022-01-23 16:48] michaelmosmann commented on #337
@jgriff can you set the system property `de.flapdoodle.os.explain=true` and enable logging for package `de.flapdoodle.os.common.attributes` .. there will be some more output which could help. There is even a new release (3.3.0).

[2022-01-23 16:50] michaelmosmann commented on #363
@czmoku sorry.. did not had the time to inspect this issue until now.. but will have a look at it .. if i have something new, i will leave a message.

[2022-01-23 17:16] michaelmosmann commented on #363
@czmoku thanks for your github sample .. as far as i can see, its an issue in spring that it will not stop the mongodb after the other tests are done.. the cleanup happens after everything is done.. i can not do anything, because spring just dont call the stop method (tried to debug this, which is a kind of hell because of these spring layers). So "dirtiesContext" is the way to go..

[2022-01-23 17:16] michaelmosmann commented on #365
@infoShare your welcome:)

[2022-01-23 17:16] #365 closed

[2022-01-23 17:17] michaelmosmann commented on #364
@eladeyal-intel did a new release (3.3.0) and 5.0.5. support is enabled..

[2022-01-23 17:17] #364 closed

[2022-01-24 03:00] xiaodongli7 commented on #367
still not working in 4.4.8. yes, it is working for 5.0.5. Thank you

[2022-01-24 10:11] michaelmosmann commented on #367
@xiaodongli7 maybe 4.4.9 may work too.. i think it depends if a version is in this list: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/master/src/main/java/de/flapdoodle/embed/mongo/distribution/Version.java

[2022-01-24 10:11] #367 closed

[2022-01-24 12:22] infoShare opened #368 "Embedded mongo extraction processes"
Hello,

have you notices @michaelmosmann how embedded mongo is working on linux machines ?

Many processes with mongo extraction are still alive after tests ends.

 2445 jenkins   20   0 1516516  17268   3068 S   0.7  0.1  16:47.43 extract-c1e4611
 4984 jenkins   20   0 1518576  18048   2704 S   0.7  0.1  12:31.83 extract-8963eb1
14813 jenkins   20   0 1516380  23560   3032 S   0.7  0.1   9:22.54

[2022-01-24 13:51] xiaodongli7 commented on #367
yes, it works. Thank you michael

[2022-01-24 15:42] michaelmosmann commented on #368
@infoShare
hhmm.. if the jvm stops these process should be gone.. are they started inside of just one jvm?

[2022-01-24 16:24] infoShare commented on #368
It's on single jvm. Maybe some shutdown hook which is stopping all remaining processes/removing temp files would be possible.

[2022-01-24 16:38] jgriff commented on #337
@michaelmosmann here are the logs with ENV `de.flapdoodle.os.explain=true` and `TRACE` logging enabled for package `de.flapdoodle.os.common.attributes`.   Though I configured the `--logging.level.de.flapdoodle.os.common.attributes=TRACE`, I did not notice any new logging from that package.  My cursory investigation indicated you log to `slf4j`, and so I assumed this should configure your logging (

[2022-01-26 10:02] michaelmosmann commented on #368
there are shutdown hooks for that.. hmm..

[2022-01-26 10:02] michaelmosmann commented on #367
@xiaodongli7 thanks for testing:)

[2022-01-26 19:39] michaelmosmann commented on #337
@jgriff maybe this is the issue: https://stackoverflow.com/questions/68630526/lib64-ld-linux-x86-64-so-2-no-such-file-or-directory-error

[2022-01-26 19:49] michaelmosmann commented on #368
@infoShare there is a shutdown hook for that https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/05f0c5ca431037f40ec1797c76271dc56d02fa1e/src/main/java/de/flapdoodle/embed/process/runtime/AbstractProcess.java#L106 .. so maybe the jvm is still running

[2022-01-26 20:26] infoShare commented on #368
I'll verify how Jenkins is killing processes on build timeout executed by timeout plugin. Maybe it's killing process in some weird way which is not handled by hook.

[2022-01-27 21:32] jgriff commented on #337
@michaelmosmann yes, I believe the problem is really 2 fold.

1. flapdoodle doesn't recognize the architecture for a M1 Mac (`linux/arm64/v8`).
2. Mongo doesn't provide a "Mac" distribution for `linux/arm64/v8`.

So really, flapdoodle seems to fall back to the nearest cousin `ARM_64`/`x86_64` Ubuntu.

But since this isn't the native platform for an M1 Mac, Rosetta 2 attempts to emulate it.  And th

[2022-01-28 17:13] michaelmosmann opened #370 "Failure on Ubuntu 21.10 (against latest release via embed-mongo)"
The platform detection on Ubuntu 21.10 fails to find the right package.
It seems there are a bunch of non-LTS Ubuntu releases configured, but 21.04 and 21.10 are missing there.
What's interesting is that the fallback to `Ubuntu_20_04` isn't considered.

[code]

[code]

[code]

[2022-01-28 17:13] michaelmosmann commented on #370
copy of https://github.com/flapdoodle-oss/de.flapdoodle.os/issues/3

[2022-01-28 17:14] michaelmosmann commented on #370
copy of https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/129

[2022-01-28 17:14] michaelmosmann commented on #370
@snazy .. moved this issue.

[2022-01-28 17:16] michaelmosmann commented on #370
@snazy solved by this pull request https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/pull/369 .. released to version 3.3.1 .. please try if this version is in maven central.

[2022-01-28 17:19] michaelmosmann commented on #337
@jgriff ah.. ok.. i will have a look ..

[2022-01-28 17:23] michaelmosmann commented on #337
@jgriff can you provide the value of the system property "os.name" and "os.arch" (for native mac and inside docker)

[2022-01-29 08:03] michaelmosmann commented on #368
@infoShare on which platform does your jenkins run? maybe the build run should create a new process which is killed automatically

[2022-01-31 13:48] Bhanu-12 opened #371 "Socket Exception While running tests through mongo"
[code]

Getting this error while trying to connect mongo.
Can someone please help ?

[2022-01-31 15:53] michaelmosmann commented on #371
@Bhanu-12 .. can you provide some information (os, mongodb version, embedded mongo version)?

[2022-02-02 19:15] jgriff commented on #337
@michaelmosmann

Here you go, on an M1 Mac:

## Native (Groovy)
[code]

## Docker (Groovy)
[code]

## Native (Java)
[code]

## Docker (Java)
[code]

[2022-02-02 19:50] martin-g commented on #337
It is weird that native Groovy reports `x86_64` while native Java `aarch64`.

[2022-02-02 21:20] MatthewRyanRead commented on #337
Groovy must be running on a different Java VM.  The Java output is "incorrect" because it's the x86_64 distribution running under Rosetta.  Temurin (formerly AdoptOpenJDK) hasn't had aarch64 builds for Mac for all that long, and they're only for Java 17+.

[2022-02-02 22:25] jgriff commented on #337
@MatthewRyanRead is correct:

My `JAVA_HOME` wasn't explicitly set, so Groovy defaulted to my system JVM which was `15`.

I use [`jenv`](https://www.jenv.be/) and currently have `17` set globally.  But `jenv` doesn't export `JAVA_HOME` by default.

So I just enabled the `export` plugin to export `JAVA_HOME`,

[code]

and now Groovy reports the expected `aarch64`.
[code]

But it's at least worth no

[2022-02-03 09:46] czmoku commented on #363
ohh, sure, weird issue really. Thanks, for now we using dirtiesContext and, as you said, works correctly. I think this issue could be noted in readme, maybe someone will have same issue as mine. If no, please close this issue :)

[2022-02-04 17:53] michaelmosmann commented on #363
@czmoku good idea..

[2022-02-04 17:56] michaelmosmann commented on #337
@jgriff @MatthewRyanRead @martin-g so.. it seems that 'os.arch' is not as reliable as needed .. any other idea how tho check for this on a mac (some system file content)?

[2022-02-05 02:45] MatthewRyanRead commented on #337
`uname -m` prints `arm64` on an M1 and `x86_64` on an Intel Mac, so that could be a good option.

[2022-02-06 10:02] michaelmosmann commented on #337
@MatthewRyanRead hmm.. seems a little bit more complicated: https://stackoverflow.com/questions/65259300/detect-apple-silicon-from-command-line .. i must think about this a little bit.

[2022-02-09 14:15] loicmathieu opened #373 "MongodExecutable.stop() never ends on Windows"
Hi,

We have a working unit test on Linux that didn't work on Windows.

We're starting a database at the begining of the test then stopping it at the end via the `MongodExecutable.stop()` method.
On Windows, the test never ends and get killed by surefire after the timeout.

When killing, surefire takes a thread dump and here what we see:

[code]

[2022-02-09 15:58] infoShare commented on #368
cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.9 (Maipo)

jenkins  23716  0.3  0.3 1519380 58396 ?       Sl   15:50   0:15 /var/tmp/extract-81672e62-53b3-44fd-b231-33329afe9d13extractmongod --dbpath /var/tmp/embedmongo-db-5d76b85e-f456-433d-88fa-c5c3fc626ac7 --noauth --nojournal --port 23802 --bind_ip 127.0.0.1 --syncdelay=0
jenkins  24794  0.3  0.3 1516392 58412 ?       Sl   15

[2022-02-10 15:35] michaelmosmann commented on #368
@infoShare can you provide some test code (setup, framework etc.)? maybe i can get an better idea whats going on and why there is no shutdown...

[2022-02-10 15:47] michaelmosmann commented on #337
@MatthewRyanRead @jgriff @martin-g on one side it would be good to detect the real architecture even if the jvm tells otherwise... but this may lead to even more complicated behavior .. if the jvm is running in rosetta-emulation-mode: does a process started from this jvm also run in emulation? can it run native?

[2022-02-10 15:54] michaelmosmann commented on #337
@jgriff .. maybe we are looking at the wrong direction .. the mongo version 3.4.23 is very old.. so i think the case is just the other way.. do you know if a process started in native mode can start an other process in emulation mode? So that the right x86-mongodb binary may work?

[2022-02-11 05:45] ivangfr opened #374 "Server returned HTTP response code: 403 for URL"
Hi, suddenly I am not able to run the test cases of my [project](https://github.com/ivangfr/springboot-jsoup-html-parser) that uses **embed mongo**.

From the logs, I have the following exception
[code]

**How to reproduce**
- git clone https://github.com/ivangfr/springboot-jsoup-html-parser.git
- cd springboot-jsoup-html-parser
- ./mvnw clean test --projects game-score-api

[2022-02-12 22:43] Crovitz opened #375 "Support for linux distribution Debian 11"
Hi, I've the issue about unsupported version of Debian 11 which is currently the newest release of this linux distro, as below:

_Caused by: java.lang.IllegalArgumentException: could not resolve package for Version{5.0.5}:Platform{operatingSystem=Linux, architecture=X86_64, distribution=Debian}_

In the code I see:
[code]

It's any chance for updating the package?
Regards!

[2022-02-15 17:34] geemorin commented on #374
Same here

[2022-02-17 11:51] michaelmosmann commented on #374
@ivangfr did made a pull request to fix this..

[2022-02-18 08:43] #374 closed

[2022-02-18 12:59] michaelmosmann commented on #375
@Crovitz there is a new release where debian 11 just uses the debian 10 version

[2022-02-18 12:59] #375 closed

[2022-02-18 13:01] #370 closed

[2022-02-18 13:08] Crovitz commented on #375
Thank you so much for quick response and release. Professional approach :)

[2022-02-19 07:21] michaelmosmann commented on #375
@Crovitz thanks.. i do my best:)

[2022-02-20 00:04] kitkars opened #376 "Exception on start up - java.lang.NoSuchFieldException: handle"
Hi Guys,

Do you know what is causing this? I am on MacOS (m1) + Java 17

[code]

My maven dependency

[code]

[2022-02-20 22:17] Odilio opened #377 "Exception on start up - IOException: Could not open inputStream"
I got a error on start up when the mongodb was downloaded
Spring boot version 2.6.3
windows version 10
java version tested 17, 11, 8
Mongodb version tested 4.2.17, 4.1.2, 4.0.1

Caused by: de.flapdoodle.embed.process.exceptions.DistributionException: java.io.IOException: Could not open inputStream for https://downloads.mongodb.org/win32/mongodb-win32-x86_64-4.2.17.zip with proxy Optional.empty

Ca

[2022-02-21 08:15] bernermic opened #378 "Version 3.4.1 breaks with spring's autoconfig"
Hi @michaelmosmann,

with the current version 3.4.1 spring autoconfig breaks.

Springs EmbeddedMongoAutoConfiguration is missing change for deleted class https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/46eeb152b1e69a644627cd7f334c466b9f9e294b/src/main/java/de/flapdoodle/embed/mongo/distribution/Feature.java

in here: https://github.com/spring-projects/spring-boot/blob/main/spring-

[2022-02-21 08:29] alabotski commented on #378
Hi I have the same error
On 3.3.1 all working well

[2022-02-21 12:12] mhalbritter opened #379 "Embedded mongo doesn't work on Linux aarch64"
Hello,

i tried to get the embedded Mongo working on linux aarch64, but it fails because the executable is in the wrong format (x64 instead of aarch64)

Version: 3.4.1

[code]

The extracted file is of the wrong architecture:

[code]

Executing this file in a shell results in:

[code]

which translates to "error in the format of the executable: ..."

Is it possible to provide an aarch64 (arm64) co

[2022-02-21 17:40] michaelmosmann commented on #378
Hmm.. did a little change regarding this but did not expect that.. have to investigate this..

[2022-02-21 17:43] michaelmosmann commented on #378
.. oh, i see whats going on.. hmm.. stay with 3.3.x so far..

[2022-02-21 17:46] michaelmosmann commented on #376
Hi, can you try to run this code:
[code]

[2022-02-21 17:47] michaelmosmann commented on #376
Maybe you should use:

<dependency>
			<groupId>de.flapdoodle.embed</groupId>
			<artifactId>de.flapdoodle.embed.mongo</artifactId>
			<scope>test</scope>
			<version>3.3.3</version>
		</dependency>

[2022-02-21 21:37] michaelmosmann commented on #378
3.4.0 may also work.. i see if i can create some workaround for this issue

[2022-02-22 14:21] michaelmosmann commented on #379
@mhalbritter can you give me some more infos? which os do you use? which mongodb version?

[2022-02-22 14:23] michaelmosmann commented on #377
which embed-mongo version do you use?

[2022-02-22 15:10] Odilio commented on #377
@michaelmosmann i try these versions Mongodb version tested 4.2.17, 4.1.2, 4.0.1

but i believe will happen to any version, i can try others too

[2022-02-22 15:42] GuillaumeMartial commented on #367
Same problem on Linux...

[2022-02-22 16:02] michaelmosmann commented on #377
@Odilio no.. i need to know which version of de.flapdoodle.embed.mongo you are using? if this the default version which comes with spring there is an issue that these new mongodb versions are not supportet.. you should use version 3.3.3 of de.flapdoodle.embed.mongo

[2022-02-22 16:06] michaelmosmann commented on #378
@bernermic hmm.. this error message is strange.. i did restore the de.flapdoodle.embed.mongo.distribution.Feature class (which is now of no use, just to satisfy the runtime) ..

spring team: i can try..

[2022-02-22 16:15] bernermic commented on #378
Oh - I made a misstake here. Wrong terminal ...

I'll create a simple testexample and paste the link vor test here.

This is the correct error:
`Error creating bean with name 'embeddedMongoRuntimeConfig' defined in class path resource [org/springframework/boot/autoconfigure/mongo/embedded/EmbeddedMongoAutoConfiguration$RuntimeConfigConfiguration.class]: Bean instantiation via factory method failed

[2022-02-22 16:20] michaelmosmann commented on #378
@bernermic  oh.. fuu.. yes.. moved this to..hmm..

[2022-02-22 16:24] michaelmosmann commented on #367
@GuillaumeMartial which linux version do you use? any error message?

[2022-02-22 16:26] michaelmosmann commented on #378
@bernermic hmm.. it would be a lot easier if i would provide more spring integration stuff.. i tried to avoid any additional work.. hmm..

[2022-02-22 16:58] kitkars commented on #376
Ok Thanks, will test and confirm

[2022-02-22 17:06] bernermic commented on #378
Here I have a working example for testing the spring integration: https://github.com/bernermic/flappdoodleExampletest

This uses `spring-boot-starter-parent:2.6.3` with `de.flapdoodle.embed.mongo:3.4.2`

[2022-02-23 05:42] michaelmosmann commented on #378
@bernermic thanks.. i will try to see if i can fix this..

[2022-02-23 11:52] bernermic commented on #378
Thanks @michaelmosmann  - if I can support further let me know.

[2022-02-24 00:26] mustafaarif109 commented on #336
Hi @michaelmosmann  @VikasCarscan

Is there any update on this issue as I am still getting errors on version '3.4.2'?

The project was running fine before but I tried to rerun recently and the build is giving me errors.

Stacktrace:
        at org.springframework.context.annotation.ConfigurationClassBeanDefinitionReader.loadBeanDefinitionsForBeanMethod(ConfigurationClassBeanDefinitionReader.java:1

[2022-02-24 07:40] snicoll commented on #378
@michaelmosmann `Versions.withFactures` with a version and a set of features has been deprecated with no obvious replacement in the latest release. Spring Boot [uses this method](https://github.com/spring-projects/spring-boot/blob/5454e2e26add471fc879f7641794e9e747a9bdda/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/mongo/embedded/EmbeddedMongoA

[2022-02-24 08:02] michaelmosmann commented on #378
@snicoll please use version 3.4.2 where i restored most of the functions so only minor changes have to be made.
some background: i changed the "feature"-detection and moved this stuff into a different repo (https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.packageresolver/)  (big refactoring ahead, try to reduce merge conflicts, features are now based on version ranges) ..

[2022-02-24 08:04] michaelmosmann commented on #378
@snicoll maybe i should start to provide the spring integration stuff myself so that, if i need to change anything can fix this right ahead .. (and there are big changes coming)

[2022-02-24 08:42] snicoll commented on #378
@michaelmosmann Thanks but that doesn't answer my concern. How do I update the method I've highlighted so that it doesn't use a deprecated method?

[2022-02-24 08:45] michaelmosmann commented on #378
@snicoll is there a branch on which i can create an pull request?

[2022-02-24 08:46] snicoll commented on #378
@michaelmosmann I am doing things locally so I'd rather do it myself please.

[2022-02-24 08:49] michaelmosmann commented on #378
@snicoll this should work:

[code]

[2022-02-24 08:57] snicoll commented on #378
Thanks but the method I've highlighted takes a version and a  set of Features (see `embeddedProperties.getFeatures()`).

[2022-02-24 08:59] snicoll commented on #378
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/032c3c6921ccc288c5ca1c9b4960f390a0a2042f/src/main/java/de/flapdoodle/embed/mongo/distribution/Versions.java#L50-L52 this is called `withFeatures` but doesn't take any.

[2022-02-24 10:29] michaelmosmann commented on #378
@snicoll  the feature detection is done inside GenericFeatureAwareVersion .. i tried to make as less changes as possible. If you like you can just call new GenericFeatureAwareVersion(..)

[2022-02-24 11:14] snicoll commented on #378
As far as we can see, even if we use the deprecated API, the features that we pass in will be ignored. It looks like support for specifying certain features has been removed. This is a major breaking change for what our auto-configuration is doing.

[2022-02-24 12:11] michaelmosmann commented on #378
@snicoll no features are removed .. the class moved to an different package (https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.packageresolver/blob/main/src/main/java/de/flapdoodle/embed/mongo/packageresolver/Feature.java). I did restore the Feature class without any values to reduce compile errors in other projects (which was not enough for spring boot (Comand was also moved).

btw: thi

[2022-02-24 12:13] michaelmosmann commented on #378
@snicoll and you could not specify any feature .. i tried to reflect the features of the database depending on the version .. which results more or less in different comand line arguments.. so you can not enable or disable a database feature .. is more an description of which feature is present in which database version and is in any way relevant for starting it up (f.i. command line arguments)

[2022-02-24 12:16] wilkinsona commented on #378
That's a breaking change from Boot's perspective. We relied on the old API to allow users to specify the specific features that they wanted to use. It appears that it's now only possible to use whatever features are considered to be the defaults for a particular version of Mongo.

[2022-02-24 17:41] michaelmosmann commented on #378
@wilkinsona maybe we are on a wrong track here.. let me try to explain it a little bit more...

the class https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.packageresolver/blob/main/src/main/java/de/flapdoodle/embed/mongo/packageresolver/Feature.java (moved there from this repo) reflects some aspect of mongodb which are relevant if you want to start the mongodb server process. If you pro

[2022-02-24 17:49] michaelmosmann commented on #378
@bernermic thanks for your repo .. i use this as a starting point for an canary repo to see if an change breaks any spring boot compat. .. and in the long run i think i will provide the spring integration myself .. this will be much less pain for me.. and maybe for others too.

[2022-02-24 18:24] wilkinsona commented on #378
@michaelmosmann The problem that we have is that it no longer appears to be possible for a user to provide a feature set as any features passed into `GenericFeatureAwareVersion` are ignored:

https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/032c3c6921ccc288c5ca1c9b4960f390a0a2042f/src/main/java/de/flapdoodle/embed/mongo/distribution/Versions.java#L60-L70

With 3.4.2, how can we cre

[2022-02-24 18:28] michaelmosmann commented on #378
@wilkinsona why do you think you have to provide a feature set by your own? what do you expect to customize this way? I do not expect any use who want to provide any custom set for that and.. to have any use of this as its tied to a specific mongodb version.. if you provide a custom feature set, maybe some different command line arguments will be generated based on the mongodb config object and ..

[2022-02-24 19:10] snicoll commented on #378
@michaelmosmann this is the wrong discussion to have. We are integrating this project, we are not MongoDB experts. Please take the report as it is described.

In  [`3.4.0`](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/16e63a0d907f713a87bb7c6c826879c7cde0159a/src/main/java/de/flapdoodle/embed/mongo/distribution/Versions.java#L33-L39), there is an API in `Versions` that lets you

[2022-02-24 19:14] michaelmosmann commented on #378
@snicoll ok, I understand. What you should do is the method call I mentioned. The other methods where only workarounds .. and will be delete soon.. I created an canary repo to see if any change will break spring autoconfig bevor i make an release.

[2022-02-24 19:19] snicoll commented on #378
There is a `spring.mongodb.embedded.features` property that users can define to set the `Feature`s they want. Anybody relying on that will be broken which is what we're trying to say from the start.

Again, it may have been wrong to expose that but nothing in the `3.4.0` API indicates that it should not be done (Those are the only available methods on `Versions`, how were we supposed to know?).

[2022-02-24 19:35] michaelmosmann commented on #378
@snicoll I did not know that this property existed .. but it was never intended to be used. And if anyone did use this, I would expect that this would lead to failing mongodb server starts. So in the end the only thing the user has to configure is the mongodb version number.

[2022-02-24 20:00] wilkinsona commented on #378
We have tests that verify that it works so I'm not sure why you would expect it to cause Mongo to fail to start.

For example, a user could set `spring.mongodb.embedded.features` to `ONLY_WITH_SSL`. This starts Mongo 3.5.5 with the following command line:

[code]

By contrast, the default command line for 3.5.5 is the following:

[code]

Note that the `--syncdelay` option is only present in the la

[2022-02-24 23:06] michaelmosmann commented on #378
@wilkinsona ONLY_WITH_SSL was there as some indicator that some mongodb versions for windows contained an "-ssl-" in the download path .. which is gone since i had to rewrite this part because mongodb changed from generic download url scheme to a version and platform specific packed scheme.

So with providing some value to `spring.mongodb.embedded.features` the value `SYNC_DELAY` was not set, so t

[2022-02-24 23:10] michaelmosmann commented on #378
@wilkinsona Feel free to ask questions, if you don't understand everything in this project.. it's old, it is complicated (that's why there is a big refactoring going on) .. and i will change the code if i can make things easier.. but i will only make it better, not wrong again.

[2022-02-24 23:35] michaelmosmann commented on #378
@bernermic did a new release 3.4.3 .. with some minor hacks it works again:) so please try ..

[2022-02-24 23:37] michaelmosmann commented on #378
@wilkinsona @snicoll fixed the last api mismatch as far as this simple test will catch any issue (https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.canary) .. so it should work again without any change.. but feel free to clean up some edges:)

[2022-02-24 23:41] michaelmosmann commented on #336
@mustafaarif109 please try release 3.4.3 (in maven central in maybe 12 hrs)

[2022-02-24 23:43] michaelmosmann commented on #378
@bernermic the canary project helped a lot :) ( https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.canary )

[2022-02-25 01:07] mustafaarif109 commented on #336
Hi @michaelmosmann thanks for the update!

[2022-02-25 09:41] bernermic commented on #378
@michaelmosmann thanks for your work on this. Version 3.4.3 is rolled out and works fine with spring-boot-starter-parent:2.6.4

And glad that the testrepo helped :)

[2022-02-25 10:45] wilkinsona commented on #378
Yeah, I understand that. I used it in my example to demonstrate the utility of creating a version with a custom feature set. I find the removal of that capability in a 3.4.x release surprising.

Exactly. By ignoring the features that are passed in when creating a feature-aware version, this capability has been lost.

Hopefully I've demonstrated that if as user understands the capabilities of the v

[2022-02-25 15:00] michaelmosmann commented on #378
as a user you can configure how the mongodb server behaves with setting the matching attributes in the MongodConfig class.. which will be translated to command line arguments IF the current mongodb does support this... just providing a user selected feature set will at best give you the same result, but can render any attribute in MongdConfig useless, at worst will fail to start the server. So it'

[2022-02-25 15:22] michaelmosmann commented on #378
@wilkinsona
Some final notes: I do this project in my spare time. I did this just for myself and over the time other developers found it useful to them. Then some day I learned about the spring integration by surprise. So it is maybe not that bad at all.

But i can not remember any pull request or some support from spring, or questions if something is not clear .. it is just used as a useful tool,

[2022-02-25 15:28] michaelmosmann commented on #378
@wilkinsona @snicoll beside all this .. i can also provide some spring specific stuff to make the integration easier.. feel free to ask.. we should reduce the api surface for this integration.. its mainly the mongodb version and the configuration class .. and as an result maybe some information about the running server port? .. and a way to stop it..  any suggestions? should we move this to an new

[2022-02-25 15:38] wilkinsona commented on #378
I've obviously come across badly here. Sorry. I didn't intend to insist on using your code in a certain way, but to understand the changes that have been made and the timing of those changes so that we can adapt accordingly.

We originally added support in Spring Boot 1.3 thanks to [a community contribution](https://github.com/spring-projects/spring-boot/pull/2002). I don't think we considered the

[2022-02-25 16:30] mustafaarif109 commented on #336
Hi @michaelmosmann
just checked now on the repository, still the latest version is 3.4.2
Will this take more time?

Thank you!

[2022-02-25 17:33] michaelmosmann commented on #378
@wilkinsona thank you:) .. as i think we aim for the same target we will find a solution that is for the benefit of all:)

[2022-02-25 17:34] michaelmosmann opened #380 "spring boot integration future :)"
follow up of this discussion: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/378

[2022-02-25 17:35] michaelmosmann commented on #380
@wilkinsona .. i am in an hurry, so i add more stuff later

[2022-02-26 12:11] michaelmosmann commented on #336
oh.. sorry.. its 3.4.2 which should work.

[2022-02-26 12:11] michaelmosmann commented on #336
@mustafaarif109 i did just to many releases in the last days..

[2022-02-26 12:59] michaelmosmann commented on #336
@mustafaarif109  no.. 3.4.3 should be there

[2022-02-26 13:00] michaelmosmann commented on #336
@mustafaarif109 https://search.maven.org/artifact/de.flapdoodle.embed/de.flapdoodle.embed.mongo/3.4.3/jar

[2022-02-26 13:36] michaelmosmann commented on #380
created a repo for this: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.spring

[2022-02-26 15:18] Odilio commented on #377
sorry for the delay, using the current version works, the problem is only in the version that spring boot uses.

[2022-02-28 07:14] michaelmosmann commented on #377
@Odilio yes .. and i can not change this.. but as i try to do not change the api you can use a more recent version without changing your spring version .. 3.4.3 may also work.. but contains only internal changes

[2022-02-28 07:14] #377 closed

[2022-02-28 12:39] AshuRane09 commented on #377
@michaelmosmann
i am getting this error

de.flapdoodle.embed.proces process.exceptions.Distribution Exception: prepare executable.

Caused by: java.io.IOException Create breakpoint: Could not open inputstream for https://downloads.mongodb.org/win32/mongodb-win32-x86_64-2008plus-ssl-4.0.2.zip.

Caused by: javax.net.ssl.SSLHandshakeException Create breakpoint: Remote host closed connection during ha

[2022-02-28 12:39] AshuRane09 commented on #377
@michaelmosmann
i am getting this error

de.flapdoodle.embed.proces process.exceptions.Distribution Exception: prepare executable.

Caused by: java.io.IOException Create breakpoint: Could not open inputstream for https://downloads.mongodb.org/win32/mongodb-win32-x86_64-2008plus-ssl-4.0.2.zip.

Caused by: javax.net.ssl.SSLHandshakeException Create breakpoint: Remote host closed connection during ha

[2022-02-28 12:48] AshuRane09 opened #381 "IOException: Could not open inputStream SSL peer shutdown incorrectly"
i am getting this error

de.flapdoodle.embed.proces process.exceptions.Distribution Exception: prepare executable.

Caused by: java.io.IOException Create breakpoint: Could not open inputstream for https://downloads.mongodb.org/win32/mongodb-win32-x86_64-2008plus-ssl-4.0.2.zip.

Caused by: javax.net.ssl.SSLHandshakeException Create breakpoint: Remote host closed connection during handshake.

Spring

[2022-02-28 13:35] michaelmosmann commented on #377
@AshuRane09  hmm.. ok.. maybe spring boot is too old can you try embedded mongo 3.3.3?

[2022-02-28 13:36] michaelmosmann commented on #381
@AshuRane09  .. can you give me the error message/stack trace/compile error?

[2022-02-28 13:36] AshuRane09 commented on #377
i tried it but it broke the code the imports are not resolved

[2022-02-28 13:50] AshuRane09 commented on #381
Caused by: java.io.IOException: Could not open inputStream for https://downloads.mongodb.org/win32/mongodb-win32-x86_64-2008plus-ss1-4.0.2. at de. flapdoodle.embed.process.store.Downloader.download InputStream(Downloader.java:131)

at de.flapdoodle.embed.process.store.Downloader.download (Downloader.java:69) at de.flapdoodle.embed.process.store. ArtifactStore.checkDistribution (ArtifactStore.java:

[2022-02-28 13:51] AshuRane09 commented on #381
Caused by: java.io.IOException: Could not open inputStream for https://downloads.mongodb.org/win32/mongodb-win32-x86_64-2008plus-ss1-4.0.2. at de. flapdoodle.embed.process.store.Downloader.download InputStream(Downloader.java:131)

at de.flapdoodle.embed.process.store.Downloader.download (Downloader.java:69) at de.flapdoodle.embed.process.store. ArtifactStore.checkDistribution (ArtifactStore.java:

[2022-03-01 10:06] michaelmosmann commented on #381
@AshuRane09 can you show me the error message if you change embed mongo to 3.3.2? the exception above is just bc the download fails.

[2022-03-01 10:08] michaelmosmann commented on #377
@AshuRane09 ... i think you can solve this.. if you need any help just ask.

[2022-03-04 13:02] wilkinsona commented on #380
Thanks for this, @michaelmosmann. I've been looking at what it will entail to move over the support. Thus far I've spotted a couple of things:

1. The configuration properties should move out of the `spring.*` namespace to one that you own. This ensures that there won't be any naming clashes and also provides a signal to users about what's providing the support.
2. The use of `local.mongo.port` ma

[2022-03-04 13:07] michaelmosmann commented on #380
@wilkinsona

1. Hmmm.. i think i change this name space but add the spring.* namespace as a fallback to provide smooth transitions..

[2022-03-04 13:11] michaelmosmann commented on #380
@wilkinsona at 2.: Do i understand this correctly? You get an URI out of testcontainers? So embedded mongo should als provide an URI instead of just a port?

[2022-03-04 13:16] wilkinsona commented on #380
We'd much prefer it if you didn't use the `spring.*` namespace, even as a fallback. Instead, it would be possible for your support to provide some metadata (it's a JSON file in the jar) that will provide users with feedback in their IDE and guide them to the new properties. We can of course help with creating that file.

Yes, that's right. In fact a URI is all we get out of Testcontainers. It come

[2022-03-07 20:50] jonathanbenedet opened #382 "GLIBC_2.29 CURL_OPENSSL_4 not found"
Hi guys, i'm with a problem when running embedded mongo in my jenkins pipeline:
[code]

Local on OSX the problem not happen, only in linux container, any thoughts?

`Spring Boot: 2.6.2`
`de.flapdoodle.embed.mongo: 3.4.3`
`spring.mongodb.embedded.version: 4.4.9`
`Java: 11`

Already tried with `de.flapdoodle.embed.mongo: 3.2.8` and had the same error.

[2022-03-08 08:52] michaelmosmann commented on #382
@jonathanbenedet which kind of linux you are using in this container? the fallback is currently ubuntu which would lead to this error..

[2022-03-08 11:26] jonathanbenedet commented on #382
I'm using the `maven:3.6.1-jdk-11`(https://hub.docker.com/layers/maven/library/maven/3.6.1-jdk-11/images/sha256-526a0fad13ae8e333f9e263899e822ecf12bc5ab4b1e47268b316075abd9ddfb?context=explore)

[2022-03-08 22:20] michaelmosmann commented on #382
@jonathanbenedet the problem with is: as mongodb does not provide a distribution for a generic linux distribution some has to choose which dist to use.. i can not imagine which one should work best inside this docker container..

[2022-03-08 22:22] michaelmosmann commented on #382
@jonathanbenedet did you try [testcontainer](https://www.testcontainers.org/modules/databases/mongodb/)?

[2022-03-09 08:49] FrVaBe opened #383 "test with embedded MongoDB (3.4.3) fails on Ubuntu 20.04.2 LTS"
I generated a **Java 11** **Spring Boot 2.6.4** project on start.spring.io and just added _Spring Data MongoDB_ and _EmbeddedMongoDB Database_ (this is the [Share...](https://start.spring.io/#!type=maven-project&language=java&platformVersion=2.6.4&packaging=jar&jvmVersion=11&groupId=com.example&artifactId=embedded-mongodb-test-demo&name=embedded-mongodb-test-demo&description=Demo%20project%20for%2

[2022-03-09 11:57] jonathanbenedet commented on #382
@michaelmosmann thanks for the tips. I will try the testcontainer and in last case, use a specific linux dist. By the way, which dists flapdoodle works?

[2022-03-09 14:56] michaelmosmann commented on #383
@FrVaBe hmm.. sample projects just works find on my machine .. what makes me wonder is this entry from the stacktrace-log:

2022-03-09 08:52:00.010  INFO 3768 --- [       Thread-2] o.s.b.a.mongo.embedded.EmbeddedMongo     : {"t":{"$date":"2022-03-09T08:52:00.009+01:00"},"s":"E",  "c":"STORAGE",  "id":22435,   "ctx":"initandlisten","msg":"WiredTiger error","attr":{"error":22,"message":"[1646812320:

[2022-03-09 15:01] michaelmosmann commented on #382
@jonathanbenedet this is whats currently supported: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.packageresolver/blob/main/src/test/resources/de/flapdoodle/embed/mongo/packageresolver/explainedSnapshot.txt (aggregation of all rules) .. but you have to have a look at the mongodb download page to see if you can find a docker image with a matching mongodb dist: https://www.mongodb.com/

[2022-03-09 16:49] FrVaBe commented on #383
@michaelmosmann What do you mean with "on my machine"? If the build works fine or not depends on the OS. It works fine on my (windows) machine too but the build failed in the WSL Ubuntu environment.

But in the meantime I found out that my Ubuntu version was outdated and I stll used WSL Version 1. So I updated the ubuntu distribution and set the WSL Version to 2. And after that the error (also) di

[2022-03-09 20:15] jonathanbenedet commented on #382
Okay, thanks!!

[2022-03-09 20:15] #382 closed

[2022-03-10 16:05] paulboichat commented on #373
I'm also seeing this (or a similar issue) - running openjdk 17 on windows 11. The test fails to complete with

  16:01:25.299 [Test worker] DEBUG org.mongodb.driver.connection - Closing connection connectionId{localValue:1, serverValue:1}
    16:01:25.300 [Test worker] DEBUG org.mongodb.driver.connection - Closing connection connectionId{localValue:2, serverValue:2}
    16:01:25.308 [Test worker]

[2022-03-10 17:31] paulboichat commented on #373
Have managed to get the test to finish by deleting the temp extracted embeded mongo data directories forcing a redownload of mongo. Odd

[2022-03-16 05:35] purple910 opened #384 "I introduced embedded mongodb in springboot, but it can only support version 3.5.5 and cannot be modified to other versions"
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'licenseController' defined in file [E:\resource\license-platform\license-platform\license-platform-server\target\classes\com\tfswx\license\platform\server\web\controller\LicenseController.class]: Unsatisfied dependency expressed through constructor parameter 0; nested exception is org.springframework.b

[2022-03-16 10:38] nightswimmings commented on #325
No, I mean there is nothing to do to fix it, since Boot 2.5.0+ imposes flapdoodle 3.x

[2022-03-17 12:32] wilkinsona opened #385 "Hang in AbstractMongoProcess onAfterProcessStart when successful start takes longer than then startup timeout"
Spring Boot's CI build hangs occasionally when running tests that use Embedded Mongo. When hung, the stack trace is the following:

[code]

The call to `java.lang.ProcessImpl.waitFor` never returns.

This is the code that's involved:

https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/ec5bd1ba61a8aec4b7e66ac3efee11fef4c08eda/src/main/java/de/flapdoodle/embed/mongo/AbstractMongoProces

[2022-03-19 00:07] #384 closed

[2022-03-28 06:57] michaelmosmann commented on #383
@FrVaBe "What do you mean with "on my machine"?" ... i am working on ubuntu .. so there was nothing wrong with this project setup.

WSL: interesting .. never tried that ..

(was sick, so missed some notifications)

[2022-03-28 07:41] michaelmosmann commented on #385
@wilkinsona .. hmm.. your analysis seems valid ... waitFor should use a timeout so it aborts somehow

[2022-03-28 07:42] michaelmosmann commented on #385
@wilkinsona (was sick, still a little, so will take some time)

[2022-03-28 07:46] michaelmosmann commented on #325
@nightswimmings can i help you somehow? I am not sure what do you want to achieve .. (was sick, still a little, thats why this late answer)

[2022-03-28 07:50] michaelmosmann commented on #373
@paulboichat and now it works everytime?

[2022-03-28 09:06] paulboichat commented on #373
Yes it seems to. Consistently run the tests including the occasional failure and it's all fine. Only seems to have been a problem with the initial runs/setup.

[2022-03-28 13:15] user4me opened #386 "Add UbuntuVersion.Ubuntu_22_04 support"
Hello,

Since I moved to Ubuntu 22.04 i'm unable to launch my unit tests, is it possible to add support of it ?

Thanks for everything

[2022-03-30 13:48] as005404 opened #387 "Cannot resolve distribution correctly in ambiguity situations and there is no log which is show it"
It can be my particular case, but after I have written tests locally in ubuntu and all tests passed, and after I have tried to build it in Jenkins CI/CD on the server, Jenkins slave of which has Centos7 as a base and I have seen this error below.

As I can see there is a collision of Distributions that were found during the matching of parameters.

Can you, please, throw an ambiguity error, not us

[2022-03-30 14:54] michaelmosmann commented on #387
@as005404 which mongodb version do you use? Is there a amazon-mongo-dist for this version?

[2022-03-30 14:57] michaelmosmann commented on #386
@user4me yes.. will do.

[2022-03-30 15:00] michaelmosmann commented on #325
@nightswimmings hmm.. i see. I try to think about a solution ..

[2022-03-30 15:01] michaelmosmann commented on #373
ok.. thanks for this feedback .. as i don't have any idea to reproduce this, the only thing i can do right now is to keep it in my mind. i will close this ticket.

[2022-03-30 15:50] as005404 commented on #387
@michaelmosmann
1. I have tried this both with PRODUCTION and V5_0 versions. Without my "fix" there was the same error as in stacktrace.txt in the main post in both versions.
2. As I can see in your file, yes, there are distributions of mongo for these versions both for CentOS and Amazon Linux.

[2022-03-30 17:08] michaelmosmann commented on #387
@as005404  Hmm.. that is a little bit weird..

[2022-03-30 17:10] michaelmosmann commented on #387
@as005404 did a new release 3.4.4 but i dont expect any different behavior... can you provide some more log info? project setup?

[2022-03-31 07:20] loicmathieu commented on #373
The issue is still reproducible each time on our CI server running on Github Action.
Please, do not close my issue !

[2022-03-31 07:30] as005404 commented on #387
@michaelmosmann
1. As I have said I run this code in Jenkins slave on a company server that has CentOS. So unfortunately I can't share many logs.
2. What do you mean by project setup? Maven dependencies? Configuration of Embedded mongo?

[2022-03-31 07:40] as005404 commented on #387
@michaelmosmann maybe I was misunderstood, but I think the code is working correctly, but as I have shown there can be such situations as a collision of distributions(I don't really know why do I have such os.version in Jenkins slave).
And instead of allowing the user to hardcode the distribution and its version, or at least print a log about the ambiguity of distributions, for some reason Ubuntu

[2022-03-31 08:07] michaelmosmann commented on #387
@as005404 ubuntu 20.04 is selected as default if no other match can be found .. so it's look like the os-detection does not give any meaningful (in your stack trace it looks like that the code should detect some amazon linux but then the only thing it got is "thats some kind of linux") .. hmm.. strange

[2022-03-31 08:29] michaelmosmann commented on #387
@as005404 did a new release of https://github.com/flapdoodle-oss/de.flapdoodle.os (1.1.8). It should now print the result on os detection too .. so maybe there is some other issue around. Can you try this with this new release?

[2022-03-31 09:28] as005404 commented on #387
@michaelmosmann
I disabled my hack and use those versions: de.flapdoodle.embed.mongo(3.4.4), de.flapdoodle.os(1.1.8) and got this stack trace in Jenkins slave:
[stacktrace.txt](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/files/8387962/stacktrace.txt)

[2022-03-31 09:54] michaelmosmann commented on #373
@loicmathieu so the thread hangs in java.base@11.0.14/java.io.FileDescriptor.close0(Native Method)?

[2022-03-31 09:56] loicmathieu commented on #373
@michaelmosmann yes, it is what surefire reported

[2022-03-31 14:04] michaelmosmann commented on #387
@as005404 so the probleme here is that the code does not detect any special linux version.. but should detect some amazon linux,.. this is some kind of strange.. hmm. and because the code returns just some generic linux the rest behaves as expected.

[2022-03-31 14:25] michaelmosmann commented on #387
@as005404 got it .. Centos+Amazon2 is detected .. so the code can not decide which one is right....

[2022-04-01 07:47] as005404 commented on #387
@michaelmosmann Yes.

[2022-04-01 09:17] snazy opened #388 "Flapdoodle "Couldn't kill mongod process!" after v3.1.4 on macOS"
All versions after 3.1.4 run into the following issue when trying to stop the mongod process on macOS Monterey (latest).

[code]

One of the recent PRs to bump flapdoodle to 3.4.4 (also 3.4.5 today) is this one. It works fine on Linux, but not on macOS.

Our Dependabot PR: https://github.com/projectnessie/nessie/pull/3787 [unified diff](https://patch-diff.githubusercontent.com/raw/projectnessie/ne

[2022-04-02 06:29] wilkinsona commented on #385
Thanks, @michaelmosmann. We’ll upgrade to 3.4.5 and see how it goes. The hang only happens occasionally so it’ll take a while to get an impression of whether it has helped.

[2022-04-02 17:30] nogenem commented on #320
Just an observation for other people: I just ran into this problem and setting the `auto-index-creation` property to true didn't fix it. The reason was cause i'm using a custom Mongo configuration where i extend `AbstractMongoClientConfiguration`, so i had to add this to the config class:
[code]
Now the index is working ;p

[2022-04-02 18:42] ZCai319 commented on #320
I tried that too but it didn't do anything for me. Maybe it's because I
implemented it wrong, not sure. But now it works and I don't know
why ¯\_(ツ)_/¯

Op za 2 apr. 2022 om 19:30 schreef Gilney Nathanael Mathias <
***@***.***>:

[2022-04-07 11:04] Toshimichi0915 commented on #373
Altough I removed %USERPROFILE%\.embedmongo directory, the issue seems to persist.
Is there any workaround for this?

[2022-04-07 12:31] dvt32 commented on #232
3.5.5 seems to also work.

And yes, it still seems to be an issue, because 3.6 versions give me `EOF` or `inputStream` errors.

[2022-04-11 09:35] Gmanweb opened #389 "Firewall blocking download, help to use with a private registry or Jfrog Artifactory"
Hey

We are using de.flapdoodle.embed.mongo for a while on a Jenkins build VM and all was ok. We have since moved to a new Jenkins running on Kubernetes in a close environment that can only access JFrog Artifactory and private docker registry.

My question can de.flapdoodle.embed.mongo be configured to use JFrog artifactory and if so would there be any example we could follow for best practice.

[2022-04-13 10:39] Killianoc commented on #389
Plus one for this issue, would be great to get a recommendation/solution.

[2022-04-14 13:10] ecoupal-believe opened #390 "/lib64/libm.so.6: version `GLIBC_2.29' not found"
$ cat /etc/os-release
 NAME="Oracle Linux Server"
 VERSION="8.5"
 ID="ol"
 ID_LIKE="fedora"
 VARIANT="Server"
 VARIANT_ID="server"
 VERSION_ID="8.5"
 PLATFORM_ID="platform:el8"
 PRETTY_NAME="Oracle Linux Server 8.5"
 ANSI_COLOR="0;31"
 CPE_NAME="cpe:/o:oracle:linux:8:5:server"
 HOME_URL="https://linux.oracle.com/"
 BUG_REPORT_URL="https://bugzilla.oracle.com/"
 ORACLE_BUGZILLA_PRODUCT="Oracle Linu

[2022-04-15 08:20] ecoupal-believe commented on #390
FYI I changed my docker image to openjdk:17.0.2-jdk-bullseye and it's now working.

[2022-04-15 08:20] #390 closed

[2022-04-17 21:40] dstibbe opened #391 "When stopping receiving 11600 error "interrupted at shutdown""
Specs:
flapdoodle: 3.4.5
kmongo 4.2.7
language: Kotlin 1.6.20

When connecting in a test to the embedded mongo database (using a KMongo client) , I try to close the database in the tearDown, using the `stop()` method.

[code]

The stop command however will show the following error in the log:

[code]

Fladpdoodle setup:

[code]

What can I do to avoid this error?

[2022-04-18 19:30] jchobantonov-runbuggy opened #392 "Issue with aggregation LookupOperation - when we use _id vs id as foreign key"
If you have following spring mongo data entities:

[code]
and this entity :

[code]

Then following do NOT work:
[code]

If I change the LookupOperation to :
[code]

Then it works.

E.g. changing "_id" to "id" in LookupOperation will make the above working - the issue is that on real mongo the _id works and id do not as it should be.

I have tried to put
[code]

on the id but this did not solve th

[2022-04-18 19:41] jchobantonov-runbuggy commented on #392
FYI following operation works correctly :

[code]
e.g. using entities1._id works and entities1.id do not which is the correct way but for LookupOperation the usage of _id do not work - only id works

here is the aggregation query using LookupOperation:
[code]

this has been tested against 3.4.5 version of de.flapdoodle.embed.mongo

[2022-04-19 14:29] johanverschooten opened #393 "Add support for Amazon Corretto"
On version 3.4.5 (latest) I'm receiving this error for mongo 5.0.6

because there is no package for Version{5.0.6}:Platform{operatingSystem=Linux, architecture=X86_64} we fall back to Version{5.0.6}:Platform{operatingSystem=Linux, architecture=X86_64, version=Ubuntu_20_04}
/tmp/extract-5e8c876b-e7dc-40da-b644-e4b2e0e5e65dextractmongod: error while loading shared libraries: libcrypto.so.1.1: cannot

[2022-04-20 14:04] TamasSzerb opened #394 "Extraction does not respect EMBEDDED_MONGO_ARTIFACTS environment variable"
Hello,

As the downloader respect, the extraction should also respect same way the EMBEDDED_MONGO_ARTIFACTS env var, and should extract it under $EMBEDDED_MONGO_ARTIFACTS and should run it from there.

[2022-04-22 11:16] Vovour commented on #373
Hello, I had the same problem on Windows 10 after I increased `de.flapdoodle.embed.mongo` to version 3.0.0.
First I've used the workaround from @Toshimichi0915, but finally I could resolve the problem completely by using the latest version of `spring-integration-core` and `spring-integration-file` (currently the latest version is 5.5.10, previously I've used version 5.3.2.RELEASE).

[2022-04-22 13:16] radosmac opened #395 "Error creating bean with name 'embeddedMongoServer' - EOF on Debian 9"
Hi,

I'm using `de.flapdoodle.embed:de.flapdoodle.embed.mongo:3.4.5` with `springBoot=2.6.6` and `springCloud=2021.0.1`. The whole configuration is in `application.properties` with entry `spring.mongodb.embedded.version: 5.0.0`.

Locally on Mac Intel the tests are working fine, both with `spring.mongodb.embedded.version: 5.0.0` and `5.0.6`.

In CI environment, tests are failing, on both `ring.mong

[2022-04-24 10:39] michaelmosmann commented on #395
can you provide some more logging information? (see https://github.com/flapdoodle-oss/de.flapdoodle.os#run)

[2022-04-24 10:44] michaelmosmann commented on #393
do you know which mongodb version can run on this distribution (see https://www.mongodb.com/try/download/community)?

[2022-04-24 10:47] michaelmosmann commented on #373
@Vovour so with this version it is working again? @Toshimichi0915 can you check this?

[2022-04-24 10:51] michaelmosmann commented on #392
@jchobantonov-runbuggy .. maybe you should report this issue in here https://github.com/spring-projects/spring-data-mongodb/issues

[2022-04-24 10:51] #392 closed

[2022-04-24 10:54] michaelmosmann commented on #391
@dstibbe maybe you must close the driver connection .. stopping the executable will shutdown the connection from the server side, so the driver cries a little bit about that .. :)

[2022-04-24 10:55] johanverschooten commented on #393
@michaelmosmann 5.0.6 but i have the same issue with 5.0.7

[2022-04-24 10:56] michaelmosmann commented on #390
@ecoupal-believe is this a real oracle server? can i use you /etc/os-release-content as a test sample?

[2022-04-24 11:00] michaelmosmann commented on #393
@johanverschooten i have to add 5.0.7 to the package resolver .. current status can be found here:

https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.packageresolver/blob/main/src/test/resources/de/flapdoodle/embed/mongo/packageresolver/explainedSnapshot.txt

[2022-04-24 11:02] michaelmosmann commented on #393
@johanverschooten created an issue for that: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.packageresolver/issues/1

[2022-04-24 11:04] michaelmosmann commented on #389
@Gmanweb @Killianoc .. i just guess that you want to download the mongodb binaries from jfrog artifactory? .. or is there a problem with maven in resolving the de.flapdoodle.embed.mongo artifact from artifactory?

[2022-04-24 19:03] michaelmosmann commented on #387
.. hmm.. i don't have any good idea how to solve this..

[2022-04-24 22:57] dstibbe commented on #391
Indeed, it seems to be the case that there was another client still connected to the database. That was most likely the cause of my errors.

[2022-04-25 07:09] ecoupal-believe commented on #390
@michaelmosmann, the os is from the maven docker image: maven:3.8.5-openjdk-17. Of course you can

[2022-04-25 16:27] Vovour commented on #373
@michaelmosmann Yes, with this latest version of the metioned modules it works again, without the need for any other workarounds.

[2022-04-26 07:10] loicmathieu commented on #373
@Vovour is I understand correctly, it works with the last version of Spring framework not Flapdoodle MongoDB ?
So a workaround should have been done at Spring side.

[2022-04-26 08:58] Toshimichi0915 commented on #373
I didn't use Spring at all however I had the issue. This is my build.gradle
[code]

[2022-04-26 20:26] #391 closed

[2022-04-27 07:04] loicmathieu commented on #373
I tested the latest version on my CI and it stills hang in Windows so the issue still occurs.

[2022-04-27 13:00] v-shalimov opened #397 "MacOS Quarkus & Embedded MongoDB Issue"
### Discussed in https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/discussions/396

<div type='discussions-op-text'>

<sup>Originally posted by **v-shalimov** April 27, 2022</sup>
I am developing using Quarkus on MacBook Pro. When I used Quarkus version 2.7.1-Final with embedded MongoDB (de.flapdoodle.embed.mongo) version 3.2.0 included - everything was OK. But when I upgrade it to the l

[2022-04-27 13:34] saulgiordani commented on #363
I'm having the same issue, DirtiesContext is the only quick way I found it to solve it

[2022-04-27 17:56] v-shalimov commented on #397
Resolved

[2022-04-28 12:52] Boltzmann commented on #384
This was closed without comment. I got the error today. What was the solution?

[2022-04-29 05:42] Subhalakshmi1986 opened #398 "[ Test worker] d.f.e.m.p.linux.LinuxPackageFinder : because there is no package for Version{4.4.13}:Platform{operatingSystem=Linux, architecture=X86_64} we fall back to Version{4.4.13}:Platform{operatingSystem=Linux, architecture=X86_64, version=Ubuntu_20_04}"
Build is failing in jenkins agent .using embedded Mongo version 4.4.3 , flapdoodle library 3.4.5, springboot : 2.6.7

[2022-05-03 09:34] flopezgresystems commented on #386
Hello,

Last week I upgraded to  Ubuntu 22.04 and started suffering from the problem detailed above, I couldn't run my unit tests.

Mongo requires the **libssl1.1** library and, as it is detailed in the following issue (https://askubuntu.com/questions/1403619/mongodb-install-fails-on-ubuntu-22-04-depends-on-libssl1-1-but-it-is-not-insta), it is deprecated in version Ubuntu 22.04.

Following the st

[2022-05-03 09:39] FranciscoLopezNavarro commented on #386
Hello,

Last week I upgraded to  Ubuntu 22.04 and started suffering from the problem detailed above, I couldn't run my unit tests.

Mongo requires the libssl1.1 library and, as it is detailed in the following issue (https://askubuntu.com/questions/1403619/mongodb-install-fails-on-ubuntu-22-04-depends-on-libssl1-1-but-it-is-not-insta), it is deprecated in version Ubuntu 22.04.

Following the steps

[2022-05-16 12:57] giovanniberti commented on #359
Is there any progress on this issue? The only version I managed to get working is `3.4.24`, which is pretty old :(

[2022-05-17 18:03] michaelmosmann commented on #359
@giovanniberti .. as i don't have any access to an mac (with or without an m1 cpu) i can not realy solve this issue by myself ..

can you give me some summary what you already tried?

[2022-05-17 18:11] michaelmosmann commented on #386
@FranciscoLopezNavarro which mongodb version did you use?

[2022-05-17 18:12] michaelmosmann commented on #386
@user4me release with 22.04 support is de.flapdoodle.embed.mongo 3.4.5.

[2022-05-17 18:14] michaelmosmann commented on #398
@Subhalakshmi1986 can you try this: https://github.com/flapdoodle-oss/de.flapdoodle.os#run .. is suspect that amazon platform is not detected...

[2022-05-17 18:16] michaelmosmann commented on #384
@Boltzmann can you give some error messages and which version you use? maybe you can create an issue for that so that we don't mix this with other issues..

[2022-05-17 18:20] #358 closed

[2022-05-17 18:25] michaelmosmann commented on #373
@loicmathieu do you use windows as your working platform too? does it happens there too or only on your CI?

[2022-05-17 18:32] michaelmosmann commented on #392
@jchobantonov-runbuggy maybe there is a little confusion.. this project does NOT create a "memory enbed mongo" (i just guess that you might expect some in-memory implementation of some mongodb compatible server thing). It is a official mongodb database with code from mongodb which is started as a process and cleaned after stopped. I suspect that the mongodb version used is just different. This pro

[2022-05-17 18:35] michaelmosmann commented on #395
I don't know if this is the way that gradle will pass system properties .. is you project public so i can try this by my own? maybe you can start gradle with the system property set?

[2022-05-17 18:36] michaelmosmann commented on #390
@ecoupal-believe i think i must solve this docker-everyone-is-throwing-stuff-on-a-big-pile os detection differently.. hmm.. have to think about that…

[2022-05-17 18:38] michaelmosmann commented on #232
@dvt32 can you use a newer version instead? or does this fail too?

[2022-05-17 18:40] michaelmosmann commented on #388
@snazy will try this.. but don't have macos to test this..

[2022-05-17 18:41] v-shalimov commented on #397
yep, MongoDB Tools.
<img width="637" alt="image" src="https://user-images.githubusercontent.com/12111065/168886608-e6c334a4-35e0-4695-bb89-aa305d72540d.png">

[2022-05-18 07:24] loicmathieu commented on #373
@michaelmosmann I cannot reproduce the issue on a Windows 10 laptop I have, it only happens on the CI.

[2022-05-18 09:20] giovanniberti commented on #359
I was getting the same errors about the wrong link format (on x86-64). I retried today with version `3.4.5` and embedded mongo version set to `5.0.6` and everything worked fine 😃

P.S.: May I suggest to include possible valid versions when setting a non-supported version? (e.g. 5.0.8) I had to check as in https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/359#issuecomment-101283286

[2022-05-18 12:27] ZeroOne3010 opened #399 "Upgrade from org.mongodb:java-driver to org.mongodb:mongodb-driver-sync"
Greetings! First of all, thank you for maintaining this project! :ok_hand:

I'm in the process of upgrading a large Spring application (I know, _Spring_, but please bear with me!) over multiple minor versions and ran into issues with Embedded MongoDB. After much debugging and browsing through various issues (e.g. #378) I finally managed to pinpoint my issue to the dependencies of Embedded Mongo, n

[2022-05-18 12:56] djeanprost opened #400 "Expose a customizer to change zip extract dir"
Hello,

Actually, the DownloadConfigBuilderCustomizer allows to change the directory where embededmongo is downloaded in the system which is good.
But the **extraction** does occur in user.home, which is hardcoded in `org.springframework.boot.autoconfigure.mongo.embedded.EmbeddedMongoAutoConfiguration.RuntimeConfigConfiguration#getArtifactStore`.
In my case, I do need to also change the extract di

[2022-05-19 07:14] ZeroOne3010 opened #401 "Cannot build from source for the lack of toolchains.xml"
Hello,

I tried forking the repo and building the project from the source according to the instructions, i.e. with the `mvn package` command. However, it fails with the following error:

[code]

What are the required toolchain definitions? This is the first time I run into this toolchain tool.

[2022-05-20 13:42] phillipuniverse commented on #295
tl;dr - it looks like this is supported starting with version 3.1.1.

If you're coming here from Spring Boot, in Spring Boot 2.7 and the latest Flapdoodle this works. I have this in my `application-test.properties`:

[code]

In my logs I can see the version being downloaded:

<img width="1762" alt="image" src="https://user-images.githubusercontent.com/684275/169539435-6136bab4-ba69-4e14-b161-64d1a

[2022-05-21 06:45] michaelmosmann commented on #295
It took me a while to handle this "hey let's change how to download mongodb" ..  so yes, it should work now.

[2022-05-21 06:45] #295 closed

[2022-05-21 06:48] michaelmosmann commented on #401
@ZeroOne3010 have a look at this one: https://maven.apache.org/guides/mini/guide-using-toolchains.html ..

i use this to compile the project with an real jdk8 compiler

...
`  <toolchain>
    <type>jdk</type>
    <provides>
      <version>1.8</version>
    </provides>
    <configuration>
      <jdkHome>/usr/lib/jvm/java-8-openjdk-amd64</jdkHome>
    </configuration>
  </toolchain>
`

[2022-05-21 06:49] #401 closed

[2022-05-21 06:52] michaelmosmann commented on #400
@djeanprost what is the goal of this change .. or why is "user.home" not the right solution for you?

(there is a big refactoring ahead where changing this kind of stuff would be easy.. not so with the current integration)

[2022-05-21 06:53] michaelmosmann commented on #399
@ZeroOne3010 ah... ok. As i don't use this project by myself .. or mongodb in any project .. this change did not reach me:) .. will do... thanks.. :)

[2022-05-21 06:57] michaelmosmann commented on #359
@giovanniberti .. there is an issue how spring tried to integrate this project .. which already led to some confusion.. i will have a look into this .. maybe i can give some hints (log message, exception) for this kind of situation

[2022-05-21 06:59] michaelmosmann commented on #373
@loicmathieu puh.. hmm.. have to think about it

[2022-05-21 07:00] michaelmosmann commented on #397
@v-shalimov hmm... will have a look

[2022-05-22 09:08] michaelmosmann commented on #383
@FrVaBe do you have still this issue?

[2022-05-22 10:41] michaelmosmann commented on #390
@ecoupal-believe you can now override the platform with an system property (see https://github.com/flapdoodle-oss/de.flapdoodle.os#run )

[2022-05-22 10:43] michaelmosmann commented on #337
@m-grzesiak @MatthewRyanRead @martin-g @jgriff now you can override platform detection with https://github.com/flapdoodle-oss/de.flapdoodle.os#run

[2022-05-23 02:45] LiuZHolmes opened #402 "Occasionally stuck on 'waiting for connections on port'"
When running mongo test in SpringBoot 2.6.6, we found the test stuck on 'waiting for connections on port' for a very lone time. But sometime it runs successfully without sticking.
Example log:
[code]

[2022-05-23 07:12] FrVaBe commented on #383
@michaelmosmann To be honest, the problem hit me and I then worked around it and didn't have the time to pursue it further.

I will be upgrading to Spring Boot 2.7.x soon and that will certainly bring new dependency versions with it. If the problem still exists and I can provide a scenario in which it can be reproduced, I will get back to you.

Until then, it is only fair to close the issue for no

[2022-05-23 07:12] #383 closed

[2022-05-23 08:47] djeanprost commented on #400
Well, I have a specific CI/CD with my customer where, stay on your chair, user.home is read only. That's the reason why I must change the extract dir.
I do agree that this request might be weird, but that's the case, that's why I dared to open this issue, although I knew the question of the why would raise quickly 🙄
Actually I used a workaround, so I'm ok. If the future refactoring can help this c

[2022-05-23 13:21] giovanniberti commented on #359
Yeah, even a list of possible versions inside an exception message would go a long way 🙂

[2022-05-23 15:44] michaelmosmann commented on #359
@giovanniberti you might use my new integration projects (see https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#spring-integration ) which don't have this version issue .. it should works as an replacement.

[2022-05-23 15:47] michaelmosmann commented on #400
@djeanprost ah.. now i understand.. IMHO this is a valid issue.. (user home is read only, user home should not be polluted with stuff, .. ) .. as you found a workaround i don't have to hurry.. this should be easy to change if the bigger refactoring is done (hopefully soon)

[2022-05-23 15:52] michaelmosmann commented on #402
@LiuZHolmes .. hmm.. seems mongodb did something after "wiredtiger_open" ..

is this the long running example?

[2022-05-24 02:30] LiuZHolmes commented on #402
Yes, the test kept waiting at this log.

[2022-05-24 07:16] michaelmosmann commented on #402
@LiuZHolmes .. is there any special config for your mongodb? i dont know why mongodb stalls after wiredtiger_open for 25s..

can you provide a log where it does not stick?

[2022-05-24 07:36] LiuZHolmes commented on #402
We don't have any special config and in fact it stalls like forever. When this occurs, we can do nothing but retry the test job.
Normal log like:
[code]

[2022-05-24 09:27] robeatoz opened #403 "Dependency convergence in 3.4.6"
The dependency
[code]

is shipped with dependency convergences for `de.flapdoodle.embed:de.flapdoodle.embed.process`

[code]

and `de.flapdoodle:de.flapdoodle.os`

[code]

You can reproduce this output with the command `mvn verify` for following minimal `pom.xml`

[code]

Same issue with `3.4.5`.
Can you please fix the convergences in the transitive dependencies in a future release?

Thanks in adv

[2022-05-24 14:05] robeatoz commented on #389
We had the same problem, and we uploaded the mongodb binaries from our local `$HOME/.embedmongo/linux` to JFrog as `Generic` `Package Type`.
Our Jenkins downloads the mongodb binaries from JFrog to `$HOME/.embedmongo/linux` before the build starts. `de.flapdoodle.embed.mongo` now doesn't need to download the binaries and continues with the build.

[2022-05-26 11:20] radosmac commented on #395
Hello,
the project is not private. However, I succeeded with setting the system properties. I attach the logs below.
[code]

[2022-05-26 16:40] duanjiqing commented on #269
Because the version of de.flapdoodle.embed.mongo is too low, you need to upgrade its version instead of following the Springboot version.

[2022-05-27 02:10] Subhalakshmi1986 commented on #398
@michaelmosmann  - I added  os explain .
Please find below the logs :
    2022-05-27 01:25:29.444  WARN 309 --- [    Test worker] d.f.os.common.PeculiarityInspector       : more than one match: [Debian, Amazon]
    2022-05-27 01:25:29.445  WARN 309 --- [    Test worker] d.f.e.m.p.linux.LinuxPackageFinder       : because there is no package for Version{4.4.13}:Platform{operatingSystem=Linux, archit

[2022-05-27 13:24] influence160 opened #404 "Not able to run in Linux amd64 3.10.0-957.27.2.el7.x86_64"
I have a spring boot project with one dao module containing unit tests using de.flapdoodle.embeded.mongo
the dao module itself is not a spring boot application but it is just a maven module so the unit tests are not using the spring boot @DataMongoTest but are simple @SpringJUnitConfig test using a config similar to the config explained here https://github.com/flapdoodle-oss/de.flapdoodle.embed.mo

[2022-05-30 07:42] ZeroOne3010 commented on #399
By the way, you don't even need to consider this as a Spring integration problem only, as this is a general dependency update with the current dependency being called "legacy" and replaced with a newer one. But the side effect of upgrading from the legacy dependency would be a better Spring integration support, of course. :wink:

[2022-05-31 16:32] michaelmosmann commented on #395
@radosmac maybe i must provide some warning.. you are running debian on a host with an amazon like hostname .. so that's why it is not clear if its debian or some amazon dist ..

You could try to enforce it with this: https://github.com/flapdoodle-oss/de.flapdoodle.os#run

[2022-05-31 16:33] michaelmosmann commented on #398
@Subhalakshmi1986 you can try to enforce an "os" with this: https://github.com/flapdoodle-oss/de.flapdoodle.os#run

[2022-05-31 16:41] michaelmosmann commented on #404
@influence160 ah.. it is ubuntu 16.04 .. which is currently not detected (will fix this).

Which mongodb are you using? i am not sure if the newer mongodb versions can run one ubuntu 16.04...

[2022-06-01 08:26] axl8713 commented on #395
In my case the problem arose inside a GitLab pipeline job and this error lead me to the solution:
[code]
Long story short, the image used for the job was based on Debian 10 (and Glibc 2.8). Using an image with Debian 11 (and Glibc 2.31) fixed the problem.
So, I would first check your Glibc version with `ldd --version`.

[2022-06-01 11:08] codengy commented on #376
Hi,

I have same issue with version 3.4.6

[code]

and exception is thrown in method: _mongodExecutable.start()_

[2022-06-02 00:01] Subhalakshmi1986 commented on #398
I used the os override version as below :
de:
  flapdoodle:
    os:
      override: Linux|X86_64|Amazon|AmazonLinux2
      explain: true

Seem to not pick up any of the configuration.Thanks.

[2022-06-03 12:32] jmayday commented on #393
SImilar issue when trying to run on maven:3.8-eclipse-temurin-17 image

[code]
+ find / -name "libcrypto*"
/usr/lib/x86_64-linux-gnu/libcrypto.so.3
[code]
        <dependency>
            <groupId>de.flapdoodle.embed</groupId>
            <artifactId>de.flapdoodle.embed.mongo</artifactId>
            <version>3.4.6</version>
            <scope>test</scope>
        </dependency>
[code]

[2022-06-06 10:43] DeveloperKazan commented on #295
Hello!
I use de.flapdoodle.embed.mongo:3.4.5 with PRODUCTION MongoDB Version in Kotlin app.
But I get this output:
[RuntimeException.txt](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/files/8843787/RuntimeException.txt)

WARN  de.flapdoodle.embed.mongo.packageresolver.linux.LinuxPackageFinder because there is no package for PRODUCTION:Platform{operatingSystem=Linux, architecture=X86_

[2022-06-09 09:55] ThomasAtAcerta opened #405 "windows: Embedded mongodb processes remains active after test run in Maven"
Hello,

I've got a very annoying problem using embedded mongodb.
Setup:
`<mongo-embedded-version>3.4.6</mongo-embedded-version>`
Java 11
Maven 3.6.3
Spring-boot 2.6.6
Spring-cloud 3.2.4
Windows 10
spring.mongodb.embedded.version=4.2.19

I'm not a local admin on the machine, maybe related but I don't know.

The problem is that the extract-<uuid>extractmongod.exe process gets spawned by the tests bu

[2022-06-09 19:08] as005404 commented on #387
@michaelmosmann Sorry for late answer, but I too do not have any good solutions. Maybe if there was a possibility to set manually platform on which Mongo is downloaded, as you did it with version, but it's up to you whether to do it or not. My main idea was to show how to solve this problem if some other man has it, even with a hack.

I don't have access to that Jenkins anymore, so the only help I

[2022-06-13 07:47] michaelmosmann commented on #404
AFAIK these new mongodb versions are not supported on ubuntu 16.04 .. there is no downloadable distribution for that. But maybe an newer version will still run. I can not test this, as i dont have a running ubuntu 16.04 .. can you try to run the ubuntu 18.04 package on your system? if this works i can try to use this package for ubuntu 16.04